<li>
    <span>
        <a href="http://qa01smartcircularmvc.toysrus.com/ToysRUs2">
            <span>
                <em class='sprite sprite-weekly-ad'></em>
                <span class='label-text'>weekly ad</span>
            </span>
        </a>
    </span>
</li>
<li>
    <span>
        <a href="https://wishlistsoftlaunch.toysrus.com/sign-in">
            <span>
                <em class='sprite sprite-wish-list '></em>
                <span class='label-text'>wish list</span>
            </span>
        </a>
    </span>
</li>
<li>
    <span>
        <a href="/gifts/gift-cards-egift-cards">
            <span>
                <em class='sprite sprite-gift-card'></em>
                <span class='label-text'>gift cards</span>
            </span>
        </a>
    </span>
</li>