<ul class="dropdown-menu" role="menu">
    <li>
        <img class="we-can-help-dropdown-arrow" src="/images/arrow.svg" alt="">
    </li>
    <li class="we-can-help-header">we can help</li>
    <li class="divider"></li>
    <li>
        <a href="http://webstoreprod.toysrus.com/Help/FAQHF" data-ab-link="Help">FAQs</a>
    </li>
    <li class="live-chat-help-menu">
        <a id="lpChatButton-SiteStripe-RD-T2"></a>
    </li>
    <!-- <li><a href="/common/internalLinks.jsp" data-ab-link="Help">email</a></li> -->
    <li>
        <a href="http://webstoreprod.toysrus.com/Help/CustomerServices" data-ab-link="Help">Customer service</a>
    </li>
</ul>