<ul>
    <li>
        <a onclick="megaMenuClick();" href="/category?categoryid=13041269">
            <img src="/images/shopby/i-c-n-girl@3x.png" alt="">
            <label>Girls’ Toys</label>
        </a>
    </li>
    <li>
        <a onclick="megaMenuClick();" href="/category?categoryid=13041262">
            <img src="/images/shopby/i-c-n-boys-toys@3x.png" alt="">
            <label>Boys’ Toys</label>
        </a>
    </li>
    <li>
        <a onclick="megaMenuClick();" href="/category?categoryid=2269725">
            <img src="/images/shopby/i-c-n-age@3x.png" alt="">
            <label>Age</label>
        </a>
    </li>
    <li>
        <a onclick="megaMenuClick();" href="/savingcenter">
            <img src="/images/shopby/i-c-n-piggy-bank@3x.png" alt="">
            <label>Savings Center</label>
        </a>
    </li>
    <li>
        <a onclick="megaMenuClick();" href="/shopByBrand">
            <img src="/images/shopby/i-c-n-brand@3x.png" alt="">
            <label>Brand</label>
        </a>
    </li>
    <li>
        <a onclick="megaMenuClick();" href="/category?categoryid=3999911">
            <img src="/images/shopby/i-c-n-tag@3x.png" alt="">
            <label class="clearance">Clearance</label>
        </a>
    </li>
</ul>