ul[class*="breadcrumb"] {
    list-style: none;
    font-size: 13px;
    color: #666;
    margin: 1em 0 0 0;
    padding: 0px;
}
ul[class*="breadcrumb"] li {
    display: inline-block;
    margin: 0 0 0.75em 0;
}
ul[class*="breadcrumb"] li a, ul[class*="breadcrumb"] li a:active, ul[class*="breadcrumb"] li a:visited {
    margin: 0 20px 0 0;
    font-size: 13px;
    text-decoration: none;
    color: #666 !important;
}
ul[class*="breadcrumb"] li a:hover {
    text-decoration: underline;
}
ul[class*="breadcrumb"] ul.dropdown-menu {
    display: none;
}
.product-details-template .product-hero-area-wrapper .header>.product-breadcrumb-row {
    border-top: 1px solid #eaeaea;
    padding-top: 0;
}
.product-breadcrumb-row {
    padding: 0 0 0 0;
    margin: 0;
}
.product-body-section .pdp-breadcrumb-section-new {
    width: 100%;
}
.backToRegistryOrWishlist .i-backToRegistry {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-left: 1px solid #004ebc;
    border-top: 1px solid #004ebc;
    transform: rotateX(45deg);
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 20% 40%;
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 20% 40%;
    transform: rotate(-45deg);
    margin-left: 2px;
    margin-right: 5px;
}

.backToRegistryOrWishlist .back-to-wishlist a, .backToRegistryOrWishlist .back-to-wishlist a:visited, .backToRegistryOrWishlist .back-to-wishlist a:active, .backToRegistryOrWishlist .back-to-wishlist a:hover {
    color: #004ebc !important;
}

.backToRegistryOrWishlist .bru-headline.back-to-wishlist .i-backToRegistry {
    border-left: 1px solid #5E2D91;
    border-top: 1px solid #5E2D91;
}

.backToRegistryOrWishlist a.bru-headline, .backToRegistryOrWishlist a.bru-headline:visited, .backToRegistryOrWishlist a.bru-headline:active, .backToRegistryOrWishlist a.bru-headline:hover {
    color: #5E2D91 !important;
}

#shopByContainer a, #shopByContainer a:visited, #shopByContainer a:active, #shopByContainer a:hover {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}
.PLPBreadcrumbTemplate {
    width: 1123px !important;
    margin: 0 auto;
    z-index: 99;
}