.shopping-cart-template {
    overflow: visible;
}

.shopping-cart-template .shopping-cart-nav .navbar {
    border-radius: 0px;
    border: none;
    min-height: 1px;
    margin-bottom: 0px;
    padding: 0 20px;
}

.shopping-cart-template .shopping-cart-nav .navbar .container-fluid {
    padding: 0px;
}

.shopping-cart-template .shopping-cart-nav .navbar #checkout-tru-logo, .shopping-cart-template .shopping-cart-nav .navbar #checkout-bru-logo {
    padding-left: 0;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .we-can-help button {
    padding: 10px;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .we-can-help button:active {
    box-shadow: none;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .we-can-help button:hover {
    background-color: #013e97;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .we-can-help .dropdown-menu {
    right: -65px;
}
.shopping-cart-template .shopping-cart-nav .navbar-left{
	padding: 0;
}
.shopping-cart-template .shopping-cart-nav .navbar-right .your-store {
    color: #666666;
}
.shopping-cart-template .shopping-cart-nav .navbar-right .your-store .myDefaultStore,
.shopping-cart-template .shopping-cart-nav .navbar-right .your-store .myDefaultStoreName {
    vertical-align: initial;
}
.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .we-can-help .btn-default {
    border-left: 1px solid #306fc9;
    border-right: 1px solid #306fc9;
    padding-right: 7px;
    padding-left: 7px;
}
.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .signin-block {
    padding: 6px 0;
}
.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .signin-block p {
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    float: left;
    margin-left: 10px;
}
.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .signin-block button {
    outline: none;
    color: #007DAE;
    background-color: #fff;
    font-size: 18px;
    border: 3px solid #fff;
    height: 35px;
    width: 90px;
    float: left;
    margin-left: 10px;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .signin-block button:hover {
    color: #fff;
    background-color: #007DAE;
    border: 3px solid #007DAE;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .signin-block button:focus {
    color: #fff;
    background-color: #009ddb;
}

.checkout-flow-sprite {
    background: url(../images/checkout-flow-sprite.png) no-repeat;
    display: block;
}

.checkout-flow-gift {
    background-position: 0 0;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.checkout-flow-error-state-icon {
    background-position: 0 -33px;
    width: 36px;
    height: 36px;
    display: inline-block;
}

.checkout-flow-radio-unselected {
    background-position: -5px -78px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.checkout-flow-radio-selected {
    background-position: -5px -118px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.checkout-flow-clear {
    background-position: 0 -153px;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.checkout-flow-learn-more {
    background-position: 0 -175px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.shopping-cart-error-state {
    padding-bottom: 30px;
}

.shopping-cart-template .shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-header-text {
    display: inline-block;
    padding-top: 0px;
}

.shopping-cart-template .checkout-flow-error-state-icon {
    vertical-align: top;
}

.shopping-cart-template .shopping-cart-error-state .shopping-cart-error-state-header{
    padding:0px;
}

.shopping-cart-template .shopping-cart-promo-code {
    padding-bottom: 15px;
    padding-left: 10px;
}
.shopping-cart-template .shopping-cart-promo-code .terms-of-use-container {
    padding-left: 0;
    position: relative;
    right: 30px;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo .terms-of-use-container {
    right: 90px;
    top: 20px;  
}
.shopping-cart-template .shopping-cart-promo-code .terms-of-use {
    height: 80px;
    line-height: 80px;
}
.shopping-cart-template .shopping-cart-promo-code .see-terms {
    padding-left: 10px;
}
.shopping-cart-template .shopping-cart-promo-code a {
    font-size: 14px;
    color: #004EBC;
}
.shopping-cart-template .shopping-cart-promo-code a:hover {
    color: #EA7125;
    text-decoration: underline;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo {
    display: none;
    position: relative;
    bottom: 20px;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo .apply-promo-code-textbox {
    height: 46px;
    width: 390px;
    font-size: 14px;
    color: #666666;
    padding: 14px 11px 13px 11px;
    margin-right: 0;
    border: 1px solid #d2d2d2;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    outline: 0; 
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo.has-coupon .apply-promo-code-textbox {
    border-right: 0;
    width: 294px;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo.has-error .apply-promo-code-textbox {
    border-color: #dc291e;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo .apply-promo-code {
    width: 96px;
    height: 46px;
    margin: 0;
    padding: 10px 0;
    display: none;
    position: relative;
    right: 30px;
    top: 1px;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo .promo-code-textbox-fieldset {
    visibility: hidden;
    width: 74px;
    height: 19px;
    padding-top: 5px;
    text-align: center;
    font-size: 11px;
    background-color: white;
    margin: 0;
    color: #004ebc;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo.has-coupon .promo-code-textbox-fieldset {
    z-index: 99;
    position: relative;
    top: 28px;
    left: 13px;
    visibility: visible;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo.has-error .promo-code-textbox-fieldset {
    visibility: hidden;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo .promo-code-textbox-fieldset-error {
    visibility: hidden;
    width: 74px;
    height: 19px;
    padding-top: 5px;
    text-align: center;
    font-size: 11px;
    background-color: white;
    margin: 0;
    color: #dc291e;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo.has-error .promo-code-textbox-fieldset-error {
    z-index: 99;
    position: relative;
    top: 9px;
    left: 9px;
    visibility: visible;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo .promo-code-textbox-clear {
    display: none;
    position: relative;
    right: 37px;
    top: 5px;  
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo.has-coupon .promo-code-textbox-clear {
    display: inline-block;
    z-index: 99;
    cursor: pointer;
}
.shopping-cart-template .shopping-cart-promo-code button {
    background-color: #009DDB;
    color: #ffffff;
    border: none;
    border: 3px solid #009DDB;
}
.shopping-cart-template .shopping-cart-promo-code button[disabled="disabled"],
.shopping-cart-template .shopping-cart-promo-code .enter-promo button[disabled="disabled"]:hover {
    background-color: #999999;
    cursor: default;
    border: none;
    color: white;
    outline: none;
}
.shopping-cart-template .shopping-cart-promo-code button:hover {
    background-color: #fff;
    color: #009DDB;
}
.shopping-cart-template .shopping-cart-promo-code h3 {
    color: #666666;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo-code-container {
    padding-right: 0;
}
.shopping-cart-template .shopping-cart-promo-code .enter-promo-code-btn {
    width: 164px;
    height: 46px;
    font-size: 18px;
    margin-top: 20px;
}
.shopping-cart-template .shipping-options-wrapper .shopping-cart-surprise {
    font-size: 14px;
    padding: 3px 0 0 40px;
}
.shopping-cart-template .shipping-options-wrapper .shopping-cart-surprise .learn-more-giftWrap {
    cursor: pointer;
}
.shopping-cart-template .shipping-options-wrapper .shopping-cart-surprise .checkout-flow-learn-more {
    position: relative;
    top: 4px;
}

.shopping-cart-template .shopping-cart-nav .ad-zone-777-34 {
    background-color: white;
    height: 48px;
    padding-top: 8px;
    margin-bottom: 0;
    margin-top: 0;    
}

.shopping-cart-template .product-information .product-description-price .price-save.save-text {
    font-size: 11px;
}

.shopping-cart-template .shopping-cart-promo-code .promo-codes-container {
    margin-top: 24px;
}
.shopping-cart-template .shopping-cart-promo-code .promo-codes-container .promo-codes-applied td {
    background-color: #f3f3f3;
    font-size: 14px;
    color: #666666;
    padding: 8px !important;    
}

.shopping-cart-template .shopping-cart-nav .continue-shopping .btn-group > .dropdown-toggle {
    background-color: transparent;
    color: white;
    border: 0;
    padding-top: 7px;    
}
.shopping-cart-template .shopping-cart-nav .continue-shopping .continue-shopping-text {
    padding-top: 7px;
}
.shopping-cart-template .shopping-cart-nav .continue-shopping .continue-shopping-text .continue-shopping-left-arrow {
    zoom: .5;
    -moz-transform: scale(.5);    
    position: relative;
    top: 2px;
    right: 11px;    
}

.shopping-cart-template .product-information .quantity .limit-1 {
    display: block;
}

.shopping-cart-template .shopping-cart-summary-block .summary-block-border .order-summary {
    font-size: 20px;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .estimatedSalesTax .order-summary-item-value .sales-tax {
    font-size: 12px;
    width: 70px;
    text-align: right;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-padded-content {
    padding-left: 6.27%;
    padding-right: 6.27%;  
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-padded-content div {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
    vertical-align: middle;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .order-summary-total-container {
    margin-top: 10px;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .order-summary-total-container .order-summary-item-label {
    font-size: 20px;
}
.shopping-cart-tempalte .shopping-cart-summary-block .summary-block-border .summary-block-footer {
    margin-top: 15px;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-footer .summary-block-footer-padded {
    margin: 15px 10px 0 10px;
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 5px;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-footer .summary-block-footer-padded .summary-block-footer-saved {
    font-size: 14px;
    color: #c0221a;
    padding-top: 5px;
    padding-bottom: 5px;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-footer .order-summary-place-order {
    padding: 0 10px 0 10px;
    margin-top: 20px;    
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-free-shipping {
    padding: 5px 10px 0 10px;
    margin: 15px 0 10px 0;
}
.shopping-cart-template .shopping-cart-summary-block .summary-block-border .summary-block-free-shipping .promoTable {
    font-size: 13px;
}
.shopping-cart-template .cart-products {
    padding: 0px;
}
.shopping-cart-template .cart-products .shopping-cart-empty {
    text-align: center;
    background: url(../images/geoffrey-empty-cart.jpg) no-repeat;
    height: 350px;
    margin: 0 0 15px 0;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    background-position: bottom center;    
}
.shopping-cart-template #order-summary-block {
    min-width: 300px;
    width: 300px;
    padding: 0;
    position: absolute;
    right: 20px;
    z-index: 1;
    background-color: white;
}

.shopping-cart-template .protection-plan {
    margin: 25px 0 10px 0;
    width: 100%;
}
.shopping-cart-template .protection-plan .bpp-content .bpp-content-text {
    margin: 25px 0 10px 0;
    width: 100%;
}
.shopping-cart-template .protection-plan .bpp-content .bpp-content-title {
    font-weight: bold;
    font-size: 14px;
}
.shopping-cart-template .protection-plan .bpp-content .protection-plan-static-copy {
    float: right;
    font-weight: bold;
    font-size: 14px;
}

/* Check classes below */

.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-header-text {
    font-size: 24px;
    color: #DC291E;
    padding: 5px 10px 5px 20px;
}

.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-subheader, .shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-subheader {
    font-size: 12px;
    color: 666;
}

.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-subheader span {
    color: #dc291e;
}

.shopping-cart-error-state .shopping-cart-error-state-header {
    padding-left: 2.2%;
    padding-right: 2.2%;
}

.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-header-text {
    padding-top: 12px;
    font-size: 24px;
    color: #DC291E;
}

.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-subheader {
    font-size: 14px;
    color: #666666;
}

.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-subheader span {
    color: #DC291E;
}

.shopping-cart-error-state .shopping-cart-error-state-header .error-state-exclamation-lg {
    position: relative;
}

.shopping-cart-template .shopping-cart-container {
    margin-top: 40px;
    margin-left: 2%;
    margin-right: 2%;
}

.shopping-cart-template .shopping-cart-nav .navbar .tru-logo-sm, .shopping-cart-nav .navbar .bru-logo-sm {
    margin-top: 12px;
    margin-right: 25px;
}

.shopping-cart-template .shopping-cart-nav .navbar .navbar-right .baby-registry-back-arrow {
    position: relative;
    top: 10px;
}

.shopping-cart-template .shopping-cart-nav .top-navbar {
    height: 41px;
    background-color: #fff;
}

.shopping-cart-template .shopping-cart-nav .top-navbar .navbar-right {
    margin-top: 2px;
    font-size: 12px;
}
.shopping-cart-template .shopping-cart-nav .top-navbar .navbar-right > li {
    display: inline-block;
    margin-right: 5px;
}
.shopping-cart-template .shopping-cart-nav .top-navbar .navbar-right > li.your-store-bullet {
    height: 27px;
    line-height: 27px;
    color: #666666;
}
.shopping-cart-template .shopping-cart-nav .top-navbar .navbar-right > li .sprite-find-store {
    display: inline-block;
    position: relative;
    top: 6px;
    right: 5px;
}
.shopping-cart-template .shopping-cart-nav .top-navbar .navbar-right > li div {
    margin-top: 5px;
}

.shopping-cart-template .shopping-cart-nav .top-navbar div.container-fluid ul:first-child {
    margin-top: 7px;
    padding: 0;
}

.shopping-cart-template .shopping-cart-nav .top-navbar .nav-bar-top-text {
    margin-top: 0;
    color: #666666;
    position: relative;
    bottom: 5px;
}

.shopping-cart-template .shopping-cart-nav .top-navbar .find-store {
    top: 7px;
    position: relative;
    padding-right: 23px;
}

.shopping-cart-template .shopping-cart-nav .top-navbar .shopping-cart-your-store {
    position: relative;
    margin-right: 20px;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav {
    background-color: #004EBC;
    padding: 0 20px 0 20px;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .tru-logo-sm, .shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .shopping-cart .navbar .bru-logo-sm {
    margin-top: 12px;
    margin-right: 25px;
}

.shopping-cart-template .shopping-cart-nav .shopping-cart-bottom-nav .shopping-cart-header-text {
    font-size: 26px;
    line-height: normal;
    color: #fff;
    margin: 0;
    padding: 3px 0;
}

.shopping-cart-template .shopping-cart-nav .nav.navbar-nav.navbar-right .signed-in-block {
    color: #fff;
    /* line-height: 64px;
     margin-top: 25px; */
}

.shopping-cart-template .shopping-cart-nav .nav.navbar-nav.navbar-right .signed-in-block button {
    padding: 10px 0 0 9px;
}

.shopping-cart-template .shopping-cart-nav .nav.navbar-nav.navbar-right .signed-in-block #my-account-popover-cart img {
    margin-top: 0;
}

.shopping-cart-template .shopping-cart-nav .nav.navbar-nav.navbar-right .signed-in-block button .head_welcome_cont {
    margin-top: 5px;
}

.shopping-cart-template .shopping-cart-nav .nav.navbar-nav.navbar-right .signed-in-block #headerMembershipForm button {
    padding: 0px !important;
}

.shopping-cart-template .shopping-cart-nav .sos-header-message, .checkout-nav .sos-header-message {
    margin-top: 3px !important;
}

.shopping-cart-template .shopping-cart-nav .navbar-nav.navbar-right .signed-in-block {
    height: 100%;
    border-left: 1px solid #3371c9;
}

.shopping-cart-template .my-account-norton {
    text-align: right;
    margin-top: 10px;
}

.shopping-cart-template #order-summary-block .summary-block-footer-points {
    display: none;
}

.shopping-cart-template .global-nav-store-locator.fav-store-popover.popover.bottom {
    margin-top: 5px;
}

.shopping-cart-template .global-nav-store-locator.fav-store-popover.popover.bottom .arrow {
    top: -11px !important;
}

.shopping-cart-template .learn-more-tooltip {
    color: #666 !important;
    font-size: 14px;

}

.shopping-cart-template #removeItemConfirmationModal .modal-dialog .modal-content > div a {
    float: left;
}

.shopping-cart-gift .checkout-flow-gift {
    position: relative;
    bottom: 6px;
    left: 5px;
}

.shopping-cart-gift .inline {
    position: relative;
    bottom: 9px;
    left: 6px;
    font-size: 14px;
}

.sales-tax-notice {
    color: #666666;
    font-size: 12px;
    margin-bottom: 40px;
}

#order-summary-block .paypal-checkout.disabled-paypal {
    opacity: 0.4;
    cursor: default;
}

#order-summary-block .paypal-checkout.disabled-paypal-tooltip {
    opacity: 0.4;
    cursor: default;
}

#order-summary-block .paypal-tooltip {
    display: none;
    width: 100px;
    height: 50px;
}

#order-summary-block .error {
    color: red;
}

#shoppingCartModal .shopping-cart-error-state {
    width: 620px;
}

#shoppingCartModal product-information.error .cart-error-message {
    width: 370px;
}

#shoppingCartModal .shopping-cart-error-state-subheader span, .itemInfoMessage span {
    color: #dc291e;
}

/*.shopping-cart-template #row_order_summary_top #order-summary-block
{
	 margin-top: -17px; removed top:auto property for TUW-56325
}*/
/* Start For TUW-74596 */
.shopping-cart-template .stepper input[type="text"] {
    width: 50px;
}

/*  End For TUW-74596 */

.itemInfoMessage {
    padding-left: 26px;
}

.shopping-cart-template .shopping-cart-edit-product-content .close-modal {
    /* padding-top: 10px;
    margin-left: 828px; *//* fab issue */
}

.shopping-cart-template .shopping-cart-edit-product-content.editCart .shopping-cart-product-edit-image {
    width: 385px;
    height: 385px;
    min-width: 385px;
    min-height: 385px;
    margin-left: 10px;
}

.sticky-price-contents {
    padding-left: 0px;
    text-align: center;
}

.qtys-text, .qtys-valid-text {
    color: red;
}

.disabled {
    background-color: #f3f3f3 !important;
    cursor: default !important;
}

.applied-bad-promo {
    display: none;
}

.NotAppliedTooltipText {
    max-width: 800px !important;
    width: 500px;
}

.NotAppliedTooltipText p {
    color: #666666 !important;
}

.shopping-cart-info-state {
    width: 720px;
    padding-bottom: 30px;
}

.shopping-cart-info-state .shopping-cart-info-state-header {
    padding-left: 2.2%;
    padding-right: 2.2%;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-header-text {
    padding-top: 12px;
    font-size: 24px;
    color: #DC291E;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-subheader {
    font-size: 14px;
    color: #666666;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-subheader span {
    color: #DC291E;
}

.shopping-cart-info-state .shopping-cart-info-state-header .info-state-exclamation-lg {
    position: relative;
}

#shoppingCartModal .shopping-cart-info-state {
    width: 620px;
}

#shoppingCartModal .product-information.error .cart-info-message {
    width: 370px;
}

#shoppingCartModal .shopping-cart-info-state-subheader span {
    color: #dc291e;
}

.noPointer {
    cursor: default;
}

.cart-progress-bar.ui-progressbar {
    height: 5px;
}

.shopping-cart-summary-block .summary-block-free-shipping .summary-block-free-shipping-bar {
    width: 98%;
    padding-right: 3px;
}

#cp-shoppingCartModal .modal-lg {
    width: 963px;
}

.radio-checked .noPointer {
    padding-bottom: 15px !important;
}

.checkout-review-product-block .days-until-ready {
    display: block;
    display: inline-block;
    float: right;
    font-size: 14px;
}

.color-block .color-block-inner {
    border: 1px solid transparent;
    width: 23px;
    height: 23px;
}

.donate-input-group .donation-text {
    padding-left: 25px;
}

.protection-plan select:disabled {
    opacity: .5;
}

.bru-shopping-cart .shopping-cart-bottom-nav, .bru-shopping-cart .shopping-cart-minimized-footer {
    background-color: #5e2d91 !important;
}

.shopping-cart-product-image-donation {
    border-style: solid;
    border-width: 1px;
    border-color: #efefef;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: auto;
    min-width: 100px;
    cursor: pointer;
}

.protection-plan .protection-plan-static-copy { /* Fix For TUW-73793 */
    padding-left: 15px;
    right: 0;
    position: relative;
}

/*  PayPal CSS */
.truPayPal-div-hidden {
    display: none;
}

.shopping-cart-summary-block .summary-block-border .summary-block-footer .summary-block-secure-checkout {
    border: none;
}

.shopping-cart-edit-product-content .product-information .update {
    margin-bottom: 10px;
}

#colorSizeVariants {
    padding-top: 0px;
}

.cart-edit-update.fade-add-to-cart {
    opacity: 0.5;
    cursor: default;
}

.outOfStockRemove {
    padding-bottom: 0px !important;
}

select::-ms-expand {
    display: none;
}

.signed-in-block .popover.bottom {
    margin-top: 5px;
}

.signed-in-block .popover.bottom > .arrow {
    top: -8px;
    border: none;
}

.shopping-cart-promo-code .applied-bad-promo-from-order h5 {
    font-size: 14px;
    color: #dc291e;
}

.shopping-cart-promo-code .applied-bad-promo-from-order p {
    font-size: 14px;
    color: #dc291e;
}

.shopping-cart-promo-code .applied-bad-promo-from-order a {
    padding-right: 20px;
}

.paypal-checkout {
    background-position: 0;
    background-image: url('../images/cart-sprite-new.png');
    background-position: 13px -440px;
}

.shopping-cart-summary-block .paypal-checkout {
    border: 0;
}

.summary-block-border .summary-fees span a {
    color: #004EBC;
}

.summary-block-border .summary-fees span a:hover {
    text-decoration: underline;
    color: #ea7125;
}

/* PMD check style css */
#paymentLearnMore_modal .close-btn img {
    float: right;
}

#rdata {
    visibility: hidden;
}

.enter-promo .error-promo-input-group, .quantity .qtys-text.errorDisplay,
.quantity .qtys-valid-text, .donation-error-message, .free-store-pickup .padded-details {
    display: none;
}

#hearderLoginOverlay .cart-forgot-password {
    display: inline-block;
}

.summary-block-footer .summary-block-secure-checkout {
    width: 100%;
}

.signed-in-block #my-account-popover-cart img {
    margin-top: -23px;
}

#editCartModal .buy-1-get-free.two-for-two {
    font-size: 12px;

}

.promoTable tr td {
    padding: 0px;
}

.summary-block-free-shipping-bar {
    margin: 0 5px 0 3px;
}

#cartOverlayItems .registry.inline {
    font-size: 14px;
    color: #666666;
}

#load-cart-norton-script .hide-data, #load-my-account-norton-script .hide-data, #load-checkout-norton-script .hide-data {
    display: block;
}

#editCartModal .editCartPrice .price-save {
    color: #999;
}

.summary-block-padded-content div span:first-child {
    float: left
}

body.modal-open .shopping-cart-template #order-summary-block {
    right: 37px;
}

.collection-name {
    color: #004ebc;
}

.shopping-cart-grey {
    /* margin-top: 10px; */
    margin-top: 0;
}

#rdata {
    height: 0 !important;
}

/* End: TUW-52708 */
#shoppingCartModal .product-information.error #cart-overlay-product-info > h3 strong {
    color: #dc291e;
}

#shoppingCartModal .product-information.error #cart-overlay-product-info > h3 strong:hover {
    text-decoration: underline;
}

#shoppingCartModal .product-information.error #cart-overlay-product-info .cart-error-message {
    width: 140px;
}

.shopping-cart-summary-block .summary-block-border .summary-block-padded-content div {
    clear: both;
}

.cart-add-bpp-image {
    float: left;
    margin-left: -90px;
    margin-top: -20px
}

.cart-add-bpp-image .bpp-img-width {
    width: 90px;
    height: 90px;
}

#cart-overlay-product-info .product-image-bpb img.purchase-image {
    height: initial;
    width: initial;
}

#cart-overlay-product-info .product-image-bpb {
    float: left;
    display: inline-block;
    height: 69px;
    width: 69px;
    overflow: hidden;
}

.shopping-cart-promo-code .expand {
    background: url("../images/cart-sprite-new.png");
    background-position: -809px -828px;
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

/* Fix for TUW-64655 starts */
.shopping-cart-promo-code .expand:focus {
    border: 1px dotted #000;
}

.shopping-cart-promo-code .minimize:focus {
    border: 1px dotted #000;
}

/* Fix for TUW-64655 ends */

.product-no-image-cart-overlay {
    width: 90px !important;
    height: 90px !important;
}

/* Fix for TUW-63724 ends */
.shopping-cart-promo-code .minimize {
    background: url("../images/cart-sprite-new.png");
    background-position: -778px -828px;
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.shopping-cart-promo-code .enter-promo input {
    padding-top: 2px;
}

/* WCAG issue,TSJ-5294,shopping cart page,to_fix_error:link must hv discernible text */
.edit-product-button.non-stylized {
    display: none;
}

.shopping-cart-promo-code .enter-promo button {
    bottom: 0;
}

.shopping-cart-promo-code #maxCouponLimit {
    color: #d60037;
    
    font-size: 14px; 
}

.shopping-cart-template .shopping-cart-promo-code .applied-promo h5 {
    font-size: 14px;
    color: #004EBC;
}
.shopping-cart-template .shopping-cart-promo-code .applied-promo p {
    font-size: 14px;
    color: #666666;
}
.shopping-cart-template .shopping-cart-promo-code .applied-promo a {
    padding-right: 20px;
}
.shopping-cart-template .shopping-cart-promo-code .applied-bad-promo h5 {
    font-size: 14px;
    color: #dc291e;
}
.shopping-cart-template .shopping-cart-promo-code .applied-bad-promo p {
    font-size: 14px;
    color: #dc291e;
}
.shopping-cart-template .shopping-cart-promo-code .applied-bad-promo a {
    padding-right: 20px;
}
.shopping-cart-template .shopping-cart-promo-code .error-promo-input-group {
    color: #d60037;
    font-size: 14px;
}
.shopping-cart-template .shopping-cart-promo-code .error-promo-input-group .error-state-exclamation-sm {
    vertical-align: middle;
    margin-right: 5px;
}
.shopping-cart-template .shopping-cart-promo-code .error-promo-input-group input {
    border: 1px solid #d60037;
    color: #d60037;
}