.full_width_gray {
  margin: 0 -9999rem;
  padding: 1px 9999rem 25px 9999rem;
  background: #f3f3f3;
}

div[id*="_rr"] {
  margin: 20px auto;
  max-width: 1080px;
}

div[id*="_rr"] .large-blue,
div[id*="_rr"] h2 {
  font-size: 32px;
  color: #009ddb;
  font-family: 'ArcherSemiBold', TimesNewRoman, serif;
  text-align: center;
  margin: 10px auto 40px auto;
  text-transform: lowercase;
}

div[id*="_rr"] .product-block, 
div[id*="_rr"] #filtered-products .product-block-padding,
div[id*="_rr"] #filtered-products .product-block-padding .product-block {
  width: 255px !important;
  margin: 0 20px 0 0 !important;
  border: solid 1px #d2d2d2;
  box-shadow: none !important;
  max-height: 400px !important;
  min-height: 400px !important;
}

div[id*="_rr"] .product-block:last-child, 
div[id*="_rr"] #filtered-products .product-block-padding:last-child,
div[id*="_rr"] #filtered-products .product-block-padding .product-block:last-child {
  margin: 0 !important;
}

div[id*="_rr"] .product-block.product-block-unselected .product-block-image-container,
div[id*="_rr"] .product-block-image-container .product-image > a,
div[id*="_rr"] #filtered-products .product-block-padding .product-block-image-container,
div[id*="_rr"] .product-block-image-container,
div[id*="_rr"] img {
  height: 235px !important;
  max-height: 235px !important;
  line-height: 0px;
  display: block;
  margin: 0 auto;
}

div[id*="_rr"] .product-selection,
div[id*="_rr"] .product-flag,
div[id*="_rr"] .product-block .colors,
div[id*="_rr"] #filtered-products .product-block-padding .product-block .product-selection {
  display:none;
}

.product-block .star-rating-block {
  margin: 5px;
  padding: 5px 0 0 5px;
  display: block;
}

div[id*="_rr"] #narrow-by-scroll.product-content, 
div[id*="_rr"] #narrow-by-scroll.product-content, 
div[id*="_rr"] #filtered-products,
div[id*="_rr"] #filtered-products .row-footer-margin,
div[id*="_rr"] .block-2-row,
div[id*="_rr"] .row-footer-margin {
  margin: 0 !important;
  width: 100% !important;
  position: inherit !important;
}
div[id*="_rr"] #filtered-products > div.row-footer-margin > div:nth-child(1),
div[id*="_rr"] .product-block-padding {
  border: none !important;
  padding-top: 0 !important;
  padding: 0 !important;
}