
  /* off canvas start*/
  .offcanvas {
  display: none; }

.offcanvas.in {
  display: block; }
    /* off canvas start end here*/
 /* common for header */
 @media (min-width: 500px){
.col-md-12 {
    width: 100%;
}
.default-template {
    padding: 0px;
    margin: 0px;
    min-width: 1024px;
}
 .row-footer-margin {
  margin-right: 4%;
  margin-left: 4%; }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}
/* toolkit start here*/ 

/**
 * Toolkit styles
 */
 .col-no-padding {
    padding: 0px;
}
.styleguide-tab-panel .tab-content {
  margin-top: 20px; }

label {
   }

body {
  letter-spacing: -0.022em;
   }

h1 {
  color: #EA7125; }

h2 {
  font-size: 32px;
  color: #009DDB;
  margin: 0px;
  padding: 0px;
   }

.tse-scrollbar .drag-handle {
  background: #bebebd !important; }

.right-vr {
  border-right: 1px solid #d2d2d2; }

.row-max-width {
  max-width: 1600px;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto; }

.row-max-width-1024 {
  max-width: 1024px;
  padding-left: 3.125%;
  padding-right: 3.125%;
  margin: auto; }

.row-footer-margin {
  margin-right: 4%;
  margin-left: 4%; }

.default-margin {
  margin-left: 4%;
  margin-right: 4%; }

.default-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; 
 }

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #d2d2d2;
  /* old IE */
  background-color: #d2d2d2;
  /* Modern Browsers */ }

.sosAddZone hr { display: none; }

.block-2-column {
  padding: 0 3px; }

.block-2-row {
  margin: 0 -3px; }



.row-no-padding {
  margin: 0 0px; }

.fixed-nav {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent; }

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  float: left; }

.col-md-10-percent {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 10%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }

a:hover {
  text-decoration: none;
  color: inherit; }

a:visited {
  text-decoration: none;
  color: inherit; }

a:active {
  text-decoration: none;
  color: inherit; }

input[type="text"]::-ms-clear {
  display: none; }

input[type="text"] {
  outline-style: none;
  padding-left: 10px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../images/category-down-blue-arrow.png') no-repeat right 10px center transparent; }

.bru-primary-link, .bru-primary-link:visited, .bru-primary-link:link {
  color: #5E2D91 !important; }

.bru-background {
  background-color: #5E2D91 !important; }
  

@media (min-width: 60em) {
  .components-left-margin {
    margin-left: 15rem; } }
/* toolkit end here */
/* shopping cart overlay start here */
.shopping-cart-overlay {
	width: 963px;
	min-height: 525px;
	display: inline-block;
}

.shopping-cart-overlay .cart-content {
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.shopping-cart-overlay .cart-content .left-section {
	padding-right: 5px;
	border-right: solid 1px #d2d2d2;
}

.shopping-cart-overlay .cart-content .left-section .tse-scrollable {
	width: 100% !important;
	height: 100% !important;
}

.shopping-cart-overlay-hr {
	background-color: #d2d2d2;
	height: 1px;
	margin-bottom: 0px;
}

#shoppingCartModal .modal-lg {
	width: 963px;
}
.shopping-cart-image {
   /*  background: url('../images/main-body-sprite.png') -242px -647px no-repeat; */
   background: url(../images/ui-element-validation-sprite.png) -196px -2px no-repeat;
   margin-right:6px;
   width: 32px;
   height:42px;
}
.shopping-cart-overlay-header-num-items span{
	vertical-align:super;
	display: inline-block;
    margin-top: -10px;
}
.shopping-cart-overlay-header-num-items {
  font-size:32px;
 }
/* shopping cart overlay end here */
/* drop down my account start here*/


/* drop down my account start here End */

#emailSignUpModal .modal-dialog {
    margin-top: 150px;
    z-index: 99999;
}
.quickview-modal-image {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	background-color: white;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	z-index: 596;
}

#quickviewModal .close-modal {
	padding-right: 15px;
	padding-top: 15px;
	float: right;
}

#quickviewNotifyMeModal .modal-header>div:nth-child(2) {
	padding: 0 1%;
}

#quickviewNotifyMeModal .notify-me-title {
	padding: 1% 0;
}

#quickviewNotifyMeModal .warning-modal-footer {
	padding: 3% 0;
}

#quickviewSizeChartModal .modal-header>div:nth-child(2) {
	padding: 0 4%;
}

#quickviewSizeChartModal .modal-header>div:nth-child(2)>div:first-child
	{
	padding: 2% 0;
}

#quickviewWarningModal .modal-header div.warning-modal-footer {
	padding: 3% 0;
}

#quickviewWarningModal .modal-header div.warning-modal-footer div:nth-child(2)
	{
	padding-left: 10%;
}

#quickviewWarningModal .modal-header div:nth-child(2) {
	padding: 0 4%;
}

#quickviewWarningModal .modal-header div:nth-child(2) span div {
	padding: 1% 0;
}

#quickviewWarningModal .modal-header div:nth-child(2) div:first-child {
	padding: 3% 0;
}
#myAccountDeleteCancelModal .modal-content {
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}}