@media print {
	* {
		position: static !important;
		overflow: visible !important;
	}
	body {
		zoom: 100%;
		margin-top: 0px !important;;
		width: 100% !important;
		overflow: visible !important;
	}
 	body .row.row-no-padding,body a,body .default-margin{
		display: none;
	}
	body a:after {
		content: "";
	} 
	.compare-overlay-menu{
		display: block !important;
		width: 100% !important;
		overflow: visible !important;
		border: 0px !important;
	}
	#giftFinderTag,
	.row-footer-margin,
	#truFooterSearchDex,
	#footer,.inline,.footer-grid,
	.row.default-margin,
	.compare-overlay-menu .close-compare-overlay-image,.compare-overlay-menu .compare-overlay-close,
	#scrollToTop,.sosAddZone,#babyRegistry{
		display: none !important;
	} 
	body .compare-display-addTocart.remove-compare-product .addToCartJspSection .inline{
		display: inline-block !important;
	}
	body .compare-display-addTocart.remove-compare-product .addToCartJspSection a:after {
		content: "";
	} 
	.sub-category-template .fixed-narrow-menu .compare-overlay-menu {
		border-top: none !important;
	}
	.compare-overlay {
		display: block;
		height: auto !important;
	}
	.compare-overlay-menu a,.compare-overlay-menu .default-margin {
		display: block !important;
	}
	.compare-overlay-menu a:after {
		content: "";
	}
	.compare-overlay-menu hr {
		display: block !important;
		height: 1px;
		background: transparent;
		width: 100%;
		border: none;
		border-top: solid 1px #d2d2d2;
	}
	.compare-overlay .compare-overlay-scroll {
		overflow-y: visible;
		height: auto !important;
	}
	.compare-overlay-locked .compare-display-image .col-md-2 a img {
		display: block;
		height: 100px !important;;
		width: 100px !important;;
	}
	.compare-overlay-locked .compare-display-image .col-md-2 a {
		display: block;
		height: 100px;
		width: 100px;
	}
	.compare-overlay .compare-overlay-scroll {
		margin-top: 0 !important;
	}
	.add-to-cart,.email-me-available {
		height: auto !important;
		padding: 5px !important
	}
	.compare-overlay-locked .cart-button-enable.addToRegistryCompare{
		display: block !important;
	} 
}

