.product-flag-bubble{
	position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    right: -1px;
    top: -1px;
    float: left;
}
.product-flag-bubble span{
	display:none;
}
.product-flag-bubble.product-ToysRUs{
	/* background: url('../images/category-main-sprite.png') 6px -128px no-repeat; */
    font-size: 14px;

}

.product-flag-bubble.product-BabyRUs{
	/* background: url('../images/category-main-sprite.png') 6px -128px no-repeat; */
    font-size: 14px;
}

.product-flag-bubble.product-ToysRUs span.promotional-sticker, .product-flag-bubble.product-BabyRUs span.promotional-sticker{
    position: absolute;
    text-align: center;
    line-height: 30px;
    color: white;
    display: block;
    font-size: 14px;
    float: left;
    height: 80px;
    width: 78px;
    left: 1px;
}
.product-flag-bubble.product-ToysRUs span.promotional-sticker.R.Exclusive{
	background: url('../images/promotional-sticker-sprite.png') -78px 1px no-repeat !important;
}
.product-flag-bubble.product-ToysRUs span.promotional-sticker.New{
	background: url('../images/promotional-sticker-sprite.png') 1px 1px no-repeat;
}
.product-flag-bubble.product-ToysRUs span.promotional-sticker.Sponsored{
	    background: url('../images/promotional-sticker-sprite.png') -156px 1px no-repeat;
}
.product-flag-bubble.product-ToysRUs span.promotional-sticker.ourexclusive, .product-flag-bubble.product-BabyRUs span.promotional-sticker.ourexclusive
{
	background: url('../images/flag-badge-sprite.png') -304px 1px no-repeat !important;
	width: 76px;
    left: 3px;
    top: 1px;
}

.product-flag-bubble.product-BabyRUs span.promotional-sticker.New{
	background: url('../images/flag-badge-sprite.png') 0px 0px no-repeat;
}
.product-flag-bubble.product-BabyRUs span.promotional-sticker.R.Exclusive{
	background: url('../images/flag-badge-sprite.png') -78px 0px no-repeat;
}
.site-BabyRUs .product-flag-bubble.product-ToysRUs span.promotional-sticker.Sponsored{
	background: url('../images/flag-badge-sprite.png') -156px 0px no-repeat;
}
/* Start: Fix for Defect-6110 */
.fixed-narrow-menu .sort-by-dropdown-arrow{
	bottom: inherit;
	top: -20px;
}
/* End: Fix for Defect-6110 */
/* Start: Demo issue */
.toy-grid-summary #quick-view-container{
	z-index: 100;
}
/* End: Demo issue */
/* CSS Start for B&S Spark changes */
/* .container-fluid .default-margin.category-adzone-container
{
	float:left;
} */
#guidedNavigation .narrow-by-button-label {
    width: 50px;
    height: 50px;
    float: left;
    position: relative;
    border-radius: 50%;
    background: url('../images/category-main-sprite.png') -3px -56px no-repeat !important;
    display: block;
    margin: 0;
    padding: 0;
}
#guidedNavigation .narrow-by-button-label.selected
{
	background: url('../images/category-main-sprite.png') -73px -56px no-repeat !important;	
}
#guidedNavigation .filter-icon-BG .ICN-Filter {
    width: 24px;
    height: 19px;
    object-fit: contain;
    position: absolute;
    left: 14px;
    top: 15px;
}
#guidedNavigation .filter-results
{
	float: left;
}
#guidedNavigation .filter-results .filter-text
{
	width: 50px;
    height: 25px;
    font-size: 18px;
    
    
    
    color: #009ddb;
    margin-right: 7px;
}
#guidedNavigation .filter-results .showing-results
{
	width: 81px;
    height: 22px;
    font-size: 16px;
    
    
    
    color: #757575;
}
#guidedNavigation .filter-results .default-margin
{
    font-size: 14px;
    
    
    
    color: #666666;
    margin-left: 0;
    margin-right: 0px;
    height: 0px;
    display: table-row;
}
#filter-accordion .filter-window-header .filter-window-header-text
{
	font-size: 14px;
    
}
#filter-accordion .ui-accordion-content div
{
	margin-bottom: 10px;
}
#filter-accordion .ui-accordion-content .tse-content div
{
	float:left;
	width: 250px;
}
.product-content #filtered-products .product-block-padding
{ 
    width: 30.70% !important;
    height: 515px;
}
.product-content #filtered-products .product-block-padding .hl-product.product-block-padding
{
	width: 100% !important;
}
.product-content #filtered-products .product-block-padding .product-block-price
{
	margin-bottom: 0px;
    margin-top: 5px;
    float: left;
    width: 100%;
    overflow: hidden;
}
.product-content #filtered-products .product-block-padding .product-block-incentive
{
	position: relative;
    margin: 0px 0 11px!important;
    float: left;
    bottom: 0px !important;
    font-size: 11px;
    width:95%;
}
.product-content #filtered-products .product-block-padding .productBlock-hover 
{ 
	float:left;
    position: absolute;
    height: auto;
    z-index: 10;
    width: 97% !important;
    min-height: 490px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #d2d2d2;
    margin-left: -7px;
}	
.product-content #filtered-products .product-block-padding .addtocart-container 
{
	float:left;
	width:100%;
    position: relative;
    display:none;
    cursor:pointer;
}
.product-content #filtered-products .product-block-padding .product-block
{
	width: 94%;
	box-shadow: none;
	border: 1px solid #d2d2d2;
}
.product-content #filtered-products .product-block-padding .product-block .product-block-esrbRating
{
	text-align: left;
    position: relative;
    float: left;
    width: 100%;
    color: #666666;
    font-size: 14px;
    margin-top: -5px;
}
.product-content #filtered-products .product-block-padding .product-block .product-block-esrbRating .esrb-rating-text
{
	margin-left: 11px;
}
.product-content #filtered-products .product-block-padding .product-block .product-block-border
{
	border: solid 1px #d2d2d2;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.product-content #filtered-products .product-block-padding .product-block .product-selection
{
	display:none;
}
.product-content #filtered-products.productBlock-filterOpen .row-footer-margin
{
	margin-left:0;
}
.product-content #filtered-products .row-footer-margin
{
	margin-right:0px;
}
.product-content #filtered-products .product-block
{
	margin-left: 1%;
}
.compare-menu.sub-cat-container,
.compare-menu.sub-cat-container #filter-accordion
{
	background:#fff;
	border-bottom:none;
}
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-content
{
	border:none;
	padding-left:0px !important;
	max-height: 480px !important;
    overflow: hidden;
    /* overflow-y: auto; */
    width: 263px;
    padding-bottom: 0px;
}
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-content .tse-scrollable
{
	max-height:480px;
	height: inherit !important;
	margin-bottom: 0px;

}
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-content .tse-scrollable .tse-scroll-content
{
	margin-bottom: 0px;
}
.compare-menu.sub-cat-container #filter-accordion
{
	width: 265px;
    margin-top: 9%;
} 
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-header.accordion-header-active,
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-header.ui-state-focus,
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-header.ui-state-focus.noOutline:focus
{
	border-top: 2px solid #f3f3f3 !important;}
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-content:last-child
{
	border-bottom: 2px solid #f3f3f3 !important;
}
.compare-menu.sub-cat-container #filter-accordion .ui-accordion-header-icon
{
	left: 236px !important;
	padding-right: 0px; 
}
#guidedNavigation .row .thick-hr
{
	background:#fff !important;
}
.compare-menu.sub-cat-container #filter-accordion .filter-window-header .ui-icon-minus
{
	top: 34px !important;
}
.category-name
{
	margin: 20px 0px;
    text-align: center;
}
.loadMoreProducts.read-more
{
	width: 300px;
  	height: 46px;
  	background-color: #009ddb;
  	margin-top: 17px;
}
.category-hero-zone-container.row-category-header #cms-title
{
	position: relative;
	top:0px;
}
.template-family hr.horizontal-divider
{
	height: 2px;
    color: #f3f3f3;
    background-color: #f3f3f3
}
.category-name h2
{
	color: #004ebc;
}
.filter-window-container h3 .filter-window-header-text
{
	color: #009ddb;
}
#guidedNavigation .btn-group.sort-by .dropdown-toggle
{ 
	/* width: 185px !important;  Fix For TUW-74321  */ 
    height: 50px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
}
#guidedNavigation .btn-group.sort-by .dropdown-toggle .sort-by-down-arrow
{
	background: url('../images/category-main-sprite.png') -5px -13px no-repeat;
    top: 19px;
    right: 10px;
    width: 16px;
    height: 11px;
}
#guidedNavigation .btn-group.sort-by .dropdown-toggle .sort-by-up-arrow
{
	background: url('../images/spark-up-arrow.png') no-repeat;
	top: 20px;
    right: -1px;
}
#guidedNavigation .sort-by .sort-by-title
{
	color: #757575;
}
.product-add-to-cart.hide-PLP-add-to-cart
{
	background-color: #757575;
	color:#fff;
	border: 3px solid #757575;
}
.product-add-to-cart.hide-PLP-add-to-cart:hover
{
	background:#fff;
	border: 3px solid #757575;
	color:#757575;
}
.filter-window-container h3
{
	margin-left:0px !important;
}
.addtocart-container .colors .product-color-block{
   width: 30px !important;
   height: 30px;
   background-color: #66bc29;
   border: solid 2px #ffffff;
   border-radius: 50%;
}
.product-block-padding.productBlock .colors .viewMoreSwatchImages
{
	height: 27px;
    width: 31px;
    background-color: #f3f3f3;
    text-decoration: none;
    color: #757575;
    border-radius: 50%;
    padding: 8px 5px;
    float: none;
    margin: 3px 0px 0px 5px;
    text-align: center;
    position: absolute;
    border: none;
}
.product-block-padding .product-block .product-color-block.color-selected
{
	border-color:#009ddb !important;
}
.product-block-padding .product-block .product-color-block.color-selected img
{
	border-radius: 50%;
    border: 2px solid #fff;
}
#guidedNavigation .filter-results .default-margin a.clear-all-filterss
{
	color: #666666 !important;
}
#guidedNavigation .filter-results .dismiss-x {
    height: 12px;
    width: 12px;
    background: url('../images/category-main-sprite.png') -297px -14px no-repeat;
}
.product-view-details,
.product-view-details:hover
{
	margin-bottom: 10px;
    margin-top: 10px;
}
.product-view-details:hover
{
	background-color: #fff;
    color: #EA7125;
}
/* .productBlock .product-block .product-choose
{
	height:40px;
} */
.compare-product-selection
{
	background-color: #f3f3f3;
    border: solid 2px #f3f3f3 !important;
    border-bottom:solid 2px #f3f3f3 !important;
    height: 110px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 20px 0 0 0;
    display: none;
}

.compare-product-selection .row{
    width: 1123px;
    margin: 0 auto;    
}

.compare-product-selection .added-compare-images .col-md-10-percent .imageCompareProduct
{
	width: 50px !important;
	height: 50px !important;
	margin-right: 8px;
    float: left;
}
.compare-product-selection .added-compare-images .col-md-10-percent .compareProductName
{
	float: left;
    width: 90px;
    height: 43px;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    padding: 7px 0;
	font-size: 14px;
	color: #004ebc;
	position: relative;
}
.compare-product-selection .added-compare-images .col-md-10-percent .compareProductName:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}



.compare-product-selection .col-md-2
{
    width: 150px;
    padding: 0px;
    margin: 0;    
}

.compare-product-selection .col-md-2:nth-child(3)
{
    width: 90px;
    float: right;    
}
.compare-product-selection .col-md-2 #remove-products-button
{
    margin: 22px 0 0 0;
    background: none;
    color: #757575;
    font-size: 14px;
    width: 100%;
    text-align: left;
    padding: 2px 0 3px 0;
}

.compare-product-selection .col-md-2 #remove-products-button .dismiss-x
{
	height: 10px;
    width: 10px;
    margin-left: 5px;
    top: 2px;
    position: relative;
}
.compare-product-selection .added-compare-images .no-compare-image
{
	background: none !important;
    border: dashed 2px #d2d2d2 !important;
    padding: 17px 25px;
    font-size: 14px;
    text-align: center;
    color: #666666;
}
/* .compare-overlay-menu .compare-overlay-locked .howdotheyCompare-header	commented to revert the changes for compare overlay
{
	float:left;
}
.compare-overlay-menu .compare-overlay-locked .remove-compare-product
{
	margin-left:0px;
}
.compare-overlay-menu .compare-display-addTocart .addToCartJspSection .add-to-wishlist
{
	margin-top: 6px;
}
.compare-overlay-menu .compare-display-addTocart .addToCartJspSection .add-to-wishlist .inline
{
	width:100%;
}
.compare-overlay-menu .compare-display-addTocart .addToCartJspSection .add-to-wishlist .inline .wish-list-addTo
{
	width:100%;
}
.compare-overlay-menu.compare-display-heading-text
{
	color: #004ebc;
}
.compare-overlay-menu.compare-display-heading-text a.column-header-text
{
	font-size: 18px;
}
.compare-overlay-menu .compare-overlay-scroll
{
	color: #666666;
}
.compare-overlay-menu .compare-overlay-scroll .row .col-md-3
{
	
}
.compare-overlay-menu .compare-overlay-scroll .row .col-md-3,
.compare-overlay-menu .compare-overlay-scroll .row .col-md-2
{
}
.compare-overlay-menu .compare-overlay .compare-overlay-locked
{
	position: relative;
}
.compare-overlay .compare-display-image .compareCloseSection
{
	float:left;
	width:100%;
	margin-bottom: 17px;
}
.compare-overlay .compare-display-image .compareCloseSection .compare-overlay-close
{
	position: relative;
    top: 0px;
    right:0px;
    color: #004ebc;
    
}
.compare-overlay .compare-display-image .compareCloseSection .compare-overlay-close img
{
	margin-right: 5px;
    margin-top: -4px;
}
.compare-overlay-menu .compare-overlay
{
	    padding-top: 10px;	
} */
/*#filtered-products.productBlock-withFilter 
{
	width: 79.9% !important;
    left: 23%;
}*/
/*.search-template #filtered-products.productBlock-withFilter
{
	left: 22.3% !important;
}*/
.compare-menu.compare-selected
{
	margin-top: 148px;
}
#filtered-products .load-more-btn-section
{
	width: 94.5%;
}
.filter-window-container .ui-accordion-content > div:nth-child(n+6)
{
	display:block !important;
}
#guidedNavigation .narrow-by-container
{
	float: left;
}
#guidedNavigation .narrow-by-container .narrow-by-button
{
	float: left;
    position: relative;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}
#guidedNavigation .default-margin .col-narrow-by:first-child
{
	margin-top:0px;
}
#narrow-by-scroll.product-content
{
	margin-bottom: 3%;
}
.template-family .row-no-padding .category-hero-zone-container hr
{
	height: 2px;
    color: #f3f3f3;
    background-color: #f3f3f3;
    margin: 5px 0;
}
/*#guidedNavigation .compare-menu.sub-cat-container
{
	width: 23.5%;
}*/
#guidedNavigation .compare-menu .filter-scroll-wrapper
{
	width: 100% !important;
	max-height:inherit !important;
}

#filter-accordion .ui-accordion-content .star-rating-block div
{
	margin-bottom: 0px !important;
}
#filtered-products .product-block-padding .product-block .star-rating-block .star-rating-on
{
	background: url('../images/main-body-sprite.png') -26px -64px no-repeat;
    background-size: 95px;
}
#filtered-products .product-block-padding .product-block .star-rating-block .star-rating-off
{
	background: url('../images/main-body-sprite.png') -26px -39px no-repeat;
    background-size: 94px;
}
#filtered-products .product-block-information .product-name
{
    color: #004ebc;
}
#filtered-products .product-block-information .product-block-price span
{
    color: #666666;
    
    font-size: 14px;
    float:left;	
}
.product-block-price{
	font-size: 14px;
}
.compare-menu .ui-accordion-content .filter-lbl-container .filter-lbl
{
	height: 33px;
    width: 31px;
    position: relative;
    background: url('../images/category-main-sprite.png')-167px -3px no-repeat;
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
}
.compare-menu .ui-accordion-content .filter-lbl-container .filter-text
{
	display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 10px
}
.product-block-padding .product-block-image-container .product-image img
{
	/* top: -30px; */
    position: relative;
    max-height:245px;
}
.product-block-padding.hookDivs .product-block-image-container .product-image img
{
	top: 0px;
}
.compare-menu > .tse-scrollable > .tse-scrollbar
{
	display:none !important;
}
#filtered-products.productBlock-withFilter > .row-footer-margin
{
	    margin-left: 35px;
}
#guidedNavigation .filter-results
{
	height: 50px;
    display: table;
}
#guidedNavigation .filter-results .filter-header-section
{
	display: table-cell;
    vertical-align: middle;
}
.search-template #narrow-by-scroll.product-content
{
	margin: 0 auto !important;
    position: relative;
    width: 1123px;
}
.search-template .fixed-narrow-menu.sticky
{
	width: 1123px !important;
}
.sub-category-template #guidedNavigation .compare-menu #filter-accordion .ui-accordion-content
{
	width: 263px;
}
.search-template .compare-menu #filter-accordion
{
	width:100%;
}
.search-template #filtered-products.productBlock-withFilter .product-block-padding .product-block-image-container a.bnsImgBlock
{
	width: 245px;
	height:245px;
    margin: 0 auto;
}
.search-template #filtered-products.productBlock-withFilter .product-block-padding .product-block-image-container
{
	height: 280px;
}
.search-template #filtered-products .product-block-padding .product-block-image-container
{
	height: 302px;
}
.search-template #filtered-products .product-block-padding .product-block-image-container a.bnsImgBlock
{
	height:338px;
	width: 338px;
    margin: 0 auto;
	
}
.search-template .product-content #filtered-products.productBlock-withFilter .product-block-padding .product-block.productBlock-hover
{
	margin-left: 0px !important;
}
.search-template #filtered-products .load-more-btn-section
{
	width: 98.2%;
}
.search-template .compare-menu.sub-cat-container #filter-accordion .ui-accordion-content
{
	width: 267px;
	padding: 1em;
}
.search-template #guidedNavigation .compare-menu.sub-cat-container .filter-window-header span.ui-accordion-header-icon
{
	left: 0px !important;
    padding-right: 0px !important;
    position: relative;
    margin-top: -15px;
    margin-right: 12px;
}
.search-template #guidedNavigation .compare-menu.sub-cat-container > .tse-scrollable.filter-scroll-wrapper .tse-scroll-content
{
	width:101% !important;
}
.search-template #guidedNavigation .compare-menu.sub-cat-container .filter-window-header span.ui-accordion-header-icon.ui-icon-minus
{
	margin-top: -13px !important;
	margin-right: 14px;
}
.search-template #filtered-products .load-more-btn-section
{
	padding-top: 0px !important;
	padding-bottom: 13px !important;
}
.sub-category-template #filtered-products .load-more-btn-section
{
	padding-top: 10px;
}

.search-template .category-name
{
	margin: 10px 0px 0px 0px;
    text-align: center;
}
.search-template .suggested-search-block
{
	width: 1123px;
    padding: 0;
    margin: 0 auto;
}
.search-template .search-main-search-block
{
	width: 1123px;
    margin: 0 auto;
    position: relative;
}
.search-template .search-main-search-block .null_results_advice
{
	float: left;
    width: 100%;
    margin-top: 20px;
}
.search-template .search-main-search-block .null_results_advice div
{
	float: left;
}
.search-template .search-main-search-block .null_results_advice .no-search-leftSection,
.search-template .search-main-search-block .null_results_advice .no-search-rightSection
{
	padding-top:60px;
}
.search-template .search-main-search-block .null_results_advice div ul,
.search-template .search-main-search-block .null_results_advice div ul li a
{
	margin-left:0px;
	font-size: 14px;
}
.search-template .search-main-search-block .null_results_advice div.no-search-imgSection
{
	margin: 0 80px;
}
.compare-overlay .small-compare-text
{
	padding-left: 0px;
}
/*.sub-category-template #filtered-products, .template-family #filtered-products
{
	width: 104%;
    left: -1%;
}*/
/*.search-template #filtered-products
{
	width: 108.3%;
    left: -5.3%;
}*/
.search-template .footer-grid #sdx-footer .row-center
{
	display:block;
	padding-top: 25px;	
}

.template-family .row-no-padding .category-hero-zone-container #cms-title,
.category-template .row-no-padding .category-hero-zone-container #cms-title,
.sub-category-template .row-no-padding .category-hero-zone-container #cms-title
{
	text-align:left;
}
/*.sub-category-template .compare-menu.sub-cat-container,*/
.search-template .compare-menu.sub-cat-container,
.template-family .compare-menu.sub-cat-container
{
	height: auto !important;
}

.search-template .compare-menu.sub-cat-container #filter-accordion
{
	margin-top: 2.6%;
}
.search-template .fixed-narrow-menu.sticky .compare-menu.sub-cat-container #filter-accordion
{
	margin-top: 9%;
}
.search-template .compare-menu.sub-cat-container #filter-accordion h3.ui-accordion-header:last-child
{
	margin-bottom: 15px;
}
.search-template .footer-grid .default-margin.footer-grid-list
{
	margin-left: 6%;
    margin-right: 6%;
}
.default-margin.category-adzone-container
{
	margin: 34px 113px;
}
.default-margin.category-adzone-container .category-ad-row .ad-zone-728-90
{
	margin-bottom:0px;
}
.product-block-price .price-strike-through { /* Added for Home page, PLP page price strike through */
	text-decoration: line-through;
}
.compare-menu .facets-container,
.compare-menu .facets-container-scroll-content {
	height: 100% !important;
	width: 100% !important;
}
.compare-menu .facets-container{
	height: auto!important;
}
.template-family .sosAddZone .default-margin.adZoneContainer
{
	margin:0px !important;
}