@font-face {
    font-family: 'AvenirNextDemiBold';
    src: url('fonts/avenirnext-demibold/avenirnext-demibold.eot');
    src: url('fonts/avenirnext-demibold/avenirnext-demibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenirnext-demibold/avenirnext-demibold.woff') format('woff'),
        url('fonts/avenirnext-demibold/avenirnext-demibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('fonts/avenirnext-regular/avenirnext-regular.eot');
    src: url('fonts/avenirnext-regular/avenirnext-regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/avenirnext-regular/avenirnext-regular.woff') format('woff'),
        url('fonts/avenirnext-regular/avenirnext-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'ArcherSemiBold';
    src: url('fonts/archer-semibold/archer-semibold.eot');
    src: url('fonts/archer-semibold/archer-semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/archer-semibold/archer-semibold.woff2') format('woff2'),
        url('fonts/archer-semibold/archer-semibold.woff') format('woff'),
        url('fonts/archer-semibold/archer-semibold.ttf') format('truetype'),
        url('fonts/archer-semibold/archer-semibold.svg#archersemibold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'ArcherMedium';
    src: url('fonts/archer-medium/archer-medium.eot');
    src: url('fonts/archer-medium/archer-medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/archer-medium/archer-medium.woff2') format('woff2'),
        url('fonts/archer-medium/archer-medium.woff') format('woff'),
        url('fonts/archer-medium/archer-medium.ttf') format('truetype'),
        url('fonts/archer-medium/archer-medium.svg#archermedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
.p-w-r label, .p-w-r div, .p-w-r span, .p-w-r pre,
.p-w-r a, .p-w-r abbr, .p-w-r acronym, .p-w-r address,
.p-w-r big, .p-w-r cite, .p-w-r code, .p-w-r del, .p-w-r dfn,
.p-w-r em, #pr-reviewsnippet .pr-review-custom-link,
.apply-promo-code-textbox {
    font-family: 'AvenirNextRegular', Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.archer-medium,
input#searchText,
.category-template h1,
.sub-category-template h1,
.search-results-title h2,
.template-family h1,
.hero-promo-slots h2 {
    font-family: 'ArcherMedium', TimesNewRoman, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.avenir-next-demibold,
button,
input[type="button"],
#shopByContainer a, #shopByContainer h3, #shopByContainer span,
#minicart #ajaxCount,
.dropdown-menu,
#my-account-popover-struct #signInBtn,
.toy-grid-summary .product-add-to-cart,
.addtocart-container .product-add-to-cart,
.addtocart-container .product-view-details,
.footer-grid .tru-button,
.category-image-link-block-list li:first-child a,
.search-dex .seo-header,
#guidedNavigation .filter-text,
#filter-accordion .findMe,
.product-block-price,
.product-block-original-price,
.load-more-btn-section .loadMoreProducts,
.load-more-btn-section .loadMoreProducts > span,
.collection-template h4,
.registryButtonContainer .baby-registry-addTo,
.registryButtonContainer .wish-list-addTo,
.add-to-cart-section .add-to-cart,
.find-in-store .first-line-message,
.find-in-store .leaves-warehouse-shipping-message,
#slider-product-block-container .prices,
#product-main-content #readmore,
#product-main-content .pr-question-custom-btn,
#product-main-content .pr-review-custom-btn,
#pr-review-snapshot .pr-snippet-review-count,
#pr-review-snapshot .pr-reco-value,
#pr-review-snapshot .pr-reco-to-friend-message,
.my-account-sign-in-template #loginSubmitBtn,
#createAccountForm #createAccountSubmitBtn,
.my-account-sign-in-col #orderStatusSignIn,
.my-account-sign-in-col input,
.truLoginPage .password-verdict,
#emailSignUpModal .email-sign-up-overlay #submitEmail,
.product-hover-view.product-view-details a,
#shoppingCartModal .cart-overlay-product-title,
.cart-summary,
.results-col-2 .my-store,
.results-col-2 .make-my-store,
.store-locator-template .store-locator-results #store-locator-results-tabs li a,
.header-findstore-popup #sl_store-locator-results-tabs li a,
.header-findstore-popup #nearby-stores .sl_store_listing_ul .col-md-9.col-no-padding h2,
.header-findstore-popup #nearby-stores .make-store-link .my-store,
.header-findstore-popup .store-locator-content .back-to-store a,
.header-findstore-popup .make-my-store-link,
.header-findstore-popup .get-directions,
.header-findstore-popup .tse-content .store-hours .weekday::before,
.header-findstore-popup .store-locator-store-details .tse-content h5,
.header-findstore-popup #nearby-stores .store-details-container .store-details,
.store-locator-template #store-locator-results-scrollable .store-locator-results-single .results-col-2 h4,
#welcomeBackModal .welcome-back-overlay .welcome-input-group a,
#findInStoreModal .store-locator-results #store-locator-results-tabs li span,
#store-locator-results-scrollable ul li h4,
#show-timings-container .hours-heading,
.product-information .product-information-header .product-header-title,
.product-information .product-information-header .product-header-price,
.store-locator-template #store-locator-results-scrollable .store-locator-results-single .results-col-2 a,
.show-more.forPDP .separatorPDPa span,
.shipping-timelines .title,
.find-in-store-overlay .free-store-pickup,
.collection-template .collection-col-center h4 a,
.shopping-cart-template .shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-header-text,
.shopping-cart-promo-code h3,
.shopping-cart-template .shopping-cart-promo-code .promo-codes-container .promo-codes-applied .promo-text,
.shopping-cart-template .shopping-cart-nav .continue-shopping .continue-shopping-text,
.shopping-cart-template .product-information .in-stock,
.product-information .shipping-options-wrapper .shipping-option-label,
.product-information .notavailable-storepickup,
.shopping-cart-summary-block .summary-block-border .order-summary,
.shopping-cart-summary-block .summary-block-border .order-summary-item-value,
.shopping-cart-summary-block .summary-block-border .order-summary-item-label.summary-block-footer-total,
.shopping-cart-template .myDefaultStoreName,
.checkout-template .checkout-review-order,
.global-navigation-top .navbar-right .label-text, #exploreButton p, #searchText,
#VisitorFirstNamecookieDIV, .we-can-help .dropdown-toggle div,
#qualifyPromotion span, #notQualifyPromotion, #notQualifyPromotion span,
.checkout-template .checkout-page-form-header,
.saved-billing-address__names,
.checkout-order-complete__content-block-button,
.checkout-order-complete__content-block-title,
.checkout-template .checkout-page-form-header,
.layaway-template .template-content #billingInfoApplicationForm .address-form-header,
.layaway-template .template-content #billingInfoApplicationForm label,
.layaway-template .template-content #billingInfoApplicationForm select,
.order-history-detail-modal-content .order-history-order-summary span.summary-block-footer-total {
    font-family: 'AvenirNextDemiBold', Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.archer-semibold,
.store-locator-zip h3,
.we-can-help .we-can-help-header,
.content-block-title,
.footer-grid .footer-list-1-header,
.footer-grid .footer-list-2-header,
#internationalizastionModal .flag-title,
.category-template .category-template,
.sub-category-template .browse-by,
.sub-category-template .product-label-brand,
.sub-category-template h2,
.template-family h2,
.collection-template h2,
#product-main-content h2,
#product-main-content h1.product-title,
#product-main-content .batteries_pIR,
#pr-review-display .pr-rd-review-total,
.second-footer-list .footer-list-2-header,
h2.now-trending-header,
.featuredcategories,
.my-account-sign-in-main-heading h1,
.my-account-sign-in-col h2,
.product-details-template .buy-together-and-save .large-blue,
#emailSignUpModal .email-sign-up-overlay h2,
.my-account-product-carousel .product-carousel-title,
.detailLearnMorePopup .welcome-back-overlay h2,
.esrbratingModel.pdpModals div.w3ValidatorWaring span,
.detailLearnMorePopup .welcome-back-overlay h2,
#emailMePopUp h3,
.shopping-cart-overlay-header-num-items span,
.sign-in-overlay .sign-in-header h3.w3ValidationSigninHeading,
.modalHeader .modalTitle,
.storeLocatormystore .mystore-selected-msg h2,
.modalHeader .modalTitle,
.store-locator-template-content .store-locator-zip h3,
.header-findstore-popup .store-locator-pick-store h3,
.header-findstore-popup .store-locator-store-details h2.store_name,
#welcomeBackModal .welcome-back-overlay h3.w3ValidationWelcomeBack,
#cartHeader .shopping-cart-nav .shopping-cart-bottom-nav .shopping-cart-header-text,
.product-details .read-more-content h2 ~ p,
.product-details .read-more-content h2 ~ p span,
.header-findstore-popup .store-locator-store-details h2.store_name,
span.mystore-city,
#findInStoreModal .find-in-store-overlay h2,
.store-locator-template #stores_count_display h3,
div[id*="_rr"],
.shopping-cart-empty .shopping-cart-empty-header,
.checkout-template .checkout-page-header,
.checkout-order-complete-header__title {
    font-family: 'ArcherSemiBold', TimesNewRoman, serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}