/* Optional: Makes the sample page fill the window. */
html,body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	line-height: 30px;
	padding-left: 10px;
	display: none;
}

.get-direction-page-container {
	height: 876px;
	margin-top: 100px;
	/* margin-bottom: 5px; */
}
.footer-grid.get-direction-page-footer {
	background-color: #f3f3f3;
}
/* Always set the map height explicitly to define the size of the div element that contains the map. */
#map {
	height: 876px;
	margin-left: 386px;
	position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 386px);
    z-index: 10;
    left: 4px;
}

#left-panel {
	height: 100%;
	float: left;
	width: 386px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.55);
    z-index: 100;
    position: relative;
}

#left-panel select,#left-panel input {
	font-size: 15px;
}

#left-panel select {
	width: 100%;
}

#left-panel i {
	font-size: 12px;
}

#direction-inputs-panel {
	min-height: 230px;
}

#direction-details-panel {
	height: 589px;
	overflow: auto;
}

.directions-not-found-message {
	line-height: 18px;
	font-size: 13px;
	display: none;
}

.directions-not-found-message .not-found-title {
	padding-top: 10px;
	color: #666;
}

.directions-not-found-message .not-found-text {
	padding-top: 10px;
	color: #666;
	
}
.directions-not-found-message .not-found-message-empty {
	padding-top: 10px;
	color: #666;
}
.directions-error-suggestions {
	color: #666666;
}

@media print {
	#map {
		height: 500px;
		margin: 0;
	}
	#left-panel {
		float: none;
		width: auto;
	}
}

.direction-title {
	width: 327px;
	height: 28px;
	font-size: 28px;
	
	
	line-height: 26px;
	letter-spacing: normal;
	color: #009ddb;
	margin-bottom: 19px;
}

.controls {
	font-size: 14px;
	
	
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #757575;
	margin-left: 10px;
	padding: 8px 17px 8px 11px;
	text-overflow: ellipsis;
	width: 242px;
	height: 35px;
	background-color: #ffffff;
	border: solid 1px #d2d2d2;
}

.get-direction-btn {
	width: 242px;
	height: 35px;
	background-color: #009ddb;
	border: solid 2px #009ddb;
	font-size: 14px;
	
	
	text-align: center;
	color: #ffffff;
	margin: 0 0 30px 45px;
}

#direction-inputs-panel {
	padding: 30px 30px 0 30px;
}

#direction-details-panel {
	position: relative;
	margin-top: 0px;
	padding: 55px 30px 105px 5px;
	border-top: 2px solid #f3f3f3;
	visibility: hidden;
}

#direction-inputs strong {
	width: 50px;
}

#direction-to {
	margin-bottom: 20px;
	line-height: 1.29;;
	font-size: 14px;
	
	
	letter-spacing: normal;
	color: #666666;
}

.input-flieds-section {
	position: relative;
}

#direction-inputs .toggle-direction {
	width: 17px;
	height: 17px;
	position: absolute;
	top: 34px;
	right: 0;
	opacity: 0.8;
	background: url(../images/toggle-arrows.png) no-repeat center;
	cursor: pointer;
}

#direction-inputs .toggle-direction:hover {
	opacity: 1;
}

.clear-both {
	clear: both;
}

.start-label, .end-label {
	width: 300px;
	position: relative;
	background-repeat: no-repeat;
	padding-left: 35px;
}
.floating-label,.start-label .getDirection-error + .getDirection-no-error {
position:absolute;
pointer-events:none;
top: 0;
float:left;
font-size: 10px;
opacity:0;
background-color: white;
padding: 0 2px;
-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}

.floating-label,.end-label .getDirection-error + .getDirection-no-error {
position:absolute;
pointer-events:none;
top: 0;
float:left;
font-size: 10px;
opacity:0;
background-color: white;
padding: 0 2px;
-webkit-transition: 0.2s ease-in-out;
transition: 0.2s ease-in-out;
}
.getDirection-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dc291e;
}
.getDirection-error::-moz-placeholder { /* Firefox 19+ */
  color: #dc291e;
}
.getDirection-error:-ms-input-placeholder { /* IE 10+ */
  color: #dc291e;
}
.getDirection-error:-moz-placeholder { /* Firefox 18- */
  color: #dc291e;
}
.start-label .getDirection-error + .floating-label {
  opacity:1;
  top:-5px;
  color: #dc291e;
  left:20px;
}
.start-label .getDirection-no-error + .floating-label {
	color: #004ebc;
	opacity:1;
  	top:-5px;
  	left:20px;
}
.end-label .getDirection-no-error + .floating-label {
	color: #004ebc;
	opacity:1;
  	top:-5px;
  	left:55px;
}
.end-label .getDirection-error + .floating-label {
  opacity:1;
  top:-5px;
  color: #dc291e;  margin-left: 20px!important;
}
.start-label .field-container input.getDirection-error{
  border-color: #dc291e;
}
.start-label .field-container input.getDirection-no-error{
  border-color: #004ebc; 
}
.end-label .field-container input.getDirection-no-error{
  border-color: #004ebc; 
}
.end-label .field-container input.getDirection-error{
  border-color: #dc291e;
}
.start-label {
	background-image: url("../images/a-icon.png");
	margin-bottom: 15px;
}
.start-label .field-container input{
border-color:#d2d2d2;
}
.start-label .field-container {
				position: relative;
				margin-top:20px;
					}
.start-label .field-container #pac-input-start{
display:block;
padding:0 0 0 10px;
font-size:14px;
}					

.field-container #pac-input-start:focus {
outline: 0;
}
.end-label {
	background-image: url("../images/b-icon.png");
	margin-bottom: 20px;
}

.adp .adp-placemark {
	border: none;
	background-image: url("../images/a-location-label.png");
	background-repeat: no-repeat;
	background-position: 14px 18px;
	margin-left: 25px;
	margin-top: 23px;
}
.adp .adp-placemark:last-child {
	margin-top: 13px;
}
.adp [data-leg-index="1"] .adp-placemark {
	background-image: url("../images/b-location-label.png");
}

#direction-details-panel .adp-directions {
    font-size: 14px;
    margin-top: 20px;
    
    
    line-height: 1.29;
    letter-spacing: normal;
    color: #666666;
}

table.adp-directions td {
	border-top: none;
	padding-bottom: 25px;
	padding-top: 0px;
}

.adp-substep .adp-distance {
	text-align: right;
}

#direction-details-panel > div {
	width: 326px;
}
.adp-summary {
	padding: 0 3px 3px 3px;
	/*  */
	font-size: 24px;
	color: #009ddb;
	position: absolute;
	top: 18px;
	margin-left:21px;

}

.adp-summary span[jstcache="24"] {
	margin-left: 12px;
	margin-top: 14px;
	float: right;
	font-size: 14px;
	
	
	
	line-height: normal;
	letter-spacing: normal;
	color: #666666;
}

#direction-details-panel div[jsaction="directionsPanel.selectLeg"] .adp-text {
	font-size: 16px;
	

	
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #757575;
	padding: 14px 12px 12px 12px;
	padding-left: 25px;
}

.adp-summary span[jstcache="24"]::before {
	content: "(";
}

.adp-summary span[jstcache="24"]::after {
	content: "les)";
}

.adp-summary span[jstcache="25"] {
	display: none;
}

.adp-summary span[jstcache="26"] {
	float: right;
	font-size: 0;
}

.adp-summary span[jstcache="50"] {
	font-size: 28px;
	
	
	
	line-height: normal;
	letter-spacing: normal;
	color: #009ddb;
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-right,.adp-substep .adp-stepicon .adp-maneuver.adp-keep-right,
.adp-substep .adp-stepicon .adp-maneuver.adp-turn-left,.adp-substep .adp-stepicon .adp-maneuver.adp-keep-left,
.adp-substep .adp-stepicon .adp-maneuver.adp-ramp-left,
.adp-substep .adp-stepicon .adp-maneuver.adp-ramp-right,
.adp-substep .adp-stepicon .adp-maneuver.adp-merge ,
.adp-substep .adp-stepicon .adp-maneuver.adp-fork-left,
.adp-substep .adp-stepicon .adp-maneuver.adp-fork-right {
	background: none;
}

.adp-substep .adp-stepicon .adp-maneuver.adp-straight,
.adp-turn-slight-right .adp-maneuver,
.adp-legal,
.adp-substep .adp-stepicon .adp-maneuver.adp-turn-slight-right, 
.adp-substep .adp-stepicon .adp-maneuver.adp-roundabout-right,
img.adp-marker {
	display: none;
}

.adp-substep .adp-stepicon .adp-maneuver.adp-turn-slight-left {
	background: none;
}