.footer-grid .second-footer-list .footer-list-2 {
    display: inline-block;
}

.footer-grid .second-footer-list .footer-list-2-header {
    color: #004ebc;
    font-size: 24px;
}

.site-BabyRUs .footer-grid .second-footer-list .footer-list-2-header {
    color: #5E2D91;
}

.footer-grid .drop-down {
    background: url(../images/sprite-optimization.png) 170px -21px no-repeat;
    width: 230px;
    height: 34px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.footer-grid .drop-down .footer-dropdown {
    font-size: 14px;
}

.footer-grid .drop-down .footer-dropdown,
.footer-grid .drop-down .footer-dropdown:active,
.footer-grid .drop-down .footer-dropdown:focus,
.footer-grid .drop-down .footer-dropdown:hover,
.footer-grid .flag-button,
.footer-grid .flag-button:active,
.footer-grid .flag-button:focus,
.footer-grid .flag-button:hover {
    outline: none;
    cursor: pointer;
}

.footer-grid .sprite-footer.flag-button {
    cursor: pointer;
    background-position: -4px -1113px;
    position: absolute;
    width: 52px;
    height: 28px;
    right: 40px;
    left: 0;
}

.footer-grid .second-footer-list .col-no-padding-left {
    padding-left: 0;
}

.footer-grid .second-footer-list {
    margin: 20px 0 0 160px;
}

.footer-grid .second-footer-list .footer-list-2 ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
}

.footer-grid .second-footer-list .footer-list-2 ul li {
    padding-bottom: 5px;
}

.footer-grid .footer-link,
.footer-grid .footer-link:focus,
.footer-grid .footer-link:hover,
.footer-grid .footer-link:visited,
.footer-grid .footer-link:active {
    text-decoration: none;
    outline: none;
}

.footer-grid .second-footer-list .footer-list-2 .footer-link {
    word-break: keep-all;
    font-size: 12px;
    color: #666666;
}

.footer-grid .footer-list-2 div.sitemaps ul.sitemaps {
    margin: 3px 0 0 0;
}

.footer-grid .footer-list-2 div.sitemaps.enabled ul.sitemaps {
    display: none;
}

.footer-grid .footer-list-2 div.sitemaps.enabled.shown ul.sitemaps {
    display: block;
}

.footer-grid .footer-list-2 div.sitemaps.enabled .sitemaps.footer-link:after {
    content: " (+)";
}

.footer-grid .footer-list-2 div.sitemaps.enabled.shown .sitemaps.footer-link:after {
    content: " (-)";
}

.footer-grid .footer-list-2 div.sitemaps ul.sitemaps .footer-link {
    margin-left: 15px;
}

.footer-grid .second-footer-list .savings-sign-up .savings-input,
.footer-grid .second-footer-list .savings-sign-up .savings-button {
    height: 46px;
    margin-top: 25px;
    float: left;
    outline: none;
}

.footer-grid .second-footer-list .savings-sign-up .savings-input {
    width: 161px;
    padding: 10px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #d2d2d2;
    color: #757575;
    display: inline-block;
}

.footer-grid .second-footer-list .savings-sign-up .savings-button {
    background-color: #009DDB;
    border: 3px solid #009DDB;
    color: #ffffff;
    width: 67px;
    font-size: 18px;
}

.footer-grid .second-footer-list .savings-sign-up .savings-button:hover {
    color: #009DDB;
    background-color: #FFF;
    cursor: pointer;
}

.footer-grid .footer-social {
    padding: 30px 4%;
    background-color: #f3f3f3;
}

.footer-grid .footer-social .social-container {
    height: 32px;
    width: 485px;
    margin: 0 auto;
    padding: 10px 0 41px 0;
}

.footer-grid #footer {
    background-color: #004ebc;
    height: 75px;
    padding-top: 25px
}

.site-BabyRUs .footer-grid #footer {
    background-color: #5e2d91;
}

.footer-grid .row-footer-margin-1024 {
    margin: auto 3.125%;
}

.footer-grid .sprite-footer {
    background: url(../images/sprite-optimization.png) no-repeat;
    display: block;
    float: left;
    padding: 0 5px;
    width: 50px;
    height: 32px;
    margin: 0 12px;
}

.footer-grid .facebook-footer {
    background-position: 0 -375px;
}

.footer-grid .twitter-footer {
    background-position: 0 -176px;
}

.footer-grid .pinterest-footer {
    background-position: 0 -226px;
}

.footer-grid .youtube-footer {
    background-position: 1px -126px;
    width: 81px;
}

.footer-grid .instagram-footer {
    background-position: 0 -326px;
}

.footer-grid .footer-social .social-container .social-link {
    display: block;
    margin-right: 30px;
}

.footer-grid #internationalizastionModal .close-footer {
    background-position: -8px -2px;
    float: right;
    margin: 10px 0 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.footer-grid #internationalizastionModal .modal-dialog {
    width: 730px;
}

.footer-grid #internationalizastionModal .col-md-2 {
    margin: 0 22px;
    width: 95px;
    padding: 0
}

.footer-grid #internationalizastionModal .modal-header {
    padding: 30px;
}

.footer-grid #internationalizastionModal .flag-title {
    font-size: 32px;
    color: #009DDB;
    padding-left: 5px;
}

.footer-grid #internationalizastionModal .flag-sub-title,
.footer-grid #internationalizastionModal .country-text {
    color: #666666;
}

.footer-grid #internationalizastionModal .flag-sub-title {
    font-size: 16px;
    margin: 10px 0 40px;
    padding-left: 5px;
}

.footer-grid #internationalizastionModal .country-text {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
}

.footer-grid .modal-header .sprite-footer {
    width: 95px;
    height: 52px;
    margin: 0 0 10px 0;
}

.footer-grid .canada-footer {
    background-position: -3px -518px;
}

.footer-grid .germany-footer {
    background-position: -3px -680px;
}

.footer-grid .switzerland-footer {
    background-position: -3px -1004px;
}

.footer-grid .japan-footer {
    background-position: -3px -734px;
}

.footer-grid .austria-footer {
    background-position: -3px -464px;
}

.footer-grid .unitedkingdom-footer {
    background-position: -3px -1058px;
}

.footer-grid .spain-footer {
    background-position: -3px -950px;
}

.footer-grid .australia-footer {
    background-position: -3px -410px;
}

.footer-grid .france-footer {
    background-position: -3px -626px;
}

.footer-grid .netherlands-footer {
    background-position: -3px -788px;
}

.footer-grid .portugal-footer {
    background-position: -3px -896px;
}

.footer-grid .china-footer {
    background-position: -3px -572px;
}

.footer-grid .poland-footer {
    background-position: -3px -842px;
}

.footer-grid .copyright-footer,
.footer-grid .copyright-footer .footer-link {
    color: #fff;
    font-size: 12px;
}
