.checkout-order-complete {
		margin: 0 0 50px 50px;
    padding: 30px 67px 0 15px;
		font-size: 14px;
		color: #666666; 		
}
.checkout-order-complete__content-block {
		height: 100%; 
		min-height: 450px;
		max-width: 360px;
		border: 2px solid #f3f3f3;
		margin: 0 auto;	
}
.checkout-order-complete__content-block-header {
    background: url(../images/order-confirmation-sprite.png) no-repeat;
}
.checkout-order-complete__content-block-header--create-an-account {
    background-position: -5px -5px;
    width: 100%;
    height: 60px;
}
.checkout-order-complete__content-block-header--rewards {
    background-position: -5px -75px;
    width: 100%;
    height: 60px;
}
.checkout-order-complete__content-block-header--email-signup {
    background-position: -5px -145px;
    width: 100%;
    height: 60px;
}
.checkout-order-complete__content-block-body {
		padding: 15px;
		font-size: 12px;
		color: #666666;
}
.checkout-order-complete__content-block-title {
		font-size: 24px;
}
.checkout-order-complete__content-block-my-account {
		font-size: 14px;
		margin: 25px 0 18px 0;
}
.checkout-order-complete__content-block-my-account--bold {
		font-weight: bold;
}
.checkout-order-complete__content-block-field {
		width: 80%;
		height: 40px;
		margin-bottom: 5px;
}
.checkout-order-complete__content-block-button {
		width: 169px;
		height: 40px;
		line-height: 36px;
		text-align: center;
		background-color: #009ddb;
		font-size: 18px;
		color: #ffffff;
		border: 0;
		cursor: pointer;
		border: 3px solid #009ddb;
		display: block;
}
.checkout-order-complete__content-block-button:hover, .checkout-order-complete__content-block-button:focus {
    color: #009DDB;
    background-color: white;
}
.checkout-order-complete__content-block-button--attach-bottom {
		position: absolute;
		bottom: 11px;
}

.checkout-order-complete-header__title {
		color: #004EBC;
    font-size: 36px;
}
.checkout-order-complete-header__subheader {
		font-size: 14px;
		color: #666666;
}
.checkout-order-complete-header__subheader--bold {
		font-weight: bold;
}

.checkout-order-complete ul {
		padding-left: 0;
		position: relative;
		margin-top: 4px;
		margin-bottom: 0;
}
.checkout-order-complete li {
		color: #666666;
		padding-top: 4px;
		padding-left: 10px;
		list-style-type: none;
		font-size: 14px;
}
.checkout-order-complete li:before {
		content: '· ';
		color: red;
		position: absolute;
		left: 0;
}

.order-confirmation-left-column {
    margin-left: 50px;
    padding: 30px 67px 0 15px;
    border-right: 2px solid #f3f3f3;	
}
.order-confirmation-right-column {
    margin: 0 15px 0 30px;
		padding: 0;
		position: absolute;
		right: 0;
}
.order-confirmation-right-column .shopping-cart-summary-block {
		max-width: 404px;
    min-width: 285px;
		right: 15px;
}
.order-confirmation-right-column .shopping-cart-summary-block .summary-block-border {
    border: 0;
}
.order-confirmation-right-column .shopping-cart-summary-block .summary-block-border .order-summary {
    font-size: 20px;
}
.order-confirmation-right-column .shopping-cart-summary-block {
		margin-top: 15px;
}

a.tru-link {
    color: #004ebc;
    cursor: pointer;
}
a.tru-link:hover, a.tru-link:focus {
    color: #ea7125 !important;
    text-decoration: underline;
}
.default-margin.default-margin--zero-right {
	margin-right: 0;
}
/** check classes below */

/* Start: order confirmation page */
/* for printing styles */
.print-button {
	background-color: #009DDB !important;
	color: #fff !important;
	font-size: 16px !important;
	border: 3px solid #009DDB !important;
	vertical-align: middle !important;
	padding: 4px 12px !important;
}

.print-button:hover {
	background-color: white !important;
	color: #009DDB !important;
}

@media print {
	
	body * {
		visibility: hidden !important;
	}
	* {
		overflow: visible !important;
	}
	body .checkout-review-product-block a:after{
        content: "";
    } 
	#orderConfirmationInclude {
	    margin: 0;
	}
	#orderConfirmationInclude .default-margin {
	    display: block !important;
	}
	.siteLogoForPrintPage.hide {
		display: block !important;
		padding: 0px !important;
	}
	#nongoodbye_order_confirmation{
		width: 100% !important;
		margin-top: 0;
	}
	#nongoodbye_order_confirmation, #nongoodbye_order_confirmation * {
		visibility: visible !important;
	}
	.checkout-order-complete hr {
	    display: none;
	}
	#truFooterSearchDex, .footer-grid{
		display: none;
	}
	#nongoodbye_order_confirmation .row.order-complete-section{
		display: none;
	}
	#nongoodbye_order_confirmation .order-complete-columns, #nongoodbye_order_confirmation .order-complete-columns * {
		display: none !important;
	}
	#nongoodbye_order_confirmation .confirmation-links{
		display: none !important;
	}
	#nongoodbye_order_confirmation .checkout-order-summary{
		right: 20px;
	}
	#nongoodbye_order_confirmation .checkout-order-complete {
		margin-bottom: 0 !important;
	}
	#sosCmsAddZone, .ad-zone-970-90 {
		display: none !important;
	} 
	#orderConfirmationPage > div {
		width: 68% !important;
	}
	#orderConfirmationPage .checkout-order-summary {
		width: 30% !important;
		float: left !important;
		left: 10px;
	} 
	#orderConfirmationPage #order-summary-block {
		width: 100% !important;
		position: static !important;
	}
	#fb-root{
		margin-left: 0px !important;
		margin-right: 50px !important;
	}
}


#printTemplate {
	display: none;
	padding-right: 19px;	
}

#printTemplate.active {
	height: auto;
	width: auto;
	position: fixed;
	top: 75px;
	max-height: 90vh;
	max-width: 80%;
	left: 10%;
	z-index: 9999;
	background: white;
	overflow: scroll;
}

/* modal css */
#printTemplate .print-overlay {
	height: 550px;
}

#printTemplate .modal-dialog-print {
	width: 900px;
	margin: 30px auto;
}

#printTemplate .clickable {
	float: right;
	margin: 5px 5px 0 0;
	padding: 5px 5px 0 0;
	cursor: pointer;
}

#printTemplate .tse-scrollable {
	width: 895px;
	height: 500px;
}

#printTemplate .tse-scroll-content {
	width: 900px;
	height: 550px;
}

/* #printTemplate .print-overlay {
			height: inherit !important;
	}
	
	#printTemplate .modal-dialog-print {
		width: 900px;
		margin: 30px auto;
	}
	
	#printTemplate .tse-scrollable {
		width: 895px;
			height: inherit !important;
	}
	
	#printTemplate .tse-scroll-content {
		width: 900px;
			height: inherit !important;
	}  */

/* End: Order confirmation page */

/* Start: UI issue fix for as per fabricator */
#orderConfirmationPage .shipment-header {
    font-size: 24px;
    color: #004EBC;
}
#nongoodbye_order_confirmation .product-information-description {
	font-size: 12px;
}
#nongoodbye_order_confirmation .product-information-description > div > span {
	padding: 0;
}
#orderConfirmationPage {
	padding: 0 15px;
}
#printTemplate .checkout-order-complete {
	margin-bottom: 0;
}
/* End: UI issue fix for as per fabricator */

#nongoodbye_order_confirmation .checkout-review-product-block.gift-wrapped .protection-plan .checkbox-group {
	margin-left: 25px;
}
.order-confirmation-page-container .facebook{
	background-image: none;
	background-position: 0px;
	height:16px;
	position: absolute;
}
.order-confirmation-page-container .facebook.fb_reset{
	/* float: right;
	margin-top: 15px;
	width: auto; */
}
.order-confirmation-page-container .facebook.fb_reset span{
	height: 19px !important;
}  
.checkout-review-items-free-pickup p span.free-store-pickup {
    font-size: 18px;
    color: #004ebc;
    padding: 0;
}
/* .membership-adds-up .bordered-column{
	height: 368px;
} */
/* issue no 74689 */
 .order-confirmation-page-container .facebook.fb_reset{margin-top: 14px;
    position: absolute;}

/*START: Fix for RM-208  */
#nongoodbye_order_confirmation  .shopping-cart-summary-block .summary-block-border .summary-block-padded-content > div span:last-child {
	float: right;
}
/*END: Fix for RM-208  */