/* Start: UI changes for Power review 4.0 */
	/* Start: Questions */
	#pr-reviewsnippet .pr-rating-stars div,
	#pr-reviewsnippet .pr-snippet-stars-reco-reco,
	#pr-reviewsnippet .pr-snippet-write-review-link {
		display: none;
	}
	#pr-reviewsnippet .pr-snippet-stars-container {
		float: right;
		margin-left: 10px;
		margin-top: 2px;
	}
	#pr-questionsdisp {
		border-bottom: 2px solid #f3f3f3;
		margin-bottom: 60px;
	}
	.pr-qa-display-question,
	#pr-questionsdisp {
		width: 100% !important;
	} 
	#pr-reviewsnippet .pr-rating-stars {
		width: 103.9px;
    	height: 16px;
		background: url('../images/Small Stars1x.png') no-repeat;
		visibility: hidden;
	}
	/* Start Header PDP fixes TUW-73929 - fixing font smoothing */
	#pr-reviewsnippet .pr-snippet-review-count, #pr-reviewsnippet .pr-snippet-write-review-link, #pr-reviewsnippet .pr-review-custom-link {
	    font-size: 14px;
	    
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    color: #004ebc;
		box-shadow: none !important;
		
		
	}
	/* End Header PDP fixes TUW-73929 - fixing font smoothing */
	#pr-reviewsnippet .pr-snippet-review-count {
		display: none;
	}
	#pr-reviewsnippet .pr-snippet-read-and-write {
		margin: 0;
		float: right;
		padding-top: 3px;
	}
	.product-body-section .product-review-row {
		margin-top: 14px;
	}
	.product-body-section .product-reviews-menu {
		font-size: 14px;
		
		
		
		list-style-type: none;
		color: #004ebc;
		margin: 0;
		padding: 0;
	}
	/* Start Header PDP fixes TUW-73929 - fixing margin right */
	.product-body-section .product-reviews-menu  li {
		float: left;
		margin-right: 60px;
	}
	/* End Header PDP fixes TUW-73929 - fixing margin right */
	
	.product-details-power-review {
		/* width: 961px; */
		width: 100%;
    	padding-right: 404px;
	}
	
/* 	.product-details-power-review .question-and-answers {
		width: 780px;
		margin: 0 68px 0 113px;
		width: 100%;
		padding: 0 68px;
	} */
	.question-and-answers-title {
		font-size: 28px;
		
		
		
		line-height: 1.21;
		letter-spacing: normal;
		text-align: center;
		color: #009ddb;
		margin-bottom: 30px;
	}
	#pr-questions {
		margin-bottom: 30px;
	}
	#pr-questions .pr-snippet-qa-metrics {
		display: none;
	}
	#pr-questions .pr-snippet-qa.pr-snippet-standard {
		width: 225px;
		height: 35px;
		border: solid 2px #009ddb;
		text-align: center;
	}
	#pr-questions .pr-snippet-qa {
		margin: 0 auto;
	}
	#pr-questions .pr-ask-question-link {
		width: 149px;
  		height: 19px;
		font-size: 14px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #009ddb;
		float: none;
	    display: table-cell;
	    vertical-align: middle;
	}
	.question-and-answers #pr-questions {
		display: none;
	}
	.question-and-answers .pr-question-custom-btn-container {
		margin: 0 auto;
		width: 225px;
		margin-bottom: 30px;
	}
	.question-and-answers .pr-question-custom-btn {
	    width: 225px;
	    height: 35px;
	    font-size: 14px;
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: center;
	    color: #009ddb;
	    border: solid 2px #009ddb;
	    vertical-align: middle;
	    display: table-cell;
		cursor: pointer;
	}
	.question-and-answers .pr-question-custom-btn:hover {
		text-decoration: underline;
	}
	#pr-questionsdisp .pr-qa-display-headline {
		margin-top: 0;
		/* width: 780px; */
		width: 100%;
		margin-bottom: 0;
	}
	#pr-questionsdisp .pr-qa-display-headline h1 {
		display: none;
	}
	#pr-questionsdisp .pr-qa-display-search {
		padding: 0 !important;
		/* width: 780px; */
		width: 100%;
		min-height: 48px;
		background-color: #f3f3f3;
		padding: 15px 14.2px 15px 10px !important;
	}
	#pr-questionsdisp .pr-qa-display-search label {
		display: none !important;
	}
	#pr-questionsdisp .pr-qa-display-searchbar {
		padding: 0;
		height: auto;
	}
	#pr-questionsdisp .pr-qa-display-search-no-results {
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
	} 
	#pr-questionsdisp .pr-qa-display-searchbar .pr-qa-display-searchbar-input {
		font-size: 18px;
		
		
		line-height: 18px;
		letter-spacing: normal;
		color: #757575;
		border: none;
		padding: 0 22px 0 0;
		background-color: #f3f3f3;
		height: auto !important;
		padding-right: 0;
		width: 90% !important;
	}
	#pr-questionsdisp .pr-qa-display-searchbar .pr-qa-display-searchbar-input:focus {
		border: none !important;
		box-shadow: none !important;
	}
	#pr-questionsdisp .pr-qa-display-search-no-results h2 {
		font-size: 25px;
		color: #666666;
	}
	#pr-questionsdisp .pr-qa-display-search .pr-qa-search-btn .pr-search-icon {
		display: none;
	}
	#pr-questionsdisp .pr-qa-search-btn {
		background: transparent;
		border: none;
		background: url(../images/magnify-glass-icon.png) no-repeat center;
		padding: 0 !important;
		width: 21.8px !important;
		height: 21px !important;
	}
	.questionSearchCloseIcon {
		background: url(../images/pr-question-search-clear.png) no-repeat center;
		background-size: 22px 21px;
		position: absolute;
		width: 22px !important;
		height: 22px !important;
		right: 36px;
		z-index: 20 !important;
		display: none;
		cursor: pointer;
	}
	#pr-questionsdisp .pr-qa-display-sort {
		padding: 0;
		margin: 22px 0 16px 0;
		border-bottom: none;
	}
	#pr-questionsdisp .pr-qa-display-sort .pr-qa-sort-group:after {
		border-style: none;
	}
	#pr-questionsdisp .pr-qa-display-sort .pr-qa-sort-group #pr-qa-sort-by {
		background: url(../images/pr-sort-icon-arrow.png) no-repeat 110px 13px;
	    width: 125px;
	    padding-right: 0;
	    text-transform: lowercase;
	}
	#pr-questionsdisp .pr-qa-display-sort [for="pr-qa-sort-by"] {
		font-size: 16px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		display: inline-block;
		margin-right: 0;
		text-transform: lowercase;
	}
	#pr-questionsdisp .pr-qa-display-sort [for="pr-qa-sort-by"]:after {
		content: ":";
	}
	#pr-questionsdisp .pr-qa-display-sort #pr-qa-sort-by {
		font-size: 16px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #004ebc;
		border: none;
		width: 100px;
	}
	#pr-questionsdisp .pr-qa-display-sort #pr-qa-sort-by optgroup {
		
	}
	#pr-questionsdisp .pr-qa-sort-headline {
		margin: 0;
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		text-transform: lowercase;
	}
	#pr-questionsdisp .pr-qa-display-question .pr-qa-display-item-icon {
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		background-color: #ffffff;
		padding-top: 3px !important;
	}
	#pr-questionsdisp .pr-qa-display-question .pr-qa-display-item-icon:after {
		content: ":";
	}
	#pr-questionsdisp .pr-qa-display-question .pr-qa-display-item-text {
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
	}
	.pr-qa-display-questionlist .pr-qa-display-item-details,
	.pr-qa-display-questionlist .pr-qa-display-item-details span,
	.pr-qa-display-questionlist .pr-qa-display-item-details time,
	.p-w-r .pr-qa-display .pr-subscript {
		font-size: 14px;
		
		
		font-stretch: normal !important;
		line-height: normal !important;
		letter-spacing: normal !important;
		color: #666666 !important;
		text-transform: lowercase;
	}
	.p-w-r .pr-qa-display .pr-subscript {
		bottom: inherit;
	}
	#pr-questionsdisp .pr-qa-display-answer {
		margin-left: 28px;
		font-size: 16px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
	}
	#pr-questionsdisp .pr-qa-display-answer-by-container .pr-qa-display-answer-text {
		padding-left: 5px;
	}
	#pr-questionsdisp .pr-qa-display-answer-by-container .pr-badging-icon {
		vertical-align: middle;
	}
	#pr-questionsdisp .pr-qa-display-answer-by-container .pr-answer-by-expert,
	#pr-questionsdisp .pr-qa-display-answer-by-container .pr-qa-display-answer-by {
		display: none;
	}
	#pr-questionsdisp .pr-qa-display-answer-details:before {
		content: "A:";
	} 
	
	#pr-questionsdisp .pr-qa-display-show-more-answers .pr-caret-icon,
	#pr-questionsdisp .pr-qa-display-answer-link-container .pr-cross-icon,
	#pr-questionsdisp .pr-qa-display-ask-question button.pr-btn-review {
		display: none;
	}
	#pr-questionsdisp .pr-qa-display-questionlist {
		border-left: none;
		margin-bottom: 23px;
	}
	#pr-questionsdisp .pr-qa-display-show-more-answers,
	#pr-questionsdisp .pr-qa-display-answer-link-container {
		margin-left: 28px;
	}
	#pr-questionsdisp .pr-qa-display-show-more-answers {
		margin-bottom: 5px;
	}
	#pr-questionsdisp .pr-qa-display-answer-link-container,
	#pr-questionsdisp .pr-qa-display-answer-link-container .pr-btn-answer {
		margin-bottom: 0;
	}
	#pr-questionsdisp .pr-qa-display-answer-by-container .pr-qa-display-answer-icon {
		border-top: 0;
		border-bottom: 0;
	}
	#pr-questionsdisp .pr-qa-display-show-more-answers .pr-qa-display-text,
	#pr-questionsdisp .pr-qa-display-answer-link-container .pr-qa-display-text {
		font-size: 16px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #004ebc;
		text-transform: lowercase;
		background-size: 0em;
	}
	#pr-questionsdisp .pr-qa-display-show-more-answers .pr-qa-display-text {
		line-height: 16px;
	}
	#pr-questionsdisp .pr-qa-display-show-more-answers .pr-qa-display-text:hover,
	#pr-questionsdisp .pr-qa-display-answer-link-container .pr-qa-display-text:hover {
		text-decoration: underline;
	}
	
	.p-w-r .pr-qa-display .pr-btn-show-more:focus,
	.p-w-r .pr-qa-display .pr-btn-answer:focus {
		box-shadow: none !important;
		outline: 0!important;
		text-decoration: none!important;
		background-size: 0em;
	} 
	#pr-questionsdisp .pr-qa-display-questionlist .pr-waqwaa {
		max-width: 620px !important;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form #answerText {
		width: 615px !important;
		height: 182px !important;
		background-color: #ffffff;
		border: solid 1px #d2d2d2;
		padding: 7px 11px !important;
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form .answerText-form-group.pr-has-error #answerText {
		border-color: #dd0000;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form #authorName-input,
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form #authorLocation-input {
		width: 615px !important;
		height: 35px !important;
		background-color: #ffffff;
		border: solid 1px #d2d2d2;
		padding: 7.5px 11px !important;
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form .pr-control-label span:first-child {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
		text-transform: lowercase;
	}
	#pr-questionsdisp .pr-qa-display-add-answer .answerText-form-group.pr-has-error .pr-control-label span:first-child {
		color: #dd0000;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form .pr-submit .pr-btn {
		width: 150px;
		height: 46px;
		background-color: #009ddb;
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		border: none;
		text-transform: lowercase;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-answer-form .pr-submit .pr-btn:hover {
		text-decoration: underline;
	}
	#pr-questionsdisp .pr-qa-display-search .pr-qa-display-clear-search-button {
		font-size: 14px;
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #009ddb;
		box-shadow: none !important;
	}
	#pr-questionsdisp .pr-qa-display-search .pr-qa-display-clear-search-button:hover {
		text-decoration: underline;
	}
	#pr-questionsdisp .p-w-r {
		margin: 0;
	}
	#pr-questionsdisp .p-w-r .pr-qa-display,
	#pr-questionsdisp .pr-qa-display-questionlist {
		padding: 0;
	}
	#pr-questionsdisp .pr-qa-display-question .pr-qa-display-item,
	#pr-questionsdisp .pr-qa-display-question .pr-qa-display-item-details {
		margin-left: 30px;
	}
	#pr-questionsdisp .pr-qa-display-question .pr-qa-display-item .pr-qa-display-item-text {
		margin-right: 30px;
	}
	.pr-qa-display .pr-qa-display-show-more-questions {
		width: 225px !important;
	    height: 46px;
	    background-color: #009ddb !important;
	    clear: both;
	    border: none !important;
	    margin: 0 auto;
		margin-bottom: 60px;
	}
	.p-w-r .pr-qa-display .pr-qa-display-show-more-questions {
		width: 225px !important;
	}
	#pr-questionsdisp .pr-qa-display-questionlist .pr-qa-display-answer .pr-helpful-voting,
	.product-body-section .product-reviews-menu .ask-a-question,
	.pr-qa-display .pr-qa-display-show-more-questions .pr-caret-icon,
	.pr-qa-display .pr-qa-display-btn-text abbr {
		display: none;
	}
	.pr-qa-display .pr-qa-display-btn-text span {
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff !important;
		text-transform: lowercase;
	}
	.pr-qa-display .pr-qa-display-btn-text span:hover {
		text-decoration: underline;
	}
	.pr-qa-display-btn-text span:after {
	    content: "questions";
	}
	/* *** Start: Ask a question Overlay *** */
	.pr-media-modal .modal__body {
	    padding: 30px !important;
	}
	.pr-media-modal .pr-header .pr-waqwaa-product-name,
	.pr-media-modal .pr-control-label span:first-child,
	.pr-media-modal .form-group .pr-textinput, .pr-media-modal .form-group .pr-textarea,
	.pr-media-modal .form-group.pr-waq-legal-text {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
	}
	.pr-media-modal .form-group.pr-waq-prequestion-message,
	.pr-media-modal #questionCategory .btn-group-radio-vertical {
		
		
		
		line-height: normal;
		letter-spacing: normal;
	}
	.pr-media-modal .pr-control-label span:first-child {
		text-transform: lowercase;
	}
	.pr-media-modal #authorEmail .pr-helper-text,
	.pr-media-modal .form-group.pr-waq-legal-text {
		text-transform: lowercase;
	    font-size: 14px;
	    
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    color: #757575;
	}
	.form-group.pr-waq-legal-text a {
		color: #003e96;
	}
	.pr-media-modal .p-w-r .pr-has-error .control-label span,
	.pr-media-modal .p-w-r .pr-has-error .pr-control-label span {
		color: #dd0000;
	}
	.pr-media-modal .form-group .pr-textinput {
		width: 670px;
		height: 35px;
		background-color: #ffffff;
		border: solid 1px #d2d2d2;
	}
	.pr-media-modal .form-group .pr-textarea {
		width: 670px;
		height: 182px;
		background-color: #ffffff;
		border: solid 1px #d2d2d2;
	}
	.pr-media-modal .form-group.pr-has-error .pr-textarea,
	.pr-media-modal .form-group.pr-has-error .pr-textinput {
		border-color: #dd0000;
	}
	.pr-media-modal #questionType .btn-toggle .pr-btn-default {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
	}
	.pr-media-modal #questionType .btn-toggle .pr-btn-default.active {
		color: #ffffff;
	}
	.pr-media-modal .pr-btn-review {
		width: 225px;
		height: 46px;
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		background-color: #009ddb;
		text-transform: lowercase;
		border: none;
	}
	.pr-media-modal .pr-btn-review:hover {
		background-color: #009ddb;
		color: #ffffff;
		text-decoration: underline;
	}
	.pr-media-modal .pr-question-form .form-group {
		margin-bottom: 0;
	}
	.pr-media-modal .form-group.pr-waq-legal-text {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.pr-media-modal h1#pr-waqwaa-header {
		display: block;
		font-size: 32px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #009ddb;
		text-transform: lowercase;
	}
	.pr-question-form .pr-waq-prequestion-message .prfieldwrap.margin_bottom_1 {
		font-size: 20px;
	}
	/* *** End: Ask a question Overlay *** */
	/* End: Questions */
	
	/* Start: reviews */
	/* *** Start: Write a review overlay *** */
	.pr-media-modal #pr-war-form .form-group,
	.pr-media-modal .pr-submit .pr-subscript {
		margin-bottom: 20px;
	}
	.pr-media-modal #pr-war-form .pr-label-control,
	.pr-media-modal #pr-war-form div.pr-btn-default {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
	}
	.pr-media-modal #pr-war-form .pr-label-control.checked,
	.pr-media-modal #pr-war-form div.pr-btn-default.active {
		color: #ffffff;
	}
	.pr-media-modal .pr-pros-form-group a[role="button"],
	.pr-media-modal .pr-cons-form-group a[role="button"],
	.pr-media-modal .pr-bestuses-form-group a[role="button"],
	.pr-media-modal .pr-describeyourself-form-group a[role="button"],
	.pr-bottomline-form-group .pr-btn-default,
	.pr-media-modal #pr-war-form .pr-helper-text,
	.pr-media-modal #pr-war-form .pr-btn-fileinput {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
	}
	.pr-clear-all-radios {
		
		
		
		line-height: normal;
		letter-spacing: normal;
	}
	.pr-media-modal .pr-header .pr-header-title {
		font-size: 32px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #009ddb;
		text-transform: lowercase;
	}
	.pr-media-modal .pr-header h5,
	.pr-media-modal .pr-header p {
		
		
		
		line-height: normal;
		letter-spacing: normal;
	}
	/* *** End: Write a review overlay *** */
	.product-details-power-review .read-and-write-review {
		/* width: 790px;
		margin: 0 68px 0 113px; */
		width: 100%;
		padding: 0 68px;
		width: 780px;
		box-sizing: content-box;
	}
	.read-and-write-review .read-and-write-review-title {
		text-align: center;
		margin-bottom: 40px;
		font-size: 28px;
		
		
		line-height: 1.21;
		letter-spacing: normal;
		text-align: center;
		color: #009ddb;
	}
	#pr-reviewdisplay #pr-image-display,
	#pr-reviewdisplay #pr-review-display .pr-rd-no-reviews,
	#pr-reviewdisplay .pr-review-snapshot-block-container .pr-review-snapshot-block-pros,
	#pr-reviewdisplay .pr-review-snapshot-block-container .pr-review-snapshot-block-cons {
		display: none;
	}
	#pr-review-display .pr-rd-no-reviews {
		padding: 0 !important;
	}
	#pr-review-snapshot {
		position: relative;
		margin-bottom: 135px;
	}
	#pr-reviewdisplay #pr-review-snapshot .pr-review-snapshot-header-intro { 
		display: none;
	}
	#pr-reviewdisplay .pr-snippet-write-review-link {
		position: absolute;
	    bottom: -65px;
	    font-size: 14px;
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: center;
	    color: #009ddb;
	    width: 225px;
	    height: 35px;
	    border: solid 2px #009ddb;
	    padding-top: 7px;
		text-transform: lowercase;
		left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	}
	#pr-reviewdisplay .pr-review-custom-btn-container {
		margin: 30px auto 60px auto;
		width: 225px;
	}
	#pr-reviewdisplay .pr-review-custom-btn {
	    width: 225px;
	    height: 35px;
	    font-size: 14px;
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: center;
	    color: #009ddb;
	    border: solid 2px #009ddb;
	    vertical-align: middle;
	    display: table-cell;
		cursor: pointer;
	}
	#pr-reviewdisplay .pr-review-custom-btn:hover {
	    text-decoration: underline;
	}
	#pr-review-display .pr-rd-no-reviews {
		width: 225px;
	    height: 35px;
	    border: solid 2px #009ddb;
		margin: 0 auto;
		padding: 0;
	}
	#pr-review-display .pr-rd-no-reviews a {
	    font-size: 14px;
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: center;
	    color: #009ddb;
		text-transform: lowercase;
		display: block;
		line-height: 32px;
	}
	#pr-reviewsnippet .pr-write-review-custom-link {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #004ebc;
	}
	#pr-reviewsnippet .pr-snippet-write-review-link {
		text-transform: lowercase;
	}
	.pr-review-snapshot-header .pr-snippet-stars-reco-reco {
		position: absolute;
    	top: 113px;
	}
	#pr-reviewdisplay #pr-review-snapshot .pr-snippet-stars-reco-stars {
		float: none;
    	text-align: center;
	}
	#pr-reviewdisplay #pr-review-snapshot .pr-snippet-stars-reco-stars .pr-snippet-read-and-write {
		display: block;
	}
	#pr-reviewdisplay #pr-review-snapshot .pr-snippet-stars-reco-stars .pr-snippet-review-count{
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #666666;
	}
	#pr-reviewdisplay .p-w-r {
		margin: 0;
	}
	#pr-review-snapshot .pr-snippet-stars-container {
		margin-bottom: 8px;
	}
	#pr-review-snapshot .pr-snippet-stars-container .pr-rating-stars {
		width: 167px;
		height: 24px;
		background: url('../images/Large Stars1x.png') no-repeat;
		visibility: hidden;
	}
	#pr-review-snapshot .pr-snippet-stars-container .pr-rating-stars div,
	#pr-review-snapshot .pr-review-snapshot-msq-container.pr-review-snapshot-msqs,
	#pr-review-snapshot .pr-review-snapshot-block-container .pr-review-snapshot-block-histogram .pr-review-snapshot-block-headline {
		display: none;
	}
	#pr-review-snapshot .pr-review-snapshot-block-container {
		height: 188px;
		margin-bottom: 0;
	}
	#pr-review-snapshot .pr-review-snapshot-block-container .pr-review-snapshot-block-histogram {
	    position: absolute;
		right: 0;
		border: none;
		margin-right: 83px;
		min-height: 188px;
		margin-top: 25px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-img {
		border: none;
	}
	#pr-review-snapshot .pr-review-snapshot-block-container {
		background-color: #f3f3f3;
	    border: 1px solid #ffffff;
	    border-color: #ffffff;
	    border-bottom: 0;
	}
	#pr-review-snapshot .pr-snippet-stars-reco-reco .pr-checkbox-icon {
		display: none !important;
	}
	#pr-review-snapshot .pr-snippet-stars-reco-reco .pr-reco.pr-reco-green {
		width: 129px;
		height: 62px;
	    margin-bottom: 6px;
	}
	#pr-review-snapshot .pr-snippet-stars-reco-reco .pr-reco-value {
		font-size: 60px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ea7125;
		margin-left: 133px;
	}
	#pr-review-snapshot .pr-snippet-stars-reco-reco .pr-reco-to-friend-message {
		width: 181px;
		height: 38px;
		font-size: 14px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #666666;
		display: block !important;
		max-width: 181px;
		margin-left: 107px;
	}
	#pr-review-snapshot .pr-histogram-list {
		margin-top: 0;
	}
	#pr-review-snapshot .pr-histogram-list li:first-child p,
	#pr-review-snapshot .pr-histogram-list li:first-child div {
		padding-top: 0;
	}
	#pr-review-snapshot .pr-histogram-list .pr-histogram-label,
	#pr-review-snapshot .pr-histogram-list .pr-histogram-count {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		text-align: left;
	}
	#pr-review-snapshot .pr-histogram-list .pr-histogram-count:after {
		content: ")";
	}
	#pr-review-snapshot .pr-histogram-list .pr-histogram-count:before {
		content: "(";
	}
	#pr-review-snapshot .pr-histogram-list .pr-ratings-histogram-bar {
		height: 16px;
		background-color: #ffffff;
	}
	#pr-review-snapshot .pr-histogram-list .pr-ratings-histogram-barValue {
		height: 16px;
  		background-color: #ea7125;
	}
	#pr-review-snapshot .pr-histogram-list li.pr-histogram-stars {
		height: 26px;
		margin-bottom: 12px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff {
		border-color: #ffffff;
		background-color: #f3f3f3;
		padding: 28px 30px 31px 30px;
		margin-bottom: 0;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-positive,
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-negative {
		width: 44.29%;
		height: 211px;
		background-color: #ffffff;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		padding: 20px 30px 20px 20px;
		position: relative;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-positive > div,
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-negative > div {
		position: absolute;
    	top: 99px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-rating-stars {
		width: 103.9px;
	    height: 16px;
	    background: url('../images/Small Stars1x.png') no-repeat;
		visibility: hidden;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-rating-stars div {
		display: none;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-positive {
		margin-right: 82px; 
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-img .pr-faceoff-img-txt {
		width: 45px;
		height: 45px;
		background-color: #009ddb;
		border-radius: 50%;
		font-size: 16px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		padding-top: 10px;
    	padding-bottom: 16px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-label {
		width: 100%;
		height: 24px;
		font-size: 20px;
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #009ddb;
		margin-bottom: 21px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-title {
		width: 90%;
		height: 25px;
		font-size: 15px;
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		position: absolute;
    	top: 64px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-review {
		width: 100%;
  		height: 57px;
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		overflow: hidden;
		margin-bottom: 0;
		margin-top: 90px;
	}
	#pr-review-snapshot .pr-review-snapshot-faceoff .pr-faceoff-readcomplete {
		position: relative;
		margin-top: 15px;
		display: none;
	}
	#pr-reviewdisplay .pr-write-review-custom-btn-container {
		width: 225px;
		margin: 30px auto 60px auto;
	}
	#pr-reviewdisplay .pr-write-review-custom-btn-container .pr-write-review-custom-btn {
	    font-size: 14px;
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: center;
	    color: #009ddb;
	    width: 225px;
	    height: 35px;
	    border: solid 2px #009ddb;
	    vertical-align: middle;
	    display: table-cell;
	    cursor: pointer;
	}
	#pr-review-display .pr-modal-container .pr-modal-visible {
		width: 730px;
		height: 530px;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset legend.pr-flag-review-label,
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset legend.pr-flag-review-label b {
		font-size: 32px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #009ddb;
		text-transform: lowercase;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset legend.pr-flag-review-label abbr {
		display: none;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset label.pr-flag-review-label abbr {
		color: #ea7125;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset label.pr-flag-review-label {
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #757575;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset .pr-flagging-radio label span {
		font-size: 16px;
		
		
		
		line-height: 0.88;
		letter-spacing: -0.1px;
		color: #666666;
	}
	#pr-review-display .pr-modal-container #pr-email-field {
		width: 670px;
		height: 35px;
		background-color: #ffffff;
		border: solid 1px #d2d2d2;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-fieldset textarea {
		width: 670px;
		height: 182px;
		background-color: #ffffff;
		border: solid 1px #d2d2d2;
	}
	 #pr-review-display .pr-modal-container .pr-flag-review-btn-submit {
		width: 225px !important;
		height: 46px;
		background-color: #009ddb;
		font-size: 18px;
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #ffffff;
		text-transform: lowercase;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-btn-cancel {
		width: 225px !important;
	    height: 46px;
	    background-color: #ffffff;
	    font-size: 18px;
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: center;
	    color: #009ddb;
	    border: solid 2px #009ddb;
		text-transform: lowercase;
	}
	#pr-review-display .pr-modal-container .pr-flag-review-btn-submit:hover,
	#pr-review-display .pr-modal-container .pr-flag-review-btn-cancel:hover {
		text-decoration: underline;
	}
	#pr-review-display .pr-modal-container fieldset.pr-flag-review-fieldset .pr-flag-review-input {
		float: left !important;
		margin-right: 10px;
	}
	#pr-review-display .pr-modal-container .pr-flagging-radio {
		margin-bottom: 10px;
	}
	#pr-review-display fieldset.pr-flag-review-fieldset radiogroup {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		display: inline-block;
	}
	#pr-review-display fieldset.pr-flag-review-fieldset radiogroup .pr-flagging-form-group {
		width: 100% !important;
	} 
	#pr-review-display #pr-rd-main-header {
		background-color: #ffffff;
		padding: 0;
		margin-bottom: 40px;
	}
	#pr-review-display .pr-rd-review-total {
		font-size: 24px;
		
		
	 	line-height: normal;
		letter-spacing: normal;
		color: #009ddb;
		text-transform: lowercase;
	}
	#pr-review-display .pr-rd-sort-group,
	#pr-review-display label[for="pr-rd-sort-by"] {
	  font-size: 16px;
	  
	  
	  
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: right;
	  color: #666666;
	  text-transform: lowercase;
	}
	#pr-review-display #pr-rd-sort-by {
	 	color: #004ebc;
	 	border: none;
	 	padding-right: 0;
	 	background: url(../images/pr-sort-icon-arrow.png) no-repeat 136px 14px;
	 	text-transform: lowercase;
	    font-size: 16px;
	    
	    
	    
	    line-height: normal;
	    letter-spacing: normal;
	    text-align: right;
	}
	#pr-review-display #pr-rd-sort-by optgroup {
		
	}
	#pr-review-display .pr-rd-header.pr-rd-content-block {
		width: 100%;
	}
	#pr-review-display .pr-rd-star-rating {
		float: right;
	}
	#pr-review-display .pr-rd-review-headline {
	  margin: 0;
	  font-size: 18px;
	  
	  
	  line-height: normal;
	  letter-spacing: normal;
	  color: #666666;
	}
	#pr-review-display .pr-review {
		margin-bottom: 21px;
	}
	#pr-review-display .pr-rd-description-text {
	  font-size: 16px;
	  
	  
	  
	  line-height: normal;
	  letter-spacing: normal;
	  color: #666666;
	}
	#pr-review-display .pr-rd-bottomline,
	#pr-review-display .pr-rd-helpful-action,
	#pr-review-display .pr-rd-flag-review-container {
	  font-size: 14px;
	  
	  
	  
	  line-height: 1.57;
	  letter-spacing: normal;
	  color: #666666;
	}
	#pr-review-display .pr-rd-footer .pr-rd-helpful-action {
		margin-right: 0;
	}
	#pr-reviewdisplay .pr-rd-footer .pr-rd-helpful-text {
		vertical-align: bottom;
		margin-right: 5px;
	}
	#pr-review-display .pr-rd-flag-review-container {
		color: #004ebc;
		text-transform: lowercase;
		vertical-align: bottom;
	}
	#pr-review-display .pr-rd-bottomline span:last-child {
		
	}
	#pr-review-display .pr-rd-flag-review-container a {
		
		color: #004ebc;
		background-size: 0em;
	}
	#pr-review-display .pr-rd-flag-review-container,
	#pr-review-display .pr-rd-flag-review-container a:focus {
		outline: none !important;
		box-shadow: none !important;
		background-size: 0em;
	}
	#pr-review-display .pr-rd-bottomline {
		margin-bottom: 0;
	}
	#pr-review-display .pr-accordion-btn,
	#pr-review-display .pr-rd-side-content-block.pr-rd-right .pr-rd-author-submission-date .pr-rd-bold,
	#pr-review-display .pr-rd-side-content-block.pr-rd-right .pr-rd-author-location {
		display: none;
	}
	#pr-review-display .pr-helpful-btn.pr-helpful-yes,
	#pr-review-display .pr-helpful-btn.pr-helpful-no {
		border: none;
		color: #004ebc;
		padding: 0;
		margin-right: 5px;
		
		background-color: #ffffff;
	}
	#pr-review-display .pr-helpful-btn.pr-helpful-yes.pr-helpful-active:before,
	#pr-review-display .pr-helpful-btn.pr-helpful-no.pr-helpful-active:before,
	#pr-review-display .pr-helpful-btn.pr-helpful-yes:hover::before,
	#pr-review-display .pr-helpful-btn.pr-helpful-no:hover::before  {
		background-color: #0B7BC1;
		color: #ffffff;
	}
	#pr-review-display .pr-helpful-btn.pr-helpful-yes:after,
	#pr-review-display .pr-helpful-btn.pr-helpful-no:after {
		content: " \00B7";
	}
	#pr-review-display .pr-helpful-btn.pr-helpful-yes:before {
		content: "yes";
	}
	#pr-review-display .pr-helpful-btn.pr-helpful-no:before {
		content: "no";
	}
	#pr-review-display .pr-rd-helpful-action .pr-helpful-count,
	#pr-review-display .pr-rd-helpful-action .pr-thumbs-icon {
		display: none;
	}
	#pr-review-display .pr-rd-description.pr-rd-content-block {
		position: relative;
		width: 100%;
	}
	#pr-review-display .pr-rd-header.pr-rd-content-block {
		margin-bottom: 27px;
	}
	#pr-review-display .pr-rd-side-content-block.pr-rd-right {
	    width: 100%;
	    right: 0;
    	padding: 0;
	}
	#pr-review-display .pr-rd-side-content-block.pr-rd-right .pr-rd-author-submission-date {
		position: absolute;
	    right: 0;
	    top: -23px;
		font-size: 12px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		text-align: right;
		color: #666666;
	}
	#pr-review-display .pr-rd-side-content-block.pr-rd-right .pr-rd-author-nickname {
		position: absolute;
    	top: -24px;
		font-size: 14px;
		
		
		
		line-height: normal;
		letter-spacing: normal;
		color: #666666;
		width: 340px;
    	overflow: hidden;
	    height: 19px;
	}
	#pr-review-display .pr-rd-side-content-block.pr-rd-right .pr-rd-reviewer-type {
	  font-size: 14px;
	  
	  
	  
	  line-height: normal;
	  letter-spacing: normal;
	  color: #666666;
	  position: absolute;
	  top: -24px;
	  left: 340px;
	}
	aside.pr-rd-side-content-block.pr-rd-right div:last-child {
		display: none;
	}
	#pr-review-display .pr-rd-star-rating .pr-rating-stars div:last-child {
		margin-right: 0;
	}
	#pr-review-display .pr-snippet-stars.pr-snippet-stars-png .pr-rating-stars {
		/* width: 103.9px; */
		width:108px;
    	height: 16px;
		background: url('../images/Small Stars1x.png') no-repeat;
		visibility: hidden;
	}
	#pr-review-display .pr-snippet-stars.pr-snippet-stars-png .pr-rating-stars div {
		display: none;
	}
	#pr-reviewdisplay .pr-review .pr-rd-author-nickname .pr-rd-bold {
		text-transform: lowercase;
	}
	#pr-reviewdisplay .pr-rd-main-footer {
		border: none;
	}
	.product-details-power-review #pr-reviewdisplay {
		border-bottom: 2px solid #f3f3f3;
		padding-bottom: 60px;
		margin-bottom: 60px;
	}
	/* End: reviews */
/* End: UI changes for Power review 4.0 */