p.pr-reset {
	padding: 0;
	margin: 0;
}

.pr-float-left {
	float: left;
}

.pr-attribute-collapse {
	display: none;
}

.pr-review-engine {
	font-size: inherit;
	
	text-align: left;
}

.pr-review-engine-screened {
	height: 400px;
	position: relative;
	overflow: hidden;
}

.pr-review-engine-screened .pr-review-sort-box select {
	display: none;
}

.pr-review-engine-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10001;
	background: #FFF url("images/pr_loading.gif") no-repeat scroll center
		center;
}

.pr-snapshot-head {
	background-image: url(images/bg_snapshot_header.gif);
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #999;
	padding: .5em .5em 0 .5em;
	background-repeat: repeat-x;
}

.pr-snapshot-head p {
	line-height: 1.88em;
}

.pr-snapshot-head-wrapper {
	padding: .2em .8em;
	color: #333;
}

.pr-snapshot-change-locale-wrapper {
	padding: .2em .8em;
	margin-right: 1em;
	font-size: 85%;
	float: right;
}

.pr-snapshot-title {
	display: inline;
	padding: 0;
	margin: 0;
	font-size: 114%;
	
}

.pr-snapshot-cobrand {
	display: inline;
	margin: 0 0 0 .3em;
	padding: 0;
	font-size: 85%;
	margin-right: 1em;
}

.pr-required {
	color: red;
}

.pr-emphasis {
	
}

.prImageSnippetImage {
	border: 1px solid #CCC;
	float: left;
	height: 38px;
	margin-right: 1px;
	overflow: hidden;
	width: 38px;
}

.prImageSnippet div.prImageSnippetImage a img.prImageSnippetImageLandscape
	{
	height: 38px;
}

.prImageSnippet div.prImageSnippetImage a img {
	border: 0 none;
}

.pr-snapshot-addreviews-wrapper-bot {
	float: right;
	margin-top: 1em;
	display: none;
}

a.pr-btn-slide {
	background: transparent url(images/bg_button_grey_r.gif) no-repeat
		scroll top right;
	color: #FFF;
	display: block;
	float: left;
	font-size: 85%;
	padding-right: 4px;
	text-decoration: none;
}

a.pr-btn-slide span {
	background: transparent url(images/bg_button_grey_l.gif) no-repeat;
	display: block;
	padding: 4px 5px 5px 8px;
	color: #00E;
}

a.pr-btn-slide p {
	background: transparent url(images/icon_plus.gif) no-repeat left center;
	display: inline;
	margin: 0;
	padding: 1px 0 1px 18px;
	height: 14px;
	line-height: 14px;
}

.pr-snapshot-body {
	border-width: 0 1px;
	border-style: solid;
	border-color: #999;
	background-color: #ccc;
	padding: 0 .5em .5em;
	font-size: 100%;
}

.pr-snapshot-body-wrapper {
	zoom: 1;
	border: 1px solid #999;
	padding: .5em;
	background-color: #fff;
}

.pr-snapshot-product-name {
	display: none;
}

.pr-snapshot-rating-wrapper {
	padding: 0 .2em;
}

.pr-snapshot-rating {
	line-height: 1.25em;
}

.pr-snapshot-rating .pr-stars,.pr-review-faceoff .pr-stars,.pr-modal-container .pr-stars,.pr-modal-container .pr-review-faceoff-review-content .pr-stars
	{
	float: left;
	height: 20px;
	line-height: 20px;
	width: 112px;
	margin: 0 .5em 0 0;
	background-image: url(images/stars.gif);
	*position: static;
}

.pr-snapshot-rating .pr-rating {
	float: left;
	margin-right: .3em;
	height: 20px;
	line-height: 20px;
}

.pr-snapshot-rating .pr-rating-popout {
	float: left;
	width: 11px;
	height: 11px;
	background: url(images/icon_popout.gif) no-repeat 0 0;
	margin: 0 .1em;
}

.pr-snapshot-average-based-on-text {
	vertical-align: middle;
	padding: 0;
	margin: 0;
	line-height: 20px;
	float: left;
}

.pr-snapshot-consensus {
	clear: left;
	display: block;
	float: left;
	margin-bottom: 1em;
	margin-top: .5em;
}

.pr-snapshot-consensus-value {
	display: inline;
	vertical-align: middle;
	border: 1px solid #739E37;
	font-size: 92%;
	background: #8CC63E url(images/grad_green_40.gif);
	background-repeat: repeat-x;
	padding: .1em .3em;
	margin-right: .3em;
	color: #fff;
	
}

.pr-snapshot-consensus-text {
	display: inline;
}

.pr-snapshot-body-wrapper .pr-review-points {
	margin-top: 1em;
}

.pr-snapshot-express-referral {
	font-size: 85%;
}

.pr-review-points-attr-wrapper {
	position: static;
	clear: both;
	width: 100% !important;
}

.pr-review-points-attr-wrapper .pr-attribute-group {
	width: 32%;
	float: left;
	margin-right: 1%;
	overflow: hidden;
	border: 1px solid #ccc;
}

.pr-rounded {
	-moz-border-radius-topleft: .2em;
	-moz-border-radius-topright: .2em;
	-moz-border-radius-bottomleft: .2em;
	-moz-border-radius-bottomright: .2em;
	/* -webkit-border-top-left-radius: .2em;
	-webkit-border-top-right-radius: .2em;
	-webkit-border-bottom-left-radius: .2em;
	-webkit-border-bottom-right-radius: .2em; */
	border-top-right-radius: .2em;
	border-top-left-radius: .2em;
	border-bottom-right-radius: .2em;
	border-bottom-left-radius: .2em;
}

* html .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group
	{
	width: 31%;
}

.pr-review-points-attr-wrapper .pr-last {
	margin-right: 0;
}

.pr-attribute-label-pros {
	color: #696;
}

.pr-attribute-label-cons {
	color: #c33;
}

.pr-attribute-label-bestuses {
	color: #333;
}

.pr-attribute-key p {
	background-color: #ccc;
	display: block;
	
	padding: .4em .4em .3em;
	margin: 0;
	text-transform: uppercase;
	text-align: left;
}

.pr-attribute-value {
	padding: .4em;
}

.pr-attribute-value-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pr-snapshot-attribute-value-list {
	height: 6.6em;
}

.pr-attribute-value-list li {
	line-height: 1.4em;
	font-size: 92%;
}

.pr-snapshot-body-wrapper .pr-other-attributes {
	padding: .7em .2em 0;
}

.pr-other-attributes {
	padding: 0 .2em;
}

.pr-other-attributes ul,.pr-other-attributes-histogram ul,.pr-other-attributes-subratings ul
	{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 92%;
}

ul.pr-other-attributes-list {
	position: static;
}

.pr-other-attributes-list li {
	margin: .2em 0;
}

.pr-other-attributes-list li.pr-other-attribute-label {
	float: left;
	width: 31.25%;
	margin-right: 2%;
	clear: left;
	text-transform: uppercase;
	
	padding: 0 0 0 .7em;
	background-image: url(images/icon_grid_bullet.gif);
	background-repeat: no-repeat;
	background-position: left center;
}

.pr-other-attributes-list li.pr-other-attribute-value {
	float: left;
	width: 60%;
	position: static;
}

.pr-snapshot-footer {
	padding: .7em .2em 0;
}

.pr-snapshot-write-review {
	float: left;
	background-image: url(images/icon_grid_arrow.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: .7em;
	margin: 0;
}

.pr-snapshot-write-review-social-loyalty {
	float: left;
	border-left: 1px solid #CBCBCB;
	padding-left: 1em;
	margin-left: 1em;
	font-size: 87%;
	margin-top: 1pt;
}

.pr-review-content-header {
	padding: .5em .5em .5em 1.3em;
	margin: 0;
	border-width: 0 1px;
	border-color: #999;
	border-style: solid;
	background-color: #ccc;
}

.pr-review-content-header-label {
	text-transforum: uppercase;
	
	font-size: 14px;
	display: inline;
}

.pr-filters {
	display: none;
}

.pr-attribute-value-list-empty {
	text-align: center;
	line-height: 75px;
}

.pr-product-follow-link-container {
	display: inline;
	position: relative;
}

.pr-product-follow-link-container.pr-no-reviews {
	display: block;
}

.pr-product-follow-link-container a.pr-product-follow-link {
	padding: 0 0 0 15px;
	background-repeat: no-repeat;
	background-position: 0 1px;
	margin: 0 0 0 5px;
	position: relative;
}

.pr-product-follow-link-container a.pr-product-follow-fb {
	background-image: url(images/fb_logo_12x12.png);
}

.pr-footer-privacy-policy-container a.pr-footer-privacy-policy-link {
	background-repeat: no-repeat;
	background-position: 0 1px;
	position: relative;
}

.pr-review-sort {
	border-width: 0 1px;
	border-color: #999;
	border-style: solid;
	background-color: #ccc;
	text-align: right;
}

.pr-review-sort-wrapper {
	padding: .5em .5em .5em 1.3em;
}

.pr-review-count {
	float: left;
	margin: 0;
	vertical-align: bottom;
	
	line-height: 1.4em;
}

.pr-review-sort-box {
	float: right;
}

.pr-review-sort-box p {
	display: inline;
	margin: 0 .3em 0 0;
	padding: 0;
	vertical-align: text-top;
	line-height: 1.4em;
}

.pr-contents {
	border-width: 0 1px 1px;
	border-color: #999;
	border-style: solid;
	background-color: #ccc;
	padding: 0 .5em .5em;
}

.pr-contents-wrapper {
	background-color: #fff;
	border: 1px solid #999;
	padding: .5em .7em 1em .7em;
}

* html .pr-contents-wrapper {
	width: auto;
}

.pr-modal-container .pr-contents-wrapper {
	height: 340px;
	overflow: auto;
}

.pr-pagination-top {
	text-align: right;
	padding: .5em 0 .7em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.pr-pagination-bottom {
	text-align: right;
}

.pr-pagination-top p,.pr-pagination-bottom p {
	padding: 0;
	margin: 0;
}

.pr-pagination-bottom p.pr-product-follow-link-container {
	margin: 0 0 0 5px;
	padding: 0 0 0 15px;
}

.pr-page-count {
	float: left;
}

.pr-nav-back-to-top {
	float: left;
}

.pr-nav-back-to-top a {;
	margin-left: .3em;
}

.pr-page-count-wrapper {
	float: left;
	width: 40%;
}

.pr-fb-follow-wrapper {
	float: left;
	text-align: center;
	width: 40%;
}

.pr-footer-privacy-policy-wrapper {
	float: left;
	text-align: center;
	width: 40%;
}

.pr-fb-follow-thankyou-wrapper {
	margin: 15px;
}

.pr-fb-follow-thankyou-label span {
	display: block;
	font-size: 14px;
	padding-bottom: 10px;
}

.pr-page-nav-wrapper {
	float: right;
	width: 20%;
	text-align: right;
}

.pr-review-most-helpful p {
	padding: 0;
	margin: 0;
	font-size: 85%;
}

.pr-review-most-helpful p span {
	
	font-size: 85%;
}

.pr-review-rating-wrapper {
	position: relative;
	*position: static;
}

* html .pr-review-rating-wrapper {
	position: static;
}

.pr-review-rating-wrapper,.pr-review-main-wrapper {
	float: right;
	width: 65%;
}

.pr-review-rating {
	margin-bottom: 1em;
}

.pr-review-rating-headline {
	
	line-height: 16px;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

.pr-review-rating .pr-stars {
	float: left;
	*position: static;
}

.pr-review-rating .pr-rating {
	float: left;
	margin-right: .3em;
	font-size: 85%;
	height: 15px;
	line-height: 15px;
}

.pr-review-author-info-wrapper {
	margin: 0 0 .7em 0;
}

.pr-review-author-info-wrapper img {
	border: 0;
	vertical-align: top;
	margin-right: .3em;
}

.pr-review-author {
	font-size: 92%;
	float: left;
	width: 33%;
	margin-bottom: 1em;
}

.pr-review-author-profile-link {
	text-decoration: underline;
}

.pr-review-author-profile-link span {
	display: none;
}

.pr-review-author-date {
	padding: .2em .6em;
	border: 1px solid #999;
	background: url(images/grad_grey_129.gif) repeat-x bottom left;
	font-size: smaller;
	text-transform: uppercase;
	text-align: center;
	float: right;
	margin: 0 0 0 1em;
}

.pr-review-author-date p {
	padding: 0;
	margin: 0;
	display: block;
}

.pr-review-author-date p.pr-date-day {
	
}

.pr-review-author-verified-buyer-wrapper {
	margin-bottom: 1em;
}

.pr-review-most-helpful {
	margin-bottom: .5em;
}

.pr-review-author-affinity-wrapper {
	margin: .7em 0;
}

.pr-review-author-badge-wrapper {
	clear: both;
}

.pr-review-author-badge-wrapper img,.pr-review-author-badge-wrapper a {
	border: 0;
	text-decoration: none;
}

* html .pr-review-author {
	width: 30%;
}

.pr-review-author p {
	margin: 0;
	padding: 0 0 .3em;
}

.pr-review-author p span {
	
}

.pr-review-wrap {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	margin: 1em 0;
}

.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper {
	padding: 0;
}

.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group
	{
	border: 0;
}

.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group .pr-attribute-key p
	{
	background-color: #fff;
	padding: 0;
	margin: .5em .5em 0 0;
}

.pr-review-wrap .pr-review-points .pr-review-points-attr-wrapper .pr-attribute-group .pr-attribute-value
	{
	padding: 0;
	margin-top: .3em;
}

.pr-review-text {
	margin: 1em 0;
}

.pr-review-text p {
	padding: 0;
	margin: .7em 0 0;
}

.pr-review-text .pr-comments-header {
	
	font-size: 92%;
}

.pr-review-bottom-line-wrapper span {
	
}

.pr-review-bottom-line-wrapper .pr-review-bottom-line {
	text-transform: uppercase;
	color: #f90;
}

.pr-customer-media-wrapper {
	float: left;
	width: 215px;
	margin: .7em 0 0 0;
}

.pr-customer-media {
	margin: 1em 0;
}

.pr-customer-media-user {
	font-size: 77%;
	display: inline;
}

.pr-customer-media-user span {
	
}

.pr-pic {
	background: #fff url(images/shade_light.gif) repeat-x scroll left bottom;
	border: 1px solid #ddd;
	float: left;
	left: 0;
	padding: 10px;
}

.pr-pic .pr-caption {
	color: #333;
	font-size: 85%;
	margin: 0 0 5px;
}

.pr-pic-content {
	background: transparent url(images/shadow.gif) no-repeat scroll right
		bottom;
	float: left;
}

.pr-pic-content .wrap1 {
	background: transparent url(images/shadows/corner_bl.gif) no-repeat
		scroll -15px 100%;
}

.pr-pic-content .wrap2 {
	background: transparent url(images/shadows/corner_tr.gif) no-repeat
		scroll 100% -15px;
	padding: 0 7px 7px 0;
}

.pr-pic-content .wrap2 img {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #bbb;
	display: block;
	padding: 4px;
}

.pr-pic .pr-pic-tags {
	color: #777;
	float: left;
	font-size: 66%;
	line-height: 13px;
	margin: 0;
	padding-bottom: .7em;
	width: 70px;
}

.pr-review-most-helpful-bottom {
	display: none;
	font-size: 85%;
	padding: .2em 0;
}

.pr-review-most-helpful-bottom p {
	margin: 0;
	padding: 0;
}

.pr-review-most-helpful-bottom p span {
	
	font-size: 85%;
}

.pr-review-tools {
	font-size: 85%;
}

.pr-review-tools p {
	display: inline;
	
}

.pr-review-tools p.pr-review-helpful-response {
	display: block;
	
	padding-top: .3em;
}

.pr-report-issue-header {
	padding: .3em 0;
}

.pr-error {
	display: none;
	padding-left: 5px;
	padding-bottom: 5px;
	background-color: #efefef;
	border: 1px solid #bbb;
	margin-top: 1em;
	width: 30em;
}

.pr-error-email {
	display: block;
}

.pr-error-comments {
	display: block;
}

.pr-error-msg {
	color: red;
}

.pr-merchant-comments {
	border: 1px solid #ccc;
	padding: .5em;
	margin: 2em 1em;
	background-color: #efefef;
}

.pr-merchant-comments p {
	margin: 0;
	padding: 0;
	font-size: 85%;
}

.pr-merchant-comments p span {
	
	
}

.pr-stars {
	background-repeat: no-repeat;
	height: 1.25em;
	line-height: 1.25em;
	margin: 0 .25em 0 0;
	padding: 0;
	position: relative;
	width: 7em;
}

.pr-stars-small {
	height: 16px;
	line-height: 16px;
	width: 83px;
	background-image: url(images/stars_small.gif);
}

.pr-rating {
	background-color: #414142;
	color: #fff;
	padding: 0 .4em 0;
	vertical-align: top;
}

.pr-snapshot-no-ratings,.pr-snapshot-footer .pr-product-follow-link-container
	{
	text-align: center;
}

* html .pr-review-wrap .pr-clear {
	width: 90%;
}

.pr-clear {
	clear: both;
	height: 0;
	line-height: 0;
}

.pr-review-wrap .pr-clear {
	height: 0;
	overflow: hidden;
	font-size: 0;
}

.pr-snippet-wrapper {
	border: 1px solid #cbcbcb;
	background: #efefef;
	padding: .25em;
	text-align: left;
}

.pr-snippet-review-count {
	padding: 0;
	margin: 0;
	font-size: 95%;
	line-height: 26px;
	position: relative;
}

* html .pr-snippet-review-count {
	font-size: 85%;
}

.pr-snippet-stars {
	border: 1px solid #cbcbcb;
	background: #fff;
	padding: .3em;
	float: left;
	margin-right: .3em;
}

.pr-snippet-stars .pr-stars-small,.pr-modal-container .pr-stars {
	float: left;
	height: 15px;
	line-height: 15px;
	width: 83px;
	background-image: url(images/stars_small.gif);
}

.pr-snippet-stars .pr-snippet-rating-decimal {
	float: left;
	margin-right: .3em;
	height: 15px;
	line-height: 15px;
	font-size: 85%;
}

.pr-snippet-stars .pr-snippet-rating-decimal {
	background-color: #414142;
	color: #fff;
	padding: 0 .2em 0;
}

.pr-popout {
	float: left;
	width: 11px;
	height: 11px;
	background: url(images/icon_popout.gif) no-repeat 0 0;
	margin: 0 .1em;
}

.pr-snippet-read-write {
	border: 1px solid #cbcbcb;
	background: #fff;
	padding: .6em .3em;
	font-size: 77%;
	text-align: center;
	clear: both;
	margin-top: .2em;
}

.pr-snippet-read-write a.pr-snippet-link {
	color: #0072bc;
}

.pr-snippet-read-write a.pr-snippet-link span {
	 /* fix for TUW-55560 */   
}

.pr-snippet-read-reviews {
	border-right: 1px dotted #cbcbcb;
	float: left;
	padding: 0 1em;
}

.pr-snippet-write-review {
	float: left;
	padding: 0 1em;
}

.pr-snippet-write-first-review p {
	display: inline;
	padding-right: .3em;
}

.pr-facebook-like-snippet {
	float: left;
	margin-right: 10px;
}

.pr-google-plus-one {
	float: left;
	margin-right: 10px;
}

.pr-pinterest-pin-it {
	float: left;
}

.pr-pa-snippet {
	border: 1px solid #cbcbcb;
	background: #efefef;
	padding: .25em;
}

.pr-pa-snippet-wrapper {
	position: relative;
}

.pr-pa-snippet-title {
	padding: 0 1em;
	margin: 0;
	font-size: 92%;
	line-height: 26px;
	
	display: inline;
}

.pr-pa-snippet-text {
	padding: 0;
	margin: 0;
	font-size: 77%;
	line-height: 26px;
	
	display: inline;
}

.pr-pa-snippet-qa {
	border: 1px solid #cbcbcb;
	background: #fff;
	padding: .6em .3em;
	font-size: 77%;
	text-align: center;
}

.pr-pa-snippet-qa a.pr-snippet-link {
	color: #0072bc;
}

.pr-pa-snippet-qa a.pr-snippet-link span {
	
}

.pr-pa-snippet-read-questions {
	border-right: 1px dotted #cbcbcb;
	float: left;
	position: relative;
}

.pr-pa-snippet-read-questions p {
	display: inline;
	padding: 0 .5em;
}

.pr-pa-snippet-questions {
	border-right: 1px solid #ccc;
}

.pr-pa-snippet-ask-question {
	float: left;
	margin-left: 1em;
	position: relative;
}

.prPaContainer,.prPaFooter {
	width: 38.5em;
	font-size: 85%;
	color: #777;
	background: #f3f3f3;
}

* html .prPaContainer,.prPaFooter {
	width: 40.5em;
}

.prPaContainer {
	padding: 1em;
}

.prPaContainer p {
	margin: 0;
	padding: 0;
	color: #000;
}

.prPaQ,.prPaA {
	font-size: 114%;
}

.prPaHeader .prPaQuestionPrompt {
	padding: .6em 0;
	font-size: 85%;
	*font-size: 80%;
	color: #777;
}

.prPaHeader .prPaQuestionPrompt span {
	
	color: #000;
}

.prPaHeader .prPaQuestionPromptIntro {
	
	margin-bottom: .5em;
}

.prPaHeader .prPaQuestionPromptIntro span {
	font-size: 85%;
	*font-size: 80%;
	color: #777;
	
}

.prPaQuestionPromptIntroSLPoints {
	margin-left: .5em;
}

.prPaFooter {
	text-align: right;
	font-size: 85%;
	color: #000;
	background: #f3f3f3;
	border-top: 1px solid #D7D7D7;
	padding: .7em 1em;
}

body:last-child:not (:root:root ) .prPaFooter {
	padding: .7em 0;
}

.prPaFooter .prPaQuestionPromptIntro {
	
	margin: 0;
	padding: .4em 0 0 0;
}

.prPaQuestionSubhead {
	padding: 5px 0;
}

.prPaAskQuestionLnk {
	background: transparent url(images/btn_ask_question_r.png) right 0
		no-repeat;
	color: #FFF;
	display: block;
	float: right;
	
	height: 24px;
	margin-right: 6px;
	padding-right: 8px;
	text-decoration: none;
}

.prPaAskQuestionLnk span {
	background: transparent url(images/btn_ask_question_l.png) 0 0 no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
	color: #FFF;
	text-decoration: none;
}

.prPaQaContainer {
	margin-left: -40px;
	*margin-left: 0;
}

.prPaContainer ul {
	list-style: none;
}

.prPaAnswerCont ul li {
	border: none;
}

.prPaContainer li {
	margin-left: 0;
	border: 1px solid #D7D7D7;
	margin-bottom: .5em;
	padding: .5em .5em 0 .5em;
	background: #fff;
}

.prPaContainer .prPaAnswerList li {
	padding: 0;
}

.prPaCounts {
	padding-top: 1em;
	border-top: 1px solid #D7D7D7;
}

.prPaPagination {
	line-height: 1.0;
	color: #444;
	font-size: .95em;
	position: relative;
	margin: .9em 0;
}

.prPaPagination .prPaPageNav {
	position: absolute;
	right: 0;
}

.prPaQaVariantName {
	margin-bottom: .3em;
}

.prPaByLine {
	margin: .7em 0 0 0;
	font-size: 85%;
}

.prPaAddBorder {
	border-bottom: 1px solid #D7D7D7;
	padding-bottom: .7em;
}

.prPaLastAnswer {
	padding-bottom: .5em;
}

.prPaDate {
	color: darkgray;
	display: inline;
}

.prPaQuestion {
	background-color: #eef;
	margin-bottom: .5em;
	margin-top: .5em;
	padding: .5em;
}

.prPaAnswerList {
	margin-left: -40px;
	*margin-left: 0;
}

.prPaAnsweredIn {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 85%;
}

p.prPaTotalsLabel,p.prPaAnswerLnk {
	margin: 1em 0 0 0;
	padding: 0 0 .5em 0;
}

p.prPaAnswerLnk {
	font-size: 92%;
	float: right;
	color: #777;
}

p.prPaAnswerLnk a {
	
	color: #FC961A;
}

p.prPaTotalsLabel {
	
	cursor: pointer;
	padding-left: 12px;
	margin-bottom: .5em;
}

.prPaSLFirstAnswer {
	
	font-size: 7pt;
	margin-left: .8em;
}

p.paPrQaPrefix {
	
	margin: 0 .2em 0 0;
	padding: 0;
	display: inline;
}

.prPaBadgeCase {
	margin: 0 0 .5em 0;
	height: 20px;
}

.prPaAnswerDialog p.prPaVerifiedMerchant {
	font-size: 77%;
	
	background: transparent url(images/badge_vm.gif) 0 0 no-repeat;
	padding-left: 25px;
	line-height: 20px;
}

.prPaAnswerDialog p.prPaVerifiedPurchaser {
	font-size: 77%;
	
	background: transparent url(images/badge_pa_vb.gif) 0 0 no-repeat;
	padding-left: 25px;
	line-height: 20px;
}

.prPaToggleClosed {
	background: transparent url(images/pa_carat_closed.gif) 0 .4em no-repeat;
}

.prPaToggleOpen {
	background: transparent url(images/pa_carat_open.gif) 0 .4em no-repeat;
}

.pr-hidden {
	visibility: hidden;
	*display: none;
	_display: none;
}

.pr-none {
	display: none;
}

.pr-profile-reviews-header {
	padding: 0;
	margin: 0 0 .7em;
	
	font-size: 116%;
}

.pr-profile-wrapper {
	padding: 10px;
}

.pr-profile-author-container {
	float: left;
	height: 380px;
	width: 27%;
	padding: 0 .3em 0 0;
}

.pr-profile-reviews-container {
	float: left;
	overflow-x: auto;
	width: 72%;
	*width: 71%;
}

.pr-profile-nickname {
	padding: 0;
	margin: 0;
	
	font-size: 116%;
}

.pr-profile-location {
	padding: 0;
	margin: 0;
}

.pr-profile-histogram-container .pr-histogram-label {
	font-size: 85%;
	width: 40px;
}

.pr-profile-histogram-container ul.pr-ratings-histogram-content {
	padding: 0 10px 0 0;
}

.pr-profile-histogram-container .pr-profile-histogram-header {
	
	margin: .7em 0 0;
}

.pr-profile-author-affinities {
	height: 100px;
	overflow: hidden;
}

.pr-profile-fb-manage-settings {
	position: absolute;
	bottom: 10px;
	z-index: 999;
}

.pr-profile-fb-help-icon {
	vertical-align: middle;
	margin-left: .3em;
	margin-right: .3em;
}

.pr-profile-badge-wrapper {
	margin-top: 10px;
}

.pr-fb-reviewComment{
	background: url('../images/main-body-sprite.png') -278px -551px no-repeat !important;
	padding:0 0 0 15px;
	margin:0;
	padding-left: 22px !important;
}

.pr-fb-reviewComment-social-loyalty {
	margin-left: .5em;
	font-size: 8pt;
}

.pr-profile-review-product-info {
	float: left;
	width: 25%;
	overflow: hidden;
}

.pr-profile-review-product-info a {
	padding: 1em .3em 0 0;
	display: block;
}

.pr-profile-review-product-info a img {
	border: 0;
}

.pr-profile-reviews-wrapper .pr-review-wrap {
	margin: 0 0 1em;
}

.pr-profile-reviews-wrapper .pr-review-rating-wrapper,.pr-profile-reviews-wrapper .pr-review-main-wrapper
	{
	float: right;
	width: 75%;
	*width: 73%;
}

.pr-modal-wrapper .pr-review-author-affinities {
	
}

.pr-modal-wrapper .pr-review-author-affinities span {
	
}

.pr-snapshot-footer {
	clear: both;
}

#pr-snapshot-histogram {
	float: left;
	position: static;
	margin-left: 5px;
	z-index: 10001;
}
#pr-snapshot-histogram{
	z-index: 101 !important;
}

#pr-snapshot-histogram-lnk {
	margin-right: .3em;
	float: left;
}

#pr-snapshot-histogram-lnk img {
	border: 0;
}

#pr-snapshot-histogram-wrapper {
	position: relative;
}

#pr-snapshot-histogram-container {
	width: auto;
	height: auto;
	border: 2px solid #CCC;
	position: absolute;
	background: #FFF;
	z-index: 10001;
	margin: 0 0 0 11px;
	left: 0;
	min-width: 255px;
	*width: 255px;
}

#pr-snapshot-histogram-container div.pr-ratings-histogram-wrapper {
	margin-top: 10px;
}

#pr-snapshot-histogram-header {
	
	font-size: 131%;
	padding: 3px 10px;
	margin: 0;
}

ul.pr-ratings-histogram-content {
	width: 100%;
	margin: 0;
	padding: 0 10px 10px;
	list-style-type: none;
}

ul.pr-ratings-histogram-content li {
	clear: both;
	height: 18px;
	margin: 2px 0;
}

ul.pr-ratings-histogram-content li p {
	display: inline;
	padding: 0;
	margin: 0;
}

.pr-histogram-label {
	width: 50px;
	float: left;
}

.pr-ratings-histogram-bar {
	width: 130px;
	float: left;
	background: #EFEFEF;
	margin: 0 10px 0 0;
}

.pr-ratings-histogram-bar .pr-ratings-histogram-barValue {
	background: #F7941D url('images/pr_histogram_bg.gif') 0 0 repeat-x;
}

.pr-histogram-count {
	float: left;
}

.pr-histogram-count span {
	color: #999;
	font-size: 12px;
}

.pr-closed {
	display: none;
}

.pr-open {
	display: block;
}

.pr-review-attribution {
	margin: .5em .2em;
}

.pr-review-attribution-text {
	float: left;
	width: 75%;
	margin-right: 3%;
}

.pr-review-attribution-text p {
	color: #000;
}

.pr-review-attribution-img {
	float: right;
	text-align: center;
	width: 22%;
}

}
.pr-review-attribute-imgLabel {
	font-size: 9px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.pr-review-attribution-img a,.pr-review-attribution-img img {
	border: 0;
}

.pr-review-faceoff {
	background-color: #CCC;
	border-color: #999;
	border-style: solid;
	border-width: 0 1px;
	font-size: 100%;
	padding: 3em .5em .5em;
}

.pr-review-faceoff-review-wrapper {
	background-color: #FFF;
	border: 1px solid #999;
	padding: 1em;
	position: relative;
	*zoom: 1;
	*height: 1%;
}

.pr-review-faceoff-label {
	padding: 0;
	margin: 0 0 .3em;
	
	font-size: 116%;
}

.pr-review-faceoff-review {
	margin: 0;
	padding: .3em 0;
	clear: none;
}

.pr-review-faceoff-title {
	
	margin: 0;
	padding: 1em 0 .3em;
	clear: left;
}

.pr-review-faceoff-review-positive {
	float: left;
	padding: 0 6% 0 0;
	width: 44%;
	*width: 39%;
	*padding: 0 10% 0 0;
}

.pr-review-faceoff-review-negative {
	float: left;
	padding: 0 0 0 6%;
	width: 44%;
	*width: 39%;
	*float: right;
	*padding: 0 0 0 10%;
}

.pr-review-faceoff-img {
	border-right: 1px solid #CCC;
	float: left;
	height: 90%;
	left: 50%;
	position: absolute;
	text-align: center;
	width: 1px;
}

.pr-review-faceoff-img-txt {
	padding: 7px;
	border: 1px solid #CCC;
	width: 30px;
	margin: 0 0 0 -22px;
	background: url('images/bg_faceoff_img.gif') repeat-x left bottom;
	
	font-size: 18px;
	color: #444;
	position: absolute;
	top: 40%;
	margin: 0 0 0 -22px;
	-moz-border-radius: 3px;
	/* -webkit-border-radius: 3px; */
	border-radius: 3px;
}

.pr-review-faceoff .pr-review-faceoff-review-full {
	display: none;
}

.pr-review-faceoff-readcomplete {
	margin: 1em 0;
	display: block;
	width: -moz-fit-content;
	*float: left;
}

.pr-modal-container .pr-review-faceoff-container {
	border: 1px solid #CCC;
	height: 100%;
	overflow: auto;
	text-align: left;
}

.pr-modal-container .pr-review-faceoff-review-full {
	display: block;
}

.pr-modal-container .pr-review-faceoff-review {
	display: none;
}

.pr-modal-container .pr-review-faceoff-label {
	background-image: url(images/bg_snapshot_header.gif);
	padding: 10px;
}

.pr-modal-container .pr-review-faceoff-title {
	clear: none;
	padding: 0;
}

.pr-modal-container .pr-review-faceoff-review-content {
	padding: 10px;
}

.pr-modal-container .pr-review-faceoff-readcomplete {
	display: none;
}

.pr-stars-small-subrating {
	background-image: url(images/stars_subrating.gif);
}

.pr-other-attributes-list,.pr-other-attributes-list .pr-other-attribute-value
	{
	position: relative;
}

.pr-other-attributes-list,.pr-other-attributes-list .pr-other-attribute-value .pr-stars
	{
	position: static;
}

.pr-other-attributes-histogram table {
	border-collapse: collapse;
	*border-collapse: separate;
	margin-bottom: 1em;
	width: 275px;
}

.pr-other-attributes-histogram,.pr-other-attributes-subratings {
	margin: 1em 0 1em;
	display: none;
}

ul.pr-other-attribute-value-histogram {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pr-other-attribute-value-histogram-element {
	position: relative;
	padding: 0;
	margin: 0;
}

.pr-other-attribute-value-histogram-element-max {
	
}

.pr-other-attribute-value-histogram-element td {
	padding: 0 .5em 0 0;
	font-size: 11px;
	line-height: 14px;
}

.pr-other-attribute-value-histogram-label {
	width: 45%;
}

.pr-other-attribute-value-histogram-label p {
	padding: 0;
	margin: 0;
	text-align: left;
}

.pr-other-attribute-value-histogram-wrapper {
	background-color: #EFEFEF;
	height: 6px;
	width: 60px;
	line-height: 6px;
	overflow: hidden;
}

.pr-other-attribute-value-histogram-element td.pr-other-attribute-value-histogram-bar
	{
	padding: 0;
}

.pr-other-attribute-value-histogram-barValue {
	height: 6px;
	line-height: 6px;
	overflow: hidden;
}

.pr-other-attribute-value-histogram-stats p {
	padding: 0 0 0 .3em;
	margin: 0;
	display: inline;
	font-size: 10px;
}

.pr-other-attribute-value-histogram-stats .pr-other-attribute-value-histogram-stats-count
	{
	
}

.pr-other-attribute-value-histogram-stats .pr-other-attribute-value-histogram-stats-count .pr-snippet-review-count
	{
	display: inline;
	line-height: 12px;
}

.pr-other-attribute-value-histogram-element-max .pr-other-attribute-value-histogram-barValue
	{
	background-color: #64A157;
}

.pr-other-attribute-value-histogram-barValue {
	background-color: #8F8F8F;
}

.pr-other-attribute-value-histogram-bar {
	border-left: 1px solid #CCC;
	width: 62px;
}

.pr-text-bubble {
	position: relative;
	padding: 15px;
	margin: 1em 0 3em;
	color: #000;
	background-color: #f3961c;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835),
		to(#f3961c));
	background: -moz-linear-gradient(#f9d835, #f3961c);
	background: -o-linear-gradient(#f9d835, #f3961c);
	background: linear-gradient(#f9d835, #f3961c);
	/* -webkit-border-radius: 5px; */
	-moz-border-radius: 5px;
	border-radius: 5px;
}

p.pr-text-bubble {
	background-color: #f3961c;
	padding: 5px;
}

.pr-text-bubble.pr-left {
	margin-left: 15px;
}

.pr-text-bubble.pr-left:after {
	top: 12px;
	left: -15px;
	bottom: auto;
	border-width: 7px 15px 7px 0;
	border-color: transparent #F7BB2A;
}

.pr-text-bubble:after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: #f3961c transparent;
	display: block;
	width: 0;
}

.pr-review-social-bar {
	margin-bottom: 5px;
}

.pr-review-fb-social-loyalty {
	font-size: 9pt;
	line-height: 14pt;
	padding-left: 5px;
}

.pr-review-fb-sl-points {
	color: #3B5998;
	
}

.pr-fb-social-button {
	cursor: pointer;
	padding: 5px;
	/* -webkit-border-radius: 4px; */
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCC;
	margin-top: 5px;
	color: #333;
	background: -moz-linear-gradient(top, rgba(195, 220, 239, 0) 0,
		rgba(128, 171, 220, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(195,
		220, 239, 0)), color-stop(100%, rgba(128, 171, 220, 1)));
	background: -webkit-linear-gradient(top, rgba(195, 220, 239, 0) 0,
		rgba(128, 171, 220, 1) 100%);
	background: -o-linear-gradient(top, rgba(195, 220, 239, 0) 0,
		rgba(128, 171, 220, 1) 100%);
	background: -ms-linear-gradient(top, rgba(195, 220, 239, 0) 0,
		rgba(128, 171, 220, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#00c3dcef',
		endColorstr=  '#80abdc', GradientType=  0);
	background: linear-gradient(top, rgba(195, 220, 239, 0) 0,
		rgba(128, 171, 220, 1) 100%);
}

* html .pr-fb-social-button {
	filter: none;
	background-color: #d4e3f3;
}

*:first-child+html .pr-fb-social-button {
	filter: none;
	background-color: #d4e3f3;
}

.pr-fb-social-button .pr-fb-link-med {
	padding-left: 35px;
}

.pr-snapshot-fb-follow-product-category-button-wrapper {
	float: left;
	position: relative;
	min-width: 200px;
	*width: 200px;
	_width: 200px;
}

.pr-snapshot-fb-follow-content {
	float: left;
}

.pr-snapshot-fb-get-advice-container {
	float: left;
	position: relative;
	margin-right: 10px;
	min-width: 200px;
	*width: 200px;
	_width: 200px;
}

.pr-snapshot-fb-follow-product-category-container {
	float: left;
	position: relative;
	min-width: 200px;
	*width: 200px;
	_width: 200px;
}

.pr-review-social-bar .pr-snapshot-social-roll {
	float: right;
	margin-top: 12px;
	_width: 40px;
	*width: 40px;
}

.pr-snapshot-social-roll .pr-social-email,.pr-snapshot-social-roll .pr-social-fb
	{
	display: block;
	height: 16px;
	width: 17px;
	margin-left: 3px;
	float: left;
}

.pr-snapshot-social-roll .pr-social-fb {
	background-image: url("images/fb_logo_16x17.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.pr-snapshot-social-roll .pr-social-email {
	background-image: url("images/icon_email.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.pr-snapshot-fb-follow-product-category-label,.pr-snapshot-fb-get-advice-label
	{
	padding: 0;
	margin: 0;
	line-height: 14px;
}

.pr-snapshot-fb-get-advice-link,.pr-snapshot-fb-follow-product-category-link
	{
	padding: 0;
	margin: 0;
	color: #3B5998;
	text-decoration: none;
}

.pr-fb-link-med {
	background-image: url("images/fb_logo_28x28.gif");
	background-position: 0 0;
	background-repeat: no-repeat;
}

p.pr-review-author-follow-link-container {
	padding: 0;
	margin: 0;
	position: relative;
}

.pr-review-author-follow-link-container {
	padding: 0;
	position: relative;
}

.pr-review-author-follow-link {
	padding-right: 5px;
}

.pr-profile-author-information {
	position: relative;
}

.pr-profile-follow-me-container {
	position: absolute;
	top: 15px;
	left: 0;
	width: 535px;
	border: 2px solid #CCC;
	background-color: #FFF;
	z-index: 10002;
}

.pr-fb-follow-contentwrapper .pr-text-bubble {
	margin: 1em 0 0 1em;
}

.pr-fb-follow-contentwrapper .pr-fb-follow-username {
	padding: 0;
	margin: 0;
}

.pr-base-modal {
	border: 0;
	background-color: transparent;
	position: absolute;
	z-index: 10001;
	text-align: left;
}

.pr-modal-container {
	top: 10px;
	left: 10px;
	background-color: #FFF;
	position: absolute;
	overflow: hidden;
	z-index: 9999;
}

.pr-modal-shadow {
	position: relative;
	border: 0;
	background-color: #333;
	-moz-border-radius: 5px;
	/* -webkit-border-radius: 5px; */
	border-radius: 5px;
	filter: alpha(opacity = 40);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	-moz-opacity: .4;
	-khtml-opacity: .4;
	opacity: .4;
	height: 100%;
	*background-color: #c1c1c1;
	_background-color: #c1c1c1;
	*filter: none;
	_filter: none;
	float: none;
}

.pr-base-modal .pr-close {
	background: url("images/modal-close.png") no-repeat scroll left top
		transparent;
	display: block;
	height: 14px;
	position: absolute;
	right: 25px;
	top: 25px;
	width: 16px;
	z-index: 10000;
}

.pr-base-modal .pr-close span {
	display: none;
}

p.pr-fb-follow-modal-header {
	font-size: 22px;
	padding: 20px 20px 10px;
	margin: 0;
}

.pr-fb-follow-body {
	margin-bottom: 20px;
	height: 165px;
	overflow: hidden;
	text-align: left;
}

.pr-fb-follow-body p {
	text-align: left;
}

.pr-fb-follow-content-wrapper {
	padding: 0 10px 0 20px;
}

.pr-fb-follow-body-left {
	float: left;
	width: 250px;
	*width: 248px;
}

.pr-fb-follow-body-right {
	float: right;
	width: 275px;
	*width: 260px;
}

.pr-fb-follow-info-wrapper {
	border: 1px solid #CCC;
	background-color: #FAFAFA;
	-moz-border-radius: 5px;
	/* -webkit-border-radius: 5px; */
	border-radius: 5px;
	padding: 5px;
	margin: 0 20px 20px 0;
	height: 95px;
	overflow: hidden;
	color: #454545;
	font-size: 12px;
}

.pr-fb-follow-info-wrapper p {
	line-height: 15px;
}

.pr-fb-follow-info p {
	margin: 0;
}

.pr-review-author-info-wrapper .pr-fb-follow-info img,.pr-fb-follow-info img
	{
	padding: 5px;
	border: 1px solid #CCC;
	margin-bottom: 7px;
}

.pr-fb-follow-footer {
	border-top: 1px solid #CCC;
	background-color: #F2F2F2;
	height: 70px;
}

.pr-fb-follow-cta-like {
	background-color: #ECEDF6;
	*width: 265px;
	_width: 265px;
}

.pr-fb-follow-cta-like-wrapper {
	padding: 20px 10px 0 20px;
	height: 50px;
	border-right: 1px solid #CCC;
}

.pr-fb-likebtn-wrapper {
	height: 20px;
	margin: 0 auto;
	width: 90px;
}

.pr-fb-likebtn-wrapper .pr-fb-likebtn {
	position: absolute;
	width: 100px;
	height: 30px;
}

.pr-fb-follow-cta-email-wrapper {
	padding: 5px 20px 10px;
	height: 55px;
	position: relative;
}

.pr-error-msg {
	height: 15px;
	display: block;
	font-size: 9px;
}

.pr-fb-follow-email-input {
	height: 25px;
	margin-right: 6px;
	width: 140px;
	vertical-align: middle;
}

.pr-fb-follow-submit-btn {
	text-transform: uppercase;
	padding: 7px 10px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	/* -webkit-border-radius: 5px; */
	border-radius: 5px;
	text-decoration: none;
	color: #FFF;
	
	background: #B2B2B2;
	background: -moz-linear-gradient(top, #C4C4C4 0, #ABABAB 40%, #8D8D8D 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4C4C4),
		color-stop(40%, #ABABAB), color-stop(100%, #8D8D8D));
	background: -webkit-linear-gradient(top, #C4C4C4 0, #ABABAB 40%, #8D8D8D 100%);
	background: -o-linear-gradient(top, #C4C4C4 0, #ABABAB 40%, #8D8D8D 100%);
	background: -ms-linear-gradient(top, #C4C4C4 0, #ABABAB 40%, #8D8D8D 100%);
	background: linear-gradient(top, #C4C4C4 0, #ABABAB 40%, #8D8D8D 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C4C4C4',
		endColorstr='#8D8D8D', GradientType=0);
}

.pr-fb-follow-submit-btn.disabled {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity = 40);
	-moz-opacity: .4;
	-khtml-opacity: .4;
	opacity: .4;
	cursor: default;
}

p.pr-fb-follow-on-facebook {
	color: #36569A;
	margin: 0 15px 0 0;
	padding-left: 30px;
	float: left;
	line-height: 14px;
}

p.pr-fb-follow-on-facebook span {
	
	display: block;
}

.pr-fb-follow-product-category {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.pr-fb-follow-product-category li {
	padding: 3px 0;
}

.pr-fb-follow-product-category li input {
	margin-left: 0;
	float: left;
}

.pr-fb-follow-product-category li.category-1 {
	padding-left: 20px;
}

.pr-fb-follow-product-category li.category-2 {
	padding-left: 40px;
}

.pr-fb-follow-product-category li p {
	display: inline;
}

.pr-fb-follow-location {
	display: block;
}

.pr-fb-follow-email-prompt-prepop {
	color: darkgray;
}