.color-block.out-of-stock {
	cursor: pointer;
	position: relative;
	opacity: 0.5;
	border-color: #999999;
	border-radius: 50%;
        border: 2px dashed;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */ 
   .img-brd{
      	border-color: #cccccc !important;
    }   
}
.product-details-template .color-block .color-block-inner {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.color-block.out-of-stock:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 0 -837px;
	zoom: 1.5;
}
.size-option.out-of-stock {
    opacity: 0.5;
    cursor: pointer;
}

.batteryPanel .add-to-cart-new.fade-add-to-cart[disabled="disabled"],
.batteryPanel .add-to-cart-new.fade-add-to-cart[disabled="disabled"]:hover {
	cursor: default;
	background-color: #757575;
    border: 3px solid #757575;
    color: #ffffff;
}

#emailToFriend .g-recaptcha { /* For capcha */
	margin-top: 20px;
}
.product-details-template .product-details .block-add {	
	width: 60px;
    height: 60px;
    text-align: center;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#galleryOverlayModal  .gallery-overlay-footer  .inline  img#gallery-image-3 ,#galleryOverlayModal  .gallery-overlay-footer  .inline  img.gallery-image-4{
    width: 60px;
    height: 60px;
}
#galleryOverlayModal .modal-dialog iframe {
    top: 16px;
    text-align: center;
    left: 258px;
	 position: absolute;
}
#gallery-noimage
{
	width: 100% !important;
   
}
#galleryOverlayModal .gallery-overlay-footer {
    height: 85px;
}

#galleryOverlayModal .gallery-overlay-footer div:nth-child(odd) {
	padding: 5px 25px;
}

#galleryOverlayModal .gallery-overlay-footer div {
	float: none;
}

.inline {
	display: inline-block;
	text-align: left;
}

#galleryOverlayModal .gallery-overlay-footer .gallery-divider {
	height: 85px;
	width: 1px;
	background-color: #d5d5d5;
	position: absolute;
}

/*-- Email Me- Friend Popup start--*/
#quickviewModal .pre-order p:first-child{            
color: #EA7125; 
}
.tell-friend-img{
	padding-left: 15px;
}
.tell-friend-img img
{ 
				max-width: 350px;
                height:270px;
                
}
#emailMePopUp .my-account-add-address-overlay .tse-scrollable {
    height: auto;
}
#emailMePopUp  .my-account-add-address-overlay .attach-to-bottom {
    position: absolute;
    bottom: 0px;
    width: 65%;
    background-color: white;
}
#emailMePopUp .my-account-add-address-overlay.email-a-friend{
	height: auto !important;
}
.recaptcha_area,.recaptchatable {
	    white-space: normal !important;
    
    font-size: medium !important;

    
    color: -webkit-text !important;
    text-align: start !important;
        display: table  !important;
}
#recaptcha_table input{
	height:auto !important;
	display:inline-block !important;
}
#emailMePopUp .my-account-add-address-overlay .top-border {
    border-top: none;
}
.verification-code
{
                    border: 1px solid #ddd;
                                padding: 10px;
    background-color:#ccc;
                
}
.refresh-sprite
{              
background: url('../images/sprite.png') -214px 0 no-repeat;
    width: 97px;
    height: 54px;  
}
#emailMePopUp  .verification-code 
{
                border: 1px solid #ddd;
                display: block;
    float: left;
                
}
#emailMePopUp  .verification-code .text-code
{
display: block;
    float: left;
    margin-top: 9px;          
}
#emailMePopUp  .verification-code  .text-fields
{
                padding: 10px;
    width: 151px;
    display: block;
    float: left;
                    background-color: #fff;
                
}
#emailMePopUp  .verification-code  .text-fields input
{
                width: 133px;
    height: 20px;
}              
#emailMePopUp  .verification-code .controles
{
                display: block;
    float: left;
    width: 10px;
                margin-left: 13px;            
                
}
#emailMePopUp  .verification-code .controles .refresh-sprite
{
                display: block;    
                
}
#emailMePopUp  .verification-code  .text-fields span{
                    color: #004EBC;
    cursor: pointer;
    font-size: 10px;
    float: right;      
                
}
#emailMePopUp  .verification-code  .load-refresh
{
                display: block;
    float: left;        
                margin-left: 30px;
}
#emailMePopUp  textarea
{
                    width: 100%;
                    border:1px solid #dedede;
                
}
#emailMePopUp .declaration
{
    margin-top: 10px;
    display: block;
    float: left;
                
}
#emailMePopUp .declaration p
{
font-size: 12px;
}
#emailMePopUp .product-title {
    padding: 0;
    width: 136px;
    font-size: 14px;
    color: #004EBC;
    margin-top: 20px;
}

#emailMePopUp  .emailpdleft{
	/* padding-left:6%; */
	padding-left:30px;
}

.social-banner .email{
	cursor:pointer;
}

.product-details-template  .social-banner  #twitterDiv iframe
{
width: 58px !important;	
position: relative !important;
top: -9px;
	
}

/*-- Email Me- Friend Popup ends--*/

 .product-details-template  .pdp-product-details-block .product-details .thumb-container a{	
	float:left;
	margin-right: 10px;
} 
.product-details-template div#pr_snippet_category {
    width: auto !important;
    position: relative;
   top: 7px; 
}
.product-details-template .pdp-header-block .toys-template .sticky-price-contents {
    padding: 0 30px 0 28px;
}
.product-details-template .pdp-product-details-block .product-details .thumb-container  .video_invodo,
.product-details-template .pdp-product-details-block .product-details .thumb-container  .see-more-images
{
    float: left;
}
.product-price-range{
	color: #666;
	font-size: 28px;
	line-height: 1;
	
}
.collections-template .product-price-range{
	font-size: 14px;
}
.product-details .product-details-caption {
   clear:both;
   margin-top: 10px;
   float: left;
   margin-bottom: 60px
}

.sticky-price-contents .colors {
    opacity: 1;
}
.esrbImage {
    width: 33px;
    height: 45px;  
}
.my-account-add-address-overlay.email-a-friend{
       height: 650px !important;
}
.my-account-add-address-overlay.email-a-friend .set-height{
       height: 530px !important;
}

/*.product-details-template hide decimal rating*/
.product-details-template .pr-snippet-stars .pr-snippet-rating-decimal{
	display: none !important;
}

.shopping-cart-overlay .cart-content .left-section{
	height: 427px !important;
}
.product-details-template{
	overflow-x: inherit;
}

.collections-sticky-price .sticky-price-contents{
	padding-left: 15px;
}

.pr-review-author-date{
	border: none !important;
    font-size: 14px;
    color: #666666;
	background: none !important;
}
.pr-fb-reviewComment {
	background-size: 16px;	
}

a.bold-Underlined {
    text-decoration: underline;
}

#pdp-privacy-policy .modal-content.sharp-border{
	width: 840px;
	position: absolute;
}
	
#pdp-privacy-policy .close-modal{
	float: right;
}
#pdp-privacy-policy .tse-scrollable{
	width: auto;
	height: auto;
}
#pdp-privacy-policy .modal-header{
	border-bottom: 0;

}

.product-title-row .product-title{
	white-space: nowrap; 
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	padding-top: 20px;
	line-height: 35px;
	margin-left: -1px;
}

.thumb-container .see-more-images{
	 margin-left: 0; 
}

 .thumb-container .block-add:last-of-type{
     margin-right:5px;
} 
.site-BabyRUs .product-block.product-block-unselected .product-block-information .product-name a{color: #5E2D91 !important;}
.product-block.product-block-unselected .product-block-information .product-name a{
	overflow: hidden;
	text-overflow: ellipsis;
	width : 300px;
}
#related-products .product-block.product-block-unselected .product-block-information .product-name a {
    width: auto;
    max-width: 100%;
}

.product-block.product-block-unselected .product-block-image-container{
	height:318px;
}

.collection-product-block .prices .sale-price{
	font-size: 14px;
	line-height: 17.23px;
	margin-left: 3px;
}

/* #collectionGalleryOverlayModal #gallery-noimage,#galleryOverlayModal #gallery-noimage{
	height: 400px !important;
} */

.invodoGalleryVideo-overlay{
	height:360px;
	width:640px;
	margin: 50px auto;
}
.no-store-pickup{
	background-position: 0px -202px !important;
}

#notifyMeModal .notify-me-modal .notify-me-footer a {
	color: #009DDB;
}

#notifyMeModal .notify-me-modal .notify-me-footer{
	padding: 26px 0 0;
}

#galleryOverlayModal .modal-dialog,#collectionGalleryOverlayModal .modal-dialog {
    margin: 30px auto;
    width: 85%;
    height: calc(100% - 60px);
}
#galleryOverlayModal .modal-content.sharp-border,#collectionGalleryOverlayModal .modal-content.sharp-border{
       height: 100%;
}
#galleryOverlayModal .pdp-image-gallert-overlay,#collectionGalleryOverlayModal .pdp-image-gallert-overlay{
    width: 100%;
    height: 100%;
    min-height: 420px;
}
#galleryOverlayModal .gallery-image-viewer.tse-scrollable.wrapper,#collectionGalleryOverlayModal .gallery-image-viewer.tse-scrollable.wrapper{
    width: 100%;
    height: calc(100% - 85px);
    min-height: 420px;
}
#collectionGalleryOverlayModal .gallery-image-viewer.tse-scrollable.wrapper{
	 height: 100%;
}
.pdp-image-gallert-overlay .gallery-image-viewer .tse-scroll-content{
       width: 100%;
       height: 100%;
}

#galleryOverlayModal .close-modal{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 15px;
    padding-right: 15px;
    margin-bottom: 6px;
}

#galleryOverlayModal .modal-dialog .tse-scrollable .tse-content img.zoomimage,#collectionGalleryOverlayModal .modal-dialog .tse-scrollable .tse-content img.zoomimage{
    max-width: 100%;
}

#galleryOverlayModal .modal-dialog .gallery-image-viewer .gallery-lr{
	top: 50% !important;
}

#qtys-text{
    max-width: 80%;
    margin: 5px auto 10px;
}
.sticky-price-contents .colors{
	margin-bottom: 2px;
}

.sticky-price .sticky-price-contents .logo, .quickview-sticky-price .sticky-price-contents .logo{
  margin-top: 10px;
} 
.pdp-product-details-block .thumb-container div:empty{ 
	display: none;
}
.sticky-price-contents .color-text .limit-1, .sticky-price-contents .color-text{
	vertical-align: baseline;
}
.sticky-price .color-text{
	margin-top: 5px;
}

.dotClass:before {
    content: " \B7 ";
}
.quickview-sticky-price .sticky-price-contents{
	padding-left: 15px;
}
.spacing{
	padding: 0 5px;
}
.collection-product-block .color-text span{
    font-size: 12px;
    color: #666666;
}
.collection-product-block .color-text{
    font-size: 12px;
    color: black;
}

.sticky-price-contents .colors .color-block div{
	width: 21px;
	height: 21px;
}

.sticky-price-contents .color-selected div{
	width: 40px;
	height: 40px;
	margin-top: 1px !important;
    margin-left: 1px !important;
}
.sticky-price-contents .colors .color-block div{
	width: 40px;
	height: 40px;
    margin-top: 2px;
    margin-left: -1px;
}
#detailsPopup .modal-content.sharp-border,#learnMorePopup .modal-content.sharp-border{
	padding: 30x;
}
.learn-more{
	outline: 0;
}
.product-hero-area .our-exclusive,
.quickview-block .our-exclusive {
	display: table;
}
.product-hero-area .our-exclusive p,
.quickview-block .our-exclusive p {
	top: 0;
	display: table-cell;
	vertical-align: middle;
}
.collection-header ul li:hover{
	border-color: transparent;
    background-color: #f3f3f3;
}
.collection-header .gray-link:hover,.collection-header ul li:last-of-type {
  color: #666666 !important;
  text-decoration: none;
  background-color:transparent;
}
.forDetails{
	padding-left: 0;
}
.gallery-overlay-footer .gallery-popup-vedio {
	display: none;
}
.shopping-cart-overlay .left-section{
	padding-top: 10px;
}
.summary-block-free-shipping-bar{
	margin: 0 5px;
}
.detailLearnMorePopup .modal-dialog {
	margin-top: 90px;
	width: 610px;
}
.detailLearnMorePopup .welcome-back-overlay {
	padding:30px;
	margin: auto;
    width: 84%;
}
#giftWrapDetailModel .tse-scrollable {
	width: 100%;
	height: auto;
	min-height: 40px;
    max-height: 430px;
}
#giftWrapDetailModel .tse-giftWrapDetail-scroll-content {
	height: auto !important;
	width: 585px !important;
	min-height: 40px;
    max-height: 430px;
}
#giftWrapDetailModel .tse-giftWrapDetail-scroll-content .tse-scroll-content {
	margin-right: 30px;
}
#giftWrapDetailModel .tse-giftWrapDetail-scroll-content .tse-content {
	padding-right: 20px;
}
#giftWrapDetailModel .welcome-back-overlay p:first-child {
	color: #222!important;
}
.detailLearnMorePopup .welcome-back-overlay img {
	float: right;
	cursor: pointer;
}
.detailLearnMorePopup .welcome-back-overlay .row {
	margin: 0px;
}
.detailLearnMorePopup .welcome-back-overlay h2 {
	font-size:32px;
	color: #009ddb;
	margin-bottom: 10px;
	margin-top:-10px;
}
.email-me-available:active {
	background-color: #d55f02;
	color: #fff;
}
.pdp-header-block div#pr_snippet_category .pr-stars,.pdp-header-block #pr_snippet_category .pr-snippet-stars{
 	margin-right: 0 !important;
}
.thumb-container a div{
  	margin-right: 0px !important;
}
.pr-snippet-link.bru-headline.bru-primary-link{
	color: #5E2D91 !important;
}
.pdp-header-block div#pr_snippet_category .pr-snippet-read-reviews{
	padding-right: 0 !important;
}
.collections-template #multi-slide-bullets{
  display: none;
}
.sticky-price-contents .collection_price_section .prices .crossed-out-price, 
.sticky-price-contents .collection_price_section .prices .price{
    font-size: 18px;
    
    color: #666666;
}
.collection-product-block .prices .sale-price{
    font-size: 18px;
    
    color: #dc291e;
}
.template-content.collection-template .collection-rating-and-price-section .collection_price_section .price{
}
.sticky-price-contents input[type="text"]:disabled{
  background-color:#fff;
}
/*End Fixes for Pixel Perfect*/
.pdp-from-the-manufacturer .manufacturer-content {
    width: 65.4%;
}
/*End Fixes for Pixel Perfect*/

/* Start: customer images on PDP "see more images" overlay */
.gallery-overlay-footer .customerImages div {
	padding: 0 !important;
	display: inline-block !important;
}
.gallery-overlay-footer .customerImages .prImageSnippetHeader
{
    cursor: default;
    text-align: left;
    display: block !important;
}
.gallery-overlay-footer .customerImages .prImageSnippetImage {
    margin-right: 5px;
    border: none;
    height:50px;
    width:50px;
}
/* End: customer images on PDP "see more images" overlay */

#facebook.facebook, .twitter, .pinterest {
	display: none;
}
#notifyMe .notify-me-header.notifymeSuccess .notify-me-text{
	padding-top: 12px;
}
/*End Fixes for Pixel Perfect*/

/* Enhance description */
.enhanced-content{
	text-align:center;
}
#trus_product_2 {
    font-size: 12px;
    color: #333333;
    width: 860px !important;
    background: #fff !important;
}
#trus_product_2 > div{
	max-width: 860px !important;
	width: 100% important;
}
#main_product {
	max-width: 57%;
    padding: 5px 20px 0 0px;
    line-height: 16px;
    font-size: 12px;
    float: left;
    width: 573px;
    vertical-align: top;
}
#prod_img {
    padding: 10px 0px;
    float: left;
    width: 350px;
}
#features_container {
    width: 963px;
    clear: both;
    float: left;
}
.features_container{
	max-width: 860px !important;
	width: 100%  !important;
}
.prod_desc{
	width: 50% !important;
	float: left;
	padding: 15px;
}
#main_product{
	color: #666;
    font-size: 16px;
    line-height: 1.5em;	
}
#main_product > h2,
.prod_title{
    font-size: 14px;
    color: #666666;
    margin-top: 20px;
    margin-bottom: 10px;	
}
.prod_content{
    font-size: 16px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 10px;	
}
.email-a-friend .email-friend-heading, .email-a-friend .pdp-email-friend-Success > .col-md-12{
	padding-top: 30px;
}
.email-a-friend h3,.email-a-friend .pdp-email-friend-Success h3{
	padding-left: 0;
}
.pdp-email-me-friend-show .product-title{
	padding-left: 15px;
	padding-bottom: 20px;
}
.pdp-email-friend-Success .pdp-email-friend-product-title{
	padding-left: 15px;
}
/*Iteration-3 to iteration-4 merge Issues*/
#galleryOverlayModal .modal-dialog .gallery-image-viewer, 
#collectionGalleryOverlayModal .modal-dialog .gallery-image-viewer{
      background-color: #ffffff !important;
}
.pdp-product-details-block .thumb-container{
	height: 65px;
}
#emailMePopUp .email-friend-image-title p{
   float: left;
   padding-left: 5px;
   padding-top: 12px;
}
#emailMePopUp div#emailme {
	margin-left: -15px;		
	margin-top:10px;	
}
.pdp-email-friend-product-title{
	margin-bottom: 15px;
}
/*End Iteration-3 to iteration-4 merge Issues*/
.pr-snippet-read-reviews:before {
    content: " \B7 ";
    margin-right: 10px;
    color: #666666;
    
}
#galleryOverlayModal .video-label-finder.videosclass, #galleryOverlayModal .productImages, #galleryOverlayModal .customerImages{
	vertical-align: top;
} /*video alignment issue*/
/*product review section*/
.product-details-template .product-review-section {
    width: 100%;
    padding:0 404px 0 0;
} 

.prImageSnippet .prImageSnippetImage:nth-child(n+7){
    display:none !important;
}
/* customer review images issue*/

/*viewdetails link on quickview page*/
#quickviewModal .thumb-container{
       min-height: 50px !important;
}
/* Fix for TUW-42322 */
#quickviewModal .quickview-sticky-price .add-to-cart-section{
       width: 170px;
} 
.product-review-block {
    margin-left: 0px;
}
.no-enhanced-content {
	display: none;
}

.productNotFound {
	margin-top: 110px;
}
.product-details-template .sticky-price-contents .buy-1.bru-headline,#quickviewModal .sticky-price-contents .buy-1.bru-headline{
	font-size: 12px;
	color: #666 !important;
}
.product-details-template .sticky-price-contents .buy-1.bru-headline:hover,#quickviewModal .sticky-price-contents .buy-1.bru-headline:hover{
  	color: #666 !important;  
  	text-decoration: none; 
  	cursor: text; 
}
.product-details-template .sticky-price-contents .buy-1.bru-headline a,#quickviewModal .sticky-price-contents .buy-1.bru-headline a{
	font-size: 12px;
	color: #5E2D91; 
}
.sticky-price .pre-order {
	font-size: 19px !important;
}
.product-details-template .sticky-price-contents .small-orange,#quickviewModal .sticky-price-contents .small-orange{
  border: 0;
  background: none;
  font-size: 11px;
  color: #004EBC;
  cursor: pointer;
}
.product-details-template .sticky-price-contents .small-orange:hover,#quickviewModal .sticky-price-contents .small-orange:hover {
    text-decoration: underline;
    color: #ea7125; 
}
.product-details-template .sticky-price-contents .bru-headline,#quickviewModal .sticky-price-contents .bru-headline,.site-BabyRUs .product-details-template .sticky-price-contents .small-orange.cart-button-enable{
  border: 0;
  background: none;
  font-size: 14px;
  color: #5E2D91 !important;
  cursor: pointer;
}
.product-details-template .sticky-price-contents .bru-headline:hover,#quickviewModal .sticky-price-contents .bru-headline:hover,.site-ToysRUs #pr_snippet_category .pr-snippet-link:hover,.site-BabyRUs #pr_snippet_category .pr-snippet-link:hover,.site-BabyRUs .product-details-template .sticky-price-contents .small-orange.cart-button-enable:hover {
    text-decoration: underline;
    color: #ea7125 !important; 
}

/*Fabricator Observed Changes Matched on 24-05-2016 for UAT bug TUW-54259*/
.collections-sticky-price .small-orange {
    font-size: 10px;
    
}
.product-details-template .add-to-cart{
	font-size: 18px;
	padding: 4px 16px;
}
.collections-sticky-price .add-to-cart{
	width: 174px;
	font-size: 19px;
}
/*END of Fabricator Observed Changes Matched on 24-05-2016 for UAT bug TUW-54259*/
.quickview-block{
	margin-bottom: 0px;
}
.quickview-footer .block-add{
	display: inline;
}
.collections-template .recently-viewed-section-header{
	margin-top: 0px !important;
}
.collections-template .recently-viewed-section-header h3{
	margin-top: 32px;
	margin-bottom: 32px;
}
.collections-template .recently-viewed-section-content{
	margin-bottom: 0px;
}
.collections-template .recently-viewed-section-content .product-block-padding{
	padding-top: 0px !important;
}
.collection-template .my-account-product-carousel .product-block-img{
	max-height: 330px;
}
#product-main-content .product-reviews-menu{
/* 	padding-bottom: 13px; */
}
.site-BabyRUs #pr_snippet_category .pr-snippet-link{
	color: #5E2D91 !important;
}
.pr-review-engine {
	display: none !important;
}
.product-details-template .color-selected,
.collection-template .color-selected {
  border: solid 2px #009ddb;
  border-radius:50%;
}
.color-selected-img {
	width:35px !important;  
	height:35px !important;
    margin-left: -5px;
}

.color-block.out-of-stock .color-block-inner { 
	width:35px !important;  
	height:35px !important;
    margin-left: -3px;
    margin-top: -1px;
}
.color-out-of-stock-img { 
	width:35px !important;  
	height:35px !important;
    margin-left: -5px;
}
#customer-review-summary .pr-review-engine{
	display: block !important;
}
 .cart-overlay-protection-plan .bppPlanMultiShippingPage:disabled {
    opacity: .5;
}

.compareCategoryId_span,div.ratingForPrint{
	display:none;
}
.siteLogoForPrintPage{
	display: none;
	padding-left: 4%;
}
.siteLogoForPrintPage span{
	margin-right: 20px;
}
div.ratingForPrint ul *{
	font-size: 12px;
	
	color: #666;
}

@media print {
    body {
        zoom: 100%;
        margin-top: 0px !important;
        width: 100% !important;
        overflow: visible !important;
    }
    body .footer-grid,body .default-margin,
    div[class^="ad-zone"],
    .read-more.text-center,
    #giftFinderTag,
    .product-review-section .pr-snapshot-footer,
    .our-exclusive,
    #sosPdpAddZone3,
    #giftFinderTagEventInvoker,
    #babyRegistry,
    .prPaQuestionSubhead{
        display: none !important;
    }
    body a:after,.sticky-price-contents button:after,
    .social-banner.pdp-social-banner a:after,
    .customers-also-purchased a:after,
    .product-review-block a:after,
    .star-rating-img a:after,
     #product-main-content a:after,
     .prPaContainer.prPaNonempty a:after,
     .order-history-template a:after,
     #related-products a:after{
        content: "";
    } 
    body .sticky-price-contents .inline,
    body .sticky-price-contents .inline a,
    .sticky-price-contents .sticky-quantity .limit-1.inline{
        display: inline-block !important;
        vertical-align: middle;
    }
    .product-details-template .sticky-price-contents .sticky-quantity .limit-1.inline{
        margin-bottom: 18px;
    }
    body .sticky-price-contents .add-to .inline a:after{
         content: "";
    } 
    body .product-review-section #pr-snapshot-histogram-container,
    #giftFinderTagEventInvoker{
         position: static !important;
         margin-bottom: 5px;
    }
     #pr_snippet_category,.paPrQaPrefix{
         position: static !important;
         display: inline-block;
     }
     #pr_snippet_category .pr-snippet-stars
     #pr_snippet_category .pr-snippet-read-reviews,
     #pr_snippet_category .pr-snippet-stars,
     #pr_snippet_category .pr-snippet-read-write{
         float: none !important;
         display: inline-block !important;
         margin-bottom: 5px !important;

     }

	 .product-details-template #product-main-content .pdp-header-block{
		 overflow: visible !important;
	 }
     body .pr-review-wrap .pr-fb-reviewComment{
        background-position: 0 2px;
        background-repeat: no-repeat !important;
        background-size: 16px !important;
        padding: 0 0 0 15px;
        margin: 0;
     }
    .product-details-template .print-header,
    .product-details-template .product-details-content,
    .product-details-template .read-more-content,
     body .product-review-section #pr-snapshot-histogram,
     body .product-review-section #pr-snapshot-histogram-container,
     body .product-details-template .customers-also-purchased .row-no-padding,
     body .product-details-template .customers-also-purchased .row-no-padding a,
     .siteLogoForPrintPage,
     .product-review-section hr,
      body .row.row-no-padding#related-products,
      div.ratingForPrint{
        display: block !important;
    }

    .pr-snippet-stars div{
        display: inline-block;
        width: 60px;
        margin-bottom:0 !important;
    }
    .product-details-template .sticky-price {
        position: absolute !important;
        right: 0 !important;
        top: 150px !important
    }
   .pdp-product-details-block .product-details,.pr-contents-wrapper .pr-review-wrap{
       padding-bottom: 0 !important;
       margin-bottom: 0 !important;
   }

   #related-products .product-block-padding .product-block,
   #related-products .product-block-padding .product-block-image-container{
    	height: auto !important;
	}
    .product-details-template .product-hero-area .our-exclusive{
        position: static !important;
        display: inline-block !important;
    }
    .product-details-template .product-hero-area .our-exclusive p{
        position: relative !important;
        top: 22px !important;
    }
   .product-review-section .pr-review-faceoff [id^='pr-review-faceoff-']{
   	   padding: auto  0 !important;
       margin: auto 0 !important;
   }
   .prPaQ{
        padding-left: 0 !important;
        margin-left: 0 !important;
    }
    .pr-review-points .pr-review-points-attr-wrapper{
   		height: auto !important;
	}
   #customer-review-summary .pr-snapshot-body .pr-review-points,.ss{
       margin-top:100px !important;  
   }
   #showQuestion .prPaQaContainer .prPaTotalsLabel{
		background-repeat: no-repeat !important;
		background-size: 64px !important;
	}
	.fixed-narrow-menu .thick-hr{
		display: none !important;
	}
	/* Code for Printing Stores from Store Landing Page*/ 
    body .store-locator-template .row.stitched,
    body .store-locator-template a,
    body .store-locator-template ~ *,
    body .store-locator-template #store-locator-results ~ *,
    body .container-fluid.store-locator-template #show-more-stores{
        display: none !important;
    }
    body .container-fluid.store-locator-template{
        margin-top: 10px !important;
        margin-left: 4%; 
    }
   body .container-fluid.store-locator-template #store-locator-results,
   body .store-locator-template #store-locator-results a{
       position: static !important;
       display: block !important;
   }
   body .store-locator-template #store-locator-results-scrollable, 
   body .store-locator-template #store-locator-results-scrollable .tse-scroll-content{
       height: auto !important;
   }
   body .container-fluid.store-locator-template .siteLogoForPrintPage{
       padding-left: 0 !important;
       margin-left: 0 !important;
       margin-bottom: 30px;
   }
   .sub-category-template .fixed-narrow-menu .compare-product-selection{
        display:none !important;
    }
    /* Code for Printing order history  orders*/ 
    .hideOnPrint{
    	display: none !important;
    }
	.order-history-template .my-account-quick-help-zone,
    .order-history-template #load-my-account-norton-script,
   	.order-history-template #orderHistoryLoadMore {
       display: none !important;
   	}
   	.order-history-template .template-content>div:first-child {
	    width: 69%;
	}
    .order-history-template .template-content{
       margin-top: 0 !important;
   	} 
   	.order-history-template .siteLogoForPrintPage{
   		margin-bottom: 20px;
   		padding-left: 3.5% !important;
   	}
   	.order-history-template .order-history-header{
   	    border-bottom: 1px solid #d2d2d2;
   		 padding-bottom: 15px;
   	}
	.order-history-template .template-content > div hr{
		display: none !important;
	}
}
.pdp-product-details-block .main-sec{
	width: 100%;
} 
.pdp-product-details-block .batteries_pIR{
	margin-top: 0;
	margin-bottom: 28px;
}
.hr-line{border-top: 1px solid #dadada;margin: 25px;width: 95%; float:left;}
.pdp-product-details-block .batteryPanel h3.batteries_pIR {

    color: #009DDB;
    font-size:24px;
}

.pdp-product-details-block .batteryPanel .content-block {
    width: 100%;
	margin-bottom: 20px;
}
.pdp-product-details-block .batteryPanel .content-block:last-child{
	margin-bottom: 0px;
}
.pdp-product-details-block .batteryPanel .content-block:after{
	content:" ";
	clear: both;
	visibility: hidden;
}
.pdp-product-details-block .batteryPanel .subtext {
	clear: both;
    color: #004ebc;
	width: 330px;
	text-decoration:none;
	float: left;
	vertical-align: top;
	font-size: 16px;
}
.pdp-product-details-block .batteryPanel .subtext a{
	color: #004ebc;
}
.pdp-product-details-block .batteryPanel .price.sale-price{
	margin: 0 30px;
}
.pdp-product-details-block .batteryPanel .price {
	margin-right: 10px;
	color:#666;
	float: left;
	max-width: 115px;
	/* margin-top: 10px; */
	vertical-align: top;
}
.pdp-product-details-block .batteryPanel .batteryPriceLow{
	max-width: 148px;
}
.pdp-product-details-block .batteryPanel .price .price{
	margin-top: 0px;
}
.pdp-product-details-block .button-part.batteryItemAddtoCart{
	vertical-align: top;
}
.pdp-product-details-block .batteryPanel .price .sale-price {
	color: #DC291E;
    font-size: 16px;
	width: 52px;
    height: 22px;
    
}
.pdp-product-details-block .batteryPanel .price .crossed-out-price {
    margin-right: 10px;
}
.pdp-product-details-block .batteryPanel .select {
   float:left;  color:#666;
}
.pdp-product-details-block .batteryPanel .checkboxselect{
    
    color: #000; float:left;}
	.clearboth{clear:both;}
.button-part{
	text-align:center;
	float: right;
	min-width: 155px;
	max-width: 180px;
}
.button-part.batteryItemAddtoCart{
	vertical-align: top;
	margin-top: -15px;
}
#product-main-content .main-sec .batteryPanel{
	  width: 780px;
	  height: auto;
	  background-color: #f3f3f3;
	  padding: 30px 30px 10px;
	  margin: 0 auto;
}
.pdp-product-details-block .batteryPanel .add-to-cart-new {
	  width: 180px;
	  height: 46px;
	  font-size: 18px;	  
	  text-align: center;
	  color: #ffffff;
	  background-color: #ea7125;
	border: 3px solid;
    border-color: #EA7125;
}
.pdp-product-details-block .batteryPanel .add-to-cart-new:hover {
    background-color: #fff;
    color: #EA7125;
}
.add-to-cart-new.email-me-when-available {
	padding: 0 10px;
}
.battery-out-of-stock,.battery-pre-order{
    color: #ea7125;
	font-size: 19px;
}
.cart-prior-order {
    font-size: 11px;
	line-height: initial;
    color: #666666;
}
.pdp-product-details-block .product-details > div
{
	width: 100%;
}
.pdp-product-details-block .product-details div:first-child #readmore,.manufacturer-content #wc-read-button.wc-read-more,.manufacturer-content #wc-read-button.wc-read-less
{
	width: 225px;
  	height: 46px;
  	background-color: #009ddb;
  	margin-bottom:30px;
}
/* new css for sizes*/
.pdp-commerce-zone #addToCartDivSpace .add-to-cart, 
.pdp-commerce-zone .email-me-available,
.cp-stock-details .email-me-available {
	width: 100% !important;
	height: 46px;
	background-color: #ea7125;

	font-size:18px;
	
	
	text-align: center;
	color: #fff;
}
.pdp-commerce-zone .email-me-available {
	padding: 0;	
}
.pdp-commerce-zone #addToCartDivSpace .add-to-cart:hover,
.pdp-commerce-zone .email-me-available:hover {
    background-color: #ffffff;
    color: #EA7125;
}

.size-swatches-container {
	max-width: 345px;
    min-height: 66px;
	border:1px solid #ddd;
	position: relative;
	height: auto;
    float: left;
    padding: 1px 10px 10px 1px;
}
.swatches {
	float:left;
	border:1px solid #ddd;
	width: 100px;
	height: 46px;
	margin:10px 0 0 9px;
	padding:0 5px;
	cursor:pointer;
	font-size: 14px;
	text-align: center;
	color: #757575;
	display: flex;
    align-items: center;
    justify-content: center;
}

a .size-label {
	font-size: 14px;
	color:#757575;
}

.product-details-template .sizes,
.collection-template .sizes{	
	top: -1px;
	margin: 0;
	display: none;
}
/* Start PDP fixes TUW-73917 */
#product-main-content .pdp-commerce-zone .sizes {
    top: -1px !important;
}

#product-main-content .pdp-commerce-zone .out-of-stock.swatches.selected-swatch,
.collection-product-block .out-of-stock.swatches.selected-swatch {
    border-width: 2px;
}

#product-main-content .sticky-price .color-text span,
#product-main-content .pdp-commerce-zone .store-display-block {
    text-transform: lowercase;
}
/* End PDP fixes TUW-73917 */
.collection-template .sticky-price-contents .collection-rating-section .star-rating-block .star-rating-on {
    background:url('../images/main-body-sprite.png') -31px -73px no-repeat;
     background-size:110px;
  }
.spark-size-label {
	width: 167px;
	height: 45px;
	z-index:999;
	border:1px solid #ddd;
	background:white;
	border-radius:0px;
	color: grey;
	background-color:block;
	display: block;
	padding-top: 11px;
	cursor: pointer;
	background: url(../images/spark-down-arrow.png) no-repeat 135px;
	text-align: left;
	padding-left: 11px;
}
.label-container.swatches-opened .spark-size-label {
	border-bottom:none !important;
	background: url(../images/spark-up-arrow.png) no-repeat 135px;
}
.extra-space{
	height:10px;
	width:167px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display:none;
}
.label-container.swatches-opened .extra-space{
	display:block;
	background: #ffffff;
	z-index: 1;
	position: relative;
}
.bb {
	border:block;
}
.border{
	position: absolute;
	border-top: 1px solid #ddd;
	width: 178px;
	right: 0;
}
.selected-swatch-label {
	float: right;
	margin-right: 40px;
}
.sticky-quantity .decreaseFullDiv,
.sticky-quantity .increaseFullDiv,
.collection-product-block .collection-col-right .size-qty-title-section .sticky-quantity .decreaseFullDiv, 
.collection-product-block .collection-col-right .size-qty-title-section .sticky-quantity .increaseFullDiv{
	width: 44px;
	height: 44px;
}
.sticky-quantity.spark-size-avaliable {
	margin-left: 10px;
	width: 167px;
}
.spark-size-avaliable #qtys-text {
	margin: 0;
}
.spark-size-avaliable{
	float: left;
	margin-top: 0;
	width: 167px;
}
.label-container {
	float: left;
	width: 167px;
}
.swatches.selected-swatch{
	border: 2px solid #009ddb;
	color:  #009ddb;
}
/* Start PDP fixes TUW-73917 - changing border from 2 to 1px */
.swatches.out-of-stock {
	border: 1px dashed #ddd;
	color: #ddd;
}
/* End PDP fixes TUW-73917 */
.size-qty-title-section {
	display: inline-block;
	width: 345px;
	position:relative;
	bottom:-5px;
}
.sticky-price-template .sticky-price {
	width: 403px;
}
.pdp-commerce-zone .preorder-availability .limit-1 {
	margin-top: 0;
}
.pdp-commerce-zone .sticky-price-contents .prices {
	margin: 38px 0 6px 0;	
}
.pdp-commerce-zone .preorder-availability {
	text-align: left;
}
.product-body-section .thumb-container {
	width: 55%;
}
.product-body-section #invodoModalButton {
	width: 60px !important;
	height: 60px !important;
}
/* Start TUW-73907 - fixing video related issues */
#product-main-content .pdp-product-details-block .thumb-container #invodoModalButton img {
   margin-top: 18px !important;
}
/* End TUW-73907 */
.product-body-section .social-banner {
	margin-right: 0;
}
.product-body-section .product-details .Divider {
	clear: both;
}
.pdp-commerce-zone .sizes,
.pdp-commerce-zone .sticky-sizes,
.pdp-commerce-zone .size-swatches-container,
.collection-template .sizes,
.collection-template .sticky-sizes,
.collection-template .size-swatches-container {
	width: 100%;
}
.pdp-commerce-zone .colors {
	border: 1px solid #ffffff;
}
.pdp-commerce-zone .color-swatches-block .color-block {
	margin-right: 0;
}
.pdp-commerce-zone .color-swatches-block.blockOpened {
	border: 1px solid #dddddd;
}
.pdp-commerce-zone .color-swatches-section {
	height: 55px;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}
.pdp-commerce-zone .view-more-color-section {
	margin: 10px auto;
}
.pdp-commerce-zone .view-more-color-swatch-link {
	text-decoration: none;
	font-size: 14px;
	text-align: center;
	color: #004ebc;
}
.pdp-commerce-zone .view-more-color-swatch-link:hover {
	text-decoration: underline;
}
.pdp-commerce-zone #addToCartDivSpace {
	width: 100%;
}
.pdp-commerce-zone .sticky-price-contents .prices .crossed-out-price {
  width: 57px;
  height: 25px;
  font-size: 18px;
  
  
  
  color: #666666;
}
.pdp-commerce-zone .prices .sale-price{
  width: 91px;
  height: 38px;
  font-size: 28px;
  
  
  
  color: #dc291e;
}
.pdp-commerce-zone .member-price {
	margin-bottom: 30px;
    text-transform: lowercase;
}
.pdp-commerce-zone .priceTooLow {
    font-size: 14px;
}
.pdp-commerce-zone .buy-1.promotionContainer {
	margin-top: 30px;
	border-radius: 4px 4px 0px 0px;
	padding-top:11px;
/* 	margin-bottom:30px!important; */
}
.pdp-commerce-zone .store-pickup-container,
.collection-template .store-pickup-container {
	margin-bottom: 30px;
}
.pdp-commerce-zone .color-block-inner.img-empty {
	visibility: hidden;
}
.pdp-commerce-zone .out-of-stock.color-block.color-selected,
.pdp-commerce-zone .out-of-stock.swatches.selected-swatch,
.collection-product-block .out-of-stock.color-block.color-selected,
.collection-product-block .out-of-stock.swatches.selected-swatch {
	border-style: dashed;
	border-color: #009ddb;
}

.product-details-template .top-product-details-content .pdp-cms-ad-zone-content .open-r-us-card{
	width: 300px;
} 
.product-details-template .pdp-product-details-block .pdp-enhanced-description-block,
.product-details-template .pdp-product-details-block .from-the-manufacturer{
	padding-right: 0px;
}
.pdp-commerce-zone .first-line-message,
.collection-template .first-line-message{
	font-size: 14px;
	
	
	
	text-align: left;
	color: #666666;
	display: block;
}
.pdp-commerce-zone .sub-lines,
.collection-template .sub-lines {
	font-size: 12px;
	
	
	
	text-align: left;
	color: #666666;
	display: block;
}
.pdp-commerce-zone .store-pickup-container .ICN-Store,
.collection-template .store-pickup-container .ICN-Store {
	background: url(../images/i-c-n-store.png) center center no-repeat;
	float: none;
    padding: 0;
    margin: 0 auto;
	height: 26px;
}
.pdp-commerce-zone .store-pickup-container .ICN-Store-disabled,
.collection-template .store-pickup-container .ICN-Store-disabled {
	background: url(../images/i-c-n-store-disable.png) center center no-repeat;
	width: 32px;
    object-fit: contain;
	float: none;
    padding: 0;
    margin: 0 auto;
	height: 25px;
}
.pdp-commerce-zone .find-store-container .ICN-truck,
.collection-template .find-store-container .ICN-truck {
	background: url(../images/i-c-n-truck.png) center center no-repeat;
	height:26px;
}
.pdp-commerce-zone .shipping-container-disabled .ICN-truck-disabled,
.collection-template .shipping-container-disabled .ICN-truck-disabled {
	background: url(../images/i-c-n-truck-disable.png) center center no-repeat;
	height:26px;
} 
.pdp-commerce-zone .find-store-container .ICN-truck-clock,
.collection-template .find-store-container .ICN-truck-clock {
	background: url(../images/i-c-n-truck-clock.png) center center no-repeat;
	height:26px;
}
.pdp-commerce-zone .find-store-container .store-image.greyImage .ICN-truck-clock,
.collection-template .find-store-container .store-image.greyImage .ICN-truck-clock {
background: url(../images/i-c-n-truck-disable.png) center center no-repeat;
height:26px;
}
.pdp-commerce-zone .store-pickup-container,
.collection-template .store-pickup-container {
	min-height: 25px;
	height: auto;	
}
.pdp-commerce-zone .store-pickup-container,
.pdp-commerce-zone .find-store-container,
.pdp-commerce-zone .shipping-container-disabled,
.collection-template .store-pickup-container,
.collection-template .find-store-container,
.collection-template .shipping-container-disabled {
	margin-left: 12px;
}
.pdp-commerce-zone .store-pickup-container .find-in-store-message,
.pdp-commerce-zone .find-store-container .leaves-warehouse,
.pdp-commerce-zone .shipping-container-disabled .leaves-warehouse,
.pdp-commerce-zone .product-availability .preorder-availability,
.collection-template .store-pickup-container .find-in-store-message,
.collection-template .find-store-container .leaves-warehouse,
.collection-template .shipping-container-disabled .leaves-warehouse  {
	padding-left: 27px;
}
.pdp-commerce-zone .product-availability .preorder-availability{
	margin-left: 0px;
}
.pdp-commerce-zone .store-pickup-container:after,
.pdp-commerce-zone .find-store-container:after
.collection-template .store-pickup-container:after,
.collection-template .find-store-container:after {
	content: '';
}
.pdp-commerce-zone .free-store-pickup-in,
.pdp-commerce-zone .find-store-container,
.pdp-commerce-zone .shipping-container-disabled,
.collection-template .free-store-pickup-in,
.collection-template .find-store-container,
.collection-template .shipping-container-disabled {
	display: table;
}
.pdp-commerce-zone .store-image,
.collection-template .store-image {
	display: table-cell;
	vertical-align: middle;
	width: 43px;
	/* line-height: -15px; */
}
.pdp-commerce-zone .store-pickup-container .find-in-store-message,
.collection-template .store-pickup-container .find-in-store-message {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.25em;
}
.pdp-commerce-zone .find-store-container .leaves-warehouse,
 .pdp-commerce-zone .shipping-container-disabled,
 .collection-template .find-store-container .leaves-warehouse,
 .collection-template .shipping-container-disabled{
	text-align: left;
}
.pdp-commerce-zone .leaves-warehouse .details-inline button.learn-more,
.collection-template .leaves-warehouse .details-inline button.learn-more {
	margin: 0 0 0 5px;
}
.product-body-section .block {
	margin-top: 30px;	
}
.product-body-section .adzone_cmsSpot {
	width: 300px;
}
.product-body-section .product-hero-area-wrapper .header { /* For sticky price scroll adjustment */
	min-height: 100px;
}
.pdp-commerce-zone .store-display-block,
 .collection-template .store-display-block {
	display: block;
}

.welcome-back-overlay img{
	    width: 15px;
    height: 15px
}
/* zoom functionality new css */

.zoomContainer {
	position: relative;
	height:480px; 
	width:100%;
	margin: 0;
}
.product-details-template #product-main-content .toys-template .hero-image-zoom1{
	position: absolute;
	z-index: 2;
	cursor: url(cursor.svg) 14 14, auto;
	max-width: 200%;
	max-height: 200%;
	opacity: 0;
}
#carousel-bounding-box .carousel-inner .zoom-icon-svg{
    background: url("../images/svg/cursor.svg") no-repeat center;
    width: 37px;
    height: 37px;
    position: absolute;
    left: 710px;
    top: 67px;
}
#carousel-bounding-box:hover .carousel-inner .zoom-icon-svg{
	background: url("") no-repeat center;
}
#carousel-bounding-box .carousel-inner .item.active .zoomContainer .largeImage{
	 cursor: url("../images/svg/cursor.svg") 14 14, auto;
}
/* end of zoom functionality new css */
/* CSS start for collecton Spark changes*/
.template-content.collection-template .collection-hero
{
	text-align: center;
}
/* Start Collection fixes TUW-73712 - changing margin top */
.template-content.collection-template .collection-hero .row .collection-header {
	margin: 50px 0 20px 0;
}
/* End Collection fixes TUW-73712 - changing margin top */
.template-content.collection-template .collection-hero .collection-hero-image
{
	/* width: 500px; */
	height: 500px;
	margin: 0 auto;
}
.template-content.collection-template .collection-hero .col-md-7
{
	float: none;
    width: 100%;
}
.template-content.collection-template .collection-hero .col-md-7
{
	width: 55%;
    display: inline-table;
}
.template-content.collection-template .collection-hero .collection-header-content
{
	max-width: 950px;
    display: inline-table;	
}	
.template-content.collection-template .collection-hero .collection-header .arrow
{
	width: 11px;
	height: 18px;
	position: absolute;
    top: 4px;
}
.template-content.collection-template .collection-hero .collection-header .arrow.left-arrow
{
	background: url(../images/left-arrow-collection.png) no-repeat;
	left: 0;
}
.template-content.collection-template .collection-hero .collection-header .arrow.right-arrow
{
	background: url(../images/right-arrow-collection.png) no-repeat;
	right: 0;
}

.template-content.collection-template .collection-hr {
	margin-bottom: 10px;
}
.template-content.collection-template .collections-hero-description {
	width: 671px;
    margin-top: 20px;
	font-size: 14px;
	
	
	
	line-height: 1.57;
	text-align: center;
	color: #666666;
}
.template-content.collection-template .collection-header-text {
	width: 424px;
	margin: 0 auto;
	font-size: 24px;
	
	
	
	line-height: 1.08;
	text-align: center;
	color: #666666;
}
.template-content.collection-template .sticky-price .size-chart, 
.pdp-commerce-zone .sticky-price .size-chart{
	  clear:both;
	  font-size: 14px;
	  
	  
	  
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: center;
	  color: #004ebc;
}
.template-content.collection-template .sticky-price .size-chart a.bru-headline:visited, 
.pdp-commerce-zone .sticky-price .size-chart a.bru-headline:visited {
	color: #5e2d91 !important;
}
.template-content.collection-template .collection-header-content {
	width: 558px;
	position: relative;
}
.template-content.collection-template .collection-col-left {
	width: 240px;
	height: 240px;
	float: left;
}
.template-content.collection-template .collection-col-center {
	width: 488px;
	float: left;
	margin-left: 30px;
}
.template-content.collection-template .collection-col-right {
	width: 345px;
	float: left;
	margin-left: 37px;
}
.template-content.collection-template .collection-rating-and-price-section {
	padding-left: 15px;
}
.template-content.collection-template .collection-rating-and-price-section .collection_price_section .prices,
.template-content.collection-template .collection-rating-and-price-section .collection_price_section .price {
	margin: 0;
	font-size: 18px;
	
	
	
	line-height: 0.89;
	color: #666666;
}
.template-content.collection-template .collection-rating-section,
.template-content.collection-template .collection_price_section {
	display: inline-block;
	float: left;
}
.template-content.collection-template .collection_price_section {
	margin-left: 20px;	
}
.template-content.collection-template .collection-rating-section .star-rating-off,
.template-content.collection-template .collection-rating-section .star-rating-on {
	width: 15px;
	height: 15px;
}
/* Start Collection fixes TUW-73712 */
.template-content.collection-template .collection-col-center .collection-description-section {
	margin-top: 10px;
}
/* End Collection fixes TUW-73712 */
.template-content.collection-template .collection-col-center .collection-description-section .summary-text {
	font-size: 14px;	
	line-height: 1.57;
	color: #666666;
}
.template-content.collection-template .collection-promo-section {
	margin-top: 41px;
}
.template-content.collection-template .collection-promo-section .deal-text {
	font-size: 14px;	
	color: #666;
}
.template-content.collection-template .collection-col-right .cp-stock-details {
	/* width: 100%; */
	width:400px;
	float: left;
	text-align: center;
}
.template-content.collection-template .collection-hero:focus {
    outline: 0px;
}

.template-content.collection-template .sticky-quantity .stepper .decrease,
.template-content.collection-template .sticky-quantity .stepper .increase {
	margin: 0 15px;
	top: 0px;
}
.template-content.collection-template .sticky-quantity .stepper .counter {
	width: 75px;
}
.template-content.collection-template .product-availability {
	margin-top: 30px;
    font-size: 14px;
}
.collection-template .store-pickup-container, 
.collection-template .find-store-container, 
.collection-template .shipping-container-disabled {
    padding-right: 12px;
}
.template-content.collection-template{
	padding-top: 100px;
	max-width: 1140px;
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
}
.collection-template .shipping-container-disabled .find-in-store.find-store-container,
.product-details-template .shipping-container-disabled .find-in-store.find-store-container{
  	margin-left: 0px;
}
.collection-template .collection-product-block{
	margin-left: 0px;
    margin-right: 0px;
}
.collection-template .sticky-price-contents{
	padding-right: 0px;
}
.collection-template .add-to-cart{
	width: 100%;
} 
.template-content.collection-template .collection-col-right .cp-stock-details {
	width: 100%;
	/* width: 400px;  */
	float: left;
	margin-top: -8px;
	text-align: center;
}
.template-content.collection-template .limit-1.inline {
    display: block!important;
    text-align: center!important;
    padding: 4px 0px 0px 0px!important;
}
.template-content.collection-template.baby-registry-addTo,.wish-list-addTo {
	width: 48.6%!important;
}
/* Start Collection fixes TUW-73712 - changing font family and weight, and margin right */
.template-content.collection-template .social-banner {
    padding-bottom: 2px;
    float: none;
    margin-top: 18px;
    margin-bottom: 28px;
    margin-right: 0px;
}

.template-content.collection-template h2 {
	font-size: 24px;	
}

/* End Collection fixes TUW-73712 - changing font family and weight, and margin right */

.site-BabyRUs .collection-template .collection-product-block .summary-text a,
.site-BabyRUs .collection-template .collection-product-block .store-pickup-container .inline a,
.site-BabyRUs .collection-template .learn-more{
	color: #5E2D91 !important;
	font-size: 14px;
    text-transform: lowercase;
}
.site-BabyRUs .collection-template .collection-product-block .summary-text a:hover,
.site-BabyRUs .collection-template .collection-product-block .store-pickup-container .inline a:hover,
.site-BabyRUs .collection-template .learn-more:hover{
	 color: #ea7125 !important; 
}
.site-BabyRUs .collection-template .collection-col-center h4 a{
	color: #5E2D91 !important;
}
.site-BabyRUs .collection-template .collection-col-center h4 a:hover{
	color: #ea7125 !important;
}
.collection-template .find-store-container .leaves-warehouse{
  font-size: 12px;
}
/* CSS ends for collecton Spark changes */
/* CSS begin for color & size variant */
.product-details-template .sticky-price-contents .colors .color-block div,
.collection-template .sticky-price-contents .colors .color-block div{
	width:32px;
	height:32px;
	margin:0;
}
.product-details-template .pdp-commerce-zone .colors .color-block.color-selected div,
.collection-template .collectionLineItem .colors .color-block.color-selected div{
	width:32px;
	height:32px;
	position: absolute;
	top: 1px;
	left: 1px;
}
.product-details-template .sticky-price-contents .colors .color-block,
.collection-template .sticky-price-contents .colors .color-block{
	width:40px;
	height:40px;
	border-radius:50%;
	position:relative;
    /* margin-left: 12px; */
    margin:10px 6px 0;
}
.product-details-template .color-block .color-block-inner,
.collection-template .color-block .color-block-inner{
	width:32px;
	height:32px;
	display: inline;
	border-radius:50%;
}
.product-details-template .sticky-price-contents .color-block.out-of-stock .color-block-inner,
.collection-template .sticky-price-contents .color-block.out-of-stock .color-block-inner,
.product-details-template .sticky-price-contents .colors .color-block.out-of-stock div,
.collection-template .sticky-price-contents .colors .color-block.out-of-stock div{
	width: 32px !important; 
    height: 32px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px auto;
}
.template-content.collection-template .collection-col-right .cp-stock-details .sizes{
	text-align: left;
}
.product-details-template .sticky-price-contents .swatches{
	width: 30%
}
.product-details-template .sticky-price-contents .size-swatches-container{
	padding-right: 0px;
}
.product-details-template .esrbratingModel .warning-btns p{
      font-size:16px;
      color: #666;
      padding-top:12px;
}
.product-details-template .esrbratingModel .warning-btns .row,.product-details-template .esrbratingModel .action-btns{
	margin-bottom: 0px;
}
.product-details-template .sticky-price-contents .out-of-stock{
	margin-bottom: 10px;
}
.product-details-template .sticky-price-contents .sizes .out-of-stock{
	margin-bottom: 0px;
}
.product-details-template .pdp-product-details-block .product-details h2{
	text-align: center;
}
.collection-spark-product-block 
/* CSS end for color & size variant */
/* zoom css */
.zoomContainer {
	position: relative;
	height:480px; 
	width:100%;
	margin: 0;
}
.zoomImage {
	z-index: 3;
	max-width: 100%;
	max-height: 100%;
	bottom: 0;
	right: 0;
	position: relative;
	display: block;
	margin:auto;
}
.promo-with-img-container .largeImage,.collection-hero-image .largeImage{
	position: absolute;
/* 	height: 960px;
	width: 960px;  */
	z-index: 4;
	cursor: url(../images/svg/cursor.svg) 14 14, auto;
	max-width: 200%;
	max-height: 200%;
	opacity: 0;
	display: "" !important;
}
.collection-hero-image:hover{
	cursor: url(../images/svg/cursor.svg) 14 14, auto;
}
.promo-with-img-container .zoomImage.zoomed,.collection-hero-image .zoomImage.zoomed{	
	max-width: 200%;
	max-height: 200%;
}
.collection-hero-image{
	width: 781px;
	height: 500px;
	position: relative;
	overflow: hidden;
}
.collection-hero-image .zoomContainer{
	height: 500px;
}
.product-details-template .product-hero-area .block{
	width: 781px;
}
/*Start spark changes for email me available popup*/
 #notifyMeModal .spark-notify-me{
	width: 48%;
	max-width: 596px;
	height: auto;
}
#notifyMeModal .spark-notify-me .modal-content.sharp-border{
	padding: 30px;
}
[class*="spark-"] .modalHeader .modalTitle {
    width: 80%;
    text-align: left;
    font-size:32px;
    color: #009ddb;
  	line-height: 0.9;
}
[class*="spark-"] .modalHeader .close-btn {
    width: 16px;
    float: right;
}
[class*="spark-"] .modalHeader{
	overflow: "hidden";
}
#notifyMeModal [class*="spark-"] button#notifyMeMail{
	margin: 0;
	width: 100px;
	height: 46px;
	background-color: #009ddb;
	font-size: 18px;
	text-align: center;
	color: #fff;
	border: 2px solid #009ddb;
}
#notifyMeModal [class*="spark-"] button#notifyMeMail:hover{
	color: #009ddb;
	background-color: #fff ;
}
#notifyMeModal [class*="spark-"] #mailId{
	height: 46px;
	border: solid 1px #d2d2d2;
	width: 76%;
	max-width: 390px;
	margin-right: -5px;
}
#notifyMeModal [class*="spark-"] .notify-me-footer{
	width: 490px;
}
#notifyMeModal [class*="spark-"] .notify-me-footer .privacy-policy{
	margin-left: 0px;
}
#notifyMeModal [class*="spark-"] .notify-me-footer a:hover{
	color: #ea7125;
}
#notifyMeModal [class*="spark-"] .notify-me-footer .notify-me-text,
#notifyMeModal [class*="spark-"] .notify-me-footer a,
#notifyMeModal [class*="spark-"] .notify-me-header .notify-me-text {
    font-size: 14px;
}
#notifyMeModal [class*="spark-"] .notify-me-footer a:hover{
	color: #ea7125;
}
#notifyMeModal [class*="spark-"] .notify-me-footer .notify-me-text{
	width: 460px;
	color: #666;
	padding-left:10px;
}
#notifyMeModal [class*="spark-"] .modal-header{
	padding-top: 0;
	padding-bottom:0;
	border-bottom: 0; 
}
#notifyMeModal [class*="spark-"] .modal-header .email-me-product-title {
  font-size: 14px;
  color: #004ebc;
  margin: 20px 0 30px -15px;
}
#notifyMeModal [class*="spark-"] .notify-me-footer .pdp-notify-checkbox{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
#notifyMeModal .modal-dialog {
	margin-top: 105px;
}
/*End spark changes for email me available popup*/
.pdp-commerce-zone .sticky-quantity div.limit-1{
	display: block;
	margin-top: 10px;
	text-align: center;
}
.product-details-template #learnMorePopupBoth .modal-dialog,
.product-details-template #learnMorePopupStore .modal-dialog {
	margin-top: 200px;
}
/* Start: To match Spark UI changes for TUW-72702*/
.collections-template .my-account-product-carousel {
	background-color: #fff;
    clear: both;
    margin-top: 40px !important;
    padding-left: calc((100% - 1140px)/2);
    padding-right: calc((100% - 1140px)/2);
}
.collections-template .recently-viewed-section-content .block-2-row{
	margin: 0px;
}
.collections-template .my-account-product-carousel .product-carousel-title {
	padding: 30px 0 20px 0;	
}
.collections-template .slider-product-block-container {
	height: 425px !important;
}
.collection-template li.deal-text{
	list-style-type: none;
}
.collection-template li.deal-text.showPromotion:before{
	content: "\2022";
	margin-right: 8px;
	color: #009DDB;
}
.site-BabyRUs .collection-template li.deal-text:before{
	 color: #5E2D91 !important; 
}
.footer-grid  .footer-images .footer-image-row {
	padding-top: 40px;
}
.footer-grid  #sdx-footer .footer-list-1-header {
  font-size: 24px;
  
  
  line-height: normal;
  letter-spacing: normal;
  color: #666666;
}
.footer-grid  #sdx-footer .footer-list-1-content ul li a {
  font-size: 12px;  
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
}
.footer-grid  #sdx-footer .footer-list-1-header {
	margin-bottom: 5px;
}
.footer-grid  #sdx-footer .footer-list-1-content ul {
	 margin-top: 0;
}
.footer-grid  #sdx-footer .footer-list-1-content ul li {
	margin-bottom: 10px;
}
/* End: To match Spark UI changes for TUW-72702*/


.product-title {
    width: auto;
    font-size: 28px;
}
.add-to-cart {
	border: 3px solid;
	border-color: #EA7125;
	background-color: #EA7125;
	background-image: none;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	width: 170px;	
	width: 400px;
	height: 45px;
	padding: 4px 24px;
}

.add-to-cart:hover {
	background-color: #fff;
	color: #EA7125;
}
.add-to-cart:active { 
	background-color: #d55f02 !important;
	color: #fff !important;
	border-color:#d55f02 !important;
}

button.add-to-cart[disabled] {
	color: white;
	background-color: #757575 !important;
	border-color: #757575 !important;
}

button.add-to-cart[disabled]:hover {
	color: #757575 !important;
	background-color: #fff !important;
	cursor: default!important;
}

.add-to-cart-section {
	margin-top: 10px;
	margin-bottom: 10px;
}

.plus-sign {
	display: inline-block;
	height: 12px;
	width: 15px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -314px;
}

.grey-list-dot {
	height: 6px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -240px;
}

.green-list-dot {
	height: 6px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -224px;
}

.sticky-price .rating {	
	color: #666666;
}
.grey-location-icon {
	height: 12px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -202px;
}

.sticky-price .green-location-icon {
	height: 12px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px 0px;
	position: relative;
	top: 4px;
	right: 1px;
}

.grey-arrow-icon {
	height: 10px;
	width: 7px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -696px;
	margin-left: 2px;
	vertical-align: middle;
}

.small-orange {
	color: #EA7125;
}

.small-orange:visited {
	color: #EA7125;
}

.small-orange:hover {
	text-decoration: none;
}

.small-blue {
	font-size: 11px;
	color: #004EBC;
}

.small-blue a {
	text-decoration: none;
}

.small-grey {
	font-size: 11px;
	color: #666;
}

.limit-1 {
	font-size: 12px;
	color: #666;
	vertical-align: middle;
	margin-top:5px;
}

.sticky-quantity .stepper {
	line-height: 45px;
}

.sticky-quantity .stepper .decrease,.sticky-quantity .stepper .increase
	{
	height: 10px;
	width: 10px;
	margin-left: 15px;
	margin-right: 15px;
	top: 17px;
}
.pdp-commerce-zone .sticky-quantity .stepper .decrease, .pdp-commerce-zone .sticky-quantity .stepper .increase {
    top: 0px;
} 
.sticky-quantity .stepper .counter {
	font-size: 14px;
	color: #666;
	width: 50px;
}

.product-availability {
	font-size: 14px;
	padding-bottom: 10px;
	margin-top: 30px;
	color: #666666;
	float:left;
	width:100%;
}

.product-availability div.inline a:hover {
	text-decoration: underline;
	color: #ea7125;
}

.add-to {
	margin-bottom: 10px;
	font-size: 11px;
}

.add-to a {
	margin-left: 10px;
}

.add-to-text {
	color: #999;
}

.add-to-button {
	margin-bottom: 5px;
	font-size: 9px;
	margin-top: 10px;
}
.product-body-section .content-productdesc-about-history b {
	font-weight: bold;
}
.pre-outofstock-message{
	color: #dc291e;
    font-size: 12px;
    text-align: center;
}
.collection-product-block .size-qty-title-section .cp-stock-details .size-swatches-container{
	max-width:345px;
}
.collection-product-block .collection-col-right .sizes .sticky-sizes{
	margin-top:2px;
}
.collection-product-block .collection-col-right .size-qty-title-section a.spark-size-label:hover{
	text-decoration:none;
}
