.footer-grid .footer-grid-list {
	margin-top: 30px;
}

.footer-grid .footer-images {
	background-color: #f3f3f3;
}

.footer-grid .footer-images .footer-image {
	background-color: transparent;
	display: block;
	width: 100%;
}

.footer-grid .footer-images .footer-image-row {
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

.footer-grid .footer-images .footer-image-row>div {
	text-align: center;
}

.footer-grid .footer-images .col-md-5ths {
	padding-left: 0px;
	padding-right: 0px;
}

.footer-grid #footer .col-md-7 {
	padding-top: 5px;
	padding-left: 0px;
}

.footer-list-1 {
	display: inline-block;
	text-align: left;
}

.footer-list-1>.footer-list-1-content .seo-link {
	color: #666666;
	text-decoration: none;
}

.footer-list-1>.footer-list-1-content .seo-link:hover {
	color: #009DDB !important;
	text-decoration: underline;
}

.footer-list-1>.footer-list-1-content .seo-link:visited {
	color: #666666;
	text-decoration: none;
}

.footer-list-1>.footer-list-1-content .footer-list-1-header {
	font-size: 24px;
	color: #666666;
	margin-bottom: 10px;
	margin-top: 8px;
	display: inline-block;
}

.footer-list-1>.footer-list-1-content>ul {
	font-size: 14px;
	list-style: none;
	padding: 0;
}

.footer-list-1>.footer-list-1-content>ul li {
	display: block;
}

.footer-image {
	margin-top: 5px;
	vertical-align: middle;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.footer-image .image-holder {
	background-color: #fff;
	display: inline-block;
	padding: 15px 10px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-image .footer-image-link {
	text-decoration: none;
}

.social-footer-block {
	width: 800px;
	margin: auto;
	height: 75px;
	vertical-align: middle;
}

.slider-image-block-container,.slider-image-block-container-brand {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1320px;
}

.slider-image-block-container .slider-image-block-loading-div,.slider-image-block-container-brand .slider-image-block-loading-div
	{
	position: absolute;
	top: 0px;
	left: 0px;
}

.slider-image-block-container .slider-image-block-loading-div:first-child,.slider-image-block-container-brand .slider-image-block-loading-div:first-child
	{
	position: absolute;
	display: none !important;
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

.slider-image-block-container .slider-image-block-loading-div:last-child,.slider-image-block-container-brand .slider-image-block-loading-div:last-child
	{
	position: absolute;
	display: none !important;
	background: url('../images/loading.gif') no-repeat center center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.slider-image-block-container .slides-image-block,.slider-image-block-container-brand .slides-image-block
	{
	width: 100%;
	position: absolute;
	height: inherit;
	overflow: hidden;
}

.slider-image-block-container .slides-image-block .product-block-img,.slider-image-block-container-brand .slides-image-block .product-block-img
	{
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.slider-image-block-container .slides-image-block .product-label,.slider-image-block-container-brand .slides-image-block .product-label
	{
	font-size: 18px;
	color: #666666;
	line-height: 1.111;
	text-align: left;
	margin-top: 5px;
}

.slider-image-block-container .product-label-brand,.slider-image-block-container-brand .product-label-brand
	{
	font-size: 18px;
	color: #666666;
	line-height: 1.111;
	position: relative;
	bottom: 50px;
	height: 17%;
	padding-left: 10px;
	padding-top: 4%;
	cursor: pointer;
}

.slider-image-block-container .product-label-brand:hover,.slider-image-block-container-brand .product-label-brand:hover
	{
	text-decoration: underline;
}

.jssor-bullet div,.jssor-bullet div:hover,.jssor-bullet .av {
	background: url('../images/bullet-blue.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
	margin-top: 5px;
}

.jssor-bullet div {
	background-position: -96px -7px;
}

.jssor-bullet div:hover {
	background-position: -7px -7px;
}

.jssor-bullet .av,.jssor-bullet .av:hover,.jssor-bullet .dn:hover {
	background-position: -37px -7px;
}

.jssor-bullet .dn {
	background-position: -7px -7px;
}

#multi-slide-bullets {
	position: absolute;
}

.jssora11l,.jssora11r,.jssora11ldn,.jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url('../images/subcat-universal-sprite.png') no-repeat;
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11ldn {
	background-position: -251px -41px;
}

.jssora11rdn {
	background-position: -311px -41px;
}

#multi-carousel-left-arrow,#multi-carousel-right-arrow {
	width: 66px;
	height: 66px;
}

#multi-carousel-left-arrow {
	background-position: -7px -75px;
}

#multi-carousel-right-arrow {
	background-position: -7px 0px;
}

.product-block {
	background-color: white;
	width: 100%;
	height: auto;
	/* max-width: 356px; */
	height: 585px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.product-block .promo-block-container {
	position: absolute;
	display: none;
	background-color: white;
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.product-block.promo-block .promo-block-container {
	display: block;
}

.product-block .product-block-border {
	border: 0.25em solid #ebebeb;
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	box-sizing: border-box;
}

.product-block-selected {
	border: 1px solid #66bc29;
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.product-block-unselected {
	box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #efefef;
}

.product-selection {
	/*width: 380px;*/
	margin: 5px;
	height: 20px;
	visibility: hidden;
}

.wish-list-heart-block {
	margin-left: 10px;
	margin-bottom: 15px;
	display: none;
}

.do-select>.product-selection {
	visibility: visible;
}

.product-block-padding {
	padding-left: 0px !important;
	padding-right: 10px !important;
}

.product-flag {
	position: absolute;
	width: 90px;
	height: 90px;
	z-index: 1;
	right: -1px;
	top: -1px;
}

.product-block.exclusive-flag-tru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -505px;
}

.product-block.exclusive-flag-bru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -102px;
}

.product-block.new-flag-bru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -204px;
}

.product-block.new-flag-tru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -605px;
}

.product-block.top-seller-flag-tru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -404px;
}

.product-block.top-seller-flag-bru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px 0px;
}

.product-block.sponsored-flag-tru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -707px;
}

.product-block.sponsored-flag-bru .product-flag {
	background: url('../images/product-flags-sprite.png') no-repeat center;
	background-position: 0px -303px;
}

.product-choose {
	display: none;
}

.choose-product>.product-choose {
	display: inline;
}

.exclusive-flag-tru>.product-flag-exclusive-tru {
	visibility: visible;
}

.exclusive-flag-bru>.product-flag-exclusive-bru {
	visibility: visible;
}

.new-flag-bru>.product-flag-new-bru {
	visibility: visible;
}

.new-flag-tru>.product-flag-new-true {
	visibility: visible;
}

.top-seller-flag-tru>.product-flag-top-seller-tru {
	visibility: visible;
}

.top-seller-flag-bru>.product-flag-top-seller-bru {
	visibility: visible;
}

.product-block .colors {
	opacity: 0;
	margin-left: 10px;
}

.product-block .product-block-information .product-block-sale-price {
	display: none;
	color: #DC291E;
}

.product-block .product-block-information .product-block-sale-price+div
	{
	opacity: 0;
	font-size: 10px;
}

.product-block .product-block-information .product-block-sale-price+div span
	{
	color: #DC291E;
}

.product-block.on-sale .product-block-information .product-block-original-price
	{
	text-decoration: line-through;
}

.product-block.on-sale .product-block-information .product-block-sale-price
	{
	display: inline-block;
}

.product-block.on-sale .product-block-information .product-block-sale-price+div
	{
	opacity: 1;
}

.product-block.has-swatch-options .colors {
	opacity: 1;
}

.product-block.has-swatch-options .colors>div {
	cursor: pointer;
}

.savings-sign-up {
	display: inline-block;
	vertical-align: top;
}

.savings-form-wrapper {
	margin-top: 25px;
}

#emailSignUpFooter #emailPopupTxtFooter {
	display: inline-block;
	width: 70%;
	font-size:15px;
	height: 40px;
}
#emailSignUpFooter #submitEmailFooter {
	display: inline-block;
	width: 25%;
    background-color: #009ddb;
    color: #fff;
    font-size: 16px;
    height: 39px;
    padding: 3px 0 0 0;
    border: solid 2px #009ddb;
    box-shadow: none;
    border-radius:0;
    position: relative;
	left: -4px;
}
#emailSignUpFooter #submitEmailFooter:hover {
    background-color: #FFF;
    color: #009ddb;
}
body.site-BabyRUs #emailSignUpFooter #submitEmailFooter {
    background-color: #5e2d91;
    border: solid 2px #5e2d91;
}
body.site-BabyRUs #emailSignUpFooter #submitEmailFooter:hover {
    background-color: #FFF;
    color: #5e2d91;
}
.email-sign-up-thanksFooter {
	display:none;
	width: 75%;
}

#emailSignUpFooter #emailPopupTxtFooter::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #757575;
}

#emailSignUpFooter #emailPopupTxtFooter::-moz-placeholder {
	/* Firefox 19+ */
	color: #757575;
}

#emailSignUpFooter #emailPopupTxtFooter:-ms-input-placeholder {
	/* IE 10+ */
	color: #757575;
}

#emailSignUpFooter #emailPopupTxtFooter:-moz-placeholder {
	/* Firefox 18- */
	color: #757575;
}

.product-block-list {
	padding-bottom: 20px;
}

.sticky-price {
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	/* border-bottom: 1px solid #eaeaea; */	
	display: inline-block;
	position: absolute;
	width: 100%;
	top: 200px;
	background-color: #fff;
	z-index: 100;
	top:10px;
}

.sticky-price .size-chart {
	position: relative;
}

.sticky-price .sizes-select-wrapper {
	overflow: hidden;
	display: inline-block;
	width: 73px;
	height: 21px;
	border: 1px solid #dedede;
	border-radius: 0;
	outline: none;
	position: relative;
}

.sticky-price .sizes-select-wrapper select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	/*background: url('../images/category-down-blue-arrow.png') no-repeat 55px transparent;*/
	width: 100%;
	border: none;
	outline: none;
	position: relative;
	top: -2px;
}

.sticky-price .sizes-select-wrapper select::-ms-expand {
	display: none;
}

.sticky-price-contents .buy-1 {
	font-size: 12px;
	color: #004EBC;
	margin-bottom: 7px;
}

.sticky-price-contents .buy-1 span {
	padding-left: 10px;
	padding-right: 10px;
	color: #666;
}

.sticky-price-contents .buy-1 a {
	color: #004EBC;
  	float: right;
	cursor: pointer;
	margin-left: -3px;
}

.sticky-price-contents .buy-1 a:hover {
	text-decoration: underline;
	color: #ea7125;
}

.sticky-price-template>.sticky-price {
	position: fixed;
	right: 0px;
}

.sticky-price-contents {
	padding-left: 15px;
	padding-top: 20px;
	padding-right: 30px;
}
.sticky-price-contents, .sticky-price-contents a{
	letter-spacing: 0;
}
.sticky-price-contents .member-price {
	font-size: 12px;
	color: #666;
	margin-bottom: 30px;
}

.sticky-price .color-text {
	font-size: 11px;
	color: #333;
	margin-top: 35px
}

.sticky-price .pre-order {
	font-size: 16px;
	color: #EA7125;
}

.sticky-price .color-text span {
}

.quickview-sticky-price .color-text {
	font-size: 11px;
	color: #333;
}

.quickview-sticky-price .color-text span {
}

.sticky-price-contents .prices {
	margin: 15px 0 28px;
	
}

.sticky-price-contents .prices .crossed-out-price {
	text-decoration: line-through;
	font-size: 18px;
	line-height: 1;
	color: #666666;
	margin-right: 5px;
}

.sticky-price-contents .prices .sale-price {
	color: #dc291e;
	
	font-size: 28px;
	line-height: 1;
	height: 38px;
}

.sticky-price-contents .prices .price {
	color: #666666;
	font-size: 28px;
	line-height: 1;
	height: 38px;
}

.special-offer-text {
	color: #DC291E;
	margin: 0;
	margin-bottom: 10px;
	font-size: 11px;
}

.special-offer-text .plus-sign {
	position: relative;
	top: 1px;
}

.size-block {
	display: inline-block;
	font-size: 12px;
}

.sizes .size-chart a {
	font-size: 13.75px;
	color: #004EBC;
	cursor: pointer;
}

.sizes .size-chart a:hover {
	text-decoration: underline;
	color: #ea7125;
}

.add-to-cart {
	border: 3px solid;
	border-color: #EA7125;
	background-color: #EA7125;
	background-image: none;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	/*   width: 170px; */
	
	width: 400px;
	height: 45px;
	padding: 4px 24px;
}

.add-to-cart:hover {
	background-color: #fff;
	color: #EA7125;
}
.add-to-cart:active { 
	background-color: #d55f02 !important;
	color: #fff !important;
	border-color:#d55f02 !important;
}

button.add-to-cart[disabled] {
	color: white;
	background-color: #757575 !important;
	border-color: #757575 !important;
}

button.add-to-cart[disabled]:hover {
	color: #757575 !important;
	background-color: #fff !important;
	cursor: default!important;
}

.add-to-cart-section {
	margin-top: 10px;
	margin-bottom: 10px;
}

.plus-sign {
	display: inline-block;
	height: 12px;
	width: 15px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -314px;
}

.grey-list-dot {
	height: 6px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -240px;
}

.green-list-dot {
	height: 6px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -224px;
}

.sticky-price .rating {
	
	color: #666666;
}

.grey-location-icon {
	height: 12px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -202px;
}

.sticky-price .green-location-icon {
	height: 12px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px 0px;
	position: relative;
	top: 4px;
	right: 1px;
}

.grey-arrow-icon {
	height: 10px;
	width: 7px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -696px;
	margin-left: 2px;
	vertical-align: middle;
}

.small-orange {
	color: #EA7125;
}

.small-orange:visited {
	color: #EA7125;
}

.small-orange:hover {
	text-decoration: none;
}

.small-blue {
	font-size: 11px;
	color: #004EBC;
}

.small-blue a {
	text-decoration: none;
}

.small-grey {
	font-size: 11px;
	color: #666;
}

.limit-1 {
	font-size: 12px;
	color: #666;
	vertical-align: middle;
	margin-top:5px;
}

.sticky-quantity .stepper {
	line-height: 45px;
}

.sticky-quantity .stepper .decrease,.sticky-quantity .stepper .increase
	{
	height: 10px;
	width: 10px;
	margin-left: 15px;
	margin-right: 15px;
	top: 17px;
	/* top:-1px; */
}

.sticky-quantity .stepper .counter {
	font-size: 14px;
	color: #666;
	width: 50px;
}

.product-availability {
	font-size: 14px;
	padding-bottom: 10px;
	margin-top: 30px;
	color: #666666;
	float:left;
	width:100%;
}

.product-availability div.inline a:hover {
	text-decoration: underline;
	color: #ea7125;
}

.add-to {
	margin-bottom: 10px;
	font-size: 11px;
}

.add-to a {
	margin-left: 10px;
}

.add-to-text {
	color: #999;
}

.add-to-button {
	margin-bottom: 5px;
	font-size: 9px;
	margin-top: 10px;
}

.add-to-button a {
	margin-right: 4px;
	border: 1px solid #666;
	padding: 4px;
}

.add-to-image {
	width: 10px;
	height: auto;
	margin-right: 4px;
}

.tru-our-exclusive {
	position: absolute;
	height: 33px;
	width: 180px;
	background-image: url('../images/pdp-flags.png');
	background-position: 0px -197px;
}

.bru-our-exclusive {
	position: absolute;
	height: 33px;
	width: 180px;
	background-image: url('../images/pdp-flags.png');
	background-position: 0px -151px;
}

.special-offer .btn-default {
	border-color: transparent;
}

.special-offer .btn {
	height: 20px;
	border-radius: 0;
	padding: 0px;
}

.special-offer .dropdown-menu {
	margin-top: 15px;
	float: none;
	background-color: #fff;
	border-radius: 0;
	border: 0px;
	box-shadow: 1px 1px 3px #D6D6D6;
	padding-top: 16px;
	padding-bottom: 15px;
	width: 300px;
}

.special-offer .dropdown-menu>li {
	font-size: 11px;
	color: #666;
	padding: 10px 4%;
}

.special-offer.btn-group.open .dropdown-toggle {
	box-shadow: 1px 1px 3px #D6D6D6;
}

.special-offer-dropdown-arrow {
	position: absolute;
	height: 20px;
	width: 40px;
	display: inline-block;
	margin: auto;
	left: 20px;
	bottom: 110px;
}

.special-offer .btn-default:hover,.special-offer.btn-default:focus,.special-offer.open>.btn-default.dropdown-toggle
	{
	border-color: transparent;
	background-color: #fff;
}

.sticky-sizes {
	display: inline-block;
}

.learn-more,.add-to-link {
	border: 0;
	background: none;
	font-size: 14px;
	color: #004ebc;
	cursor: pointer;
	
}

.learn-more:hover,.add-to-link:hover {
	text-decoration: underline;
	color: #ea7125;
}

.sizes {
	margin-bottom: 10px;
	position: relative;
}

.sizes .select-wrapper {
	border: 1px solid #dedede;
	border-radius: 0;
	width: 100px;
	height: 25px;
	overflow: hidden;
}

.sizes select {
	/*background: url('../images/category-down-blue-arrow.png') no-repeat transparent;*/
	border: none;
	background-position: 75px 7px;
	font-size: 12px;
	color: #666;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 25px;
	padding-left: 5px;
}

.sticky-full-price .limit-1 {
	display: inline-block;
}

.sticky-full-price .logo {
	margin-top: 2%;
	margin-bottom: 2%;
}

.sticky-full-price .grey-location-icon {
	height: 12px;
	width: 10px;
	background-image: url('../images/pdp-universal-sprite.png');
	background-position: 0px -202px;
	position: relative;
	top: 4px;
	right: 1px;
}

.category-trending-structure {
	margin-left: 2%;
}

.category-trending-structure .now-trending-header {
	font-size: 32px;
	color: #757575;
	line-height: 0.733;
	text-align: left;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

.sub-cat-nav {
	font-size: 36px;
	color: #666666;
	padding: 20px 10%;
	border-bottom: 1px solid #d4d4d4;
}

.fade-to-black {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index: 110;
	display: none;
}

.fade-to-black-2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index: 105;
	display: none;
}

.sub-category-filter-accordion-hr {
	width: 100%;
	height: 1px;
	background-color: #d2d2d2;
}

.brand-header {
	margin-top: 36px;
	color: #fff;
	font-size: 48px;
	padding-left: 30px;
}

.lego-background {
	margin-bottom: 2%;
	padding-bottom: 8px;
}

.lego-background .slider-image-block-container-brand .slides-image-block .product-block-img
	{
	border: none;
}

.lego-background .quickview {
	opacity: 1;
}

.lego-background .jssor-bullet {
	position: relative !important;
	top: 295px;
}

/* TRU theme */
.gift-finder-menu {
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.gift-finder-container {
	position: relative;
	width: 600px;
	background-color: white;
	opacity: 0.949;
	padding-bottom: 1px;
}

.gift-finder-container>div {
	position: relative;
	margin-left: 65px;
	/*padding-bottom: 110px;*/
}

.gift-finder-container>div>button {
	padding-top: 6px;
	position: absolute;
	right: 138px;
	font-size: 18px;
	color: #009DDB;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
}

.gift-finder-container>div>button:hover {
	text-decoration: underline;
	color: #666666;
}

.gift-finder-spacer {
	padding-top: 30px;
}

.gift-finder-content {
	margin-left: 13.7%;
	margin-right: 13.7%;
}

.gift-finder-wrapper.tse-scrollable {
	width: 524px;
	height: calc(100vh - 259px);
}

.gift-finder-wrapper>.tse-scrollbar {
	height: 100% !important;
}

.gift-finder-wrapper>.tse-scroll-content {
	height: calc(100vh - 259px) !important;
}

.gift-finder-footer {
	width: 524px;
	background-color: white;
	opacity: 0.949;
	border-top: thin solid #d2d2d2;
	height: 129px;
}

.gift-finder-footer {
	position: relative;
}

.gift-finder-footer>div {
	position: absolute;
	bottom: 0px;
	margin-left: 65px;
	margin-top: 30px;
	padding-bottom: 30px;
}

.gift-finder-footer>div button {
	background-color: #009DDB;
	color: white;
	border: none;
	display: inline-block;
	width: 257px;
	height: 58px;
	padding: 0 0;
	font-size: 20px;
	border: 3px solid #009DDB;
}

.gift-finder-footer>div button:hover {
	color: #009DDB;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

.gift-finder-footer>div button[disabled] {
	color: white;
	background-color: #757575;
	border-color: #757575;
}

.gift-finder-footer>div button[disabled]:hover {
	color: white;
	background-color: #757575;
	cursor: default;
}

.gift-finder-footer>button,.gift-finder-footer>div.clearGiftFinderBtn {
	position: absolute;
	left: 64px;
	top: 105px;
	font-size: 14px;
	color: #004EBC;
	cursor: pointer;
	border: none;
	outline-style: none;
	background: none;
}

.gift-finder-footer>button:hover {
	text-decoration: underline;
	color: #ea7125;
}

.gift-finder-footer>div.clearGiftFinderBtn {
	margin: 0px;
	padding: 0 6px;
}

.gift-finder-menu>.gift-finder-hero {
	height: 130px;
	background-position: center 30px;
	background-color: #009DDB;
	position: relative;
}

.gift-finder-menu>.gift-finder-hero>a {
	color: white;
	font-size: 18px;
	position: absolute;
	left: 77px;
	bottom: 5px;
	background: url('../images/gf-back-arrow.png') no-repeat 0 4px;
	padding-left: 10px;
}

.gift-finder-scroll-content {
	overflow: auto;
	max-height: calc(100vh - 272px);
}

.compare-overlay {
	color: #666666;
	background-color: white;
	padding-top: 2%;
	overflow-y: hidden;
	padding-left: 4%;
	padding-bottom: 4%;
	height: 91vh;
	overflow-x: hidden;
	position: relative;
}

.compare-overlay .compare-overlay-close {
	position: absolute;
	top: 5px;
	right: 20px;
	cursor: pointer;
}

.compare-overlay .compare-overlay-locked {
	position: relative;
	/*left: 4%;*/
	right: 0;
	background-color: white;
	z-index: 1;
}

.compare-overlay .compare-overlay-locked hr:last-child {
	margin-bottom: 0;
}

.compare-overlay .compare-overlay-scroll {
	padding-top: 16px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.close-compare-overlay-image {
	position: absolute;
	right: 0;
	cursor: pointer;
	cursor: hand;
}

.compare-overlay div.row div.col-md-3 {
	font-size: 24px;
}

.compare-overlay div.row div.col-md-2 {
	font-size: 24px;
}

.compare-overlay div.row div.best-uses {
	font-size: 18px;
}

.compare-overlay div.row div.extras {
	font-size: 14px;
	margin-bottom: 70px;
}

.column-header-text {
	font-size: 21px;
}

.compare-header {
	font-size: 32px;
	margin-bottom: 10px;
	line-height: 1;
	padding-left: 15px;
	color: #666;
}

.small-compare-text {
	font-size: 18px;
	padding-left: 15px;
	color: #666;
}

.compare-overlay button.add-to-cart {
	font-size: 18px;
	background-color: #ea7125;
	color: white;
	border: none;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 5px 30px;
	border: 3px solid #ea7125;
}

.compare-overlay button.add-to-cart:hover {
	color: #ea7125;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

.compare-overlay button.add-to-cart[disabled] {
	color: white;
	background-color: #757575;
	border-color: #757575;
}

.compare-overlay button.add-to-cart[disabled]:hover {
	color: white;
	background-color: #757575;
	cursor: default;
}

.compare-overlay .add-to-registry {
	font-size: 18.3px;
	color: #ea7125;
	cursor: pointer;
}

.compare-overlay .add-to-registry:hover {
	text-decoration: underline;
	color: #009DDB;
}

.compare-overlay .add-to-registry:hover {
	text-decoration: none;
}

#compare-products-button {
	border: 3px solid transparent;
	background-color: #009DDB;
	background-image: none;
	color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	margin: 10px 0 5px 0;
	padding: 8px 9px;
	width: 150px;
	height: 46px;
}



#compare-products-button:hover {
	border: 3px solid #009DDB;
	color: #009DDB;
	background-color: #fff;
}

#compare-products-button:disabled {
	background-color: #cccccc;
}

#compare-products-button:disabled:hover {
	border: 3px solid #cccccc;
	color: #fff;
	background-color: #cccccc;
}

#remove-products-button {
	border: none;
	background-color: #fff;
	margin-top: 20px;
	margin-left: 40px;
}

#remove-products-button > .remove-icon {
	padding: 0 0 3px 3px;
}

.compare-product-selection {
	display: none;
}


.compare-product-selection .compare-image {
	padding: 0;
	border: 2px solid #efefef;
	margin-left: 0.5%;
	margin-right: 1%;
}

.compare-product-selection .no-compare-image {
	padding: 0;
	border: 2px dashed #efefef;
	margin-left: 0.5%;
	margin-right: 1%;
}

.compare-product-selection .no-compare-image img {
	visibility: hidden;
	width: 100%;
	height: auto;
}

.compare-product-selection .compare-image img {
	visibility: visible;
	width: 100%;
	height: auto;
}

.compare-product-selection .compare-image img.close-compare-image,.compare-product-selection .no-compare-image img.close-compare-image
	{
	position: absolute;
	top: 5px;
	right: 5px;
	width: auto;
	cursor: pointer;
}

#cart-overlay-product-info {
	color: #004EBC;
	display: block;
	height: 190px;
}

#cart-overlay-product-info header strong {
	color: #004EBC;
}

#cart-overlay-product-info .purchase-image {
	height: 70px;
	width: 70px;
	float: left;
	display: inline-block;
}

#cart-overlay-product-info .cart-info {
	display: inline-block;
	float: left;
	line-height: normal;
	margin-left: 10px;
	color: #666;
	font-size: 14px;
}

#cart-overlay-product-info .cart-info .description {
	color: #004EBC;
}

#cart-overlay-product-info .cart-info .stock_indicator {
	color: #6dc638;
}

#cart-overlay-product-info .cart-info .stepper_label {
}

#cart-overlay-product-info .cart-info .addon-cta .compare-checkbox-label
	{
	display: inline-block;
	
	color: #666;
	font-size: inherit;
	vertical-align: baseline;
}

#cart-overlay-product-info .cart-info .addon-cta .compare-checkbox-label::before
	{
	margin-left: 0;
}

#cart-overlay-product-info .cart-info .addon-cta div {
	display: inline-block;
}

#cart-overlay-product-info .cart-info .addon-cta .addon-info {
	color: #004EBC;
	cursor: pointer;
	margin-left: 20px;
	font-size: 12px;
}

#cart-overlay-product-info .cart-info .addon-cta .addon-info:hover {
	text-decoration: underline;
	color: #ea7125;
}

.shopping-cart-overlay {
	width: 963px;
	min-height: 525px;
	display: inline-block;
}

.shopping-cart-overlay .cart-content {
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

.shopping-cart-overlay .cart-content .left-section {
	padding-right: 5px;
	border-right: solid 1px #d2d2d2;
}

.shopping-cart-overlay .cart-content .left-section .tse-scrollable {
	width: 100% !important;
	height: 100% !important;
}

.shopping-cart-overlay .cart-content .left-section .tse-scrollable .tse-scroll-content
	{
	/* padding-top: 20px; 
	height: 427px !important;*/
}

.shopping-cart-overlay-hr {
	background-color: #d2d2d2;
	height: 1px;
	margin-bottom: 0px;
}

#shoppingCartModal .modal-lg {
	width: 963px;
}

.store-pickup-items-accordion {
	border-style: solid;
	border-width: 1px;
	border-color: #e9e9e9;
	background-color: rgba(244, 244, 244, 0.949);
}

.store-pickup-items-accordion .accordion-header {
	height: 64px;
}

.store-pickup-items-accordion h3 {
	font-size: 32px;
	color: #009DDB;
	margin-top: 16px;
	padding-left: 15px;
}

.store-pickup-items-accordion .col-xs-1 {
	height: 100%;
}

.store-pickup-items-accordion .accordion-expand-icon {
	background: url('../images/checkout/maximize-icon.png') no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 20px;
}

.store-pickup-items-accordion .accordion-minimize-icon {
	background: url('../images/checkout/minimize-icon.png') no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	top: 31px;
}


.store-pickup-items-accordion .product-information {
	padding-left: 30px;
}

.store-pickup-items-accordion .product-information-description {
	line-height: 14px;
}

.store-pickup-items-accordion .ui-widget-content {
	background: none;
}

.store-pickup-items-accordion .ui-accordion-header {
	padding: 0px;
}

.store-pickup-items-accordion .ui-accordion,.store-pickup-items-accordion .ui-accordion-content
	{
	border: inherit;
	border-top: none;
	padding: 0px;
	overflow: visible;
	padding-bottom: 20px;
}

.quickview-modal-image {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	background-color: white;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	z-index: 596;
}

#quickviewModal .close-modal {
	padding-right: 15px;
	padding-top: 15px;
	float: right;
}

#quickviewNotifyMeModal .modal-header>div:nth-child(2) {
	padding: 0 1%;
}

#quickviewNotifyMeModal .notify-me-title {
	padding: 1% 0;
}

#quickviewNotifyMeModal .warning-modal-footer {
	padding: 3% 0;
}

#quickviewSizeChartModal .modal-header>div:nth-child(2) {
	padding: 0 4%;
}

#quickviewSizeChartModal .modal-header>div:nth-child(2)>div:first-child
	{
	padding: 2% 0;
}

#quickviewWarningModal .modal-header div.warning-modal-footer {
	padding: 3% 0;
}

#quickviewWarningModal .modal-header div.warning-modal-footer div:nth-child(2)
	{
	padding-left: 10%;
}

#quickviewWarningModal .modal-header div:nth-child(2) {
	padding: 0 4%;
}

#quickviewWarningModal .modal-header div:nth-child(2) span div {
	padding: 1% 0;
}

#quickviewWarningModal .modal-header div:nth-child(2) div:first-child {
	padding: 3% 0;
}

#myAccountDeleteCancelModal .modal-content {
	padding-left: 30px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 30px;
}

.my-account-product-carousel {
	background-color: #f3f3f3;
	padding-bottom: 4%;
	margin-top: 3%;
	padding-left: 40px;
	padding-right: 40px;
}

.my-account-product-carousel #multi-carousel-left-arrow,.my-account-product-carousel #multi-carousel-right-arrow
	{
	width: 64px;
	height: 64px;
}

.my-account-product-carousel #multi-carousel-left-arrow {
	background-position: 0px -74px;
}

.my-account-product-carousel #multi-carousel-right-arrow {
	background-position: 0px 0px;
}

.my-account-product-carousel .star-rating-block {
	margin-left: 15px;
}

.my-account-product-carousel .star-rating-block>div {
	width: 16px;
	height: 16px;
}

.my-account-product-carousel .product-block-information {
	margin-left: 15px;
}

.my-account-product-carousel .product-block-information .product-name {
	font-size: 18px;
}

.my-account-product-carousel .product-block-information .age-range {
	font-size: 16px;
}

.my-account-product-carousel .product-block-information .product-block-price
	{
	margin-left: 15px;
}

.my-account-product-carousel .product-block-information .product-block-price>span
	{
	font-size: 20px;
}

.my-account-product-carousel .product-block-information>div {
	margin-left: 0 !important;
}

.my-account-product-carousel .product-block-incentive {
	font-size: 14px;
	left: 15px;
}

.my-account-product-carousel .product-quick-view {
	font-size: 18px;
	max-width: 300px;
	width: 95% !important;
}

.my-account-product-carousel .product-add-to-cart {
	font-size: 18px;
	max-width: 300px;
	width: 95% !important;
}

.my-account-product-carousel .add-to-product-container {
	width: 95% !important;
	max-width: 300px;
}

.my-account-product-carousel .add-to-product-hover {
	font-size: 14px;
}

.my-account-product-carousel .product-hover-view {
	width: 100%;
}

.my-account-product-carousel .product-carousel-title {
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 45px;
	color: #0091cb;
}

.my-account-product-carousel .product-block-padding {
	/*width: 236px;*/
	width: 25%;
}

.slider-product-block-container,.slider-product-block-container-brand {
	position: relative;
	width: 1620px;
}

.slider-product-block-container .slider-image-block-loading-div,.slider-product-block-container-brand .slider-image-block-loading-div
	{
	position: absolute;
	top: 0px;
	left: 0px;
}

.slider-product-block-container .slider-product-block-loading-div:first-child,.slider-product-block-container-brand .slider-product-block-loading-div:first-child
	{
	position: absolute;
	display: none !important;
	background-color: #FFF;
	width: 100%;
	height: 100%;
}

.slider-product-block-container .slider-product-block-loading-div:last-child,.slider-product-block-container-brand .slider-product-block-loading-div:last-child
	{
	position: absolute;
	display: none !important;
	background: url('../images/loading.gif') no-repeat center center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.slider-product-block-container .slides-product-block,.slider-product-block-container-brand .slides-product-block
	{
	width: 100%;
	position: absolute;
	height: inherit;
	overflow: hidden;
}

.slider-product-block-container .slides-product-block .product-label,.slider-product-block-container-brand .slides-product-block .product-label
	{
	font-size: 18px;
	color: #666666;
	line-height: 1.111;
	text-align: left;
	margin-top: 5px;
}

.slider-product-block-container .product-label-brand,.slider-product-block-container-brand .product-label-brand
	{
	font-size: 18px;
	color: #666666;
	line-height: 1.111;
	position: relative;
	bottom: 50px;
	height: 17%;
	padding-left: 10px;
	padding-top: 4%;
	cursor: pointer;
}

.slider-product-block-container .product-label-brand:hover,.slider-product-block-container-brand .product-label-brand:hover
	{
	text-decoration: underline;
}

.jssor-bullet div,.jssor-bullet div:hover,.jssor-bullet .av {
	background: url('../images/bullet-blue.png') no-repeat;
	overflow: hidden;
	cursor: pointer;
	margin-top: 5px;
}

.jssor-bullet div {
	background-position: -96px -7px;
}

.jssor-bullet div:hover {
	background-position: -7px -7px;
}

.jssor-bullet .av,.jssor-bullet .av:hover,.jssor-bullet .dn:hover {
	background-position: -37px -7px;
}

.jssor-bullet .dn {
	background-position: -7px -7px;
}

#multi-slide-bullets {
	position: absolute;
}

.jssora11l,.jssora11r,.jssora11ldn,.jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url('../images/main-body-sprite.png') no-repeat
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11ldn {
	background-position: -251px -41px;
}

.jssora11rdn {
	background-position: -311px -41px;
}

#myAccountUpdatePasswordModal .modal-content {
	padding: 30px;
}

.my-account-sign-in-top-container {
	margin-left: 2%;
	padding-bottom: 0;
}

.my-account-sign-in-top-container .sign-in-columns-container {
	margin-top: 30px;
	border-top: 1px solid #cccccc;
	padding-top: 35px;
	padding-left: 15px;
}

.order-history-detail-modal {
	width: 90% !important;
}

#orderHistoryDetailModal .tse-scrollable {
	width: 100%;
	height: 580px;
}

#orderHistoryDetailModal .modal-content {
	padding-left: 30px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

#orderHistoryDetailModal .modal-title {
	font-size: 36px;
	color: #009DDB;
	margin-bottom: 15px;
}

#orderHistoryDetailModal .modal-title img {
	cursor: pointer;
	float: right;
}

#orderHistoryDetailModal .modal-title div {
	font-size: 18px;
	color: #666666;
}

.order-history-detail-modal .row {
	margin: 0;
}

.order-history-detail-modal-content {
	padding-right: 20px;
}

.order-history-detail-modal-content div.col-md-9 hr {
	margin-left: 15px;
}

.order-history-detail-modal-content .checkout-review-shipping-no-tracking-number
	{
	padding-left: 15px;
}

.order-history-detail-modal-content .checkout-review-shipping-no-tracking-number a:hover
	{
	text-decoration: underline;
	color: #EA7125;
}



.order-history-detail-modal-content .product-information {
	padding-left: 15px;
}

.order-history-detail-modal-content .product-information-description {
	width: 290px;
}

.order-history-detail-modal-content .order-history-order-summary .order-summary {
	font-size: 20px;
}

.order-history-detail-modal-content .order-history-order-summary span.summary-block-footer-total
	{
	font-size: 24px !important;
}

.order-history-detail-modal-content .address span {
	font-size: 14px;
	color: #666666;
}

.order-history-detail-modal-content .address div {
	font-size: 14px;
	color: #666666;
}

.order-history-detail-modal-content .payment-method div {
	font-size: 14px;
	color: #666666;
}

.order-history-detail-modal-content p.returns-warranties {
	cursor: pointer;
	font-size: 14.1px;
	color: #004EBC;
}

.order-history-detail-modal-content p.returns-warranties:hover {
	color: #EA7125;
	text-decoration: underline;
}

.order-history-detail-modal-content .card-number {
	padding-bottom: 10px;
}

.order-history-detail-modal-content .order-ships-in {
	display: none;
}

.order-history-detail-modal-content .order-shipped-on {
	display: block;
}

.order-history-detail-modal-content .order-shipped-on .review-order-tracking-number
	{
	font-size: 16px;
}

.order-history-detail-modal-content .order-shipped-on .review-order-tracking-number:before
	{
	content: "\00a0";
}

.order-history-detail-modal-content .order-shipped-on .review-order-tracking-number:hover
	{
	color: #EA7125;
	text-decoration: underline;
}

.order-detail-small-header {
	font-size: 16px;
	color: #666666;
}

.order-history-order-summary .summary-block-border {
	border: none !important;
	padding: 0 15px;
}

.order-history-detail-modal .protection-plan {
	margin-left: 15px;
}

#addressDoctorModal .modal-content {
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 40px;
	background-color: #f8f8f8;
}

.returns-warranties-struct>div {
	margin-left: 10px;
	margin-right: 20px;
}

.returns-warranties-struct hr {
	margin-bottom: 30px;
}

.store-locator-struct #googleMap {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	height: 610px;
}

.store-locator-struct .store-locator-store-details {
	width: 565px;
	height: 250px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.949);
}

.store-locator-struct .store-locator-store-details>div {
	padding-left: 20px;
}

.store-locator-struct .store-locator-store-details>header {
	padding: 20px 20px 0px;
}

.store-locator-struct .store-locator-results {
	top: 15px !important;
	left: 20px !important;
	padding-top: 20px;
	width: 300px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.949);
	padding-bottom: 15px;
}

.store-locator-struct .store-locator-results>header,.store-locator-struct .store-locator-results #store-locator-results-tabs
	{
	padding-left: 20px;
}

.store-locator-struct .store-locator-results hr {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #eee;
}

.store-locator-struct #store-locator-find-store {
	display: none;
	padding: 20px;
	width: 316px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.949);
}

.store-locator-struct .store-locator-find-store.find-store-dismiss {
	padding-right: 20px;
}

.store-locator-struct .store-locator-find-store-error {
	padding: 15px 20px 7px;
	width: 316px;
	top: 143px;
	right: 334px;
	border-style: solid;
	border-width: 1px;
	border-color: #eeeeee;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.949);
}

.store-locator-results>header {
	font-size: 24px;
	color: #009DDB;
}

.store-locator-results>header p {
	font-size: 12px;
	color: #666;
	margin: 3px 0px;
}

.store-locator-results>header a {
	cursor: pointer;
	color: #004EBC;
	font-size: 12px;
}

.store-locator-results>header a:hover {
	color: #EA7125;
	text-decoration: underline;
}

.store-locator-results div.tse-scrollable ul {
	padding-left: 0px;
	list-style-type: none;
	margin: 0px;
}

.store-locator-results .show-more, .store-locator-results .show-more:focus {
	font-size: 14px;
	font-weight: 600;
	text-decoration: none !important;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	background-color: #009ddb;
	cursor: pointer;
	height: 35px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 6px;
	border: 3px solid #009ddb;
}
.store-locator-results .show-more:hover, .store-locator-results .show-more:active{
    color: #009ddb;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer
}

.store-locator-results #store-locator-results-tabs li {
	text-align: left;
}
.store-locator-results #store-locator-results-tabs li a {
	font-size: 12px;
	color: #004EBC;
	margin-right: 5px;
	padding: 0px 5px 5px;
}

.store-locator-results #store-locator-results-tabs li a:hover {
	color: #EA7125;
	text-decoration: underline;
}

.store-locator-results #store-locator-results-tabs li.active a {
	color: #666;
}

.customer-service-accordian ul {
	list-style: none;
	padding: 0;
}

.collection-product-block .collections-availability {
	padding-right: 0px;
}

.collection-product-block .collections-availability img {
	margin-right: 5px;
}

.collection-product-block .col-md-9 {
	padding-left: 30px;
}

.collection-product-block .popover {
	padding: 4px;
}

.collection-product-block .popover p {
	font-size: 14px;
	color: #666;
}

.collection-product-block .deal-text {
	margin-bottom: 10px;
	font-size: 14px;
	color: #009DDB;
}

.collection-product-block .selected-color {
	color: black;
}

.collection-product-block .selected-size {
	color: black;
}

.collection-product-block .collection-image {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	background-color: white;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.collection-product-block .image-gallery-link {
	font-size: 12px;
	color: #5e2e91;
	padding-top: 8px;
	display: inline-block;
}

.collection-product-block h4 {
	margin-top: 0px;
	font-size: 18px;
	color: #666666;
}

.collection-product-block h4 a {
	font-size: 18px;
	color: #666666;
}

.collection-product-block h4 a:hover {
	color: #009DDB;
}

.collection-product-block .strikethrough {
	text-decoration: line-through;
}

.collection-product-block .price {
	font-size: 14px;
	color: #666666;
}

.collection-product-block .price .sale-price {
	color: #DC291E;
	margin-left: 3px;
}

.collection-product-block .savings {
	font-size: 12px;
	color: #666666;
}

.collection-product-block .summary-text {
	line-height: 1.25em;
	font-size: 12px;
	color: #666666;
	margin-bottom: 5px;
}

.collection-product-block .summary-text span {
	padding-left: 5px;
	padding-right: 5px;
}

/* Start Collection fixes TUW-73712 - changing color */
.collection-product-block a {
	font-size: 14px;
	color: #004ebc !important;
	cursor: pointer;
}

.collection-product-block a:hover {
	text-decoration: underline;
	color: #004ebc;
}
/* End Collection fixes TUW-73712 - changing color */

.collection-product-block .small-spacer {
	/* height: 20px; */
}

.collection-product-block .options-text {
	font-size: 12px;
	color: #666666;
}

.collection-product-block .bullet-spacer {
	visibility: hidden;
}

.collection-product-block .size-chart a:hover {
	color: #EA7125;
}

.collection-hero {
	position: relative;
}

.collection-hero>.row div.pull-left {
	padding-left: 15px;
}

.collection-hero>.row div.col-md-7 {
	padding-left: 30px;
}

.collection-hero p {
	font-size: 16px;
	color: #666666;
	line-height: 1.5em;
}

.collection-hero p.price-label {
	font-size: 14px;
	color: #666666;
}

.collection-hero p.price {
	font-size: 28px;
	color: #666666;
}

.collection-hero .zoom-icon {
	background: url() white;
	opacity: 0.851;
	position: absolute;
	bottom: 0px;
	left: 230px;
	height: 33px;
	width: 32px;
	cursor: pointer;
}

.collection-hero .zoom-icon img {
	padding: 5px;
}

.collections-sticky-price {
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	display: inline-block;
	width: 100%;
	top: 250px;
	background-color: white;
	z-index: 0;
	/*.add-to-cart[readonly="readonly"], .add-to-cart[readonly]
	.add-to-cart[readonly="readonly"]:hover, .add-to-cart[readonly]:hover {
		background-color: #757575;
		cursor: default;
		border: none;
		outline: none;
		color: white;
	}

	a.disabled {
		color: #666;
		pointer-events: none;
		cursor: default;
	}*/
}

.collections-sticky-price .add-to-cart {
	background-color: #ea7125;
	color: white;
	border: none;
	display: inline-block;
	width: 170px;
	height: 35px;
	padding: 0 0;
	font-size: 16px;
	border: 3px solid #ea7125;
}

.collections-sticky-price .add-to-cart:hover {
	color: #ea7125;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

.collections-sticky-price .add-to-cart[disabled] {
	color: white;
	background-color: #757575;
	border-color: #757575;
}

.collections-sticky-price .add-to-cart[disabled]:hover {
	color: white;
	background-color: #757575;
	cursor: default;
}

.collections-sticky-price .social-banner {
	margin-top: 21px;
	border-top: 1px solid #eaeaea;
	background-color: #f6f6f6;
	height: 40px;
	padding: 0px 0px 0px 12px;
}

.collections-sticky-price .collections-items-selected {
	color: #666;
	font-size: 12px;
}

.collections-sticky-price .small-orange {
	color: #ea7125;
	cursor: pointer;
}

.collections-sticky-price .small-orange:hover {
	text-decoration: underline;
	color: #009DDB;
}

.collections-sticky-price .small-orange[disabled] {
	color: #666666;
	cursor: default;
}

.collections-sticky-price .small-orange[disabled]:hover {
	color: #666666;
	text-decoration: none;
}

.global-navigation-top .popover {
	width: 300px;
	max-width: none !important;
}

.global-nav-store-locator{
	z-index: 99999;
}

.global-nav-store-locator .arrow {
	top: -16px !important;
}

#findInStoreModal .modal-dialog {
	width: 610px;
}

#findInStoreModal .modal-content {
	padding: 20px;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.find-in-store-overlay {
	height: 480px;
}

.find-in-store-overlay h3 {
	font-size: 18px;
	color: #004EBC;
	margin-top: 5px;
	margin-bottom: 10px;
}

.find-in-store-overlay h2 {
	font-size: 24px;
	color: #009DDB;
	margin: 0px;
}

.find-in-store-overlay .clickable {
	cursor: pointer;
}

.find-in-store-overlay .product-thumb {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	background-color: white;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
}

.find-in-store-overlay .options-text {
	font-size: 11px;
	color: #666666;
}

.find-in-store-overlay .options-text .selected-size,.find-in-store-overlay .options-text .selected-color,.find-in-store-overlay .options-text .amount
	{
}

.find-in-store-overlay .find-input-group input {
	height: 35px;
	width: 160px;
	border: 1px solid #dedede;
	vertical-align: middle;
	display: inline-block;
	color: #666;
	font-size: 14px;
	padding-left: 5px;
	outline: none;
}

.find-in-store-overlay .find-input-group button {
	position: relative;
	right: 4px;
	background-color: #009DDB;
	color: white;
	border: none;
	display: inline-block;
	width: 65px;
	height: 35px;
	padding: 0 0;
	font-size: 14px;
	border: 3px solid #009DDB;
	vertical-align: middle;
}

.find-in-store-overlay .find-input-group button:hover {
	color: #009DDB;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

.find-in-store-overlay .find-input-group button[disabled] {
	color: white;
	background-color: #757575;
	border-color: #757575;
}

.find-in-store-overlay .find-input-group button[disabled]:hover {
	color: white;
	background-color: #757575;
	cursor: default;
}

.find-in-store-overlay .border-right {
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #dedede;
}

.find-in-store-overlay .close-image-spacer {
	visibility: hidden;
	padding-top: 15px;
}

.find-in-store-overlay .close-modal {
	position: absolute;
	top: 20px;
	right: 20px;
}

.find-in-store-overlay .size-chart {
	margin-left: 0px;
}

.find-in-store-overlay .product-side {
	padding-left: 20px;
	height: 480px;
}

.find-in-store-overlay .product-side p {
	font-size: 14px;
	color: #666666;
}

.find-in-store-overlay #store-locator-results-tabs {
	margin-left: -15px;
	padding-left: 15px;
}

.find-in-store-overlay .colors {
	margin-bottom: 10px;
}

.find-in-store-overlay .available {
	font-size: 12px;
	color: #66bc29;
	margin-top: 10px;
	margin-bottom: 15px;
}

.find-in-store-overlay .unavailable {
	font-size: 12px;
	color: #dc291e;
	margin-top: 10px;
	margin-bottom: 15px;
}

.find-in-store-overlay .green-list-dot {
	margin-top: 3px;
	vertical-align: top;
}

.find-in-store-overlay .free-store-pickup {
	font-size: 12px;
	color: #66bc29;
}

.find-in-store-overlay .add-to-cart {
	margin-top: 18px;
	margin-bottom: 10px;
}

.find-in-store-overlay .find-in-store-search {
	display: none;
}

.find-in-store-overlay .find-in-store-search img {
	float: right;
	padding-right: 45px;
	cursor: pointer;
}

.find-in-store-overlay #store-locator-results-scrollable {
	width: 100%;
	height: 380px;
}

.find-in-store-overlay #store-locator-tooltip-store-details {
	/* border-style: solid;*/
	/*border-width: 1px;*/
	border-color: #efefef;
	/*display: none;*/
	position: relative;
	/*left: 588px;
    top: -500px;*/
	background-color: white;
	/*overflow-y: scroll;*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-top: 15px;
	padding-botom: 15px;
	height: 520px;
}

.find-in-store-overlay #store-locator-tooltip-store-details ul {
	margin-top: 0px;
	padding-left: 15px;
}

.find-in-store-overlay #store-locator-tooltip-store-details li {
	font-size: 14px;
	color: #666;
	margin-top: 5px;
}

.find-in-store-overlay #store-locator-tooltip-store-details li p {
	font-size: 12px;
}

.find-in-store-overlay #store-locator-tooltip-store-details a {
	cursor: pointer;
	color: #004EBC;
	font-size: 12px;
}

.find-in-store-overlay #store-locator-tooltip-store-details a:hover {
	color: #EA7125;
	text-decoration: underline;
}

.find-in-store-overlay #store-locator-tooltip-store-details header {
	font-size: 14px;
	color: #009DDB;
}

.find-in-store-overlay #store-locator-tooltip-store-details section {
	padding-bottom: 25px;
}

.find-in-store-overlay #store-locator-tooltip-store-details section p {
	font-size: 14px;
	color: #666;
}

.find-in-store-overlay #store-locator-tooltip-store-details section.store-hours
	{
	padding: 0;
}

.find-in-store-overlay #store-locator-tooltip-store-details section.store-hours div:first-child
	{
	float: left;
}

.find-in-store-overlay #store-locator-tooltip-store-details section.store-hours div:last-child
	{
	margin-left: 10px;
}

.find-in-store-single {
	cursor: auto !important;
}

.find-in-store-single header a {
	font-size: 14px;
}

#layawayMyAccount h3 {
	font-size: 24px;
	color: #009DDB;
}

#layawayMyAccount p {
	font-size: 16px;
	color: #666666;
}

#layawayMyAccount #titleRow {
	padding-top: 40px;
	padding-bottom: 10px;
	background-color: white;
}

#layawayMyAccount .row {
	padding-top: 20px;
	padding-bottom: 60px;
	padding-left: 15px;
	margin-left: 0px;
	background-color: #f3f3f3;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	color: #666666;
}

#layawayMyAccount .row a {
	color: #004EBC;
}

#layawayMyAccount .row a:hover {
	color: #EA7125;
	text-decoration: underline;
}

.my-account-popover-struct {
	top: 60px !important;
	width: 233px;
	border-radius: 0px;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.21);
}

.my-account-popover-struct .arrow {
	padding: 0px;
	position: absolute;
}

.my-account-popover-struct div.my-account-logged-in,.my-account-popover-struct div.my-account-logged-in.rewards-points
	{
	font-size: 14px;
	color: #666;
}

.my-account-popover-struct div.my-account-logged-in>div,.my-account-popover-struct div.my-account-logged-in.rewards-points>div
	{
	padding: 15px 15px 5px 15px;
}

.my-account-popover-struct div.my-account-logged-in>div:last-child,.my-account-popover-struct div.my-account-logged-in.rewards-points>div:last-child
	{
	padding-top: 5px;
}

.my-account-popover-struct div.my-account-logged-in hr,.my-account-popover-struct div.my-account-logged-in.rewards-points hr
	{
	margin: 0px;
}

.my-account-popover-struct div.my-account-logged-in div.membership-number,.my-account-popover-struct div.my-account-logged-in.rewards-points div.membership-number
	{
	background-color: #f2f2f2;
	padding-bottom: 20px;
}

.my-account-popover-struct div.my-account-logged-in div.membership-number p,.my-account-popover-struct div.my-account-logged-in.rewards-points div.membership-number p
	{
	color: #666;
	font-size: 14px;
}

.my-account-popover-struct div.my-account-logged-in div.membership-number a,.my-account-popover-struct div.my-account-logged-in.rewards-points div.membership-number a
	{
	font-size: 14px;
	color: #004EBC;
}

.my-account-popover-struct div.my-account-logged-in div.membership-number a:hover,.my-account-popover-struct div.my-account-logged-in.rewards-points div.membership-number a:hover
	{
	color: #EA7125;
	text-decoration: underline;
}

.my-account-popover-struct div.my-account-logged-in div.membership-number span,.my-account-popover-struct div.my-account-logged-in.rewards-points div.membership-number span
	{
	padding-left: 10px;
	padding-right: 10px;
}

.my-account-popover-struct div.my-account-logged-in .membership-id,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id
	{
	padding-bottom: 10px;
	background-color: #f3f3f3;
}

.my-account-popover-struct div.my-account-logged-in .membership-id #membership-id-slide img,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id #membership-id-slide img
	{
	position: relative;
}

.my-account-popover-struct div.my-account-logged-in .membership-id .membership-input-group,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id .membership-input-group
	{
	font-size: 0;
}

.my-account-popover-struct div.my-account-logged-in .membership-id .membership-input-group input,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id .membership-input-group input
	{
	vertical-align: top;
	height: 32px;
	width: 150px;
	border: 1px solid #dedede;
	color: #666;
	font-size: 14px;
	display: inline-block;
	padding-left: 10px;
	outline: none;
}

.my-account-popover-struct div.my-account-logged-in .membership-id .membership-input-group button,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id .membership-input-group button
	{
	vertical-align: top;
	color: #fff;
	font-size: 12px;
	border: 3px solid #00aeef;
	background-color: #00aeef;
	width: 42px;
	height: 32px;
}

.my-account-popover-struct div.my-account-logged-in .membership-id .membership-input-group button:hover,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id .membership-input-group button:hover
	{
	background-color: #fff;
	color: #00aeef;
}

.my-account-popover-struct div.my-account-logged-in .membership-id img.membership-image,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id img.membership-image
	{
	vertical-align: top;
	padding-top: 10px;
	padding-right: 3px;
}

.my-account-popover-struct div.my-account-logged-in .membership-id div.membership-help-text,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id div.membership-help-text
	{
	width: 105px;
	display: inline-block;
	font-size: 10px;
	color: #666;
}

.my-account-popover-struct div.my-account-logged-in .membership-id>p,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id>p
	{
	cursor: pointer;
	font-size: 11px;
	color: #5e2d91;
	margin-bottom: 15px;
}

.my-account-popover-struct div.my-account-logged-in .membership-id p.enter-membership,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id p.enter-membership
	{
	display: block;
	color: #004EBC;
	font-size: 14px;
}

.my-account-popover-struct div.my-account-logged-in .membership-id p.enter-membership img,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id p.enter-membership img
	{
	margin-left: 25px;
	vertical-align: top;
}

.my-account-popover-struct div.my-account-logged-in .membership-id p.enter-membership:hover,.my-account-popover-struct div.my-account-logged-in.rewards-points .membership-id p.enter-membership:hover
	{
	color: #EA7125;
	text-decoration: underline;
	cursor: pointer;
}

.my-account-popover-struct div.my-account-logged-in div:first-child,.my-account-popover-struct div.my-account-logged-in.rewards-points div:first-child
	{
	margin-bottom: 10px;
}

.my-account-popover-struct div.my-account-logged-in div:first-child p:hover,.my-account-popover-struct div.my-account-logged-in.rewards-points div:first-child p:hover
	{
	cursor: pointer;
	color: #009DDB;
	text-decoration: underline;
}

.my-account-popover-struct div.my-account-logged-in div:first-child p:first-child,.my-account-popover-struct div.my-account-logged-in.rewards-points div:first-child p:first-child
	{
	margin-bottom: 5px;
}

.my-account-popover-struct div.my-account-logged-in>div:last-child:hover,.my-account-popover-struct div.my-account-logged-in.rewards-points>div:last-child:hover
	{
	cursor: pointer;
	color: #009DDB;
	text-decoration: underline;
}

.my-account-popover-struct div.my-account-logged-out>div {
	padding: 15px 28px 15px 15px;
}

.my-account-popover-struct div.my-account-logged-out>div p {
	color: #666;
	font-size: 14px;
}

.my-account-popover-struct div.my-account-logged-out div:nth-child(3) {
	margin-bottom: 10px;
}

.my-account-popover-struct div.my-account-logged-out div:nth-child(3) p:hover
	{
	cursor: pointer;
	color: #009DDB;
	text-decoration: underline;
}

.my-account-popover-struct div.my-account-logged-out div:nth-child(3) p:first-child
	{
	margin-bottom: 5px;
}

.my-account-popover-struct div.my-account-logged-out>div:last-child {
	background-color: #f3f3f3;
}

.my-account-popover-struct div.my-account-logged-out>div:last-child p {
	margin-top: 10px;
	font-size: 11px;
}

.my-account-popover-struct div.my-account-logged-out>div:last-child p:nth-child(2)
	{
	color: #5e2d91;
	line-height: 1.5em;
}

.my-account-popover-struct div.my-account-logged-out>div:last-child p:last-child
	{
	color: #004EBC;
	cursor: pointer;
}

.my-account-popover-struct div.my-account-logged-out>div:last-child p:last-child:hover
	{
	text-decoration: underline;
	color: #ff6f01;
}

.my-account-popover-struct div.my-account-logged-out hr {
	margin: 0px;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in
	{
	font-size: 14px;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in div
	{
	vertical-align: top;
	display: inline-block;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in div p:first-child
	{
	color: #004EBC;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in div p:first-child:hover
	{
	text-decoration: underline;
	color: #ff6f01;
	cursor: pointer;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in div p:last-child
	{
	color: #666;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in div:first-child
	{
	color: #fff;
	cursor: pointer;
	background-color: #009DDB;
	padding-left: 17px;
	padding-top: 3px;
	border: 3px solid #009DDB;
	width: 80px;
	height: 30px;
	margin-right: 17px;
}

.my-account-popover-struct div.my-account-logged-out .my-account-sign-in div:first-child:hover
	{
	background-color: #fff;
	color: #009DDB;
}

.gift-card-landing-cards-zone>div {
	float: left;
	margin-right: 15px;
}

.gift-card-landing-cards-zone>div:first-child header {
	color: #9aca3c;
}

.gift-card-landing-cards-zone>div:first-child button {
	background-color: #9aca3c;
	border: 3px solid #9aca3c;
}

.gift-card-landing-cards-zone>div:first-child button:hover {
	background-color: #fff;
	color: #9aca3c;
}

.gift-card-landing-cards-zone>div:last-child header {
	color: #f7941d;
}

.gift-card-landing-cards-zone>div:last-child button {
	background-color: #f7941d;
	border: 3px solid #f7941d;
}

.gift-card-landing-cards-zone>div:last-child button:hover {
	background-color: #fff;
	color: #f7941d;
}

.gift-card-landing-cards-zone>div:last-child img.or-icon {
	display: none;
}

.gift-card-landing-cards-zone>div:last-child img.promo-ribbon {
	display: block;
}

.gift-card-landing-cards-zone .gift-card-landing-single-card {
	width: 315px;
	height: 435px;
}

.gift-card-landing-cards-zone .gift-card-landing-single-card>div {
	padding-left: 10px;
	padding-right: 10px;
}

.gift-card-landing-cards-zone .gift-card-landing-single-card header {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.gift-card-landing-cards-zone .gift-card-landing-single-card:nth-child(1) .gift-card-image
	{
	padding: 15px 0px 12px;
}

.gift-card-landing-cards-zone .gift-card-landing-single-card:nth-child(2) .gift-card-image
	{
	padding: 28px 0px 48px;
}

.gift-card-landing-cards-zone .gift-card-landing-single-card:nth-child(3) .gift-card-image
	{
	padding: 13px 0px 12px;
}

.egift-card-block {
	padding-bottom: 15px;
	padding-top: 10px;
	border: 1px solid #efefef;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.egift-card-block .gift-card-title div {
	font-size: 16px;
	color: #004EBC;
	padding-left: 18px;
}

.egift-card-block .gift-card-title hr {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.egift-card-block .quantity-stepper {
	vertical-align: bottom;
}

.egift-card-block .block-content {
	padding-left: 18px;
	padding-top: 15px;
}

.shop-by-character-grid {
	margin-top: 26px;
	margin-bottom: 15px;
}

.shop-by-character-grid .col-md-2 {
	padding: 2px;
}

.shop-by-character-list h4 {
	font-size: 32px;
	color: #004EBC;
}

#signInModal .modal-dialog {
	width: 500px;
}

#signInModal .modal-content {
	padding: 30px;
}



.shipping-multiple-addresses {
	display: none;
}

.shipping-multiple-addresses select {
	width: 100%;
	color: #004EBC;
	font-size: 14px;
	-webkit-appearance: none;
}

.shipping-multiple-addresses select.shipping-method-dropdown {
	border: none;
}

.shipping-multiple-addresses select.ship-to-dropdown {
	border-radius: 0px;
	border-color: #dedede;
	height: 35px;
	padding-left: 10px;
}

.shipping-multiple-addresses .spacer {
	height: 8px;
}

.pre-release-text {
	display: none;
}

.limit-1 {
	display: none;
}



.shopping-cart-gift .modal-checkbox-container {
	position: relative;
	top: 8px;
}

.shopping-cart-gift .checkbox-sm-off,.shopping-cart-gift .checkbox-sm-on,.shopping-cart-gift .shopping-cart-gift-image
	{
	margin-right: 5px;
}

.shopping-cart-remove {
	color: #004EBC;
}

.shopping-cart-remove span {
	padding-left: 10px;
	padding-right: 10px;
}





.shopping-cart-product-share {
	/* float: right;
	margin: 0.25em 5em 0 0;
	display: none; */
}

.checkout-confirmation-template .shopping-cart-product-share {
	display: inline-block;
}


.shipping-buttons>label {
	clear: none;
	display: block;
}


.crossed-out-price {
	text-decoration: line-through;
	line-height: 1;
	color: #666;
}



.shopping-cart-edit-product-content {
	width: 840px;
	height: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #757575;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	z-index: 200;
	background-color: #fff;
	margin-top: -150px;
	left: 50px;
	display: none;
}

.shopping-cart-edit-product-content .close-modal {
	padding-top: 10px;
	padding-right: 30px;
}

.shopping-cart-edit-product-content hr {
	margin-left: 20px;
	margin-right: 20px;
}

.shopping-cart-edit-product-content .header {
	margin-top: 15px;
	margin-left: 40px;
	margin-right: 25px;
}

.shopping-cart-edit-product-content .header h2 a {
	font-size: 32px;
	color: #009DDB;
}

.shopping-cart-edit-product-content .product-information {
	border-style: solid;
	border-width: 1px;
	border-color: #efefef;
	margin-left: -15px;
}

.shopping-cart-edit-product-content .product-information p {
	padding-top: 20px;
	padding-bottom: 25px;
}

.shopping-cart-edit-product-content .product-information p span {
	font-size: 24px;
	color: #666666;
}

.shopping-cart-edit-product-content .product-information .color-text {
	font-size: 11px;
}

.shopping-cart-edit-product-content .product-information .sizes {
	margin-bottom: 5px;
}

.shopping-cart-edit-product-content .product-information .update {
	background-color: #EA7125;
	font-size: 16px;
	color: #fff;
	height: 35px;
	width: 150px;
	border: 3px solid #EA7125;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 5px;
}

.shopping-cart-edit-product-content .product-information .update:hover {
	color: #EA7125;
	background-color: #fff;
}

.checkoutExitConfirmationModal .modal-dialog {
	width: 760px;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content {
	width: 100%;
	padding: 60px 200px 60px 45px;
	position: relative;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content .clickable {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 10px;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div {
	display: inline-block;
	font-size: 18px;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div h2 {
	color: #009DDB;
	font-size: 32px;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div p {
	padding-top: 10px;
	color: #666666;
	padding-bottom: 30px;
	width: 80%;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div a {
	background-color: #009DDB;
	color: white;
	border: none;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 15px 30px;
	font-size: inherit;
	border: 3px solid #009DDB;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div a:nth-child(3)
	{
	margin-right: 20px;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div a:hover
	{
	color: #009DDB;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div a[disabled]
	{
	color: white;
	background-color: #757575;
	border-color: #757575;
}

.checkoutExitConfirmationModal .modal-dialog .modal-content>div a[disabled]:hover
	{
	color: white;
	background-color: #757575;
	cursor: default;
}

#removeItemConfirmationModal .modal-dialog {
	width: 760px;
}

#removeItemConfirmationModal .modal-dialog .modal-content {
	width: 100%;
	padding: 60px 200px 60px 45px;
	position: relative;
}

#removeItemConfirmationModal .modal-dialog .modal-content .clickable {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 11px;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div {
	display: inline-block;
	font-size: 18px;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div h2 {
	color: #009DDB;
	font-size: 28px;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div a {
	margin-top: 30px;
	background-color: #009DDB;
	color: white;
	border: none;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 15px 30px;
	font-size: 19px;
	border: 3px solid #009DDB;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div a:nth-child(2)
	{
	margin-right: 20px;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div a:hover {
	color: #009DDB;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div a[disabled]
	{
	color: white;
	background-color: #757575;
	border-color: #757575;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div a[disabled]:hover
	{
	color: white;
	background-color: #757575;
	cursor: default;
}

#removeItemConfirmationModal .modal-dialog .modal-content>div a:hover {
	color: #004EBC;
	border: 3px solid transparent;
}

.promotion-block {
	width: 100%;
	height: 100%;
}

.promotion-block img {
	position: absolute;
	height: 100%;
	width: auto;
	top: 0;
	left: -9999px;
	right: -9999px;
	margin: auto;
	z-index: -1;
}

.promotion-block .header {
	margin-top: 15px;
	margin-left: 20px;
}

.promotion-block .header h2 {
	font-size: 48px;
	color: #dc291e;
}

.promotion-block .header p {
	font-size: 14px;
	color: #666666;
}

.promotion-block button {
	position: absolute;
	width: 120px;
	height: 30px;
	background-color: #009DDB;
	color: white;
	border: none;
	display: inline-block;
	width: 120;
	height: 30;
	padding: 0 0;
	font-size: 18;
	border: 3px solid #009DDB;
	bottom: 30px;
	left: 20px;
}

.promotion-block button:hover {
	color: #009DDB;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}

.promotion-block button[disabled] {
	color: white;
	background-color: #757575;
	border-color: #757575;
}

.promotion-block button[disabled]:hover {
	color: white;
	background-color: #757575;
	cursor: default;
}

#productVideoModal .modal-content {
	background-color: #f8f8f8;
}

#productVideoModal .modal-content .modal-header div:nth-child(2) {
	padding: 0 4%;
}

#productVideoModal .modal-content .modal-header div:nth-child(2) .col-md-12
	{
	margin-top: 5%;
	text-align: center;
}

#productVideoModal .modal-content .modal-header div:nth-child(2) .col-md-12 object#ytplayer
	{
	height: 390px;
	width: 590px;
}

#checkoutShippingModal .modal-header div {
	padding: 0 4%;
}

.sticky-quantity .cp-qty-errorMsg {
	font-size: 11px;
	color: #333;
	margin-bottom: 5px;
}

.baby-registry-addTo {
	border: 2px solid;
	border-color: #EA7125;
	background-image: none;
	color: #EA7125;
	background-color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	width: 194px;
	height: 35px;
	padding: 4px 24px;
	margin-left: -3px;
	
	
}

.wish-list-addTo {
	border: 2px solid;
	border-color: #EA7125;
	background-image: none;
	color: #EA7125;
	background-color: #fff;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	width: 194px;
	height: 35px;
	padding: 4px 24px;
	margin-left: 10px;
	
}

.baby-registry-addTo {
	
}

.wish-list-addTo {
	
}

.available-online-i {
	width: 165px;
	height: 19px;
	font-size: 14px;
	
	
	
	text-align: left;
	color: #666666;
	color: var(- -brownish-grey);
}

.sticky-quantity-borber {
	border-color: #d2d2d2;
	border-style: none solid none solid;
	border-width: 1px;
	width: 75px;
}

.out-of-stock {
	font-size: 14px;
	
	
	
	color: #666666;
	margin-top: 10px;
}

.free-store-pickup-in {
	/* width: 177px; */
	height: 19px;
	font-size: 14px;
	
	
	
	text-align: left;
	color: #666666;
	color: var(- -brownish-grey);
}

.ICN-Store {
	width: 100%;
	background-image: url('../images/i-c-n-store.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 25px;
	object-fit: contain;
	float: left;
	padding-left: 50px;
}
.margin-left-500{
  /* margin-left: 500px; */
  margin-left:30PX;
  float: right;
}
.content-productdesc-about-history{
	/* margin-top: -297px; */
	/* width:500px; */
	width:60%;
	padding-right:10px;
	/* text-align:justify; */
}
.productdesc-aboutthistoy{
	text-align: center;
}
.productdesc-promo-accordion{
	/* width: 345px; */
	height: 40px;
	border-radius: 4px;
	background-color: #f3f3f3;
	color: #666666;
	text-align: left;
	padding-left: 15px;
	padding-top: 15px;}
	
.productdesc-promo-accordion-margin-top{
margin-top:1PX;}
	
.productdesc-prom-terms {
	font-size: 14px;
	
	
	
	color: #004ebc; 
	float: right;
    padding-right: 5px;
}

.productdesc-prom-terms-plus {
	background: url('../images/main-body-sprite.png') -203px -17px no-repeat;
	display:block;
	height: 14px;
	width: 14px;
}

.productdesc-prom-terms-minus {
	background: url('../images/main-body-sprite.png') -170px -18px no-repeat; 
	display:block;
	height: 14px;
	width: 14px;
	
}
.productdesc-prom-terms-pad{
	float: right;
    margin-right: 17px;
    margin-top: -27px;
}
.product-details .top-product-details-content .main-rail{
	width: auto;  
}
.pdp-quantity-limit{
	color:#dc291e;
}
