.gift-finder-template {
  width: 524px;
  float: left;
  position: absolute;
  background-color: #f2f2f2;
  z-index: 1002; }
.product-details-template .buy-together-and-save {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 2%; }
  .product-details-template .buy-together-and-save .large-blue {
    margin-bottom: 20px; }
.product-details-template .pdp-header-block {
  position: relative; }
.product-details-template .reviews {
  width: 66%; }
.product-details-template .product-review-section {
  width: 100%;
  padding-left: 4%;
  padding-right: 3%; }
  .product-details-template .product-review-section .show-more-questions {
    display: none; }
  .product-details-template .product-review-section .show-more-reviews {
    display: none; }
.product-details-template .from-the-manufacturer {
  padding-left: 4%;
  padding-right: 3%;
  width: 100%; }

.print-header {
  display: none; }

.pdp-shopping-cart-overlay-container {
  margin-top: 220px;
  z-index: 1000;
  position: fixed;
  background-color: #f2f2f2;
  width: 973px;
  height: 410px;
  padding-left: 10px; }

.quickview-modal {
  width: 65% !important; }

.product-details-template .sticky-price {
  top: 300px;
  width: 34.37%; }

.product-details-template {
  padding: 0;
  margin: 0;
  min-width: 1024px;
  overflow-x: scroll; }

.product-title-row {
  margin: 0 0 0 4%;
}

.product-review-row {
  margin: 0 0 0 4%;
}

.pdp-product-details-block {
  width: 100%; }

.toys-template {
  width: 71.25%; }
  .toys-template > div:first-child {
    width: 25%;
    float: right; }
  .toys-template > div:nth-child(2) {
    width: 100%; }
  .toys-template > div:last-child {
    /* margin-left: 3%; */ }

.returns-warranties-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: scroll; }
  .returns-warranties-template .returns-warranties-template-content {
    margin-top: 15px;
    margin-left: 4%;
    margin-right: 4%;
    display: block; }
  .returns-warranties-template .footer-grid-list hr {
    height: 0px; }
.order-history-template .footer-grid-list hr {
  height: 0px; }
.order-history-template .template-content {
  margin-top: 135px; }
  .order-history-template .template-content > div:first-child {
    width: 65.4%; }
    .order-history-template .template-content > div:first-child hr {
      margin-bottom: 0px;
      margin-left: 3.5%;
      min-width: 685px; }
  .order-history-template .template-content > div:nth-child(2) {
    margin-right: 2%;
    margin-left: 2%; }
  .order-history-template .template-content .order-history-left-col {
    width: 66%;
    min-width: 685px;
    float: left; }
    .order-history-template .template-content .order-history-left-col .order-history-table .row {
      margin-left: 15px; }
  .order-history-template .template-content .order-history-right-col {
    float: right;
    width: 274px; }
    .order-history-template .template-content .order-history-right-col img {
      float: right;
      position: relative;
      top: 5px; }
  .order-history-template .template-content .order-history-header {
    margin-left: 5%; }

.checkout-pickup-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .checkout-pickup-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
    margin-right: 20px; }
  .checkout-pickup-template .checkout-pickup-container {
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 10px; }
  .checkout-pickup-template .spacer {
    margin-bottom: 60px; }
  .checkout-pickup-template .checkout-order-summary {
    position: static; }
  .checkout-pickup-template #order-summary-block {
    position: absolute;
    right: 4%;
    min-width: 230px !important; }

.my-account-template .template-content {
  margin-top: 150px; }
  .my-account-template .template-content > div.my-account-welcome-back-cont {
    width: 67.4%; }
  .my-account-template .template-content > div:nth-child(2) {
    margin-right: 2%;
    margin-top: 15px; }
  .my-account-template .template-content > div:first-child hr {
    margin-bottom: 0px; }
  .my-account-template .template-content > div.row {
    margin: 0px; }
    .my-account-template .template-content > div.row > div {
      padding-left: 0px; }
  .my-account-template .template-content > div.row:first-child > div:first-child {
    margin-bottom: 15px; }
  .my-account-template .template-content .my-account-your-info > div.row {
    max-width: 1024px; }
  .my-account-template .template-content .saved-credit-card {
    padding-right: 0px;
    padding-left: 15px !important; }
    .my-account-template .template-content .saved-credit-card div.col-md-5 {
      width: 35%; }
  .my-account-template .template-content .my-account-left-col {
    float: left;
    position: relative;
    width: 71.4%; }
    .my-account-template .template-content .my-account-left-col hr {
      margin-right: 15px; }
    .my-account-template .template-content .my-account-left-col > hr {
      margin-top: 0px;
      margin-left: 16px; }
    .my-account-template .template-content .my-account-left-col > div {
      margin-left: 2%; }
  .my-account-template .template-content .my-account-right-col {
    float: right;
    position: relative;
    width: 274px; }
    .my-account-template .template-content .my-account-right-col > div:first-child {
      margin-bottom: 20px; }
  .my-account-template .template-content .my-account-order-history {
    padding-right: 15px; }
  .my-account-template .template-content .rewards-zone {
    padding-right: 0px;
    padding-left: 15px !important; }
  .my-account-template .template-content .expired-row div {
    padding-right: 0px;
    padding-left: 6px !important; }
  .my-account-template .template-content .my-account-norton {
    text-align: right;
    margin-top: 5px; }
  .my-account-template .template-content .content-title {
    font-size: 36px;
    color: #004EBC; }

.my-account-template .footer-grid-list hr {
  height: 0px; }

.my-account-communication-preferences {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-account-communication-preferences h1 {
  font-size: 21px;
  color: #009DDB;
  margin: 0; }

.my-account-wish-list {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-account-wish-list h1 {
  font-size: 21px;
  color: #009DDB;
  margin: 0; }

.my-account-my-registry {
  margin-top: 30px;
  margin-bottom: 30px; }

.my-account-my-registry h1 {
  font-size: 21px;
  color: #009DDB;
  margin: 0; }

.checkout-multiple-shipping {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .checkout-multiple-shipping .navbar-default.top-navbar > div > ul:first-child > li:first-child {
    margin-right: 20px; }
  .checkout-multiple-shipping .product-information .product-information-content a {
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .product-information .product-information-content a:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .shipping-multiple-addresses {
    display: block;
    font-size: 14px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-child(4) span:nth-child(2) > a {
      padding-left: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(6) {
      height: 25px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(4) {
      padding-top: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses span:nth-last-child(2) {
      padding-left: 5px;
      padding-right: 5px; }
  .checkout-multiple-shipping .single-address-link {
    font-size: 14px;
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .single-address-link:hover {
      text-decoration: underline;
      color: #ea7125; }
  
  .checkout-multiple-shipping .product-information div:nth-child(n+7) {
    padding-bottom: 0 !important; }

.customer-service-template .template-content {
  padding-top: 135px;
  padding-left: 3.5%;
  padding-right: 3.5%; }
.customer-service-template .customer-service-help {
  padding-bottom: 20px; }

.store-locator-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }

.collections-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .collections-template h2 {
    font-size: 32px;
    color: #666666; }
  .collections-template .template-content {
    padding-top: 135px;
    padding-left: 3.5%;
    padding-right: 3.5%; }
  .collections-template .collection-header hr {
    margin-bottom: -10px; }
  .collections-template .my-account-product-carousel {
    background-color: white;
    margin-top: -15px; }
    .collections-template .my-account-product-carousel .product-carousel-title {
      font-size: 32px;
      color: #666666; }
  .collections-template .recently-viewed-section-header {
    margin-top: -50px; }
    .collections-template .recently-viewed-section-header h3 {
      font-size: 32px;
      color: #666666;
      margin-bottom: 25px; }
  .collections-template .recently-viewed-section-content {
    margin-bottom: 40px; }
  .collections-template .sort-by-dropdown-arrow {
    left: 30px; }
  .collections-template .small-spacer {
    /* height: 10px; */ }
  .collections-template .fixed-nav {
    z-index: 1; }

.layaway-template .template-content {
  margin-top: 105px !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-bottom: 50px;
  padding-top: 40px !important; }
  .layaway-template .template-content #guestMakePayment div {
    margin-top: 10px;
    margin-bottom: 10px; }
  .layaway-template .template-content #guestMakePayment > div {
    padding-left: 15px; }
  .layaway-template .template-content #guestMakePayment .remove-padding {
    padding: 0; }
  .layaway-template .template-content .customer-service-help {
    padding-bottom: 20px; }
    .layaway-template .template-content .customer-service-help p:nth-child(4) {
      display: none; }

.gift-card-landing-template .template-content {
  margin: 135px auto 0;
  width: 100%;
  display: block; }
  .gift-card-landing-template .template-content hr {
    margin-left: 10px;
    margin-right: 10px; }
  .gift-card-landing-template .template-content .gift-card-landing-description {
    margin-left: 20px;
    margin-right: 20px; }
  .gift-card-landing-template .template-content .gift-card-landing-options {
    margin: 25px auto 0;
    max-width: 1024px;
    display: block; }
  .gift-card-landing-template .template-content .gift-card-landing-cards-zone {
    margin: 40px auto 0;
    max-width: 1024px;
    display: block; }
  .gift-card-landing-template .template-content .gift-card-landing-corporate {
    margin: 40px auto 0px;
    max-width: 1024px;
    display: block; }
  .gift-card-landing-template .template-content .terms-conditions {
    margin-top: 40px; }

.egift-card-landing-template .template-content {
  margin-top: 105px !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-bottom: 50px;
  padding-top: 40px !important; }
  .egift-card-landing-template .template-content > div {
    margin-left: 10px; }
  .egift-card-landing-template .template-content .egift-content {
    margin-bottom: 75px; }
  .egift-card-landing-template .template-content > hr {
    margin-right: -10px; }
  .egift-card-landing-template .template-content h4 {
    font-size: 18px;
    color: #666666; }
  .egift-card-landing-template .template-content p {
    font-size: 16px;
    color: #666666; }
  .egift-card-landing-template .template-content .egift-content > hr {
    margin-left: -10px;
    margin-right: -10px; }
  .egift-card-landing-template .template-content .col-md-4 {
    padding: 8px; }

.egift-card-landing-form-template .template-content {
  margin-top: 145px;
  margin-left: 3.5%; }
  .egift-card-landing-form-template .template-content > div {
    margin-left: 10px; }
  .egift-card-landing-form-template .template-content > hr {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px; }
  .egift-card-landing-form-template .template-content .egift-card-form-footer {
    margin-top: 80px; }
  .egift-card-landing-form-template .template-content .terms-conditions {
    margin-top: 100px; }
  .egift-card-landing-form-template .template-content button:hover {
    background-color: #fff;
    color: #079ddb; }

.shop-by-template .template-content {
  margin-top: 105px !important;
  margin-left: 3.5%;
  margin-right: 3.5%;
  padding-bottom: 50px;
  padding-top: 40px !important; }

.help-contact-us-template .top-ad-zone {
  margin-top: 115px !important; }
.help-contact-us-template .template-content {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 50px; }
  .help-contact-us-template .template-content > div {
    margin-left: 10px; }

.my-account-sign-in-template .template-content {
  margin-top: 130px; }
.my-account-sign-in-template .my-account-product-carousel {
  margin-top: 4%; }
.my-account-sign-in-template .footer-grid-list hr {
  height: 0; }

.help-customer-service-template .top-ad-zone {
  margin-top: 115px !important; }
.help-customer-service-template .template-content {
  margin-left: 4%;
  margin-right: 4%;
  padding-bottom: 50px; }
  .help-customer-service-template .template-content > div {
    margin-left: 10px; }
    .help-customer-service-template .template-content > div.help-customer-service-header {
      margin-top: 5px; }
  .help-customer-service-template .template-content .row {
    margin-top: 30px; }

.checkout-multiple-shipping {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: hidden; }
  .checkout-multiple-shipping .navbar-default.top-navbar > div > ul:first-child > li:first-child {
    margin-right: 20px; }
  .checkout-multiple-shipping .product-information .product-information-content a {
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .product-information .product-information-content a:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .shipping-multiple-addresses {
    display: block;
    font-size: 14px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-child(4) span:nth-child(2) > a {
      padding-left: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(6) {
      height: 25px; }
    .checkout-multiple-shipping .shipping-multiple-addresses div:nth-last-child(4) {
      padding-top: 5px; }
    .checkout-multiple-shipping .shipping-multiple-addresses span:nth-last-child(2) {
      padding-left: 5px;
      padding-right: 5px; }
  .checkout-multiple-shipping .single-address-link {
    font-size: 14px;
    color: #004EBC;
    cursor: pointer; }
    .checkout-multiple-shipping .single-address-link:hover {
      text-decoration: underline;
      color: #ea7125; }
  .checkout-multiple-shipping .product-information div:nth-child(n+7) {
    padding-bottom: 0 !important; }
  .checkout-multiple-shipping .col-md-3.pull-right {
    padding-right: 6px; }

.gift-finder-results-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .gift-finder-results-template .ad-zone-970-90 {
    margin-top: 15px;
    margin-bottom: 10px; }
  .gift-finder-results-template #filtered-products {
    position: relative; }
    .gift-finder-results-template #filtered-products > div.row-footer-margin div:first-child.row-no-padding {
      padding-top: 40px;
      padding-bottom: 1%;
      position: relative; }
    .gift-finder-results-template #filtered-products > div.row-footer-margin div.row-no-padding {
      padding-top: 20px;
      padding-bottom: 1%;
      position: relative; }
  .gift-finder-results-template #loadMoreProducts {
    font-size: 18px;
    color: #fff;
     }
    .gift-finder-results-template #loadMoreProducts .family-show-all {
      font-size: 12px; }

.search-template .search-main-footer > div.row {
  margin-top: 10px; }
.search-template h2.no-results {
  color: #004EBC; }
.search-template .lego-background .row-footer-margin div.row:first-child .col-md-1 {
  margin-top: 20px;
  margin-right: 15px; }
.search-template .lego-background .row-footer-margin div.row:last-child > div {
  margin-top: 20px; }
.search-template #narrow-by-scroll .compare-overlay-menu {
  width: 100%;
  float: right;
  position: absolute;
  z-index: 1000;
  border-top: 8px solid #009DDB; }
.search-template #narrow-by-scroll .compare-product-selection {
  border-bottom: 8px solid #ccc;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%; }
/*.search-template #filtered-products {
  position: relative; }*/
  .search-template #filtered-products > div.row-footer-margin > div:nth-child(1) {
    padding-top: 40px;
    padding-bottom: 1%;
    position: relative; }
  .search-template #filtered-products > div.row-footer-margin > div:nth-child(2), .search-template #filtered-products > div.row-footer-margin > div:nth-child(3) {
    padding-top: 25px;
    padding-bottom: 1%; }
  .search-template #filtered-products .load-more-products > div.row {
    padding-top: 25px;
    padding-bottom: 1%; }

.search-template .search-main-search-block {
  margin-left: 4%; }
.search-template .suggested-search-block {
  padding-left: 4%; }
.search-template .fixed-narrow-menu.sticky {
  position: fixed;
  top: 0px;
  z-index: 100000;
  background-color: white;
  width: 100%; }
.search-template .fixed-narrow-menu.sticky + .sticky-menu-placeholder {
  display: block;
  height: 79px; }
.search-template .fixed-narrow-menu.sticky.compare-menu-shown + .sticky-menu-placeholder {
  display: block;
  height: 297px; }
.search-template .row-container {
  padding: 10px 10px 0px 10px;
  position: relative;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }
.search-template .row-container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }
.search-template .row > .product-block {
  max-width: 24%;
  height: auto;
  width: auto\9;
  display: inline-block;
  *display: inline; }
.search-template .brand-header > a, .search-template .brand-header > a:visited {
  outline: none;
  text-decoration: none; }
.search-template .stitched {
  padding: 10px;
  margin: 10px;
  color: #999999;
  font-size: 15px;
  line-height: 1.3em;
  border: 1px dashed #999999;
  
  text-align: center; }
.search-template .did-you-mean {
  
  margin-top: 2%; }
  .search-template .did-you-mean span {
    color: #666666;
     }
  .search-template .did-you-mean span.question-mark {
    color: #004EBC; }

.fixed-narrow-menu.sticky {
  position: fixed;
  top: 0px;
  /* z-index: 100000; */
  background-color: white;
  width: 100%; }

.row-container {
  padding: 10px 10px 0px 10px;
  position: relative;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines; }

.row-container:after {
  content: '';
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0; }

.row > .product-block {
  max-width: 24%;
  height: auto;
  width: auto\9;
  display: inline-block;
  *display: inline; }

.col-narrow-by {
  padding-top: 10px;
  padding-left: 0px !important; }

.baby-registry-menu.sub-category {
  width: 892px;
  float: left;
  position: absolute;
  background-color: #f2f2f2;
  z-index: 1000; }

.sub-category-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px;
  overflow-x: INITIAL;
  }
  .sub-category-template .fixed-narrow-menu .narrow-by-row {
    margin-left: 4%;
    margin-right: 4%; }
  .sub-category-template .fixed-narrow-menu > div:nth-child(2) {
    /*margin-left: 4%;
    margin-right: 4%; */}
  .sub-category-template .fixed-narrow-menu .compare-overlay-menu {
    display: none;
    width: 100%;
    float: right;
    position: absolute;
    z-index: 1000;
    border-top: 8px solid #009DDB; }
 
  .sub-category-template .row-footer-margin > .row > .col-md-12 > div {
    
    font-size: 32px;
    color: #666666; }
  .sub-category-template .row-footer-margin > div:nth-child(2) > div.col-md-12 {
    margin-top: 20px; }
/*  .sub-category-template #filtered-products {
    position: relative; }*/
    .sub-category-template #filtered-products > div:nth-child(2) > div:nth-child(1) {
      padding-top: 40px;
      padding-bottom: 1%;
      position: relative; }
    .sub-category-template #filtered-products > div:nth-child(2) > div:nth-child(2) {
      padding-top: 25px;
      padding-bottom: 1%; }
    .sub-category-template #filtered-products > div:nth-child(2) > div:nth-child(3) {
      padding-top: 25px;
      padding-bottom: 1%; }
    .sub-category-template #filtered-products .load-more-products > .row-no-padding {
      padding-top: 25px;
      padding-bottom: 1%; }
  .sub-category-template #narrow-by-scroll + div {
    margin-top: 50px;
    margin-left: 4%;
    margin-right: 4%; }
    .sub-category-template #narrow-by-scroll + div + div {
      margin-top: 50px;
      margin-left: 4%;
      margin-right: 4%; }
      .sub-category-template #narrow-by-scroll + div + div + div {
        margin-left: 4%;
        margin-right: 4%; }
        .sub-category-template #narrow-by-scroll + div + div + div > .row {
          margin-top: 60px; }
          .sub-category-template #narrow-by-scroll + div + div + div > .row > div:nth-child(2) {
            padding-top: 40px; }

.toys-styleguide h1 {
  color: #004EBC;
  
  margin-bottom: 20px;
  font-size: 48px; }
.toys-styleguide h2, .toys-styleguide h3, .toys-styleguide h4, .toys-styleguide h5, .toys-styleguide h6 {
  color: #009DDB;
  
  margin-bottom: 20px; }
.toys-styleguide .col-md-1, .toys-styleguide .col-md-8, .toys-styleguide .col-md-4, .toys-styleguide .col-md-6 {
  background-color: rgba(86, 61, 124, 0.15);
  border: 3px solid white;
  height: 75px;
  text-align: center; }
  .toys-styleguide .col-md-1 span, .toys-styleguide .col-md-8 span, .toys-styleguide .col-md-4 span, .toys-styleguide .col-md-6 span {
    position: relative;
    top: 25px; }
.toys-styleguide p {
  margin-bottom: 15px;
  color: #666666;
  font-size: 16px;
  line-height: 1.25; }
.toys-styleguide .primary-text-image {
  padding-bottom: 5px; }
.toys-styleguide .where-is-it {
  
  color: #004EBC;
  cursor: pointer; }
  .toys-styleguide .where-is-it:hover {
    text-decoration: underline;
    color: #ea7125; }
.toys-styleguide .popover {
  z-index: 20;
  padding: 10px; }

.cyan-link, .cyan-link:visited {
  color: #009DDB;
   }

.cyan-link:hover {
  text-decoration: underline;
  color: #666666; }

.gray-link, .gray-link:visited {
  color: #666666;
   }

.gray-link:hover {
  color: #009DDB;
  text-decoration: underline; }

.blue-link, .blue-link:visited {
  color: #004EBC;
   }

.purple-link:hover {
  color: #EA7125;
  text-decoration: underline; }

.puple-link, .purple-link:visited {
  color: #5E2D91;
   }

.blue-link:hover {
  color: #EA7125;
  text-decoration: underline; }

.primary-text-link, .primary-text-link:visited {
  color: #004EBC;
  
  font-size: 20px;
  margin-top: 20px;
  display: inline-block; }

.primary-text-link:hover {
  color: #666666; }

.primary-text-link-bru, .primary-text-link-bru:visited {
  color: #5E2D91;
  
  font-size: 20px;
  margin-top: 20px;
  display: inline-block; }

.primary-text-link-bru:hover {
  color: #666666; }

.style-guide-margin {
  margin-top: 20px; }

.archer-typography-section {
   }
  .archer-typography-section h2 {
     }
  .archer-typography-section p {
     }

.babies-styleguide h1 {
  color: #666;
  
  margin-bottom: 20px;
  font-size: 48px; }
.babies-styleguide h2, .babies-styleguide h3, .babies-styleguide h4, .babies-styleguide h5, .babies-styleguide h6 {
  color: #666;
  
  margin-bottom: 20px; }
.babies-styleguide p {
  margin-bottom: 15px; }

.home-template .carousel-margin {
  margin-top: 100px; }

.home-template .ad-zone-970-90 {
  margin-bottom: 20px; }

.min-width {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }

.max-width {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }

.block-3-column {
  padding: 0 2px; }

.block-3-row {
  margin: 0 -2px; }

.left-column-4 {
  padding-right: 16%; }

.middle-column-4 {
  padding-right: 16%;
  padding-left: 16%; }

.right-column-4 {
  padding-left: 16%; }

.home-template .max-width {
  max-width: 1300px; }



.category-template {
  padding: 0px;
  margin: 0px;
  min-width: 1024px; }
  .category-template .row-category-header {
    margin-top: 105px; }
  .category-template > div.row.default-margin {
    margin-top: 40px; }
  .category-template hr {
    margin-bottom: 0px;
    margin-top: 20px; }
  .category-template .row-strollers {
    margin-bottom: 10px; }
  .category-template .brand-block-row {
    margin-bottom: 50px; }
    .category-template .brand-block-row img {
      width: 80%;
      height: auto; }
  .category-template .category-ad-row {
    margin-top: 40px; }

.checkout-gifting-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
  margin-right: 20px; }
.checkout-gifting-template .default-margin {
  margin-top: 30px; }
.checkout-gifting-template .no-gift-options .col-md-8 {
  display: none; }
.checkout-gifting-template .no-gift-options .registry-product-content > div.row:last-child {
  display: none; }

.checkout-payment-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
  margin-right: 20px; }
.checkout-payment-template > .default-margin {
  margin-top: 30px; }

.checkout-review-template .navbar-default.top-navbar > div > ul:first-child > li:first-child {
  margin-right: 20px; }
.checkout-review-template > .default-margin {
  margin-top: 30px; }

.template-family #filtered-products {
  position: relative; }
  .template-family #filtered-products .filtered-products-padding {
    padding-top: 25px;
    padding-bottom: 1%;
    position: relative; }
  .template-family #filtered-products .filtered-products-padding-top {
    padding-top: 40px;
    padding-bottom: 1%;
    position: relative; }

.template-family .family-footer > div.row {
  margin-top: 30px; }
  .template-family .family-footer > div.row .col-md-9 {
    padding-top: 40px; }