#layawayExitPaymentModal .modal-content {
	padding: 10px 10px 20px 20px;
	width: 530px;
}
#layawayExitPaymentModal .clickable {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
}
#layawayExitPaymentModal a {
	color: #004EBC;
	cursor: pointer;
}
#layawayExitPaymentModal #yes-exit-payment {
	background-color: #009DDB;
	color: white;
	border: none;
	display: inline-block;
	width: 80px;
	height: 35px;
	padding: 0 0;
	
	font-size: 16px;
	border: 3px solid #009DDB;
	position: relative;
}
#layawayGlobalErrorDisplay .error-state-exclamation-lg{
	top: 10px;
}
#layawayExitPaymentModal #cancel-exit-process {
	float: right;
	line-height: 35px;
	margin-right: 35px;
}
#layawayExitPaymentModal .layawayExitMessage {
	margin: 10px 0;
	width: 400px;
}

.layaway-creditCard-error{
	margin-left: 15px;
}

/* Start: Layaway GiftCard */
.gift-layaway-card-table {
    background-color: #f3f3f3;
    width: 90%;
    padding: 0px 15px;
    margin-top: 10px;
}

.gift-layaway-card-table table {
    table-layout: fixed;
    
    font-size: 14px;
    width: 100%;
    color: #666;
}

.gift-layaway-card-table table td {
    padding: 10px 0px;
}

.gift-layaway-card-table td {
    vertical-align: top;
}

.gift-layaway-card-table table {
    border-collapse: collapse;
    border-spacing: 0;
background-color: transparent;
}

.gift-layaway-card-table a:hover {
    text-decoration: underline;
    color: #ea7125;
}
.gift-layaway-card-table div a {
    
    font-size: 14px;
    color: #004EBC;
}
.gift-layaway-card-table .pull-layaway-right {
    float: right !important;
}
/* End: Layaway GiftCard */
#layawayPaymentAmountForm ,.enterPaymentDetails{
	display:none;
}

#guestMakePayment .col-md-4 .button{
	width: 100%;
	background-color: #009DDB;
	color: white;
	
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	outline: none;
	text-align: center;
	border: 5px solid #009DDB;
}

#guestMakePayment .col-md-4 .button:hover{
	background-color: white;
	color: #009DDB;
}
#layawayPaymentAmountForm .dollar-sign {
	top: -5px;
}
#orderHistoryLoadMore,#layawayLoadMore{
	height: 50px;
    background-color: #777 !important;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    
    font-size: 30px;
    padding-top: 8px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
}
.layaway-guest-details .guest-details-content .col-md-5 .font-adjustment {
	
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.layawayPaymentInformationDetailsValue {
	margin-top: 0 !important;
}
.align-left {
	padding-left: 0;
}

.layaway-template .template-content #guestMakePayment > div {
padding-left: 0px !important;
}
.my-account-order-history .order-history-order{
	margin-left: 0px !important;
}
#orderHistory .layaway-order-history-table-header{
	padding-top: 40px;
	padding-bottom: 10px;
	background-color: white;
	
}
.my-account-order-history .row{
	margin-top: 5px;
margin-bottom: 5px;
padding-left: 15px;
margin-left: 0px;
}
.my-account-order-history .order-history-order div:nth-child(2){
	padding-left: 15px;
}
#orderHistory p{
	
font-size: 16px;
color: #666666;
vertical-align: top;
}
.layawayError {
	margin: 20px 0 0 0;
	display: block;

}
.layaway-guest .enter-button {
	margin-top:0px !important;
}

.guest-account-details .col-md-6 p {
	padding: 15px 0 15px 0;

}
.disableButton {
	pointer-events: none;
}
.accountOrderHistoryDetailModalPopup .summary-block-padded-content {
	    text-align: left;

}
#giftCardInfoApplicationForm > div.inline {
    
    color: #666;
    font-size: 14px;
}
#giftCardInfoApplicationForm > div.inline span{
       
}
.layaway-giftcard-error{
       float: left;
    width: 100%;
}
.gift-layaway-card-table{
       display: none;
}
.orderError{
	font-size:14px;
	color: red;
    text-align: left;
    margin-top: 10px;
}
.orderProgramError{
	margin-bottom: 10px;
	Display:none;
}
#orderHistoryCancelOrder .modal-content{
	padding-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.order-history-template .template-content{
	margin-top: 97px;
}

.order-history-table .row:first-child .col-md-3 {
    top: 34%;
}     

.giftcardTooltippopover{
	z-index: 20;
    height: 175px !important;
    margin: 10px;
    width: 369px !important;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 500px;
}
.giftcardTooltip-wrapper .popover.bottom .arrow {
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999999;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    top: -11px;
    padding-rigth: 0px;
}

 .layaway .giftcardTooltippopover {
    left: -150px;
    top: 20px;
}

#orderHistory .my-account-order-history .row,#orderHistory .layaway-order-history-table-header{
	padding-left: 0;
}

.layaway-order-history-table-header.row > div{
	color: #666666;
}

#orderHistory .layaway-order-history-table-header{
    margin-right: -15px;
}

#orderHistoryCancelOrder{
	/* z-index: 10000; */  /* Fix for TUW-76239 */
}
#orderHistoryDetailModal .cancelOrder{
	cursor: pointer;
    
    font-size: 14.1px;
    color: #004EBC;
}
#layaway-page-suggested-address .modal-dialog.modal-dialog-shipping-page-suggested
{
	width:900px;
}
#layaway-page-suggested-address button[disabled]
{
	background-color: #999;
}
#layaway-page-suggested-address .modal-content.addressDoctor{
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 40px;
  background-color: #f8f8f8;
}
/* TUW-74617 fixed */
.layaway-template .checkout-payment-giftcard{
	padding-left: 0px;
}
.layaway-template .template-content #guestMakePayment  #giftCardInfoApplicationForm div{
	vertical-align: top;
}
.layaway-template .template-content .gcNumberWrapper, .layaway-template .template-content .eanWrapper{
	margin:0px;
	padding:0px;
	margin-top: 0px !important;
}

.layaway-template .template-content .gcNumberWrapper, .layaway-template .template-content .gcNumberWrapper input{
	width: 160px;
}
.layaway-template .template-content #guestMakePayment  #giftCardInfoApplicationForm .giftCardFormFieldContainer{
	padding-top:15px;
}
.layaway-template .template-content .eanWrapper{
	width: 65px;
}
.layaway-template .template-content .paddingZero{
	padding:0px;
}
.layaway-credit-component #creditCardInfoApplicationForm label.error{
	clear:both;
	
}
.checkout-shipping-address-form-content div div.select-wrapper.layawayCountryField{
	height: auto;
	padding-bottom: 0; /* Added For TUW-56894 */
}
.layaway-credit-component .expirationYearWrapper, .layaway-credit-component .expirationMonthWrapper{
	width: 110px;
	width: 114px\0;
	vertical-align: top;
	display: inherit;
}
.layawayPaymentAmountWrapper {
	width: 138px;
}
.error.messageFromService {
	max-width: 100%;
	padding-left: 30;
	margin: 0 0 30px 15px;
}
#layaway-guest-account .guest-account-details label 
{
	font-size:14px !important;
	margin-bottom: 15px;
}
  .layaway-order-product span.product-description {
    color: #004EBC;
     }
    
.layaway-template #billingInfoApplicationForm .select-wrapper.creditCardOtherStateWrapper {
	padding-bottom: 0;
    margin-bottom: 0;
}
