.checkout-template .checkout-nav .navbar, .checkout-template .checkout-nav .checkout-nav-bottom {
    border-radius: 0px;
    padding-left: 4%;
    padding-right: 4%;
}
.checkout-template .checkout-nav .checkout-nav-bottom {
    height: 48px;
    background-color: #004EBC;    
}
.checkout-template .checkout-nav .checkout-nav-bottom .checkout-nav-bottom-row {
    height: 48px;
    line-height: 48px;
}
.checkout-template .checkout-nav .checkout-nav-bottom .checkout-nav-bottom-row .checkout-tab {
    font-size: 26px;
    color: #fff;
    padding-right: 20px;
    cursor: default;
}
.checkout-template .checkout-nav .checkout-nav-bottom .checkout-nav-bottom-row > button.checkout-nav-bottom-tab {
    width: 127px;
    height: 40px;
    padding: 0;
    color: #fff;
    position: relative;
    top: -4px;
    margin-right: 10px;
    border: none;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.checkout-template .checkout-nav .checkout-nav-bottom .checkout-nav-bottom-row > button.checkout-nav-bottom-tab.checkoutActive {
    top: -2px;
    background-color: #fff;
    color: #666;
    height: 44px;
}
.checkout-template .checkout-nav .checkout-nav-bottom .checkout-nav-bottom-row > .we-can-help {
    height: 48px;
    margin: 0;
    top: -5px;
    padding-top: 11px;
    border-left: solid 1px #306fc9;
    border-right: solid 1px #306fc9;
}

.checkout-template .shopping-cart-summary-block {
    max-width: 404px;
    min-width: 285px;
}
.checkout-template .shopping-cart-summary-block .summary-block-border {
    padding-top: 23px;
    border: 0;
}
.checkout-template .shopping-cart-summary-block .summary-block-border .summary-block-padded-content {
    padding: 0 30px 0 28px;    
}
.checkout-template .shopping-cart-summary-block .summary-block-border .summary-block-padded-content .order-summary {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 11px;
}
.checkout-template .shopping-cart-summary-block .summary-block-border .summary-block-footer-padded {
    padding: 0 30px 0 28px;
}
.checkout-template .shopping-cart-summary-block .summary-block-border .summary-block-footer-padded .secure-purchase-text {
    margin-bottom: 5px;
}

.checkout-template #action_controls {
    margin-top: 20px;
}

.checkout-template .btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.checkout-template .checkout-left-column {
    margin-left: 50px;
    padding: 30px 67px 0 15px;
    border-right: 2px solid #f3f3f3;
}
.checkout-template .checkout-right-column {
    padding: 30px 0 0 0;
    position: absolute;
    right: 2.5%;
}

.checkout-template .checkout-shipping-content {
    margin: 0;
}
.checkout-template .checkout-shipping-content .checkout-left-column.checkout-gift-container {
    border: 0;
}
.checkout-template .checkout-shipping-content .shipping-default-header .shipping-default-header-signin {
    font-size: 16px;
    color: #666;
    margin-top: 12px;
    height: 44px;
    line-height: 44px;
}
.checkout-template .checkout-shipping-content .shipping-default-header .shipping-default-header-signin a {
    color: #004EBC;
    cursor: pointer;
    font-weight: bold;
}
.checkout-template .checkout-shipping-content .shipping-default-header .shipping-default-header-signin a:hover {
    text-decoration: underline;
    color: #ea7125;
}
.checkout-template .checkout-shipping-content .shipping-default-header .shipping-default-header-signin .signin-text {
    font-style: italic;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form .checkout-shipping-address-form-header {
    color: #666;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form .checkout-shipping-address-form-header .address-form-header .required-label {
    font-size: 14px;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form .checkout-shipping-address-form-header .address-form-header .shipping-us-only-text {
    margin-top: 9px;
    font-size: 14px;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form .checkout-shipping-address-form-header .checkout-privacy-link-align { 
    font-size: 14px;
    color: #004EBC;
    cursor: pointer;
    line-height: 46px;   
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form .checkout-shipping-address-form-header .checkout-privacy-link-align:hover {
    text-decoration: underline;
    color: #ea7125;
}
.checkout-template .checkout-shipping-address-form .checkout-shipping-address-form-content {
    margin-top: -30px;
}
.checkout-template .shipping-address-field {
    margin-top: 15px;
}
.checkout-template .shipping-address-field.credit-card-expires {
    position: relative;
    top: 5px;
}
.checkout-template .shipping-address-field.adjust-margin {
    margin-top: -15px;
}
.checkout-template .shipping-address-field .shipping-address-field-label {
    font-size: 14px;
    color: #666;
    cursor: default;
    margin-bottom: 0;
}
.checkout-template .shipping-address-field .shipping-address-field-absolute-label {
    position: absolute;
    bottom: 35px;
}
.checkout-template .shipping-address-field .shipping-address-field-required {
    position: relative;
    top: 52px;
    left: 8px;
    z-index: -1;
    opacity: 1;
}
.checkout-template .shipping-address-field.input-not-empty .shipping-address-field-required {
    opacity: 0;
}
.checkout-template .shipping-address-field .shipping-address-field-clear {
    position: absolute;
    bottom: 8px;
    left: 26px;    
    display: none;
    cursor: pointer;
}
.checkout-template .shipping-address-field.shipping-address-field-active.input-not-empty .shipping-address-field-clear {
    display: block;
}
.checkout-template .shipping-address-field .jvalidate-error {
    position: absolute;
}
.checkout-template .tru-float-label-field.adjust-margin .tru-float-label {
    left: -2px;
}
.checkout-template .shipping-address-field.zip-field-adjust .tru-float-label {
    left: 17px;
}
.checkout-template .co-billing-address .shipping-address-field .tru-float-label {
    left: 17px;
}
.checkout-template .tru-float-label-field.shipping-address-field-error .tru-float-label {
    color: #dc291e;
    opacity: 1;
    -webkit-transform: none;
            transform: none;    
}
.checkout-template .shipping-address-field .shipping-address-field-input {
    height: 35px;
    border: 1px solid #dedede;
    margin-top: 5px;
    width: 100%;
    padding-left: 15px;
    background-color: transparent;
}
.checkout-template .shipping-address-field.shipping-address-field-error .shipping-address-field-input {
    border: 1px solid #dc291e;
    color: #dc291e;
}
.checkout-template .shipping-address-field .shipping-address-field-select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    color: #757575;
    display: block;
    height: 35px;
    padding: 0 30px 0 10px;
    box-shadow: none;
    border: 1px solid #dedede;    
}
.checkout-template .shipping-address-field .shipping-address-field-select::-ms-expand {
    display: none;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form-content .same-billing-address {
    color: #666;
    font-size: 12px;
    cursor: pointer;
    margin-top: 15px;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form-content .ship-to-multiple-addresses {
    font-size: 14px;
    color: #004EBC;
    cursor: pointer;
    margin-top: 15px;
}
.checkout-template .checkout-shipping-content .checkout-shipping-address-form-content .ship-to-multiple-addresses:hover {
    text-decoration: underline;
    color: #ea7125;
}

.checkout-template .checkout-shipping-content .select-shipping-method.gift-section-height {
	min-height: 174px;
	margin-top: 26px;
}
.checkout-template .checkout-shipping-content .select-shipping-method .select-shipping-method-block {
    display: inline-block;
    width: 135px;
    height: 135px;
    background-color: #f3f3f3;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 14px;
    color: #666;
    cursor: default;    
}
.checkout-template .checkout-shipping-content .select-shipping-method .select-shipping-method-block.selected {
    border: 2px solid #009ddb;
}
.checkout-template .checkout-shipping-content .select-shipping-method .select-shipping-method-block.selected .tru-green-round-checkbox {
    pointer-events: none;
}
.checkout-template .checkout-shipping-content .select-shipping-method .select-shipping-method-block .shipping-type-header {  
    font-size: 18px;
    color: #666;
}
.checkout-template .checkout-shipping-content .select-shipping-method .select-shipping-method-block .shipping-type-time {  
    font-size: 12px;
}
.checkout-template .checkout-shipping-content .select-shipping-method .select-shipping-method-block .co-shipping-method-details {
    font-size: 14px;
}

.checkout-template .checkout-shipping-content .checkout-shipping-gifting {
    padding: 15px 0 25px 0;
    font-size: 16px;
    color: #666;
}
.checkout-template .checkout-shipping-content .checkout-shipping-gifting .checkout-shipping-gifting-header {
    margin-bottom: 15px;
}

.checkout-template .product-information .product-information-header .product-header-title {
    font-size: 18px;
    color: #004ebc;
}
.checkout-template .product-information .shipping-multiple-addresses .ship-to-dropdown {
    color: #666666;
}

.checkout-template hr.horizontal-divider {
    height: 2px;
    background-color: #f3f3f3;
    color: #f3f3f3;
}

.checkout-template .checkout-review-order {
    color: #009ddb;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    height: 46px;
    line-height: 46px;
    border: 3px solid #cccccc;
}
.checkout-template .checkout-review-order:hover {
    color: #666666;
    text-decoration: underline;
    cursor: pointer;
}
.checkout-template .order-summary-secure-logos {
    margin-top: 30px;
    text-align: center;
}

.checkout-flow-sprite {
    background: url(../images/checkout-flow-sprite.png) no-repeat;
    display: block;
}

.checkout-flow-radio-unselected {
    background-position: -5px -78px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.checkout-flow-radio-selected {
    background-position: -5px -118px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.checkout-flow-clear {
    background-position: 0 -153px;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.checkout-template .checkout-page-header {
    color: #004EBC;
    font-size: 36px;
}

.checkout-template .checkout-page-form-header {
    font-size: 24px;
    color: #666666;
    margin-bottom: 9px;
}

.checkout-template .checkout-page-form-subheader {
    font-size: 14px;
    color: #666666;
}

.checkout-template .checkout-billing-address-form-header {
    margin-bottom: 26px;
}
.checkout-template .checkout-billing-address-form-header .required-label {
    font-size: 14px;
    color: #666666;
}

.checkout-template .credit-structure .new-credit-card-open {
    margin: 10px 0 20px 0;
    background-color: #FFFFFF;
    border: 1px dashed #d2d2d2;
    padding: 20px;
    cursor: pointer;
    color: #666666;
    font-size: 14px;
}

.checkout-template .saved-billing-address {
    font-size: 14px;
    color: #666666;
}

.checkout-template .credit-card-left-section {
    padding-left: 40px;
}

.checkout-template a.tru-link,
.checkout-template .checkout-error-state a {
    color: #004ebc;
    cursor: pointer;
}
.checkout-template a.tru-link:hover, .checkout-template a.tru-link:focus,
.checkout-template .checkout-error-state a:hover, .checkout-template .checkout-error-state a:focus {
    color: #ea7125 !important;    
    text-decoration: underline;
}

.checkout-template .checkout-multiple-shipping .checkout-multiple-shipping-content {
    margin: 0;
}
/** check classes below */

.reviewGiftMessage{
	padding-left:0 !important;
	word-wrap: break-word;
	 /* TUW-56369 */
    font-size: 18px !important;
}

#review-tab .shopping-cart-edit-product-content .close-modal{
	padding-top: 10px;
	margin-left: 828px;
}

#review-tab .shopping-cart-edit-product-content.editCart .shopping-cart-product-edit-image {
    width: 385px;
    height: 385px;
    min-width: 385px;
    min-height: 385px;
    margin-left: 10px;
}

.checkout-review-product-block .product-description-price span{
	padding:0px;
}
#creditCardForm .padded-financing .popover.bottom>.arrow{
   top: -11px;
}

.sticky-price-contents {
padding-left: 0px;
}

#review-tab .qtys-text{
	color: red;
}

/* start payment tab credit-card select box image display */
       #co-credit-card_msdd{
              width: 300px;
              border: 1px solid #dedede !important;
              background: url('/images/category-down-blue-arrow.png') no-repeat right 10px top 10px;
              height: 35px;
              padding: 5px;
              cursor: pointer;
       }
       #msdropdown20_msdd{
              width: 300px !important;
              padding: 10px 0;
       }
       #msdropdown20_child{
              z-index: 9999 !important;
              position: absolute !important;
              visibility: visible !important;
              height: 3px !important;
              top: 51px !important;
              width: 299px !important;
       }
       #co-credit-card_msdd ul{
              padding: 0 8px 0 0px;
              border: 1px solid #dedede !important;
              background-color: #FFFFFF;
              width: 300px;
              margin-top: 35px;
              margin-left: -6px;
       }
       #co-credit-card_msdd ul li{
              list-style-type: none;
              padding: 5px 5px;
              cursor: pointer;
       } 
       #co-credit-card_title img,#co-credit-card_child ul li img{
           margin-right: 15px;
       }
/* end payment tab credit-card select box image display */

/* Start: Checkout leave confirmation */
#checkoutLeaveConfirm {
	display: none;
}

#checkoutLeaveConfirm .modal-dialog {
	margin-top: 150px;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay {
	padding: 20px 15px 25px 25px;
	height: 180px;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay>img {
	float: right;
	cursor: pointer;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay .row {
	margin: 0px;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay header {
	
	font-size: 36px;
	color: #009DDB;
	margin-bottom: 20px;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay button {
	background-color: #009DDB;
	color: #fff;
	
	font-size: 18px;
	border: 3px solid #009DDB;
	width: 200px;
	height: 35px;
	position: relative;
	right: 5px;
	vertical-align: middle;
	padding-top: 2px;
	padding-bottom: 2px;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay button:hover {
	background-color: #fff;
	color: #009DDB;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay p {
	
	font-size: 14px;
	margin: 10px 0;
	color: #666;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay a {
	
	color: #004EBC;
	font-size: 12px;
	margin-left: 20px;
}

#checkoutLeaveConfirm .checkout-leave-confirm-overlay a:hover {
	color: #666;
	text-decoration: underline;
}

/* End: Checkout leave confirmation */


.checkout-template #detailsModel .modal-content {
    padding: 20px;
}
.checkout-template #detailsModel .modal-content.welcome-back-overlay img{
	float: right;
    cursor: pointer;
}
.popover.paypalDdetailsWrapper{
	position: absolute !important;
}
.popover.pickupLearnMoreTooltip{
	max-width: 500px !important;
}
.hide{
	display: none !important;
}
/* .apply-today-credit-card-overlay {
    position: relative;
    height: 546px;
    margin-left: 15px;
} */

/* Start: payment page */
.my-account-add-credit-card-overlay .top-margin-cvv {
	padding-top: 10px;
}

.checkout-payment-enter-email .red {
    color: #DC291E;
}
.checkout-popup .middle-content {
    float: none;
    margin: 0 auto;
    padding: 20px 0;
    width: 340px;
    text-align: center;
    font-size: 11px;
}
.checkout-popup .checkout-popup-img img {
    display: block;
    margin: 0 auto;
}
.checkout-popup .btn, .checkout-popup .btn:hover {
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #009DDB;
    color: white;
    border: none;
    display: inline-block;
    width: 95px;
    height: 28px;
    padding: 0 0;
    
    border: 3px solid #009DDB;
    text-decoration: none;
}
.my-account-add-address-overlay .tse-scrollable{
	height: 480px;
}
#checkout-container #myAccountAddCreditCardModal .my-account-add-address-overlay .tse-scrollable{
	height: 360px !important;
}
#checkout-container #myAccountAddCreditCardModal .my-account-add-address-overlay .tse-scrollable .tse-content{
	overflow-y: hidden !important;
}
/* End: payment page  */

/* .popover.pickupLearnMoreTooltip p{
	width: auto;
	height: 200px  !important;
} */


/* Start: Promo code - payment page */

.enter-promo-code  #promo-code-payment-page-btn {
    background-color: #009DDB;
    color: white;
    border: none;
    display: inline-block;
    width: 80px;
    height: 35px;
    padding: 0 0;
    
    font-size: 16px;
    border: 3px solid #009DDB;
    position: relative;
    border-radius: inherit;
    right: 4px;
    border-radius: inherit;
    outline: none;
}
.enter-promo-code #promo-code-payment-page-btn:hover {
	color: #009DDB;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
}
.enter-promo-code #promo-code-payment-page-btn[disabled="disabled"],
.enter-promo-code #promo-code-payment-page-btn[disabled="disabled"]:hover {
    background-color: #999999;
    cursor: default;
    border: none;
    color: white;
    outline: none;
}
/* End: Promo code - payment page */

  .checkout-shipping-address-form-content .ship-to-multiple-addresses:hover {
    text-decoration: underline;
    color: #ea7125; 
}

/* Start: apply today overlay in payment page */
#payment-page-apply-today .modal-dialog{
	width: 800px;
}
#payment-page-apply-today .tse-scroll-content{
	/* width: 760px !important; */
	height: 550px !important;
}
#payment-page-apply-today .tse-scroll-content .row.checkout-popup
{
	padding-right: 15px;
}
#payment-page-apply-today .tse-scrollable{
	width: 775px !important;
	height: 550px !important;
}
#payment-page-apply-today .checkout-apply-today-overlay {
    padding: 0 20px 20px 20px;
}
#payment-page-apply-today .apply-today-close {
    margin-right: -35px;
    padding-top: 7px;
}
/* End: apply today overlay in payment page */

/*Start : CSS for Multiship Details CTA*/
.hidden_shipping_details{
	display: none;
}
/*End : CSS for Multiship Details CTA*/

.single-address-link{
	display: block;
}

/* Start: Gift card balance */
.gift-card-balance-container{
	display: none;
}
.gift-card-balance-container .gift-card-balance{
	
    font-size: 36px;
    color: #009ddb;
    margin-bottom: 5px;
}
.gift-card-balance-container .gift-card-balance-date{
    
    font-size: 14px;
    color: #666;
	margin-bottom: 5px;
}
/* End: Gift card balance */

/* Start: TUW-51362 */
#checkout-sales-tax-estimation {
	padding: 35px 0 30px 0;
    font-size: 12px;
    color: #666;
    
}
#checkout-sales-tax-estimation.single-shipping-page, #checkout-sales-tax-estimation.multi-shipping-page {
	padding-top: 10px;
}
/* End: TUW-51362 */
/* Start: RUS card special financing */
.payment-popup .action-buttons button, .error-modal button {
    background-color: #009DDB;
    color: white;
    border: none;
    display: inline-block;
    /* width: 80px; */
    padding: 0 15px;
    height: 35px;
    
    font-size: 16px;
    border: 3px solid #009DDB;
    position: relative;
    margin-left: 11px;
}

#electronic-disclosure .payment-popup, #promotion-popup .payment-popup, #error-popup .error-modal, #toysrus-creditcard .payment-popup, #electronic-disclosure-downtime .payment-popup{
    padding: 10px 20px 0px 20px;
    text-align: justify;
}
#electronic-disclosure .payment-popup-desc, #promotion-popup .payment-popup-desc, #error-popup .error-popup-desc, #toysrus-creditcard .payment-popup-desc,#electronic-disclosure-downtime .payment-popup-desc {
    padding: 30px 20px 10px 20px;
    text-align: justify;
}
#electronic-disclosure .payment-popup-desc header, #promotion-popup .payment-popup-desc header, #toysrus-creditcard .payment-popup-desc header,#electronic-disclosure-downtime .payment-popup-desc header {
    
    font-size: 20px;
    color: #009DDB;
    margin-bottom: 5px;
    cursor: default;
}
#electronic-disclosure .payment-popup-desc p, #promotion-popup .payment-popup-desc p, #toysrus-creditcard .payment-popup-desc p, #error-popup .error-popup-desc p,#electronic-disclosure-downtime .payment-popup-desc p {
    
    font-size: 14px;
    color: #666;
    line-height: 1.5em;
    margin-bottom: 20px;
}
#toysrus-creditcard .payment-popup-desc .options input {
    display: inline-block;
    margin-right: 4px;
}
#electronic-disclosure .payment-popup-desc header p, #promotion-popup .payment-popup-desc header p, #toysrus-creditcard .payment-popup-desc header p,#electronic-disclosure-downtime .payment-popup-desc header p {
    
    font-size: 16px;
    color: #666;
    line-height: 1.5em;
    margin-bottom: 20px;
}
#toysrus-creditcard .payment-popup-desc .options .note {
    
    font-size: 10px;
    color: #666;
    padding-left: 15px;
}
.payment-popup .payment-popup-desc a, .payment-popup .payment-popup-desc a:hover, .payment-popup .payment-popup-desc a:active, .payment-popup .payment-popup-desc a:visited {
    color: #009DDB;
}
.disclosure-Agreed{
	display: none;
	background: #F2F7FF;
    border: 1px solid #D5DFEB;
    padding: 10px;
    margin: 10px 0; 
}
/* End: RUS card special financing */

.gift-card-table {
    background-color: #f3f3f3;
    width: 103%;
    padding: 0px 15px;
    margin-top: 10px;
}
.gift-card-table table {
    table-layout: fixed;
    
    font-size: 14px;
    width: 100%;
    color: #666;
}
.gift-card-table table td {
    padding: 10px 0px;
}

/* How to pay  */

.order-complete-template  .order-complete-section {
	margin-top:12px;
}

.order-complete-section  .how-to-pay-section h2{
    font-size: 18px;
    color: #004EBC;
    
}
.order-cofirm-email-section ul li:before{
	display:none;
}
.order-cofirm-email-section ul li img{
	float:left;
	padding-right:20px;
}

.order-cofirm-email-section ul li  {
    
    font-size: 14px;
    color: #666666;
    clear:both;
    padding-bottom: 20px;
    list-style:none; 
}

.order-cofirm-email-section p.note {
	
    font-size: 14px;
    color: #666666;
	padding-left:10px;
}

/* How to pay  */


.order-cofirm-email-section-li header {
    color: #009DDB;
    
    font-size: 21px;
}
.order-cofirm-email-section-li li {
    padding-bottom: 5px !important;
}
.storepickup-nextsteps{
	font-size: 32px;
    color: #009DDB;
    margin: 0px;
    padding: 0px;
    
	
}
.order-cofirm-email-section-li .note a{
	color:#009DDB;
	text-decoration:underline;
}
.checkout-payment-giftcard .errorDisplay{
	display: block;
	margin-top: 10px;
	margin-bottom: 0;
}

.giftcard-blur{
	opacity: 0.5;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-header-text {
padding-top: 12px;

font-size: 24px;
color: #DC291E;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-subheader {

font-size: 14px;
color: #666;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-subheader span {
color: #DC291E;
}

.shopping-cart-info-state .shopping-cart-info-state-header .shopping-cart-info-state-subheader {

font-size: 14px;
color: #666;
}
.errorContainerSingleShipping{
	line-height: 40px;
}
.errorContainerSingleShipping .error-state-exclamation-lg{
	margin-right: 10px;
}
.checkout-review-items-shipping-to .order-ships-in .confirmation {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.checkout-review-items-shipping-to .order-ships-in .confirmation .popover .popover-content {
    padding: 9px 14px;
    
    font-size: 14px;
    
}
.six-month-financing.rus-credit-card{
	margin-top: 20px;
}
.rus-credit-card-details{
	padding-left: 40px;
	margin-top: 10px;
}
.rus-credit-card-details label {
    
    font-size: 14px;
    color: #666;
}
.rus-credit-card-details img {
    width: 31px;
    font-size: 10px;
    text-align: center;
}

.registry-product-content .gift-wrap-tru{
	background-image: url('');
	width: 142px;
    height: 58px;
}

/* Start: Demo issue fix - multishipping page */
.ship-to-dropdown-container .blue-text,.ship-to-dropdown-container .spacer-details{
	padding-left: 0;
	padding-right:0px;
}

.multiple-shipping .product-information-content .product-information-description,.checkout-multiple-shipping .shipping-multiple-addresses{
	padding-top:15px;
}

/* End: Demo issue fix - multishipping page */
/*  PayPal CSS */
.truPayPal-div-hidden {
       display: none;
    }
    
.bppPlanMultiShippingPage {
	width: 170px !important;
}

.shopping-cart-edit-product-content .close_edit{
	float:right;
}

.checkout-pickup-highlight{
	color: #004EBC;
	
}

.checkout-review-items-shipping-to .product-information-description .edit span{
	padding:0px !important;
}
/* Start: Fix for TUW-35868 */
#co-shipping-tab .ship-to-dropdown::-ms-expand {
    display: none !important;
}
/* End: Fix for TUW-35868 */
/* Start: Fix for TUW-35871 */
#co-shipping-tab .ship-to-dropdown-container .ship-to-dropdown {
    border: none;
	padding-left: 0;
	height:auto; /* ui issues as per fabricator multishipping page */
}
/* End: Fix for TUW-35871 */
.clearRight{
	clear: right;
}

/* ui issues as per fabricator addzone section in checkout pages */
.shipping-addzone{
	margin:30px auto;
}
/* ui issues as per fabricator giftoptions page */
.add-gift-options .checkout-gifting-registry-product header{
	font-size:16px;
}
/* Start: UI issue fix for as per fabricator */
.continue-shopping-dropdown-arrow.checkout-arrow-align {
	top: -20px;
	left: 60px !important;
	bottom: inherit !important;
}
.no-right-margin li {
	margin-right: 0 !important;
}
.finacingActionDiv.no-padding {
	padding: 0;
}
#review_error_msg {
	padding: 0 15px;
}
/* End: UI issue fix for as per fabricator */


/* ui issues as per fabricator pickup tab in  checkout page */
.store-pickup-items-accordion .product-information-content .product-information-description{
	padding-top:16px;
}
.storePickupSeeTerms{
	padding:5px;
}
.storePickupSeeTerms h3{
	padding:0px !important;
	margin:0px !important;
	font-size:18px;
}
.checkout-pickup-container .spacer {
    margin-bottom: 60px;
}
.multiShippingDetailToolTip {
	display: none;
	top: 220px;
	padding: 10px;
}
.multiShippingDetailToolTip.top > .arrow {
  left: 32%;
}
.multiShippingDetailToolTip.bottom > .arrow {
  left: 32%;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px; }
  
.paypal-logo {
	top: 5px !important;
	height: 23px;
	background-position: 0;
	background-image: url('../images/paypal-logo-new.png');
}

.giftCardDisabled:hover{
	text-decoration: initial !important;
	color: #004ebc !important;
}

.payment-method-section{
	margin-left:0px;
}
 .checkout-payment-tab-template #paymentCreditCardForm label, .checkout-payment-tab-template form label, .checkout-payment-tab-template #enter-promo-code-container label{
     cursor: text;
 }
.store-pickup-form .alternate-pickup-label{
	cursor: pointer;
}
.edit-review-tab-error{	
    
    font-size: 14px;
    color: #DC291E;
    max-width: 830px;
}
.checkout-review-product-block .cart-error-message{
	max-width: 140px;
	color: #dc291e;
    
    font-size: 12px;
    padding-left: 10px;
}
.checkout-review-product-block .qty{
	vertical-align: top;
}
/* .edit-review-tab-error:nth-child(2){
	display: none;
} */
#checkout-container .global-error-display {
	margin-bottom: 10px;
}
/* Start: inline style removing */
.display-none {
	display: none;
}
/* End: inline style removing */

#load-cart-norton-script .hide-data,#load-my-account-norton-script .hide-data,#load-checkout-norton-script .hide-data{
	display:block;
}

.checkout-billing-address-form .checkout-shipping-address-form-content #state-Validation-error
 {
	float: left;
	width: 100%;
}
.checkout-review-items-free-pickup p span.free-store-pickup {
    font-size: 18px;
    color: #004ebc;
    padding: 0;
}
.cvv-container {
	display: inline-block;
	width: 150px;
	position: relative;
}
.cvv-container .whats-this.inline {
	margin-top: 8px;
	position: absolute;
    top: 0;
    left: 64px;
}
.checkout-multiple-shipping .spacerMoreHeight{
	height: 25px;
}
.six-month-financing  .pickupLearnMoreTooltip>.arrow{
	padding-top: 0px !important; 
    padding-bottom: 0px !important;
}
.credit-card-billing-address-header h3
{
    font-size: 24px;
    
    color: #666666;
    position: relative;
    margin-bottom: 0;
}
.checkout-shipping-address-form-content.pad-top-20 {
	padding-top: 20px;
}
.pad-bottom-0 {
	padding-bottom: 0 !important;
}
/* Start: TUW-56948 */
#checkout-container #co-shipping-tab {
	overflow: hidden;
}
/* End: TUW-56948 */
/* Start: TUW-54300 */
#paymentCreditCardForm .display-card {
	position: absolute;
    left: 244px;
}
#paymentCreditCardForm .display-card.check-mark {
    left: 222px;	
}
/* End: TUW-54300 */

/* Start: TUW-55127 */
.shipping-multiple-addresses .privacy-msg span {
	padding: 0;
}
/* End: TUW-55127 */

/* Start: TUW-56042 */
form#membershipIDInPaymentForm {
     display: inline-block;
}
/* End: TUW-56042 */

/* Start: TUW-56043 */
#checkout-container #myAccountAddAddressModal .address-doctor .address-doctor-current,
#checkout-container #myAccountAddCreditCardModal .address-doctor .address-doctor-current {
	height: auto;
}
/* End: TUW-56043 */
/* Start: TUW-56070 */
#checkout-container .protection-plan .checkbox-group span {
	padding: 0 !important;
}
/* End: TUW-56070 */

/* Start: TUW-56369 */
.gift-message .gift-message-checkout-header {
	font-size: 14px;
	
}
/* End: TUW-56369 */

/* Start : TUW-56339 */

#checkout-container .protection-plan .checkbox-group span.protection-year {
	margin-left: 155px;
}
/* End : TUW-56339 */

#nongoodbye_order_confirmation .checkout-review-product-block .protection-plan .checkbox-sm-off {
	visibility: hidden !important;
}
.protection-plan select:disabled {
	opacity: .5;
}
.store-pickup-form .storePickupInfo.in {
    display: none !important;
}
.store-pickup-form a+.storePickupInfo.in {
    display: block !important;
}
/* Start: TUW-56666 */ 
.shipping-multiple-addresses select.ship-to-dropdown {
	padding-right: 27px !important;
}
/* End: TUW-56666 */

/* Start: MVP-127 */
.review-gift-message-container, .review-gift-message-count-container {
	font-size: 14px;
    
}
/* End: MVP-127 */

.chars-left.review-gift-message-count-container {
	padding: 0;
}
.payInStore-disabled-message {
	font-size: 14px;
	color: #666666  !important;
	
	display:none;
}
.payInStore-disabled-message.preShow {
	display:inline;
	float: right;
    width: 600px;
    position: absolute;
    padding-right:65px; 
    margin-left:20px;
}
/* Start: Checkout page BRU site color */
.bru-site-checkout #co-tab-navigation,
.bru-site-checkout .shopping-cart-minimized-footer {
	background-color: #5e2d91 !important;
}
.bru-site-checkout #checkout-container a {
	color: #5e2d91;
}

#removeItemConfirmationModal a.text-color, 
#payment-page-apply-today a.apply-today-close-btn,
#payment-page-apply-today a.apply-today-btn {
color: #ffffff !important;	
}
#removeItemConfirmationModal a.text-color:hover{
	color: #004EBC !important;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}
#checkout-container #co-gifting-tab .checkout-gifting-registry-product > header {
	color: #004EBC !important;
}
.bru-site-checkout #checkout-container #co-gifting-tab .checkout-gifting-registry-product > header {
	color: #666666 !important;
}
.bru-site-checkout .checkout-page-header,
.bru-site-checkout .checkout-review-header h2,
.bru-site-checkout h2.ship-method-section,
.bru-site-checkout #addOrEditCreditCard h2,
.bru-site-checkout #myShippingAddressForm h2,
.bru-site-checkout .checkoutExitConfirmationModal h2,
.bru-site-checkout .address-doctor-current > p,
.bru-site-checkout .address-doctor h3,
.bru-site-checkout .show-shipping-address,
.bru-site-checkout #myAccountAddAddressModal .dark-blue,
.bru-site-checkout .product-information select,
.bru-site-checkout .checkout-nav-bottom-tab.activeTab a {
	color: #666666 !important;
}
.bru-site-checkout #payment-page-apply-today a {
	color: #5e2d91;
}
/* End: Checkout page BRU site color */
.paypal-order-message {
	
    color: #666;
    font-size: 14px;
	padding: 10px 0 0 16px;
	display: none;
}
.paypal-order-message.pre-show {
	display: block;
}
.my-account-add-credit-card-overlay #savedCreditCards span.avenir-light.expiry
{
	min-width: 72px;
    float: left;
    height: 10px;
}
#promoCodePaymentPageForm {
	position: relative;
}
#promoCodePaymentPageForm label.error {
	margin-bottom: 0;
}
#promoCodePaymentPageForm #promo-code-payment-page-btn {
	position: absolute;
    left: 162px;
    top: 0;
}
/* Start: OOPs error message */
.checkout-error-state {
    width: 720px;
    padding-bottom: 10px;
    display: none;
}
.checkout-error-state .checkout-error-state-header {
    padding-left: 2.2%;
    padding-right: 2.2%;
}
.checkout-error-state .checkout-error-state-header .checkout-error-state-exclamation-lg {
    position: relative;
}
.checkout-error-state-exclamation-lg {
    width: 40px;
    height: 40px;
    background-image: url('../images/cart-sprite.png');
    background-position: 0px -36px;
    background-repeat: no-repeat;
}
.checkout-error-state .checkout-error-state-header .checkout-error-state-header-text {
    padding-top: 12px;
    
    font-size: 24px;
    color: #DC291E;
}
.checkout-error-state .checkout-error-state-header .checkout-error-state-subheader {
    
    font-size: 14px;
    color: #666;
}
.checkout-error-state .checkout-error-state-subheader.noRestriction .checkout-dynamic-error {
	color: #ff0000;
	
    font-size: 14px;
}
.address-doctor .global-error-display {
	margin-top: 15px;
}
/* End: OOPs error message */
#co-gifting-tab .product-description-image {
	cursor: default;
}
#checkout-container .shopping-cart-info-state .shopping-cart-info-state-subheader {
	
    font-size: 14px;
	color: #666;
}

#checkout-container .gift-wrap-tru-block {
	width: 152px !important;
}
#checkout-container .gift-wrap-tru-block p {
	word-wrap: break-word;
}
#co-gifting-tab .product-description-image {
	cursor: default;
}
#checkout-container .promo-code-max-limit-message {
	
    color: #d60037;
    font-size: 14px;
    padding: 5px 0;
}
.checkout-review-items-shipping-to .gift-message button.gift-save-message {
    background-color: #009DDB;
    color: white;
    border: none;
    display: inline-block;
    width: 80px;
    height: 35px;
    padding: 0 0;
    
    font-size: 19px;
    border: 3px solid #009DDB;
    margin-top: 8px;
}
/* Start: TUW-63812 */
.finacingActionDiv a#yes-financing-continueGE {
	
    font-size: 16px;
	margin-left: 10px;
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
    background-color: #009DDB;
    border: 3px solid #009DDB;
    color: #ffffff !important;
    width: auto;
    height: auto;
}

.finacingActionDiv a#yes-financing-continueGE:hover {
	color: #009DDB !important;
    background-color: white;
    cursor: pointer;
}
.finacingActionDiv #electronicTermsNotify {
	border: 1px solid #e0e0e0;
    padding: 7px 6px;
    background-color: #f0f3f5;
    width: 450px;
    margin: 8px 0px;
}
.finacingActionDiv #electronicTermsNotify a#yes-financing-continueGE
{
	font-size: 13px;
}
.finacingActionDiv .disclosure-agreed {
    margin: 10px 0px 15px 27px;
}
/* End: TUW-63812 */
#checkout-container #order-summary-block .summary-promotions,
#checkout-container #order-summary-block .summary-shipping,
#checkout-container #order-summary-block .summary-sales-tax,
#checkout-container #order-summary-block .footer-total
{
	clear:both;
}

#electronic-disclosure .payment-popup-desc div,
#electronic-disclosure-downtime .payment-popup-desc div
{
	margin-bottom: 30px;
}
#electronic-disclosure .promo_auth_stand,
#electronic-disclosure .printOrSave {
	margin-left: 26px;
}
#electronic-disclosure .modal-content,
#electronic-disclosure-downtime .modal-content
{
	width: 700px;
}
#electronic-disclosure .modal-content .payment-popup-desc .financial_info,
#electronic-disclosure-downtime .modal-content .payment-popup-desc .financial_info 
{
	width: 580px;
    margin-left: 23px;
}
#electronic-disclosure .modal-content .payment-popup .action-buttons button,
#electronic-disclosure-downtime .modal-content .payment-popup .action-buttons button
{
	width: 150px;
}
#electronic-disclosure .modal-content .payment-popup .action-buttons .electronic-disclosure-agree,
#electronic-disclosure-downtime .modal-content .payment-popup .action-buttons .electronic-disclosure-agree
{
	float:right;
}
#disclosure-failure .action-buttons .on-disclosure-error
{
	float:right;
}

/* CSS starts for Billing Address CR */
#checkout-container #co-payment-tab .checkout-payment .co-billing-address
{
	width: 517px;
}
#checkout-container #co-payment-tab .checkout-payment #billing-info
{
	float: left;
    width: 100%;
}
#checkout-container #co-payment-tab .checkout-payment .horizontal-divider.billingHeader
{
	width:100%;
	clear:both;
}
#checkout-container #co-payment-tab .checkout-payment #billing-info .billing-info
{
	padding: 15px 0;
}
#checkout-container #co-payment-tab .checkout-payment #billing-info .billing-info .row
{
	margin-bottom: 15px;
}
.checkout-payment-template #co-payment-tab .checkout-payment #billing-info .co-billing-address .checkoutEditCreditCard_cancel
{
	position: absolute;
    margin-left: -62px;
    margin-top: 22px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment,
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .set-height,
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment.editCreditCard_section
{
	float: left;
    width: 100%;
}.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding
{
	margin: 0;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9
{
	padding: 0;
	width: 100%;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .nameOnCard
{
	margin: 15px 0px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .nameOnCard .col-md-12
{
	padding: 0;
    float: left;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .nameOnCard p
{
	float: left;
    background: #EFEFEF;
    width: 540px;
    height: 30px;
    padding: 3px 10px;
    border: 2px solid #D6D6D6;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .creditCardNumber
{
	float: left;
    width: 220px;
    margin: 0px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .creditCardNumber label
{
	float: left;
    width: 100%;
    margin-bottom: 6px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .creditCardNumber .col-md-8
{
	width: 100%;
    padding: 0px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .creditCardNumber .col-md-8 p
{
	float: left;
    background: #EFEFEF;
    width: 180px;
    height: 30px;
    padding: 3px 10px;
    border: 2px solid #D6D6D6;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .expiration
{
	float: left;
    width: 237px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .expiration label
{
    width: 100%;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .expiration .col-md-5
{
	padding: 0;
    width: 45%;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .expiration #expirationMonth
{
	width: 100%;
    height: 30px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .expiration .col-md-5.col-md-offset-1
{
	padding: 0px;
    width: 50%;
    margin: 0px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .expiration #expirationYear
{
	width: 100%;
    height: 30px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .cvvCode
{
	    float: left;
    width: 200px;
    margin: 0 15px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .cvvCode label
{
	    margin-bottom: 7px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .cvvCode .col-md-12
{
	    padding: 0px;
}
.checkout-payment-template #creditCardForm .credit-card-left-section #editCreditCard_payment .editCreditCard_section .row.left-padding .col-md-9 .cvvCode .creditCardCVV
{
	width: 100px;
    height: 29px;
}
#checkout-container #co-payment-tab .checkout-payment select#selectedCardBillingAddress{
	
	
	font-size:16px;
	color: #004EBC;
	width:250px;
	margin-bottom:10px;
	background-color: #fff;
    border: 1px solid #dedede;
    padding: 5px;
    padding-right:33px;
    }
#paymentCreditCardForm #co-credit-card:disabled {
	opacity: 0.5;
}
.checkout-payment .credit-component #co-credit-card_msdd,
.checkout-payment .credit-component #co-credit-card
{
	float: left;
}
.checkout-payment .credit-component .editCreditCard,
.checkout-payment .credit-component .editCreditCard_cancel
{
	margin: 7px 8px;
    position: absolute;
}
#paymentBillingAddressForm .select-address-label {
	
	margin-bottom: 5px;
}
.checkoutEditBillingAddress_cancel {
	display: none;
}
/* CSS ends for Billing Address CR */
/* Start: Fix for TUW-67809 */
.paymentDetailPopup .modal-content.sharp-border,#learnMorePopup .modal-content.sharp-border{
    padding: 15px 20px;
}
.paymentDetailPopup .welcome-back-overlay img {
    float: right;
    cursor: pointer;
}
.paymentDetailPopup .welcome-back-overlay h2 {
    
    font-size: 32px;
    
    color: #009ddb;
    margin-bottom: 10px;
}
/* End: Fix for TUW-67809 */

/* Start Fix For TUW-73332 */
.order-ships-in .confirmation .popover .popover-content span{
	padding:0px;
	line-height: 20px;
	
}

/* End Fix For TUW-73332 */
/* Start Fix For TUW-76035 */
.failureMessageHeader {
	margin-bottom: 10px;
}
.failureMessageHeader b {
	font-weight: bold;
}
/* End Fix For TUW-76035 */
body .container-fluid.checkout-template > div div.synchrony-card-print-container{
	display: none;
}
@media print{
	body {
		zoom: 100%;
		margin-top: 0px !important;
		width: 100% !important;
		overflow: visible !important;
	}
	body .container-fluid.checkout-template > div div:not(.synchrony-card-print-container){
		display: none !important;
	}
	body #checkout-progress-container,body .shopping-cart-minimized-footer{
		display: none !important;
	}
	body .container-fluid.checkout-template > div div.synchrony-card-print-container,
	body .container-fluid.checkout-template > div div.synchrony-card-print-container div{
		display: block !important;
	}
	div.synchrony-card-print-container .finance_plan_info {
		margin: 20px 0 20px 0; 
	}
	div.synchrony-card-print-container .printOrSave {
		display: none;
	}
}
/*Fix for TUW-76306  */
.protection-plan{
	margin-top: 10px;
    margin-left: 44px;	
}
/*START: Fix for TUW-76940  */
.shopping-cart-error-state .shopping-cart-error-state-header .shopping-cart-error-state-subheader span {
    color: #dc291e;
}
.shopping-cart-error-state .shopping-cart-error-state-header .errorHeader
{
	font-size: 24px;
    color: #DC291E;
	    font-family: 'AvenirNextDemiBold', Verdana, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
}
/*END: Fix for TUW-76940  */