.product-information .product-information-header {
    margin-bottom: 10px;
}

.product-information .product-information-header .product-header-title {
    display: inline-block;
}

.product-information .product-information-header .product-header-title .productName {
    font-size: 18px;
    color: #004EBC;
}

.product-information .product-information-header .product-header-title .productName:hover {
    text-decoration: underline;
    color: #EA7125;
}

.product-information.error .product-information-header .product-header-title .productName {
    color: #dc291e;
}

.product-information .product-information-header .product-header-title .cart-promotion-word-wrap {
    display: block;
    font-size: 11px;
    color: #dc291e;
    padding: 3px 0;
}

.product-information .product-information-header .product-header-price {
    float: right;
    font-size: 18px;
    color: #666;
    text-align: right;
    display: inline-block;
}

.product-information .product-information-header .product-header-price.product-header-price-savings {
    color: #dc291e;
}

.product-information .product-information-content .product-display-image-wraper {
    padding-left: 0px;
    text-align: center;
}

.product-information .product-information-content .product-display-image-wraper a {
    font-size: 0px;
}

.product-information .product-information-content .product-information-description {
    color: #666;
}

.product-information .product-information-content .product-information-description .product-description-price,
.product-information .product-information-content .product-information-description .product-description-item-number,
.product-information .product-information-content .product-information-description .product-description-color,
.product-information .product-information-content .product-information-description .product-description-size {
    font-size: 14px;
    padding-bottom: 5px;
}

.product-information .product-information-content .remove-product-item-container {
    font-size: 14px;
    text-align: right;
}

.product-information .product-information-content .quantity {
    padding: 16px 0;
}

/* Check classes below */

.shopping-cart-stock .out-of-stock .NotifyMeDescription {
    display: none;
}

.product-information .in-stock {
    color: #009ddb;
    display: list-item;
    font-size: 14px;
    list-style-position: inside;
    text-align: center;
}

.product-description-price.inline {
    color: #DC291E;
}

.product-description-price .crossed-out-price {
    margin-left: 8px;
}

.product-description-price .crossed-out-price {
    margin-left: 0;
}

.product-information .product-description-price .price-save {
    display: inline-block;
    color: #999999;
}

.product-information .product-description-price .price-save {
    display: inline;
}

.product-information .product-description-price .price-save {
    display: inline-block;
    color: #999999;
}

.product-information-description .shopping-cart-stock img {
    margin-right: 3px;
    margin-bottom: 3px;
}

.product-information-content .product-information-description a {
    font-size: 14px;
    color: #004EBC;
    cursor: pointer;
    padding-bottom: 5px;
}

.product-information-content .product-information-description a:hover {
    text-decoration: underline;
    color: #ea7125;
}

.product-information-content .product-information-description .cart-viewfull-desc-link a {
    cursor: pointer;
    padding-bottom: 5px;
    border: 0;
    background: none;
    font-size: 16px;
    color: #004EBC;
    cursor: pointer;
    text-decoration: none;
}

.product-information-content .product-information-description .cart-viewfull-desc-link a:hover {
    color: #EA7125;
    text-decoration: underline;

}

.product-information-content .col-md-2 a {
    color: #004EBC;
}

.product-information-content .col-md-2 a:hover {
    color: #EA7125;
    text-decoration: underline;
}

.product-information-content > .shopping-cart-remove {
    position: absolute;
    right: 15px;
    bottom: 25px;
}

.product-information-content .ship-to-home-popover {
    font-size: 14px;
    padding: 5px;
}

.product-information-content .pickup-step {
    margin-right: 20px;
}

.product-information-content .pickup-step span {

}

.product-information-content .pickup-step .divider {
    margin-left: 5px;
    margin-right: 5px;
}

.product-information-content .row-no-padding > .col-md-5:nth-child(3) {
    font-size: 12px;
}

.product-information-content a {
    color: #004EBC;
}

.product-information-content a:hover {
    color: #EA7125;
    text-decoration: underline;
}

.product-information-content .shopping-cart-surprise > div {
    padding-left: 25px;
}

.product-information-content .shopping-cart-surprise a {
    font-size: 14px;
}

.product-information-content .outOfStockCursor {
    cursor: default !important;
}

.site-BabyRUs .collections-availability .learn-more {
    color: #666;
}

.product-information .product-information-header .product-header-price .shipping-surcharge {
    color: #004EBC;
    font-size: 10px;
    padding-top: 11px;
    display: none;
}




.product-information.error .product-header-title > .shopping-cart-error-arrow {
    display: block;
}

.order-history-detail-modal-content .product-header-title:hover {
    text-decoration: underline;
    color: #EA7125;
    cursor: pointer;
}

.checkout-template .product-information.error .product-header-title {
    color: #dc291e;
}

.product-information .ship-to-home, .product-information .free-store-pickup {
    font-size: 14px;
    color: #666666;
}

.product-information .see-terms {
    color: #004EBC;
    cursor: pointer;
    font-size: 12px;
}

.product-information .see-terms:hover {
    text-decoration: underline;
    color: #ea7125;
}

.product-information .stepper {
    padding-bottom: 0 !important;
}

.product-information .registry {
    padding-left: 10px;
    margin-top: -7px;
    margin-bottom: 10px;

}

.product-information .registry div {
    width: 12px;
    height: 12px;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: -1px;
}

.product-information .out-of-stock {
    display: none;
}

.product-information .prices {
    display: none;
}

.product-information .padded-details {
    padding-left: 40px;
}

.product-information .col-md-5 .padded-details a {
    font-size: 12px;
    color: #004EBC;
}

.product-information .col-md-5 .padded-details a:hover {
    text-decoration: underline;
    color: #EA7125;
}

.product-information.out-of-stock .stepper input {
    color: #666666 !important;
    background-color: #ffffff !important;
}

.product-information h3 strong {
    font-size: 16px;
    margin: 0;
}

.product-information .stepper {
    width: 121px;
    height: 35px;
    vertical-align: middle; /* TUW-74847*/
}

.product-information.error .stepper .increase.disabled {
    background: url(../images/ui-element-validation-sprite.png) -64px -10px no-repeat;
}

.product-information .shipping-options-wrapper .shipping-radio-btn {
    display: none;
}

.product-information .shipping-options-wrapper .shipping-option-label {
    display: inline-block;
    position: relative;
    left: 5px;
    bottom: 10px;
    color: #666666;
}

.product-information .shipping-options-wrapper label {
    padding: 0;
    margin: 0;
}

.product-information .quantity div:first-child {
    padding-bottom: 5px;
}

.product-information input[type="radio"] {
    cursor: pointer;
}

.product-information.partial .shopping-cart-gift {
    display: none;
}

.product-information.partial .shipping-radio-btn {
    display: none;
}

.product-information.partial label[for=ship-to-home] {
    cursor: default;
    padding-left: 13px;
}

.product-information.partial label[for=ship-to-home] .padded-details {
    padding-left: 0;
}

.product-information.partial label[for=free-store-pickup] {
    cursor: default;
    padding-left: 13px;
}

.product-information.partial label[for=free-store-pickup] .padded-details {
    padding-left: 0;
}

.product-information.partial.e-gift-card label[for=free-store-pickup] {
    display: none;
}

.product-information.partial.e-gift-card .see-terms {
    display: none;
}

.product-information.partial .days-until-ready {
    display: none;
}

.product-information.partial.store-pickup .days-until-ready {
    display: inline-block;
    float: right;
    font-size: 14px;
}

.product-information.partial.store-pickup .days-until-ready span:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}

.product-information.partial.store-pickup .days-until-ready a {
    color: #004EBC;
    cursor: pointer;
}

.product-information.partial.store-pickup .days-until-ready a:hover {
    text-decoration: underline;
    color: #ea7125;
}

.product-information.partial.pre-release .in-stock {
    display: none;
}

.product-information.partial.pre-release .pre-release-text {
    color: #66bc29;
    display: inline-block;
}

.product-information.partial.pre-release .shopping-cart-gift {
    display: block;
}

.product-information.partial.pre-release .limit-1 {
    display: inline-block;
}

.product-information.partial.pre-release .product-description-price .price-save {
    display: inline-block;
    color: #757575;
}

.product-information.partial.pre-release .shipping-radio-btn {
    display: inline-block;
}

.product-information.partial.pre-release .product-description-item-number {
    display: block;
}

.product-information.partial.pre-release .padded-details {
    padding-left: 26px;
}

/*Only display required information for shopping-surcharge*/
.product-information.shipping-surcharge .product-description-color {
    display: none;
}

.product-information.shipping-surcharge .product-description-size {
    display: none;
}

.product-information.shipping-surcharge .edit-product-button {
    display: none;
}

.product-information.shipping-surcharge .shipping-radio-btn {
    display: none;
}

.product-information.shipping-surcharge .col-md-5 .padded-details {
    padding-left: 0px;
}

.product-information.shipping-surcharge .registry {
    display: block;
}

.product-information.shipping-surcharge .shopping-cart-surprise div:first-child {
    visibility: hidden;
}

/*Only display required information for added-registry*/
.product-information.added-registry .protection-plan {
    display: none;
}

.product-information.added-registry label[for=free-store-pickup] > .padded-details {
    visibility: visible;
}

.product-information.added-registry label[for=free-store-pickup] > .padded-details span {
    display: block;
}

.product-information.added-registry .registry {
    display: block;
    margin-top: 0;
}

.product-information.added-registry .product-description-price .price-save {
    display: inline-block;
    color: #757575;
}

.product-information.added-registry .shopping-cart-surprise div:first-child {
    visibility: hidden;
}

.product-information.out-of-stock .protection-plan {
    display: none;
}

.product-information.out-of-stock .edit-product-button {
    display: none;
}

.product-information.out-of-stock .shopping-cart-gift {
    display: none;
}

.product-information.out-of-stock .shipping-radio-btn {
    display: none;
}

.product-information.out-of-stock .product-description-price .price-save {
    display: inline-block;
    color: #757575;
}

.product-information.out-of-stock .shopping-cart-surprise div:first-child {
    visibility: hidden;
}

.product-information.out-of-stock label[for=ship-to-home] > .padded-details {
    display: none;
}

.product-information.out-of-stock .see-terms {
    display: none;
}

.product-information.out-of-stock label[for=free-store-pickup] > .padded-details {
    display: none;
}

.product-information.multiple-shipping .product-information-content .multipleAddress {
    word-break: break-all;
}

.product-information.out-of-stock .in-stock {
    display: none;
}

.product-information.out-of-stock .out-of-stock {
    display: inline-block;
    color: #DC291E;
}

.product-information.out-of-stock .out-of-stock span {
    display: inline-block;
    color: #004EBC;
}

.product-information.out-of-stock .out-of-stock .out-of-stock-text {
    display: inline-block;
}

.product-information.out-of-stock .stepper input[type="text"] {
    color: #DC291E;
}

.product-information .shopping-cart-error-arrow {
    position: relative;
    right: 15px;
    top: 16px;
}

.product-information .shopping-cart-error-arrow .quantity input {
    border: 1px solid #dc291e;
}

.product-information.error .stepper {
    vertical-align: top;
    border: 1px solid #dc291e;
}

.product-information.error .stepper .counter {
    border-right: 1px solid #dc291e;
    border-left: 1px solid #dc291e;
}

.product-information.error .cart-error-message {
    width: 215px;
    display: inline-block;
    color: #dc291e;
    font-size: 12px;
    padding: 10px 0;
}

.product-information.partial label[for=ship-to-home] {
    padding-left: 0px
}

.checkout-review-product-block .product-information-header .order-confirmation-pro-title {
    width: 71%;
}

.checkout-review-product-block .product-information-header .order-confirmation-pro-title {
    width: 60%;
}

/* Shipping Surcharge */
.checkout-review-product-block.has-shipping-surcharge .product-header-price .shipping-surcharge {
    display: block;
}

.store-pickup-items-accordion .product-header-price {
    display: none;
}

.order-history-detail-modal-content .product-header-price .shipping-surcharge {
    font-size: 12px;
}


