<!-- begin SDX footer include -->
<!-- sdf-c13041262.html -->
<!-- 12 Nov 2015 06:43 AM -->

<div id="truFooterSearchDex">
<div class="row row-center row-no-padding">
				<div class="col-md-2 col-no-padding">
					<div class="footer-list-1">
						<div class="footer-list-1-content">
							<span class="footer-list-1-header">Popular Searches</span>
							<ul>
								<li><a class="seo-link" href="#">Toys for 12-24 Months</a></li>
								<li><a class="seo-link" href="#">Clearance Toys</a></li>
								<li><a class="seo-link" href="#">Kids Gifts by Age</a></li>
								<li><a class="seo-link" href="#">Action Figures</a></li>
								<li><a class="seo-link" href="#">Video Games</a></li>
								<li><a class="seo-link" href="#">Bikes, Scooters & Ride-Ons</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-no-padding text-center">
					<div class="footer-list-1">
						<div class="footer-list-1-content">
							<span class="footer-list-1-header">what's hot</span>
							<ul>
								<li><a class="seo-link" href="#">Shopkins</a></li>
								<li><a class="seo-link" href="#">Paw Patrol</a></li>
								<li><a class="seo-link" href="#">Disney Descendents</a></li>
								<li><a class="seo-link" href="#">LEGO</a></li>
								<li><a class="seo-link" href="#">Peppa Pig</a></li>
								<li><a class="seo-link" href="#">Calico Critters</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-no-padding text-center">
					<div class="footer-list-1">
						<div class="footer-list-1-content">
							<span class="footer-list-1-header">Top Categories</span>
							<ul>
								<li><a class="seo-link" href="#">Puzzles</a></li>
								<li><a class="seo-link" href="#">Toys "R" Us Exclusives</a></li>
								<li><a class="seo-link" href="#">Movie Collectibles</a></li>
								<li><a class="seo-link" href="#">Charmazing</a></li>
								<li><a class="seo-link" href="#">Spider-Man - shop by category</a></li>
								<li><a class="seo-link" href="#">Toy Story Movies</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-no-padding text-right">
					<div class="footer-list-1">
						<div class="footer-list-1-content">
							<span class="footer-list-1-header">New Arrivals</span>
							<ul>
								<li><a class="seo-link" href="#">Snow Sleds</a></li>
								<li><a class="seo-link" href="#">Christmas Ornaments</a></li>
								<li><a class="seo-link" href="#">Christmas Stockings</a></li>
								<li><a class="seo-link" href="#">Christmas Trees & Wreaths</a></li>
								<li><a class="seo-link" href="#">Christmas Train Sets</a></li>
								<li><a class="seo-link" href="#">Kids' Stocking Stuffers</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			</div>