<!--Mock-Up Footer for Family Page - Baby Dolls-->
<!--sdxincl-begin-->
<!--sdf-c13070908.html-->
<!-- published 15 Jul 2014 3:30pm-->
<!-- rendered 15 Jul 2014 3:30pm-->

<div style="float: left; width: 160px; margin: 0 25px 0 0;"><h4 style="padding-bottom: 2px;text-align: left; margin: 0; font-size: 14px;  color: rgb(2, 86, 175); display: block; text-transform: uppercase; ">Popular Searches</h4>

<div style="float: left;"><ul style="text-decoration:none; text-align:left;  padding: 0;  color: #000000; font-size: 11px;text-decoration: none; list-style-type:none; line-height: 12px; margin: 0; ; ">
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/my-first-doll.jsp">My First Doll</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/ethnic-dolls.jsp">Ethnic Dolls</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/drink-and-wet-dolls.jsp">Drink & Wet Dolls</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/large-dolls.jsp">Large Dolls</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/specialty-dolls.jsp">Specialty Dolls</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/interactive-dolls.jsp">Interactive Dolls</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/soft-rag-dolls.jsp">Soft Rag Dolls</a></li>

</ul>
</div>
</div>

<div style="float: left; width: 160px; margin: 0 25px 0 0; "><h4 style="padding-bottom: 2px;text-align: left; margin: 0 25px 0 0; font-size: 14px;  color: rgb(2, 86, 175); display: block; text-transform: uppercase; ">Featured Brands</h4>

<div style="float: left;"><ul style="text-decoration:none; text-align:left;  padding: 0;  color: #000000; font-size: 11px;text-decoration: none; list-style-type:none; line-height: 12px; margin: 0; ; ">
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/animal-planet.jsp" title="">Animal Planet</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/dream-dazzlers.jsp" title="">Dream Dazzlers</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/fao-schwarz.jsp" title="">FAO Schwarz</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/little-tykes.jsp">Little Tykes</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/mattel.jsp">Mattel</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/leap-frog.jsp">Leap Frog</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/vtech.jsp">Vtech</a></li>
</ul>
</div>
</div>

<div style="clear:both; width:960px; float:left"><div style="float: left; width: 160px; margin: 0 25px 0 0;"><h4 style="padding-bottom: 2px;text-align: left; margin: 0 5px 0 0; font-size: 14px;  color: rgb(2, 86, 175); display: block; text-transform: uppercase; ">Top Categories</h4>

<div style="float: left;"><ul style="text-decoration:none; text-align:left; margin: 0; padding: 0;  color: #000000; font-size: 11px;text-decoration: none; list-style-type:none; line-height: 12px; ; ">
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/drawing-and-coloring.jsp">Drawing and Coloring</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/wagons.jsp">Wagons</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/backpacks.jsp">Backpacks</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/outdoor-play.jsp">Outdoor Play</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/books.jsp">Books</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/craft-kits.jsp">Craft Kits</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/dollhouses.jsp">Dollhouses</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/electronic-learning-toys.jsp">Electronic Learning</a></li>
<li style="margin: 0 0 3px 0; padding: 0;"><a href="http://www.toysrus.com/buy/products/lawn-games.jsp">Lawn Games</a></li>
</ul>
</div>
</div>
</div>


<div style="float: left; width: 160px; margin: 0 25px 0 0;"><h4 style="padding-bottom: 2px;text-align: left; margin: 0; font-size: 14px;  color: rgb(2, 86, 175); display: block; text-transform: uppercase; ">New Arrivals</h4>

<div style="float: left;"><ul style="text-decoration:none; text-align:left;  padding: 0;  color: #000000; font-size: 11px;text-decoration: none; list-style-type:none; line-height: 12px; margin: 0; ; ">
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/disney-frozen.jsp">Disney Frozen</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/teenage-mutant-ninja-turtles.jsp">Teenage Mutant Ninja Turtles</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/monster-high.jsp">Monster High</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/back-to-school-trends.jsp">Back to School Trends</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/transformers.jsp">Transformers</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/vehicles-and-action-figures.jsp">Vehicles & Action Figures</a></li>

</ul>
</div>
</div>

<div style="float: left; width: 160px; margin: 0 25px 0 0;"><h4 style="padding-bottom: 2px;text-align: left; margin: 0; font-size: 14px;  color: rgb(2, 86, 175); display: block; text-transform: uppercase; ">Other Ways to Shop</h4>

<div style="float: left;"><ul style="text-decoration:none; text-align:left;  padding: 0;  color: #000000; font-size: 11px;text-decoration: none; list-style-type:none; line-height: 12px; margin: 0; ; ">
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/specialty-toys.jsp">Specialty Toys</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/party-supplies.jsp">Party Supplies</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/tween-shop.jsp">Tween Shop</a></li>
<li style="margin: 0 0 3px; padding: 0;"><a href="http://www.toysrus.com/buy/products/holiday-shops.jsp">Holiday Shops</a></li>

</ul>
</div>
</div>


<!--sdxincl-end-->