<div class="search-dex">
			<h2 class="seo-header">featured categories</h2>
			<ul class="horizontal-list">
				<li><a href="www.toysrus.com/products/my-little-pony-ponies.jsp">My Little Pony Ponies</a></li>
				<li><a href="www.toysrus.com/products/childrens-books.jsp">Books</a></li>
				<li><a href="www.toysrus.com/products/arts-and-craft-supplies.jsp">Arts &amp; Craft Supplies</a></li>
				<li><a href="www.toysrus.com/products/bikes-scooters-and-ride-ons.jsp">Bikes, Scooters &amp; Ride-Ons</a></li>
				<li><a href="www.toysrus.com/products/childrens-electronics.jsp">Electronics</a></li>
				<li><a href="www.toysrus.com/products/kids-movies.jsp">Movies</a></li>
				<li><a href="www.toysrus.com/products/my-little-pony.jsp">My Little Pony</a></li>
			</ul>
		</div>
<!-- end SDX include -->