    <div class="footer-grid-list">

        <div class="row row-center row-no-padding">

            <div class="col-md-2 col-no-padding">

                <div class="footer-list-1">

                    <div class="footer-list-1-content">

                        <span class="footer-list-1-header">popular searches</span>

                        <ul>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Toys for 12 - 24 Months</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Clearance Toys</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Toddler & Kids' Trampolines</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Bikes, Scooters & Ride-Ons</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Boys' Toys</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Toddler Beds</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div class="col-md-4 col-no-padding text-center">

                <div class="footer-list-1">

                    <div class="footer-list-1-content">

                        <span class="footer-list-1-header">what's hot</span>

                        <ul>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Girls' Toys</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Boys' Toys</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Electronics</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Dolls</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Video Games</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Action Figures</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div class="col-md-4 col-no-padding text-center">

                <div class="footer-list-1">

                    <div class="footer-list-1-content">

                        <span class="footer-list-1-header">top categories</span>

                        <ul>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Lego</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Disney Frozen Merchandise</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Minecraft Toys & Games</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Superheroes & Heroines</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Star Wars LEGOs</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Monster High Games, Dolls, Dress-Up, & Toys</a></li>

                        </ul>

                    </div>

                </div>

            </div>

            <div class="col-md-2 col-no-padding text-right">

                <div class="footer-list-1">

                    <div class="footer-list-1-content">

                        <span class="footer-list-1-header">new arrivals</span>

                        <ul>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Star Wars Toys</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Halloween Store</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Halloween Costumes for Kids</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Halloween Costumes for Boys</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Halloween Costumes for Girls</a></li>

                            <li><a

                                href="http://www.toysrus.com/shop/index.jsp?categoryId=2255956"

                                class="seo-link">Halloween Costumes for Teens</a></li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>



    </div>

