<div class="row row-no-padding footer-social">
    <div class="col-md-12 col-no-padding">
        <div class="social-container">
            <a class='social-link' href="https://www.facebook.com/toysrus?ref=br_tf" target="_blank">
                <span class="sprite-footer facebook-footer"></span>
            </a>
            <a class='social-link' href="https://twitter.com/toysrus" target="_blank">
                <span class="sprite-footer twitter-footer"></span>
            </a>
            <a class='social-link' href="https://www.pinterest.com/toysrus/" target="_blank">
                <span class="sprite-footer pinterest-footer"></span>
            </a>
            <a class='social-link' href="https://www.youtube.com/user/ToysRUsOnline" target="_blank">
                <span class="sprite-footer youtube-footer"></span>
            </a>
            <a class='social-link' href="https://www.youtube.com/user/ToysRUsOnline" target="_blank">
                <span class="sprite-footer instagram-footer"></span>
            </a>
        </div>
    </div>
</div>