<div id="footer">
    <div class="row-footer-margin-1024">
        <div class="row row-no-padding">
            <div class="col-md-7">
                <div class="copyright-footer">
                    <div class="copyright-text">
                        © 2017 Geoffrey, LLC. All Rights Reserved. Use of this site signifies your acceptance of Toys”R”Us Website <a class="footer-link" href="http://webstoreprod.toysrus.com">Terms and Conditions</a> and <a class="footer-link" href="http://webstoreprod.toysrus.com/home">Privacy Policy</a>.
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-no-padding">
                <span class="sprite-footer flag-button" data-toggle="modal" data-target="#internationalizastionModal"></span>
                <div class="modal fade" id="internationalizastionModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog warning-modal">
                        <div class="modal-content sharp-border">
                            <div class="modal-header">
                                <span class="sprite-footer close-footer" data-dismiss="modal" aria-hidden="true"></span>
                                <div>
                                    <div class="flag-title">
                                        select your country/region
                                    </div>
                                    <div class="flag-sub-title">
                                        By selecting another country, you will be leaving the current site.
                                    </div>
                                    <div class="row">
                                        <a href="http://www.toysrus.ca/home">
                                            <div class="col-md-2">
                                                <span class="sprite-footer canada-footer"></span>
                                                <div class="country-text">Canada</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.de">
                                            <div class="col-md-2">
                                                <span class="sprite-footer germany-footer"></span>
                                                <div class="country-text">Deutschland</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.ch/home">
                                            <div class="col-md-2">
                                                <span class="sprite-footer switzerland-footer"></span>
                                                <div class="country-text">Switzerland</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.co.jp/">
                                            <div class="col-md-2">
                                                <span class="sprite-footer japan-footer"></span>
                                                <div class="country-text">Japan</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.co.uk/toys/">
                                            <div class="col-md-2">
                                                <span class="sprite-footer unitedkingdom-footer"></span>
                                                <div class="country-text">United Kingdom</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="http://www.toysrus.at">
                                            <div class="col-md-2">
                                                <span class="sprite-footer austria-footer"></span>
                                                <div class="country-text">Austria</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.es/home">
                                            <div class="col-md-2">
                                                <span class="sprite-footer spain-footer"></span>
                                                <div class="country-text">Spain</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.com.au/">
                                            <div class="col-md-2">
                                                <span class="sprite-footer australia-footer"></span>
                                                <div class="country-text">Australia</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.fr/home">
                                            <div class="col-md-2">
                                                <span class="sprite-footer france-footer"></span>
                                                <div class="country-text">France</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.nl/home">
                                            <div class="col-md-2">
                                                <span class="sprite-footer netherlands-footer"></span>
                                                <div class="country-text">Netherlands</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <a href="http://www.toysrus.pt/home">
                                            <div class="col-md-2">
                                                <span class="sprite-footer portugal-footer"></span>
                                                <div class="country-text">Portugal</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.com.cn">
                                            <div class="col-md-2">
                                                <span class="sprite-footer china-footer"></span>
                                                <div class="country-text">China</div>
                                            </div>
                                        </a>
                                        <a href="http://www.toysrus.pl/toys">
                                            <div class="col-md-2">
                                                <span class="sprite-footer poland-footer"></span>
                                                <div class="country-text">Poland</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-no-padding">
                <div class="drop-down">
                    <select class="footer-dropdown" aria-label="ToysRus more Site">
                        <option value="http://webstoreprod.toysrus.com">more Toys"R"Us Sites</option>
                        <option value="http://webstoreprod.babiesrus.com">more Babies"R"Us Sites</option>
                        <option value="https://rewardsrus.toysrus.com/index.cfm/gbc">Geoffrey's Birthday Club</option>
                        <option value="http://www.toysrusinc.com/">Toys "R"Us Corporate Site</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>