<div class="second-footer-list">
    <div class="row row-no-padding">
        <div class="col-md-2 col-no-padding-left">
            <div class="footer-list-2">
                <a class="footer-link" href="/cobrand/help/your-order"><span class="footer-list-2-header">your order</span></a>
                <ul>
                    <li><a href="/myaccount/myAccount.jsp" class="footer-link">Track My Order</a></li>
                    <li><a href="/cobrand/help/returns-warranties" class="footer-link">Returns</a></li>
                    <li><a href="/cobrand/help/your-order#changing_or_cancel_order" class="footer-link">Cancellations</a></li>
                    <li><a href="http://www.shipmentmanager.com/Portal.aspx?MerchantID=1734&TargetPageID=19" class="footer-link">Create a Pre-Paid Return Label</a></li>
                    <li><a href="/cobrand/services/shipping-rates-delivery" class="footer-link">Shipping &amp; Delivery</a></li>
                    <li><a href="/myaccount/layaway/myAccountLayaway.jsp" class="footer-link">Layaway Program</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-no-padding-left">
            <div class="footer-list-2">
                <a class="footer-link" href="cobrand/help/online-help"><span class="footer-list-2-header">help</span></a>
                <ul>
                    <li><a href="/cobrand/help/contact-us" class="footer-link">Contact Us</a></li>
                    <li><a href="http://www.ruscreditcard.com/" class="footer-link">"R" Us Credit Card</a></li>
                    <li><a href="/cobrand/services/rewards-r-us" class="footer-link">Rewards"R"Us</a></li>
                    <li><a href="/toys/events/in-store-events" class="footer-link">In-Store Events</a></li>
                    <li><a href="https://www.toysrusinc.com/corporate-responsibility/product-recalls" class="footer-link">Product Recalls</a></li>
                    <li><a href="/cobrand/help/payment" class="footer-link">Payment Options</a></li>
                    <li><a href="/cobrand/services/price-match-guarantee" class="footer-link">Price Match</a></li>
                    <li><a href="/cobrand/mobile/app-information" class="footer-link">Mobile Apps &amp; Text Alerts</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-no-padding-left">
            <div class="footer-list-2">
                <a class="footer-link" href="cobrand/help/gift-services"><span class="footer-list-2-header">gift services</span></a>
                <ul>
                    <li><a href="/toys/gifts/gift-cards" class="footer-link">Gift Cards</a></li>
                    <li><a href="/cobrand/help/gift-services#gift_wrap" class="footer-link">Gift Wrap</a></li>
                    <li><a href="/toys/compare/gift-finder" class="footer-link">Gift Finder</a></li>
                    <li><a href="https://wishlist.toysrus.com/" class="footer-link">Wish List</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-no-padding-left">
            <div class="footer-list-2">
                <a class="footer-link" href="https://www.toysrusinc.com/about-us"><span class="footer-list-2-header">about us</span></a>
                <ul>
                    <li><a href="https://www.toysrusinc.com/about-us" class="footer-link">Company Info</a></li>
                    <li><a href="https://www.toysrusinc.com/careers" class="footer-link">Careers</a></li>
                    <li><a href="https://www.toysrusinc.com/press" class="footer-link">News/Press Room</a></li>
                    <li><a href="cobrand/help/affiliate-program" class="footer-link">Affiliate Program</a></li>
                    <li><a href="https://www.toysrusinc.com/corporate-responsibility/about-our-supply-chain" class="footer-link">Our Supply Chain</a></li>
                    <li><a href="/cobrand/help/safety-security-privacy#terms_conditions" class="footer-link">Terms &amp; Conditions</a></li>
                    <li><a href="/cobrand/help/safety-security-privacy" class="footer-link">Privacy Policy</a></li>
                    <li>
                        <div class="sitemaps enabled">
                            <a onclick="jQuery('div.sitemaps').toggleClass('shown'); return false;" class="footer-link sitemaps" href="#">Site Maps</a>
                            <ul class="sitemaps">
                                <li><a class="footer-link" href="/sitemap/sitemap.jsp">Site Map</a></li>
                                <li><a class="footer-link" href="/products/tru-index.jsp">Products Index</a></li>
                                <li><a class="footer-link" href="/products/tru-shopping-index.jsp">Shopping Index</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-no-padding-left">
            <div class="savings-sign-up">
                <span class="footer-list-2-header">sign up for savings</span>
                <div class="savings-form-wrapper">

                    <form name="emailSignUpFooter" id="emailSignUpFooter" class=""  action="" method="POST">
                        <input type="text" name="email" id="emailPopupTxtFooter" value="" placeholder="enter email" maxlength="100"/>
                        <input type="hidden" value="Please enter a valid email address" name="invalidEmailFooter" id="invalidEmailIdFooter">
                        <input type="hidden" value="Please enter an email address" name="blankEmailFooter" id="blankEmailIdFooter">
                        <input id="submitEmailFooter" type="button" value="send"/>
                        <div class="email-sign-up-thanksFooter">
                            <p>You'll start to receive special savings and more within two days.</p>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>